[2017-01-08 02:06] #634 closed

[2017-01-08 21:52] #633 closed

[2017-01-08 22:28] nfischer opened #642 "Reformat the markdown in RELEASE.md"
The markdown in `RELEASE.md` is currently kind of messed up. This should be reformatted to turn `major`, `minor`, `patch`, etc. into a bulleted list.

[2017-01-09 03:01] nfischer commented on #618
I'm going to close this, since it's documented in [the wiki](https://github.com/shelljs/shelljs/wiki/Electron-compatibility)

[2017-01-09 03:01] #618 closed

[2017-01-09 03:08] nfischer commented on #480
Closing this because we've documented a workaround [on the wiki](https://github.com/shelljs/shelljs/wiki/Electron-compatibility). Please comment if this workaround is insufficient.

[2017-01-09 03:08] #480 closed

[2017-01-12 05:37] rajsite opened #644 "Copying recursively from parent into subdirectory fills disk"
### Node version (or tell us if you're using electron or some other framework):
v6.9.1

### ShellJS version (the most recent version/Github branch you see the bug on):
v0.7.5

### Operating system:
Windows

### Description of the bug:
Doing a recursive copy of a parent directory into a subdirectory ends up recursing on itself and filling the disk with files.

As a workaround I put in a check using

[2017-01-13 00:29] nfischer commented on #644
Hmmm... this sounds like it is a ShellJS bug. My concern is that the unix behavior seems pretty weird. It'll actually start doing the copying, and will fail after recursing once.

[code]

It copies `foo` into `bar`, then `bar` into the new `foo`. Then it fails when trying to copy the new `foo` into the new `bar`.

It would make more sense to me to just refuse to copy at all, but perhaps this is di

[2017-01-13 04:16] freitagbr commented on #644
Testing `cp` on macOS 10.11.6, and the copying continued until the path was too long. As @nfischer mentioned, `cp` on linux has a safeguard against this, so we ought to implement the same safeguard in ShellJS.

[2017-01-13 22:59] toddw opened #645 "Why does sed split files into an array, call replace on each line and rejoin?"
### Node version (or tell us if you're using electron or some other framework):
v6.4.0

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.6

### Operating system:
Mac OS 10.12.2

### Description of the bug:
Using `shelljs.sed` over a folder full of files, if one of the files is a binary file like a png… sed will corrupt the images.

*More details:*
So say a folder

[2017-01-14 00:28] #642 closed

[2017-01-14 07:02] nfischer commented on #645
Splitting files into lines is necessary because `sed` operates line-by-line. Take this example:

[code]

A `sed` replacement without a `/g` needs to replace the first instance on every line, and only the first instance.

The PR title may be a bit cryptic. The PR was intended to make `sed` conform to unix behavior, the main feature being multiple file arguments.

If `sed` really is corrupting binar

[2017-01-16 01:58] nfischer commented on #644
To me, it sounds like it'll be rather difficult to implement a good safe guard, since folders can have different names and different paths due to symlinks.

Unless POSIX specifies a behavior, I think this is something we should leave to the users to step around. If we insist on adding a safety check to protect users, I think the simplest check would be a path-is-inside check (only for directories)

[2017-01-16 03:37] nfischer opened #647 "Drop support for v0.12"
According to the [NodeJS LTS schedule](https://github.com/nodejs/LTS), v0.12 support was dropped by Node in December 2016. This means it's probably reasonable to drop the support in our v0.8 release.

This has some benefits for us:

 - we can cut v0.11 and v0.12 from our Travis builds for faster CI (maybe even iojs too, which sometimes has false negatives)
 - we can significantly trim down on the

[2017-01-16 23:46] Rawnly commented on #248
Got the same error with electron and the latest version of **shelljs**. But when async and the app is built then log white space. What this can be?

That's my function
[code]

The latest (line 205) is this function
![devtools](https://cloud.githubusercontent.com/assets/16429579/22002701/425c1a84-dc4e-11e6-8050-f6e6f7abec72.png)

[2017-01-16 23:53] nfischer commented on #402
I'm going to close this, since it would take too much effort to rewrite ShellJS. If someone really wants this, I think it's best done as a fork of ShellJS.

[2017-01-16 23:53] #402 closed

[2017-01-17 00:30] freitagbr commented on #647
I would be in favor of dropping support for iojs. I don't see it being widely used in production or even development, and like you said, most iojs users should at least be on v4 or later by now.

I know usage of v0.12 is pretty common still, though dropping support for v0.12 and below is probably fine as long as this lands in v0.8+ only.

Just make sure that `"engines": { "node": ">=4" }` ends up

[2017-01-17 00:51] nfischer commented on #647
Ok, I can take this up

[2017-01-18 00:45] #647 closed

[2017-01-18 07:06] freitagbr commented on #566
I have a simple idea about how to implement this. We already have the `//@` comments used for doc generation for each command. We could borrow some of the code from `scripts/generate-docs.js`, and add a helper function to `src/common.js` that parses those comments out of each file, and associating those to the `common.register` calls for each of those commands. So, when `cd('-h')` is called, for e

[2017-01-18 07:19] freitagbr commented on #617
Which of these does it make sense to implement `rm` for? I think it only makes sense for `fifo`s.

[2017-01-18 07:20] freitagbr commented on #518
Closing this.

[2017-01-18 07:20] #518 closed

[2017-01-18 17:41] nfischer commented on #617
It probably makes sense to remove fifos. If someone tries to `rm` the other devices, let's provide an error message (similar to when someone tries to `rm` a file they don't have permission for). If someone does need to `rm` these file types, they can easily file a bug for it.

[2017-01-19 08:18] nfischer commented on #566
As an alternative to the parsing comments, we might store info about command options as JSON. Then we can use `cd('-h')` to generate the command documentation. No parsing 😄

This could be offered as a feature to ShellJS plugins as part of `common.register`

[2017-01-20 04:58] nfischer opened #651 "Refactor ShellString into a real class"
`ShellString` is a huge hack right now, and isn't really implemented as a class with a prototype. This means it can't be modified at runtime, which significantly limits what plugins can do. We should refactor it into an extendable class (preferably one which inherits all string methods).

We should also consider a `ShellArray` class for methods like `ls()`, to make implementation easier.

This blo

[2017-01-21 05:09] freitagbr commented on #651
So, the issue with creating a class that inherits from `String` is that none of the methods on `String` are generic, so it really isn't possible without major hacking:
[code]
The above is basically the minimum viable implementation. This is significantly easier with ES6 semantics though:
[code]
Of course, using this method, we permanently lose compatibility with Node v0.12 and under.

[2017-01-21 05:58] nfischer commented on #651
I just tried this out. I saw some errors using the `class` approach:

[code]

Maybe we could do something with your first approach. We could try a for loop over all attributes, and wrap them with getters and setters. Although I'm not sure if `s.foo()` will first call `get` on `.foo` followed by `call`, or if it would perform `call` directly on `.foo`. This should work for all the simple properties

[2017-01-21 06:13] freitagbr commented on #651
Btw, to define methods on a class:
[code]

[2017-01-21 06:19] nfischer commented on #651
Can't you also do it via `ShellString.prototype`? That's how someone would modify the `ShellString` class anyway (this is an intended part of the plugin API).

[2017-01-25 10:36] publicocean0 opened #652 "Question: what is the correct shebang for scripts?"
in manual is not written how to insert the prefix for executing directly script
#!/bin/shelljs

is correct?

[2017-01-25 20:11] chtrinh opened #653 "find() raises error when unable to find any files matching, expected to return empty array."
### Node version (or tell us if you're using electron or some other framework):
node v7.4.0 and v5.9.0

### ShellJS version (the most recent version/Github branch you see the bug on):
^0.7.6

### Operating system:
MAC OS X 10.12.2 (16C67)

### Description of the bug:
Raise and error ENOENT when shelljs can't find a directory or file matching the criteria.
Expected result to be an empty array inste

[2017-01-26 06:40] nfischer commented on #652
Hi @publicocean0! Thanks for trying out ShellJS.

Are you using this for a node package or just to write some scripts for your computer? I may be able to give you better advice depending on your use-case.

You'll probably want to install with something like:

[code]

You should write your files to look something like:

[code]

You can run the script with

[code]

[2017-01-26 06:48] nfischer commented on #653
Thanks for reporting this. Yes, any `internal error` is a bug on our part. This should actually do something like:

[code]

I'm busy right now, but if someone wants to investigate, that'd be great. Otherwise, @freitagbr should take this up when he has spare time.

As a workaround, you should be able to get away with using `ls()` instead (they're pretty much the same thing in ShellJS, but `ls` is a

[2017-01-27 00:07] publicocean0 commented on #652
Thanks

[2017-01-27 06:17] #652 closed

[2017-01-31 23:44] toddw commented on #645
@nfischer Running your suggested test, output.png was corrupted and the files were not the same.

[2017-02-01 04:38] nfischer commented on #645
Huh, very strange. It looks like there's something wrong with the call to fs.readFileSync()

[2017-02-02 05:08] freitagbr commented on #645
This is because we're opening files with the `'utf8'` encoding:
[code]
.png files are not utf8, so the data gets all garbled when node tries to read it as utf8. This is a sane default in most cases, though we should probably allow the user to pick the encoding if they need to.
This is because we're opening files with the `'utf8'` encoding:
[code]
.png files are not utf8, so the data gets all garbl

[2017-02-02 05:15] freitagbr commented on #645
Alternatively, we could add a "raw" option that switches to using `Buffer`s. `fs.readFileSync` and `fs.writeFileSync` would work as expected, and the user wanted to see the buffer as a string, they could use the `.toString` method.

[2017-02-02 05:20] nfischer commented on #645
@freitagbr any way we can detect this behind the scenes? It'd be great if we didn't need to worry users with this.

It seems pretty lame that `shell.cat('input.png').to('output.png')` doesn't produce a copy.

[2017-02-02 07:08] toddw commented on #645
Would something like this be useful here? https://github.com/sindresorhus/file-type

[2017-02-02 09:06] freitagbr commented on #645
Actually, I think the best thing to do would be to call `readFileSync` without an encoding; let it read the raw data. This behavior seems more in-line with `cat`.

For example, take any file (text or binary), and `cat <file>` should produce the same output as `process.stdout.write(fs.readFileSync('<file>'))`.

[2017-02-02 16:53] toddw commented on #645
Yeah, that would be good for cat, I guess I was thinking more about sed

[2017-02-02 19:26] nfischer commented on #645
Yeah, but internal functions operate on strings. How can we get proper support for non-utf-8 files while still keeping compatibility?

We could keep things as buffers internally, and then use that module to check if utf8 will be ok. But even doing that, we'll have to convert to string-like output for the return value. We could perhaps store buffers inside ShellStrings as well, and use the buffer v

[2017-02-02 23:20] freitagbr commented on #645
In my testing, converting binary Buffer to a string and back is perfectly fine. The string just contains a lot of characters like "�".

[2017-02-02 23:21] #653 closed

[2017-02-03 02:25] nfischer commented on #645
Proposed approach for a solution:

 - [ ] Abstract `fs.readFileSync(fname, encoding)` calls into a new `common.readFileSync(fname)` method, which still returns a string, but which is not garbled by the `'utf-8'` stuff. This probably involves @freitagbr's suggestion of converting between binary buffers and strings.
 - [ ] Replace existing calls to `fs.readFileSync` with the new `common.readFileSync

[2017-02-03 06:58] nfischer commented on #644
Closing this, since POSIX appears to not specify a behavior. If I'm mistaken, please ping this issue.

I suggest users just be careful about using the function so as to avoid situations like this. That doesn't sound unreasonably difficult, especially since modules like `path-is-inside` might work well in particular situations.

[2017-02-03 06:58] #644 closed

[2017-02-08 07:11] nfischer opened #656 "Refactor which() (too many repeated code blocks)"
Self-assigning. I'll take this up when I have time. This is a pure refactor to reduce repeated code blocks.

I noticed we have 3 blocks of code where we push the match (`where.push(attempt)...where = attempt`): 2 inside of the `win` section, 1 in the unix section. We can easily combine these.

1. Make the path-ext array, but initialize it to `[]` for unix and to `[''].concat(splitPath())` for Wind

[2017-02-10 07:27] nfischer opened #657 "which() should check executability before returning a value"
`which()` should only return a value if it finds a matching file in the PATH **and** that file is executable.

I'm not sure if it's possible to reliably check executability on Windows, but this should at least be done for unix. [This section](https://nodejs.org/api/fs.html#fs_file_mode_constants) of the docs suggests a way of using `fs.statSync()` to check this info.

The right way would be to als

[2017-02-10 07:29] nfischer commented on #657
@termosa, if you're interested in taking this up in a new PR after #655 is merged, just ping this thread to let me know you're working on it. Otherwise I'll take it up.

[2017-02-10 07:35] nfischer opened #658 "which() should not call path.resolve()"
Not sure why we're calling `path.resolve()` on [this line](https://github.com/shelljs/shelljs/blob/master/src/which.js#L95), but I don't think it's correct.

If we're given a correct absolute path, then we should return the absolute path. If we're given a correct relative path, we should return the same relative path. `path.resolve()` makes it so we're always returning an absolute path.

This is v

[2017-02-10 09:03] termosa commented on #657
@nfischer I updated #655 with fixes.
This issue is interesting and can be incredibly useful in specific cases. But still I want to ask you: Are you sure you want to apply it to the `which` function and change its default behavior?

[2017-02-13 15:31] boutell commented on #167
Isn't this a dead issue thanks to execSync being used in versions of Node that support it (0.12 and better)? Or am I missing something?

[2017-02-13 21:05] nfischer commented on #167
@boutell thanks for pinging this issue. Yes, since we already dropped v0.10 support, I believe this can be safely closed.

[2017-02-13 21:05] #167 closed

[2017-02-14 11:19] pfdgithub commented on #456
# interim solutions
`
var iconv = require('iconv-lite');
sh.exec('dir', {
  encoding: 'base64'
}, function(code, stdout, stderr) {
  console.log(stdout);
  console.log(iconv.decode(iconv.encode(stdout, 'base64'), 'gb2312'));
}
`

# root causes

[Code Pages](https://msdn.microsoft.com/en-us/library/windows/desktop/dd317752(v=vs.85).aspx)
[Code Page Identifiers](https://msdn.microsoft.com/en-us/libr

[2017-02-23 02:20] webOS101 opened #664 "Passing empty string to cp throws internal error"
### Node version (or tell us if you're using electron or some other framework):
v6.8.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.6
### Operating system:
Mac OS X
### Description of the bug:
Passing empty string to `cp` command throws an internal error.  Would be much easier to deal with an exception or error return.

[code]

### Example ShellJS command to

[2017-02-23 02:47] freitagbr commented on #664
Thank you for the bug report. I think the desired behavior in this case is to just source string(s), even if they're empty. This is what GNU `cp` does:
[code]
If any of the source files do not exist, then return a shell error like the above.

[2017-02-23 03:46] frankdiox commented on #563
@nfischer Hi! Sorry for the late reply, I just used again the CLI and remembered about this issue :sweat_smile:
I've looked into it a bit and I think the problem is actually [in this line](https://github.com/shelljs/shelljs/blob/master/src/ls.js#L85). Glob is not following symlinks. I've tried with [`follow: true` in the options](https://github.com/isaacs/node-glob/blob/master/changelog.md#45) but

[2017-02-23 05:26] nfischer commented on #664
@freitagbr sure, that sounds like a reasonable approach. You can fix this inside `common`. Just don't pass the empty string to `globSync`.

This can be a unit test on `common.expand()`. We should probably write tests for the following cases:

 - `common.expand([])`: either throw an error or allow it to return `[]`, whichever makes more sense
 - `common.expand([''])`: returns `['']`
 - `common.expa

[2017-02-23 05:32] nfischer commented on #563
@frankdiox thanks for investigating this. That's strange that it wouldn't follow with that option.

Could you please give a minimal example on which the behavior reproduces?

[2017-02-23 08:56] frankdiox commented on #563
@nfischer Nevermind, looks like there was something wrong in my environment. I tried exactly the same and it now works well. I'll also modify the two lines you pointed out in order to make it work without `R` option as well. I'll make a PR in a while :smile:

[2017-02-23 18:52] GroovyQA commented on #158
I had the same issue and turns out it was my Path and environment variables messed up. Executing the same command manually gave me the clue.

[2017-02-24 06:26] frandiox opened #666 "Difference between bash ls -R and ShellJS ls -R with symlinks"
### Node version (or tell us if you're using electron or some other framework):
Node 7.1.0

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.6

### Operating system:
Arch Linux 64-bit + bash/zsh

### Description of the bug:
![shelljs-lsr](https://cloud.githubusercontent.com/assets/1634092/23292649/92b12604-faa4-11e6-95e0-cb0e76d90ec3.png)

The output of a normal

[2017-02-24 19:04] nfischer commented on #666
@frankdiox thanks for reporting. This looks like a bug.

For posterity, here's a set of minimal steps to reproduce:

[code]

This is tricky, however, since this code should also work:

[code]

@frankdiox would you be able to write up some tests and a fix for this?

[2017-02-24 20:25] dperetti opened #667 "Use with webpack broken in 0.7.6"
### Node version (or tell us if you're using electron or some other framework):
Electron

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.6
### Operating system:
OSX
### Description of the bug:

    TypeError: __webpack_require__(...).forEach is not a function
        at eval (webpack:///./~/shelljs/shell.js?:26:25)

### Example ShellJS command to reproduce the

[2017-02-25 04:21] nfischer commented on #667
@dperetti Thanks for debugging this. Any idea why that doesn't work? I'm not sure why using the JSON would be an issue for webpack only.

[2017-02-25 04:28] nfischer commented on #667
Could this perhaps be related to https://github.com/webpack-contrib/extract-text-webpack-plugin/issues/110 or https://github.com/webpack/webpack/issues/1629?

[2017-02-25 09:49] dperetti commented on #667
OK It's just that Node automatically turns json files to javascript objects, while Webpack does not.
I can get it to work by adding the json-loader and this to my config.

    { test: /\.json$/, loader: 'json' },

But I don't like much the idea of having to tweak my app config to get a vendor module to work.
Maybe, instead of using `require`, `shell.js` could load and parse the json file directly

[2017-02-25 23:01] kevin-smets commented on #426
Should this be closed? Seems like a legitimate bug, no?

[2017-02-26 08:21] nfischer commented on #426
@kevin-smets thanks for following up on this issue.

However, this is not a ShellJS bug. `child_process.execSync()` and `child_process.exec()` both have the same issue, so there's nothing we can do here (our `.exec()` is built upon those).

For this specific example, here's some thoughts:

 - Use [child_process.fork()](https://nodejs.org/api/child_process.html#child_process_child_process_fork_modu

[2017-02-26 08:25] nfischer commented on #667
Thanks for investigating, @dperetti! This is good to know.

Here's an idea. What if we instead change this to `commands.js` (javascript, not JSON), and explicitly export the list with:

[code]

This should be mostly the same from our end, and I doubt that could break webpack.

[2017-02-26 08:56] nfischer commented on #469
After some thought, this is probably the wrong approach to solve this problem. I think it's better to leave this to users, since it can easily be solved outside of ShellJS.

[2017-02-26 08:56] #469 closed

[2017-02-26 08:57] nfischer commented on #667
@dperetti can you confirm that #668 works to solve your issue?

[2017-02-26 10:00] dperetti commented on #667
Yes, it does. Great !

[2017-02-26 21:46] nfischer opened #670 "Get rid of common.platform in favor of process.platform"
We have inconsistent use of `common.platform` vs. `process.platform` throughout our codebase. These two serve the same purpose, but need to be used slightly differently (one returns `win32` and the other returns `win`). This is confusing, and might lead to hard-to-catch mistakes. Let's just use `process.platform` instead for simplicity.

[2017-02-26 21:46] nfischer opened #671 "Set up Codecov for the project"
Our test coverage is actually pretty decent, so now would be a good time to set up Codecov or coveralls for the project.

Some things we need to take a look at:

 - [x] We should mark hard-to-test code blocks with `/* istanbul ignore next */`
 - [x] `echo` tests appear to have horrible coverage because of how the tests are run. We'll need to resolve #622 to make test coverage more accurate
 - [x]

[2017-02-27 10:31] jonnyt886 commented on #551
I've just hit this issue, while piping a find into a grep:
`var newer = exec("find /path1 /path2 -newer myfile").grep("-v", "wrk")`

In this pipe I fully expect the find() to return no values for my use case (I'm porting this over from a bash script into shelljs).

The following quick-and-dirty workaround appears to get me around the issue; I simply echo after the find (which causes \n to be print

[2017-02-27 13:37] vongohren opened #675 "Cant get encoding buffer to work on exec"
### Node version (or tell us if you're using electron or some other framework):
7.6.0

### ShellJS version (the most recent version/Github branch you see the bug on):
"version": "0.7.6"

### Operating system:
Mac OS

### Description of the bug:
Im trying to run
```git archive --remote repo HEAD keystores/keystore.jks | tar -xO```
But the encoding get fucked up when running through shelljs synchron

[2017-02-27 15:46] kevin-smets commented on #426
I went with spawn since it was an actual command, not a module I need to have running in the background. I tried shelljs + `&` first, then `nohup` which was certainly not my preference because of what you mentioned. Thanks for the explanation!

[2017-02-27 22:31] nfischer commented on #675
Assigning @freitagbr because this is similar to the root cause of #645 (both deal with encoding issues)

[2017-02-27 22:33] nfischer commented on #551
I'll see if I can actually write up a fix for this during the week

[2017-02-28 04:53] #563 closed

[2017-02-28 09:34] #667 closed

[2017-02-28 09:38] nfischer commented on #667
I'll try to get a patch release out soon for this

[2017-03-01 01:32] #666 closed

[2017-03-03 09:49] dperetti opened #678 "*CRITICAL data loss* shell.cp() Content of file is erased when trying to copy it to the folder it already belongs to"
### Node version (or tell us if you're using electron or some other framework):
7.5.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.5
### Operating system:
Mac OS X
### Description of the bug:
If you try to copy a file to the folder it already belongs to, the content of the file is erased.
### Example ShellJS command to reproduce the error:

[code]

[code]

[c

[2017-03-03 18:23] nfischer commented on #678
@dperetti thank you for reporting this. I will try later today to repro.

[2017-03-04 08:14] #656 closed

[2017-03-04 08:52] freitagbr commented on #678
I've been able to reproduce this, and I am working on a fix. @nfischer, I don't have a linux env to test with, so what do you get on stderr when you run this?
[code]

[2017-03-04 09:13] nfischer commented on #678
[code]

[2017-03-04 13:10] skrysmanski opened #680 "Can't run docker with exec() (the input device is not a TTY)"
### Node version (or tell us if you're using electron or some other framework):
7.7.1 (and also 7.5.0)

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.6

### Operating system:
Windows 10 x64, Ubuntu 16.04.2 x64

### Description of the bug:
`docker run` command can't be executed with `exec()`. (May also affect other programs.)

I'm executing this script (via `no

[2017-03-04 22:25] nfischer opened #681 "Error output should be consistent across all platforms."
Some ShellJS commands have error output which varies between unix and Windows. File paths are a big issue, since Windows will output `path.join('foo', 'bar')` as `foo\bar`, whereas unix is `foo/bar`.

I think the best approach is to write a helper in `common` which correctly translates `\` to `/` where appropriate (and handles any necessary escaping). Commands should be automatically opted into th

[2017-03-04 23:26] nfischer commented on #680
This should be fixed by #524

[2017-03-05 03:23] nfischer opened #683 "Switch to os.homedir() when we move to v4+"
NodeJS added support for `os.homedir()` to get the user's home directory in a reliable way. When we drop support for v4, let's switch to that to reduce the amount of code we need to maintain.

[2017-03-05 05:53] freitagbr commented on #683
If os.homedir is not reliant on native code, maybe we could polyfill it?

[2017-03-05 05:54] freitagbr commented on #683
If os.homedir is not reliant on native code, maybe we could polyfill it?

[2017-03-05 06:13] nfischer commented on #683
We already have our [own implementation](https://github.com/shelljs/shelljs/blob/master/src/common.js#L158-L169). I was suggesting we remove that implementation once we switch to v4+.

[2017-03-06 08:54] #681 closed

[2017-03-08 06:18] #678 closed

[2017-03-08 15:33] #617 closed

[2017-03-10 17:02] Snorlock commented on #645
How is this going?

[2017-03-12 20:46] freitagbr commented on #645
I got stuck on this one for a while because I was confused about what the issue really was. It turns out that it's not an encoding issue. We are reading and writing files in `'utf-8'`, which is the correct encoding in this case. As long a you read and write in the same encoding, the files will be fine. If you want to operate on text using a regex, the text needs to be encoded in `utf-8`, so that i

[2017-03-13 07:12] nfischer commented on #645
Hmmm interesting. Yeah, this sounds like a bug. A better regex would be `\r?\n`, but even that may pose problems. For example, what if a binary has a `\r\n` and a `\n` located in different spots?

What does node do on Windows? Does it treat `\n` as the line ending character on Windows? Or does this not apply when writing to a file?

[2017-03-13 08:02] freitagbr commented on #645
I think the functional part of `sed` needs a rewrite. Currently, `shell.sed` performs these actions:

1. reads an entire file in memory with `fs.readFileSync`
2. converts buffer to string
3. splits string with `/\r*\n/`
4. replaces the text in each line the given regex
5. rejoins the lines with `'\n'`
6. writes file with `fs.writeFileSync`

I think a better approach is needed. Instead of reading t

[2017-03-14 00:53] nfischer commented on #645
@freitagbr Doesn't sound like we need an extensive rewrite.

How about we just change it to `.split('\n')` and `.join('\n')`. Wouldn't this fix the issue? This is more consistent with `cat()`. Also, let's do the same fix for `head()`, `tail()`, and `sort()`.

[2017-03-14 03:35] freitagbr commented on #645
For now, sure, we don't need an extensive rewrite. But, I still think it would be a good idea to read and write files in chunks. I will file another issue for that.

[2017-03-17 00:29] mikeromano38 commented on #541
Perhaps it would be nice to also include JSDoc deprecation tags, so that various JS-focused IDEs can hint to the developer of the deprecations. http://usejsdoc.org/tags-deprecated.html

[2017-03-17 23:41] freitagbr commented on #541
Speaking of JSDoc, it has become a sort of standard, so it would be useful to incorporate JSDoc comments in the code base. ShellJS uses a home-grown comment system that converts `//@` comments into markdown, specifically for the README.md. However, JSDoc does not seem to have good support for generating markdown, and other modules like [`jsdoc-to-markdown`](https://github.com/jsdoc2md/jsdoc-to-mar

[2017-03-20 10:49] mathiasrw opened #692 "Would you be interested in a PR for `open`?"
I wanted to open a file as part of a workflow, but realised I need to `.exec('open ...')` on linux and `.exec('start ...')` on windows.

Would you be interested in a PR providing a new function `.open(...)` that opens a file/folder ?

[2017-03-20 21:58] nfischer commented on #692
Check out the [plugin](https://github.com/shelljs/shelljs/wiki/Derivative-works-and-related-projects#plugins)

`open` is not a standard POSIX command, so we thought it safer to implement as an example plugin. When we announce official plugin support, we'll add a better link in our README (so this is clearer to users 😄 )

If you encounter bugs with that module, file an issue on its own repo and I'l

[2017-03-20 21:58] #692 closed

[2017-03-22 16:19] praveenpuglia opened #693 "source command not working via exec method."
### Node version (or tell us if you're using electron or some other framework):
7.7.4

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.7

### Operating system:
Ubuntu 16.04

### Description of the bug:
Trying to execute the `source` command using `shell.exec()` but it isn't working. I get `source` not found error.
[code]
### Example ShellJS command to reproduce

[2017-03-23 08:38] nfischer commented on #693
`source` isn't supported from `exec`.

If you want to execute a script, invoke it directly: `shell.exec('bash name-of-script.sh')`. This isn't very portable, which makes me wonder if ShellJS would provide any advantages for you.

If you really need the to source a script like `somefile.sh` (e.g. to modify your environment), you'll need to transpile that to ShellJS as well. You can take a look at h

[2017-03-23 08:38] #693 closed

[2017-03-24 23:42] freitagbr opened #694 "Buffer constructor is deprecated"
In the most recent versions of node, the `new Buffer(length)` constructor is deprecated, and has been replaced by `Buffer.alloc(length)`. If `Buffer.alloc` is available, it should be used instead of `new Buffer`.

[2017-03-25 11:54] whitecolor opened #695 "Show `docker exec` output"
### Node version (or tell us if you're using electron or some other framework):
v6.10.1
### ShellJS version (the most recent version/Github branch you see the bug on):
zsh
### Operating system:
Windows 10/WSL (Ubuntu Linux)

This is a question. I'm trying to run using shell `docker-compose exec [service] bash`
Inner bash prompt of the container opens, but not command output is seen.
Any advice how

[2017-03-25 18:28] whitecolor commented on #680
I believe the same problem with docker compose exec `docker-compose exec [service] bash`

https://github.com/shelljs/shelljs/issues/695

[2017-03-25 20:16] whitecolor commented on #695
standard `exec` from `child_process` works, so it should be no problem to fix it in shelljs.

[2017-03-25 20:17] whitecolor commented on #680
standard `exec` from `child_process` works, so it should be no problem to fix it in shelljs.

[2017-03-26 22:41] multivoltage opened #696 "return using exec() with non-returning shell command"
### Node version (or tell us if you're using electron or some other framework):
7.3.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.7
### Operating system:
Manjaro linux
### Description of the bug:
I have to run tor command that does not return value, like 'tor'.
### Example ShellJS command to reproduce the error:

[code]
I can read a false value only if there

[2017-03-29 03:51] nfischer commented on #696
I don't see what the bug is. Why can't you run your command?

I can't help if there's a bug with the `tor` command, we don't support that.

[2017-03-29 03:53] nfischer commented on #695
If `child_process` works for you, use that.

This actually isn't trivial to fix, but will hopefully be fixed by a new API planned for ShellJS v0.8.

Marking as a duplicate of #680

[2017-03-29 03:53] #695 closed

[2017-03-30 02:06] rpjan opened #697 "SORT command"
Node version: v6.9.4
ShellJS version:0.7.7
OS: Windows 10

Description of the issue:
hi, I am a beginner and I am trying to use the sort command. When i run it, it gives no error, but the file content remains the same. I have attached the files I used. thank you for your help.
[file_sort.zip](https://github.com/shelljs/shelljs/files/880844/file_sort.zip)

[2017-03-30 05:12] nfischer commented on #697
The command does not modify your file, it returns the sorted contents. If you want to overwrite your file, you'll need to do `sort(filename).to(filename)`. @rpjan are you saying that the returned contents is not sorted?

[code]

[2017-03-30 11:44] rpjan commented on #697
amazing! it works beautifully. I was using it incorrectly. thank you so much for the quick help and the wonderful too.

[2017-03-30 11:44] #697 closed

[2017-03-30 21:19] nfischer commented on #696
@multivoltage I don't see what the issue is, so I'm closing this. Please reopen or ping this thread if I'm missing something.

[2017-03-30 21:19] #696 closed

[2017-03-30 22:31] multivoltage commented on #696
Tor is bot the problem. It was only an example.
I mean alla commando that dont have a return. Try to think a simple http server with node. When I run my simple script node listen on port xxx for infinite time. So .exec() return only if I generate an ezceotion inside my node server.

[2017-03-31 03:16] freitagbr commented on #696
Well, this is the way `.exec` is intended to work. It only returns after the child process exits. So, if you are running a long-running process, like a web server, then `.exec` will block the entire time the process is running.

If you need to start a process, but you want to be able to run other code while that process is running, a better choice would be [`child_process.spawn`](https://nodejs.or

[2017-03-31 03:34] nfischer commented on #696
If you want `exec()` to be asynchronous, you need to use it in asynchronous mode:

[code]

@freitagbr's other suggestions are also good alternatives.

[2017-03-31 06:07] multivoltage commented on #696
Thanks everyone. The only way I can find is To parse stdout and checking for string Luke "server run on port8080" or also "tor done 100%".

Thanks

[2017-04-01 01:40] tech4him1 opened #698 "Makefile `this` Binding"
Just for the docs, it might be good to note that in shelljs makefiles `target`s, `this` is set to the function itself, not the main `target` object as some might expect.  This is because `this` is explicitly rebound to each `target` function in the duplicate prevention wrapper ([make.js#L36](https://github.com/shelljs/shelljs/blob/353138c5e006adbff1763b9483b1b70a0f6d318e/make.js#L36)).

[2017-04-01 06:37] nfischer commented on #698
We don't really support `make` anymore (there are dedicated node task runners like grunt and gulp). If you'd like to update the docs, feel free to change the wiki page for it.

[2017-04-01 06:37] #698 closed

[2017-04-04 21:22] tech4him1 opened #699 "Way to ignore files in globs."
### Description of the bug:
There is currently no way to ignore certain files when copying or other glob uses.
### Example ShellJS command to reproduce the error:

[code]

[2017-04-04 22:56] tech4him1 commented on #699
Nevermind, I found it, `!(node_modules|dist)*.*`.  I mis-read the node-glob docs, and thought they had removed that feature.

[2017-04-04 22:56] #699 closed

[2017-04-04 23:33] tech4him1 opened #700 "`ls` does not always show subfolder paths correctly"
### Node version (or tell us if you're using electron or some other framework):
7.8.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.7
### Operating system:
Windows 10
### Description of the bug:
When you run `ls *` in Bash, it shows items listed by subdirectory.  When you run `ls('*')` in shelljs, the items are listed without the rest of the path showing the d

[2017-04-05 03:16] amacfie opened #701 "`exec` doesn't work like other commands, specifically `cd`"
### Node version (or tell us if you're using electron or some other framework):
6.10.1

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.7

### Operating system:
Ubuntu 16.04

### Description of the bug:
What I'd expect is for `exec` to always be equivalent to the special purpose commands. But as the example below shows, it's not. I found this confusing. Maybe th

[2017-04-05 04:25] nfischer commented on #701
Duplicate of #496

`exec` runs in a separate process, which makes things like `cd`, `set`, and other environment-modifying commands infeasible. Do you have a suggestion for how we might make this clearer? 😄

For what it's worth, I added a quick note in the README about it running inside a separate shell:

[2017-04-05 04:42] nfischer commented on #700
@tech4him1 Maybe you're looking for `ls('-R', '.')`? Remember, when bash `ls` outputs something like:

[code]

the `a:` and `b:` aren't entries in the output, they're labels so you can tell where `c` belongs. Just like if you ran `ls -R .` in bash, you would see `.:` as a label, not an entry.

[2017-04-07 11:01] uttpal commented on #631
@nfischer I would like to fix this issue

[2017-04-10 01:52] nfischer commented on #631
@uttpal Help would be very appreciated!

Yes, I believe your understanding is correct. If in doubt, you can always try out GNU cp/mv on a Linux system.

[2017-04-10 02:04] #701 closed

[2017-04-10 02:06] nfischer commented on #181
Doesn't appear to be something we can solve. If this is still an issue, ping this thread.

[2017-04-10 02:06] #181 closed

[2017-04-10 02:07] nfischer commented on #180
If this is still an issue, please reopen

[2017-04-10 02:07] #180 closed

[2017-04-10 02:09] nfischer commented on #622
@freitagbr ping. Any progress on this?

[2017-04-14 19:32] uttpal commented on #631
@nfischer
In the case of a directory, cp is overwriting recently created files with the latest one.

`cp -R dir1 dir2/dir1 dir3/dir1 dest/`
`cat dest/dir1/file1`  > `in dir3`

[2017-04-15 05:53] nfischer commented on #631
You're right, I was mistaken. Thanks for double checking

[2017-04-15 06:04] #670 closed

[2017-04-15 07:49] #587 closed

[2017-04-15 09:01] #631 closed

[2017-04-18 01:44] bmcgonag opened #704 "ShellJS works in Electron in one app, but gives Error 'Unable to find a path to node binary' in another"
### Node version (or tell us if you're using electron or some other framework):
Electron 1.6.2 (non-working app installed globally)

Electron 1.4.13 (working app installed as dev dependency for this app only).

I apparently installed Electron locally on one folder, and then globally later.

### ShellJS version (the most recent version/Github branch you see the bug on):
ShellJS 0.7.7 (non-working a

[2017-04-18 01:54] bmcgonag commented on #704
As a follow up.  I uninstalled shelljs 0.7.7 and installed 0.7.5 in it's place, and it's now running the commands just like in my other app.

Seems to be something that has changed in shells since 0.7.5 that has caused this break.

[2017-04-18 09:06] lemonleon opened #705 "use cp('-r', './src', './dist') bug"
### Node version (or tell us if you're using electron or some other framework):
Node version: 4.3.0
### ShellJS version (the most recent version/Github branch you see the bug on):
ShellJS version: 0.7.7
### Operating system:
Windows 7
### Description of the bug:
use cp command copy 2 directory to destination directory
if destination is non-existent, the 2 directory cannot be created correctly

[co

[2017-04-18 21:17] freitagbr commented on #705
Hi @lemonleon, what behavior are you expecting?

When I test this in bash, I get the following result:
[code]
This is looks like the same behavior as shelljs.

[2017-04-19 01:53] lemonleon commented on #705
Hi~ i means 2 cp(xxx) command run together
like:
[code]
one of them directory not created correctly;
I hope the result is:
[code]
but in fact:
[code]
testA dir not created.
And the premise of this mistake is 'dist' created by shelljs, `2 cp(xxx) command run together`, would happened

[2017-04-19 02:58] freitagbr commented on #705
If you run this in bash, where the directory `dist` doesn't exist yet:
[code]
you will get the second result:
[code]
So, this is not a bug with ShellJS because it has the same behavior as `cp`. If you want the first directory structure, the destination directory should be created first:
[code]

[2017-04-19 03:02] lemonleon commented on #705
Oh~ I see~!  thanks very much~ (:

[2017-04-19 03:03] #705 closed

[2017-04-19 06:08] nfischer commented on #704
We don't support electron yet. See [this wiki page](https://github.com/shelljs/shelljs/wiki/Electron-compatibility). Do you see this message when invoking non-exec commands?

#636 introduced this. This was intended to give better control for Electron support (e.g. `config.execPath = shell.which('node')` if that's good enough).

If you're interested in electron support, I'll gladly review a pull re

[2017-04-20 06:34] freitagbr commented on #622
When I run the echo tests in concurrent mode, `echo` still prints to stdout. So, I think the best think to do in this situation would be to mock `process.stdout` and `process.stderr`. The [`std-mocks`](https://github.com/neoziro/std-mocks) module looks like it might be useful for this purpose.

[2017-04-20 06:39] freitagbr commented on #584
For clarification, is the lack of abbreviating the homedir as `~` the only thing that needs to be fixed? These methods seem to use full paths already.

[2017-04-20 06:40] freitagbr commented on #645
Closing, as this should be fixed by #690.

[2017-04-20 06:40] #645 closed

[2017-04-21 11:44] maqboolkhan opened #706 "Exec command weird behavior"
### Node version: 0.10.37

### ShellJS version: 0.7.7

### Operating system: Lubuntu

### Description of the bug: exec command weird behavior

hi i want to run a shell script using `shell.exec`
but having weird behavior (kindly dont laugh on my node version i just cant update it)

but when i do

[code]

it outputs as it running this command infinite time and when i try async method

as

[code]

no

[2017-04-21 11:52] #706 closed

[2017-04-22 05:25] nfischer commented on #706
Hi @maqboolkhan. We dropped support for node v0.10 when we released ShellJS v0.7.0 (for the very reason you're seeing).

I strongly recommend upgrading to a more recent version, since v0.10 has been deprecated for quite some time. Take a look at [this page](https://github.com/nodejs/LTS) for an idea of which versions of NodeJS are still supported.

[2017-04-22 05:38] nfischer commented on #584
Huh, could've sworn the paths weren't full. I guess I must've been mistaken. It's fine to leave the `~` alone, let's mark as won't fix.

[2017-04-22 05:38] #584 closed

[2017-04-22 05:46] nfischer commented on #622
Yeah, that module seems fine

[2017-04-22 05:58] nfischer commented on #622
I did something similar for shx [here](https://github.com/shelljs/shx/blob/master/test/mocks.js) and [here](https://github.com/shelljs/shx/blob/master/test/specs/cli.js#L19)

The downside to mocking like this is that we'll need to mock/restore within each test case (I don't think you can do it in setup/teardown). This is lots of boilerplate 😦

An alternative approach is to refactor `echo()` to tak

[2017-04-24 13:24] 01AutoMonkey opened #707 "How am I suppose to handle errors with ShellJS?"
**Node:** v7.9.0
**ShellJS:** 0.7.7
**OS:** Windows 10 (with Ubuntu Bash)

I'm trying to **cat** a directory (which should obviously fail) but I want to catch the error instead of exiting my program altogether but try/catch doesn't seem to work:

[code]

Error on exit:

[code]

[2017-04-24 18:03] maqboolkhan commented on #706
thank you @nfischer i understand thats why i close this question thanks man for your co operation

[2017-04-26 08:10] nfischer commented on #707
A few things going on here:

1. `ShellJS: internal error`: this is an unintended error, one which we should fix. So thanks for pointing this case out!
2. In ShellJS v0.8, we will no longer kill the process upon internal errors, we'll just throw an exception (see #483). Hopefully we can resume work on that release.
3. Expected errors should not kill the process, we'll indicate an error with `shell.

[2017-04-28 17:33] rajsite opened #711 "Copying hidden files fails on Windows 10"
### Node version (or tell us if you're using electron or some other framework):
v6.9.5

### ShellJS version (the most recent version/Github branch you see the bug on):
shelljs 0.7.7 via shx 0.2.2

### Operating system:
Windows 10 64-bit

### Description of the bug:
On Windows trying to copy files in a directory that contain only a single file named `.nojekyll` results in error:

`cp: no such file

[2017-04-30 02:31] freitagbr commented on #711
Hey @rajsite, thank you for reporting this. I will look into this issue in the next day or two.

[2017-05-01 05:32] nfischer commented on #711
@rajsite That is not a 'workaround' in this case, it's intended behavior:

[code]

This is the POSIX shell behavior, and ShellJS should be compliant. If shelljs or shx behave other than how I've described, let us know.

[2017-05-01 05:32] #711 closed

[2017-05-01 06:16] nfischer opened #712 "Consistent error handling in ShellJS"
We should aim to update error handling across ShellJS:

 - [ ] Consistent error message format for each command
 - [ ] Error messages are consistent with Bash
 - [ ] Tests check the error string
 - [ ] Slashes should be consistent cross-platform
 - [ ] Functions should iterate over all files on the argument list, even if an earlier file is invalid. This does not hold for all functions, but we're d

[2017-05-01 16:03] rajsite commented on #711
@nfischer when running `cp dir/.*` on linux I get the following output

[code]
resulting in a non-zero error code.

Should `shx cp` ignore the `.` and `..` inodes while allowing other hidden files?
What would be the cross-platform way to use shx cp to wildcard copy files starting with `.` without an error?

[2017-05-02 03:46] nfischer commented on #711
Ah, that's because Bash expands the `.*` to include `.` and `..` (my mistake). Unfortunately, this is very difficult to get right in Bash (other shells handle things more sensibly). If you need it to work in bash, this usually works:

[code]

This approach fails under at least a couple scenarios. I strongly recommend going with something like:

[code]

If neither of those work for you, there's an

[2017-05-03 02:54] freitagbr opened #714 "Clean up common tests"
Some of the tests in `test/common.js` make the check `t.falsy(shell.error())`. This is not necessary, because these methods will not actually set the shell error.

[2017-05-03 02:54] #664 closed

[2017-05-03 06:04] #694 closed

[2017-05-03 06:41] jyunming-chen opened #715 "Problems getting code, stdout, stderr"
### Node version (or tell us if you're using electron or some other framework):
node v.6.9.1

### ShellJS version (the most recent version/Github branch you see the bug on):
(most recent)

### Operating system:
windows 10

### Description of the bug:

// simple c++ files to compute factorial
// with prints to stderr & stdout, and exit codes
//
#include <stdio.h>
#include <stdlib.h>

int factorial(

[2017-05-03 16:29] napcat opened #716 "shelljs.exec hangs when password it's asked"
### Node version (or tell us if you're using electron or some other framework):
v6.10.2

### ShellJS version (the most recent version/Github branch you see the bug on):
Most recent: 0.7.7

### Operating system:
Windows 10

### Description of the bug:
I have a node js script and I'm trying to exec a command to get some facebook hash keys.
When the command runs it needs the user to input the passwor

[2017-05-03 18:37] freitagbr commented on #715
Hi @jyunming-chen, what output do you get when you run `./factorial.exe 5` in the console?

[2017-05-03 20:16] nfischer commented on #716
We don't support interactive programs with `exec()`. This will hopefully be addressed in an alternative to exec.

[2017-05-03 22:40] jyunming-chen commented on #715
It was 120test, as expected

$ ./factorial.exe 5
120test

[image: Inline image 1]

On Thu, May 4, 2017 at 2:37 AM, Brandon Freitag <notifications@github.com>
wrote:

--
Jyun-Ming Chen (陳俊銘)
Computer Graphics Laboratory
Dept. of Computer Science and Engineering
Tatung University
Taipei, Taiwan

[2017-05-04 00:40] davidwilder opened #717 "grep: option not recognized: l"
### Node version (or tell us if you're using electron or some other framework):
v6.9.5

### ShellJS version (the most recent version/Github branch you see the bug on):
 v0.7.7

### Operating system:
macOS 10.12.4

### Description of the bug:
Getting this error when trying to use grep -l option.

### Example ShellJS command to reproduce the error:

[code]

[2017-05-04 03:37] freitagbr commented on #717
Hi @davidwilder, I am unable to reproduce this issue with node v6.9.5 and macOS 10.11.6. Could you provide more details about the issue and/or your setup? Thanks!

[2017-05-04 06:22] nfischer commented on #715
@jyunming-chen any chance you could try executing a more standard command and see what it outputs?

[2017-05-04 10:04] jyunming-chen commented on #715
My recent findings:

The culprit might be DevC++?!

========================================================================
I was doing development on windows platform (win10).
EXE compiled using DevC++ (5.11)

it gave me the scrambled/random output...

$ npm run start-win

'.' ���O�����Υ~���R�O�B�i���檺�{���Χ妸�ɡC
code: 1
stdout:
stderr: '.' ���O�����Υ~���R�O�B�i���檺�{���Χ妸�ɡC
====================

[2017-05-05 02:37] jyunming-chen commented on #715
final finding:

On windows platform:

The following works ...
shelljs.exec ('factorial.exe 5', function (code,stdout, stderr) { ... });

This gives the rubbish result
shelljs.exec ('./factorial.exe 5', function (code,stdout, stderr) { ... });

Anyone care to comment?
'factorial.exe' and './factorial.exe' ? any difference?

[2017-05-05 13:08] Secbone opened #718 "exec command hanging when pipe empty to `awk`"
exec `awk` command will hang on when the pre-command pipe empty.

[code]

[2017-05-06 00:57] nfischer commented on #715
Thanks for update. I'm not an expert on Windows details, but perhaps there's issues invoking it with `./`? This is standard practice for unix systems, but may (or may not) carry over to Windows. You could try executing it from a subdirectory:

[code]

[2017-05-06 01:00] nfischer commented on #715
You may also try opening up `cmd.exe` and executing it right from the shell with `./factorial.exe` vs. `factorial.exe`. I would expect the issue to repro there as well (`exec()` just runs things inside `cmd.exe`).

[2017-05-06 01:52] nfischer commented on #718
I'll see if I can investigate over the weekend

[2017-05-06 02:13] freitagbr commented on #622
Fixed in #708

[2017-05-06 02:13] #622 closed

[2017-05-07 07:18] jyunming-chen commented on #715
This should be a concluding remark.

In Windows platform

To open a shell using
1. CMD.EXE (DOS shell)

   what works:
      factorial 4
      .\factorial 4

   does not recognize
     ./factorial 4  (not a command, executable, or batch file   ... "/" is
not in DOS commands)

2. bash (bash shell ... from git bash)
    the ONLY one that works:
       ./factorial.exe 4  (need to give full path; some

[2017-05-09 05:57] #707 closed

[2017-05-09 06:03] nfischer commented on #715
Ok, looks like this is not a ShellJS issue, just a general cross-platform issue. Closing this.

[2017-05-09 06:03] #715 closed

[2017-05-11 09:25] maikokuppe commented on #473
There is a case where this fix does not apply:

    var shelljs = require('shelljs');
    shelljs.touch('someFile');
    shelljs.mkdir('someFile/someDir');

This results in the error

    ShellJS: internal error
    Error: ENOTDIR: not a directory, mkdir 'someFile/someDir'

which cannot be caught by try ... catch

[2017-05-11 21:28] nfischer commented on #473
@maikokuppe the fix hasn't been released yet. It should cover all such cases, however.

To clarify, `ShellJS: internal error` indicates you hit a bug in ShellJS. If you do some operation and get that error, please file a separate bug report describing what you did so we can fix that scenario and provide sensible behavior. That `mkdir()` case would be a great example of something you should file a

[2017-05-12 10:11] dsl101 opened #719 "Can't make sed perform global replace"
### Node version (or tell us if you're using electron or some other framework):
Node 6.9.2 with VueJS and Quasar
### ShellJS version (the most recent version/Github branch you see the bug on):
shelljs@0.7.7
### Operating system:
Debian 7.11
### Description of the bug:
I'm trying to use `shell.sed()` inside a node build script to adjust the contents of a CSS file. The file has already been processe

[2017-05-12 11:33] dsl101 commented on #719
Sorry - just realised I can pass a RegExp in. Still, it might be interesting to add this, so global string replacement is supported:

	cmdOptions: {
		'i': 'inplace',
		'g': 'global',
	},

and:

	if (typeof regex === 'string') {
		regex = RegExp(regex, options.global ? 'g', '');
	}

[2017-05-13 05:58] nfischer commented on #719
Sure, seems reasonable. @dsl101 might be a good contribution 😄

[2017-05-13 13:52] HustLion commented on #518
You can save the process to a varaible and call `kill()` on it. No need to use native `child_process.exec()`.

[code]

This works on macOS Sierra 10.12.4.

[2017-05-14 08:17] maikokuppe opened #720 "ShellJS: internal error on shelljs.mkdir('myFile/myDir')"
### Node version (or tell us if you're using electron or some other framework):
6.9.2

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.7

### Operating system:
Ubuntu 16.04

### Description of the bug:
ShellJS throws the following error when calling `shelljs.mkdir('myFile/myDir')` with an existing file `myFile`:

    ShellJS: internal error
    Error: ENOTDIR: n

[2017-05-14 23:11] nfischer commented on #719
Actually, just looked at this again. Sed doesn't have a `-g` flag itself, but takes a `/g` modifier to the regex. So I think we should keep this as-is, not add the command option (since that would be inconsistent with unix).

[2017-05-14 23:11] #719 closed

[2017-05-14 23:11] nfischer commented on #717
I'm going to close this, since I don't think this is possible. If you can reproduce this, please ping this issue and we can reopen it.

[2017-05-14 23:11] #717 closed

[2017-05-14 23:16] nfischer commented on #718
This is related to #551. In both issues, the stdin to the second command is empty. When the second command is something like `grep()`, it will claim that it was provided no input and terminate. In the case of `exec()`, the awk command inside will hang forever waiting for input.

[2017-05-15 01:04] nfischer opened #722 "Refactor mkdir"
It's probably a good idea to refactor `mkdir()` and make sure we accommodate all the error codes listed in [the man page](http://man7.org/linux/man-pages/man2/mkdir.2.html).

I think a much better approach (after checking for the `-p` flag and handling that as appropriate) would be to call `fs.mkdir()` and catch any exception. Then we can have an if-else ladder handling each case as appropriate. T

[2017-05-15 08:12] dsl101 commented on #719
Yeah, I'd been thinking about that - I was thinking about the other flags
the regex can take and whether that could be an additional parameter rather
than a set of options. But maybe not necessary since you can just pass the
regex.

On Mon, 15 May 2017 at 00:11, Nate Fischer <notifications@github.com> wrote:

[2017-05-16 04:05] jchip opened #723 "is rechoir used anywhere?"
https://github.com/shelljs/shelljs/blob/master/package.json#L54

Is the dependencies rechoir used somewhere?  A grep didn't find it in any code.

[code]

[2017-05-16 04:07] #723 closed

[2017-05-16 04:09] freitagbr commented on #723
Hi @jchip, rechoir is used in [bin/shjs](https://github.com/shelljs/shelljs/blob/master/bin/shjs).

[2017-05-16 04:10] jchip commented on #723
yeah, just found it. :)  thanks.  would be nice if I could get the shelljs module w/o the command line program though.

[2017-05-16 07:24] nfischer commented on #723
@jchip I agree (see #500). We should probably get on that before the v0.8 release so we can deprecate the binary within the main package.

[2017-05-16 07:29] nfischer commented on #500
Steps to implement this:

For v0.8:

 - [ ] Move `shjs` into a separate package (it'll require shelljs as a dependency)
 - [ ] Keep `shjs` as part of shelljs (for backwards compatibility), but add a deprecation warning
 - [ ] For the v0.9 release of shelljs, remove `shjs` for good

[2017-05-16 07:30] #720 closed

[2017-05-19 18:58] emulvihill commented on #469
Too bad, this is a real bummer when you have to give your codebase to someone else. They either have to add all the tools into their globally installed packages or else have the magic path entries. I always try to make my projects as easy as "git clone, npm install, (do stuff)"  Things will fail if I can't properly use exec.

[2017-05-20 06:57] nfischer commented on #469
@emulvihill It sounds like what you're looking for are [npm scripts](https://docs.npmjs.com/misc/scripts) (see the part about "arbitrary scripts"). No need to modify your path or add things globally, you can do things like `npm run foo`.

---

If you really need `shell.exec()` to run local binaries as if they're in your PATH, you can do this:

[code]

[2017-05-20 07:00] freitagbr commented on #469
This is correct, npm adds the node_modules/.bin/ of your local project to your $PATH when you run npm scripts, and you can combine and compose them.

[2017-05-20 11:46] emulvihill commented on #469
Thanks for the suggestions! I don't like NPM scripts for such purpose because they are not platform independent without a lot of ugly code.  I did solve my problem by using the shelljs-nodecli (as was mentioned in the original issue).

[2017-05-20 17:57] nfischer commented on #469
Huh? Have you taken a look at [this blog post](https://medium.freecodecamp.com/why-i-left-gulp-and-grunt-for-npm-scripts-3d6853dd22b8)? See "Misconception #4: npm Scripts Don’t Run Cross-platform"

I recommend **against** that package (unless you know what you're doing) because:

 1. The 2-liner I posted gives you all the benefits you're looking for. No extra module necessary
 2. shelljs-nodecli h

[2017-05-20 20:55] emulvihill commented on #469
Haha, yes I did see that blog post.  I ARDENTLY disagree that it the code that you recommended OR that blog post is good practice, that is the ugly hack I was referring to. Not trying to argue, I just think it was a shame that you did not implement the original suggestion which would have abstracted the pain away from the developer. With NPM scripts, it is NON-cross platform by default. Every juni

[2017-05-22 23:17] webOS101 opened #724 "exec returning null from command"
### Node version (or tell us if you're using electron or some other framework):
v6.2.1

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.7

### Operating system:
MacOS X 10.10

### Description of the bug:
Occasionally, the `exec` command returns `null` instead of something valid.  I have an automated build script that executes.  Some time during the execution of

[2017-05-23 01:55] nfischer commented on #724
@webOS101 how often can you reproduce this?

[2017-05-23 03:55] webOS101 commented on #724
Fairly consistently.  I can reproduce it at will.

[2017-05-23 04:54] nfischer commented on #724
@webOS101 would you be willing to pull down a copy of shelljs and try it out locally?

[code]

[2017-05-23 04:57] webOS101 commented on #724
I saw your commit and added it to my repo. I went with:
[code]
in my `package.json` since this is run on a separate box through automation.

[2017-05-23 05:58] webOS101 commented on #724
https://gist.github.com/webOS101/adc7ce330079c24bb8d30e725779c6c5

[2017-05-23 06:07] nfischer commented on #724
@webOS101 Still can't quite identify the error, but the `exec: internal error` indicates a bug in our code. Could you try pulling in the latest version of that branch and reproducing again? Thanks

[2017-05-23 06:11] webOS101 commented on #724
Perhaps unsurprisingly it clocks in at about 64K.  I don't know why this passes for some builds and fails for others, though.  Our largest output file is 262K and it can complete without issue.

[2017-05-23 06:21] nfischer commented on #724
Yeah, it seems to be pretty sizable. You can try increasing `exec`'s buffer size:

[code]

If this does fix the issue, this is probably something we should look out for specifically, so that we can give a better error message.

[2017-05-23 06:23] nfischer commented on #724
Whoops, made a mistake. ShellJS has a higher default size (`20 * 1024 * 1024`). So maybe try `1024 * 1024 * 1024`

[2017-05-23 16:24] webOS101 commented on #724
[code]

[2017-05-23 16:26] webOS101 commented on #724
I tried using the larger buffer, as suggested, but it didn't make a difference.  The drive is not full, which was my first thought.  Other ideas?

[2017-05-23 23:00] freitagbr commented on #724
It looks like one of the temp file storing the process ext code created by `exec` is being removed before the process finishes.

@nfischer Remind me why `execSync` needs to create the temporary files and execute them in node. Is it because we want the stdout/stderr of the spawned process to update in real time?

[2017-05-24 12:11] LucienLee commented on #86
The current workaround is passing parameter in `exec` to specify enable color manually. For example, `shell.exec('node yourscript.js --color always');` Basically, it's same as @nathanbrauer' method.

[2017-05-30 08:53] akshaygarg834 opened #726 "Exec not working in Electron !"
shell.exec not working showing this error

`let shell=require('shelljs');
        shell.config.fatal=true;
        shell.cd(require('path').resolve(filepaths[0]));
        shell.exec(`git clone ${clone_url}`);`

[2017-05-30 17:53] nfischer commented on #726
Please see the relevant wiki page:

https://github.com/shelljs/shelljs/wiki/Electron-compatibility

[2017-05-30 17:53] #726 closed

[2017-05-30 17:53] nfischer commented on #726
Please reopen if that doesn't help you out.

[2017-06-02 02:32] tylucaskelley opened #728 "Installation fails w/ NPM 5.0.1 and Node.js 8.0.0 on macOS 10.12"
### Node version (or tell us if you're using electron or some other framework):

8.0.0

### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.7

### Operating system:

macOS Sierra 10.12

### Description of the bug:

Install fails with Node 8.0.0 on Mac:

![screen shot 2017-06-01 at 10 29 37 pm](https://cloud.githubusercontent.com/assets/5448759/26708438/d2a44dc4-471

[2017-06-02 02:47] tylucaskelley commented on #728
Had similar issue with some other packages; turns out deleting my ~/.npm folder to clear the cache fixed the issue.

[2017-06-02 02:47] #728 closed

[2017-06-02 07:18] nfischer commented on #728
Glad it's resolved!

[2017-06-02 23:39] tylucaskelley commented on #728
Yeah, seems like something NPM shoulda handled automatically w/ the upgrade from 4.x to 5.x, wasn't super obvious it was a caching issue

[2017-06-03 01:24] nfischer opened #729 "Add node v8 to CI"
It's that time again 🎉

Node v8 is available on nvm, so that means Travis supports it and Appveyor probably does too (or if not yet, it will soon). We should add it to our test matrix.

[2017-06-03 01:28] nfischer commented on #729
This is open for anyone to help out with. I wanted to add the "Help wanted" and "chore" labels, but apparently Github's site is broken because of a CORS violate...

[2017-06-03 01:28] nfischer commented on #729
*violation

[2017-06-04 05:26] #729 closed

[2017-06-07 04:39] nfischer commented on #683
Already fixed in #725

[2017-06-07 04:39] #683 closed

[2017-06-07 04:40] nfischer commented on #704
Closing this, because we don't provide electron support. If someone wants to help us out here, we'll gladly revisit this.

[2017-06-07 04:40] #704 closed

[2017-06-07 04:44] #700 closed

[2017-06-07 04:49] nfischer commented on #248
Closing this. As with electron, we don't support nw.js. We do provide a wiki page documenting workarounds for electron which may or may not be helpful hints for how to workaround this.

If someone still encounters this bug and has an idea for how to solve it, I'll gladly take a look.

[2017-06-07 04:49] #248 closed

[2017-06-07 04:50] #3 closed

[2017-06-07 05:03] nfischer commented on #476
This is now fixed on trunk in #557

[2017-06-07 05:03] #476 closed

[2017-06-07 05:06] nfischer commented on #514
Closing this, since we don't officially support electron. I see that some ASAR stuff is mentioned, perhaps you might find a suitable workaround in our [wiki page](https://github.com/shelljs/shelljs/wiki/Electron-compatibility).

[2017-06-07 05:07] #514 closed

[2017-06-07 05:12] nfischer commented on #265
Closing this, since we unfortunately don't have the bandwidth to support ionic/cordova. Same case as electron.

If anyone wants to dig into this and figure out the issue, I'll gladly look at a PR.

[2017-06-07 05:12] #265 closed

[2017-06-07 22:18] nfischer opened #732 "Add test for `ls regular-file.txt`"
Originally pointed out in #467

We should add a test case to `ls` of the sort `ls('resources/ls/file1')`, since I don't think we have a test case to check ls-ing a single file, no options, no wildcards.

[2017-06-07 22:36] nfischer opened #733 "ls doesn't follow links to directories"
**Originally reported as #446**

### Node version (or tell us if you're using electron or some other framework):

latest

### ShellJS version (the most recent version/Github branch you see the bug on):

Latest. The bug was introduced in v0.7.0

### Operating system:

Confirmed on both OS X and Linux.

### Description of the bug:

Originally reported in #446. I'm branching this off, since that issu

[2017-06-08 03:26] BurtHarris commented on #619
@nfischer   I had the same question about the temp files, found this bug.

Could you explain what you mean when you say that `child_process.execSync` _"won't do console output for you."_

[2017-06-09 04:20] nfischer commented on #619
`shell.exec()` will run your external command. If that command has any stdout or stderr output, then that will be forwarded to the console. `child_process.execSync` will not print that output to the console for you.

[code]

[2017-06-09 06:16] BurtHarris commented on #619
But this works to get the same effect

    const child_process = require('child_process')
    child_process.execSync('echo hello world', {stdio:"inherit"})

[2017-06-09 21:18] nfischer commented on #619
Yup

We tried this in the past. I think you'll find that you see output like this:

[code]

The only way I know to print output to the console and to also return it from a sync function is the way we've implemented. Please correct me if I'm wrong--we've recently dropped support for anything below v4, so we might have more options available now.

[2017-06-09 21:35] BurtHarris commented on #619
So the goal is to get it both on console/screen and capture it in a Node.js Buffer. Is that right?

[2017-06-10 06:44] nfischer commented on #619
That's the current behavior of `shell.exec()`, so backwards compatibility would be the motivator. If `child_process.execSync()` works well enough for you, by all means feel free to use it 😄

[2017-06-10 21:11] jchip commented on #500
would this option be feasible:

create a new package w/o `shjs`, update `shelljs` to depend on it.

[2017-06-10 22:18] freitagbr commented on #733
It has to do with the way files are handled, specificallly in `pushFile`. `fs.lstatSync` is used in the default case, which returns stats about the symbolic link itself, not the file or directory it links to. I think there needs to be extra handling for the case when `stat.isSymbolicLink()` is `true`. I will work on a fix.

[2017-06-10 23:34] BurtHarris commented on #619
Thanks Nate.  I've been in the dev game for over 40 years now, but I'm still rather new to Node.js.    I'm sort of feeling my way through issues like how to best `exec` right now.   I'll let you know if I find a solution that matches your requirements, but I'm all set for now myself.

[2017-06-13 01:22] freitagbr commented on #619
@nfischer I left a comment on another issue (https://github.com/shelljs/shelljs/issues/724#issuecomment-303556456) regarding this very problem.

In short, we don't need to create temp files and fork node in `shell.exec()` in order to output to stdout and capture the output. What we can do instead is use `child_process.execSync(..., { stdio: 'inherit' })` to output to the console. The `stdout` and

[2017-06-13 03:22] nfischer commented on #733
@freitagbr were you able to bisect to a commit? Unix behavior can be somewhat inconsistent around here, so this bug probably arose as a side effect of another bug fix. It would be good to understand all the scenarios we need to account for.

[2017-06-13 03:26] nfischer commented on #500
@jchip Thanks for the suggestion. The goal here is to trim down shelljs, since this code (and its dependencies) are not used by a majority of packages. In the end, we'd like shelljs to be w/o shjs, and then shjs can be its own package.

[2017-06-13 04:18] nfischer commented on #619
Can you provide a minimal proof of concept?

This was one of the design considerations of #524

[2017-06-13 04:46] nfischer commented on #724
If `child_process.exec()` in the temp script invokes its callback, then we know the `codeFile` is actually created on disk, before the child process terminates. If that file is created on disk, then we'll definitely be able to read it by the time we get to that line of code. So that must mean we *aren't* calling the callback (due to an exception in `child_process.exec`), or we get some exception e

[2017-06-13 04:55] nfischer commented on #724
@webOS101 Would you be able to try the latest version of the branch again? I added a couple more debug logs that should help confirm my suspicions. Thanks!

[2017-06-13 17:18] BurtHarris commented on #619
How very interesting @freitagbr.   I'd love to see that proof of concept too.   You said:

I'm not familiar with these tests, can you summarize briefly how that's done in those tests?

[2017-06-13 18:00] freitagbr commented on #619
The reason the temp-file-and-fork method was used was because we needed to print the stdout/stderr of the spawned process in real-time, but also return all of the data printed to stdout from the `shell.exec` function call.

This method does the same, but without forking node or using temp files. The simplified pseudocode goes something like this:

[code]

Here is a module that does this stdout/std

[2017-06-13 20:02] webOS101 commented on #724
I will try to do this.  I had to replace that bit in my code so that I could get my build working again.  I can probably check out an older version of my scripts to see what happens.

[2017-06-13 21:32] freitagbr commented on #733
I will do the bisect tonight.

[2017-06-14 04:17] nfischer commented on #619
I don't think this works. Try this example that's been adapted from their README:

[code]

I agree with the suggestion, but `shell.exec()` is actually following its API ("Executes the given **command** synchronously", and `git add .; git commit` is a valid command). `shell.exec()` will always remain this way for backwards compatibility. I'm building an alternative in #524.

Don't pass arbitrary us

[2017-06-14 04:21] nfischer commented on #724
Thanks, I appreciate the help debugging. This is a long-time bug we've never been able to repro, and I'd like to get a fix out.

I'm convinced that we need to follow my try-catch suggestion regardless, but I'd like to dig deeper and see if that's really causing this issue.

[2017-06-14 04:38] nfischer opened #734 "Merge 'exec: internal error' with ShellJSInternalError"
I can't actually remember why we have both `ShellJSInternalError` and `exec: internal error`, but they mean the same thing: there's a bug in ShellJS code somewhere. These should probably get merged together, so that we can actually keep the exception stack for bugs in `exec`. This would help immensely in debugging.

While it's true that `exec()` sometimes crashes unavoidably (like if we overrun th

[2017-06-14 04:52] nfischer opened #735 "shell.exec() doesn't respond correctly to config.fatal = true"
### Node version (or tell us if you're using electron or some other framework):

all

### ShellJS version (the most recent version/Github branch you see the bug on):

master

### Operating system:

all

### Description of the bug:

Setting `config.fatal = true` messes up `shell.exec()`. When `config.fatal` is true, we throw an exception from `common.error()`. Unfortunately, this gets caught by She

[2017-06-15 01:52] freitagbr commented on #733
Ok, git bisect landed me at commit `3e441e4`. I used a test script to help out:
[code]

[2017-06-15 06:17] nfischer commented on #733
That would be #369

[2017-06-15 14:16] voy opened #736 "Add typescript typings directly into shelljs repo"
Currently there is a separate `@types/shelljs` package, which is even slightly out of date. E.g. it does not contain the `verbose` configuration option etc. Would anyone be against adding the type information directly into this package (as is the recommended way - see [publishing](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html)).

In case there is support for doing

[2017-06-16 00:10] rindeal opened #737 "shelljs is no longer used in PDF.js"
https://github.com/mozilla/pdf.js/pull/8366

[2017-06-16 00:18] mikeweaver commented on #724
FYI: I believe I have a reproducing case of this bug as well.

[2017-06-16 08:02] nfischer commented on #724
@mikeweaver what happens if you try out that branch? What do the logs show?

[code]

[2017-06-16 08:06] voy commented on #736
Any thoughts on this, @nikeee?

[2017-06-16 08:12] nfischer commented on #736
I don't know much about typescript types, so I don't think I could adequately review/maintain it.

I'd be more than happy to work with the maintainer to get things up-to-date though.

[2017-06-16 08:13] voy commented on #736
I will of course not object to things being done for me, but this being open source you can just let me handle this one and focus on other things.

[2017-06-16 09:55] nikeee commented on #736
Sounds good!

[2017-06-16 13:11] voy commented on #736
Ok good, I will take a look at it and leave your name as author in the typings file. Hope that is enough as attribution, @nikeee.

[2017-06-16 22:55] #737 closed

[2017-06-16 22:59] nfischer commented on #736
Where do the types exist currently? @voy @nikeee are you two the maintainers?

[2017-06-17 07:50] voy commented on #736
The typings are currently available from [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/shelljs), which - as far as I understand it - is mostly a legacy thing. From there they are exported as a `@types/shelljs` package, which is the second best solution to actually bundling typings with the library itself. Bundling is best, because that way typings are versi

[2017-06-17 22:48] nfischer commented on #736
What are the alternative options? I hesitate to merge into this repo because I don't want to take up the full maintenance burden.

Is it feasible to move it into a separate repo under the shelljs org, with you and @nikeee as co-maintainers along with the rest of the org?

[2017-06-17 23:43] nfischer commented on #658
We're also missing coverage for this line, so that should be resolved as part of this fix. Letting this block #671

[2017-06-17 23:46] nfischer commented on #671
Before marking this as resolved, we should improve test coverage for the commands mentioned in [these issues](https://github.com/shelljs/shelljs/labels/test%20coverage).

[2017-06-17 23:55] nfischer opened #739 "Improve coverage for cp()"
See [the coverage report](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe633daece83a127d47/src/cp.js)

We're currently missing line coverage for:

 - `copyFileSync()` being called on a [non-existent file](https://github.com/shelljs/shelljs/blob/master/src/cp.js#L23)
 - [Cycles of symlinks](https://github.com/shelljs/shelljs/blob/master/src/cp.js#L119-L123)
 - `srcFileStat.isSymbo

[2017-06-18 00:00] nfischer opened #740 "Improve coverage for chmod()"
See [the coverage report](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe633daece83a127d47/src/chmod.js)

We're currently missing line coverage for:

 - [non-existent file](https://github.com/shelljs/shelljs/blob/master/src/chmod.js#L107)
 - [recursing on symbolic links](https://github.com/shelljs/shelljs/blob/master/src/chmod.js#L111)
 - Using `=` to [set permissions exactly](ht

[2017-06-18 00:03] nfischer opened #741 "Improve coverage for head()"
See [the coverage report](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe633daece83a127d47/src/head.js)

We're currently missing line coverage for:

 - [Unable to open file](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe633daece83a127d47/src/head.js#L22)
 - Right-hand-side of a pipe ([here](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe633dae

[2017-06-18 00:08] nfischer opened #742 "Improve coverage for exec()"
See [the coverage report](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe633daece83a127d47/src/exec.js)

We're currently missing line coverage for:

 - [Using exec without options.silent](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe633daece83a127d47/src/exec.js#L84)
 - Coverage for #536 ([here](https://codecov.io/gh/shelljs/shelljs/src/c16fb7dac9dfec6cec29cfe

[2017-06-18 01:29] nfischer opened #745 "Add wrappers around fs.statSync and fs.lstatSync"
We should consider adding wrapper methods around these functions:

[code]

I'm usually not in favor of meaningless wrapper functions, but I think this could give us big wins for readability. We've had a few bugs (#733 is an example) that boil down to using the wrong `fs.*statSync()`. I personally have trouble remembering which one of those two follows links and which doesn't. Also, I don't give mu

[2017-06-18 01:31] #741 closed

[2017-06-18 01:31] #671 closed

[2017-06-18 02:09] #742 closed

[2017-06-18 15:31] qm3ster opened #747 "Add a config option to not actually mutate filesystem."
It is often valuable to just preview the commands without letting them run wild on your machine.
Proposed api:
[code]
Read-only commands like ls should probably still run.

[2017-06-18 18:44] nfischer commented on #747
I don't think many of the GNU core-utils actually implement `--dryrun` flags.

When I'm scripting, I usually fallback on `echo` as my own sort of "dry run". If I want to run:

[code]

I'll first run:

[code]

@qm3ster did you have a different use case in mind?

[2017-06-18 19:24] qm3ster commented on #747
This is totally my usecase.
It is not just for dev, it would be useful for end users as well when learning to use the package.
Currently I have things like
[code]
but it would be useful to have this included in the lib by default, including all options and ShellString subcomands, etc.

[2017-06-18 21:34] nfischer commented on #747
I don't quite see how end users would use this, perhaps you could elaborate?

To me, this doesn't sound very useful. I think of a script as a sequence of sections, where each section depends on those before it. If you're developing section C, you might temporarily want NOOPs. However, if it depends on the results of sections A and B (already written and debugged), then you would definitely want th

[2017-06-18 23:27] qm3ster commented on #747
The end users are writing something in a DSL, or a config, and can preview the results to see if they are sensible without waiting for execution after every change.

[2017-06-19 00:06] nfischer commented on #747
It's hard to predict what kind of logging users would want, or if they would want all functions mocked or only some. I think it's best to leave this to users to implement as they choose. I think [your workaround](https://github.com/shelljs/shelljs/issues/747#issuecomment-309297332) is a good approach.

This gives the user total control, and it doesn't bloat the module with something only a few use

[2017-06-21 06:15] nfischer opened #748 "New plugin for unix-only features and extensions"
Originally discussed with @bruce-one on #727, shifting the discussion to a dedicated issue.

While ShellJS aims to be cross-platform, it's often impossible to support posix behavior while also operating on Windows. For example, `cp` on unix supports FIFOs and special devices, neither of which really exists on Windows.

Supporting these edge cases within shelljs leads to a lot of platform-dependent

[2017-06-22 17:00] gurisxie opened #749 "shelljs run xcodebuild error"
### Node version (or tell us if you're using electron or some other framework):
v6.9.2
### ShellJS version (the most recent version/Github branch you see the bug on):
"version": "0.7.8"
### Operating system:
mac 10.12.5 (16F73)
### Description of the bug:
when i use shelljs to run xcodebuild,error,see pic;
but run terminal directly，its ok,see pic
hope help~~~

### Example ShellJS command to reprod

[2017-06-23 07:36] gurisxie commented on #749
I have found the reason，if we use shelljs，we should promise that, the project which using xcodebuild need use short path.

[2017-06-23 07:36] #749 closed

[2017-06-24 23:10] nikeee commented on #736
Maybe. The definition file(s) only has to be packaged and published together with the rest of the npm package.

[2017-06-26 19:36] nfischer commented on #736
Could you explain that for me? The typing info doesn't travel that way currently. What benefits does making the change bring? What are the consequences to packaging independently?

I envision we would specify that `shelljs@v0.8.x` corresponds to `shelljs-types@v0.8.y`. So upgrading one would require upgrading the other.

[2017-06-26 19:46] voy commented on #736
I think @nikeee wanted to suggest that we could hold the definitions in a separate repo and put them together as a build step, if I am not mistaken. Not sure how that would solve the ownership problem though, at that point it seems same as bundling them together.

@nfischer you could of course do that, but it is a markedly worse developer experience. You have to spend extra cycles on making sure t

[2017-06-27 06:09] nfischer commented on #736
Yeah, I see those benefits. On the other side, here are the drawbacks to keeping it in the same repo:

 - If external developers contribute to shelljs, they also have to update types. This may be burdensome for non-typescript developers. Perhaps maintainers can help out here.
 - If we (the maintainers) get lazy and let types fall out of date, we have to delay the release to fix them. This is good

[2017-06-27 07:01] voy commented on #736
@nfischer I think getting TS running in a CI pipeline would not be difficult, I have a project written completely in TS and it is running tests flawlessly. The question would what tests we can run. I imagine we could put together a sample project with calls to `shelljs` APIs and have it compile against the typings. It will only be as good as the sample project, however. Did you have anything else

[2017-06-27 07:28] maunier opened #750 "cat doesn't support '-n' option"
### Node version (or tell us if you're using electron or some other framework):
v7.9.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.8
### Operating system:
osx
### Description of the bug:
cat method don't support options,
### Example ShellJS command to reproduce the error:
i need to cat a file with line number, but now it dosen't support it
[code]

[2017-06-28 06:26] nfischer commented on #750
Yeah, we never implemented options on `cat()`. Pull requests are welcome!

This feature request calls for the `-n` option I believe.

[2017-06-28 06:51] nfischer commented on #736
Would it be possible to add an extra CI run of our test suite to compile everything with `tsc` and run the tests?

I would expect `tsc` to be a NOOP initially. It'll be more useful once we add types into the repo.

[2017-06-28 10:53] shmuel-krakower opened #751 "Question: async callback ordering"
Hello,
I have a question regarding the order in which the stdout.on callback is being called.
I use it to recieve the command output and it seems to me that it is always being called in the right order.
If I make print to console the stdout in async - I always get the right output.

I want to make sure this is to be expected ?
Can I count on the callback to always get the data in the right order?

[2017-06-28 20:51] nfischer commented on #751
I'm not sure I completely understand your question. Could you provide some example code?

[2017-07-02 20:42] shmuel-krakower commented on #751
If I run a command, would it be safe to assume that the stdout events are fired/processed in the right order, so I can concat stdout pieces like in the following example and manipulate it on close?
`
  var child = shell.exec(cmd, {async:true, silent: true});
  var stdoutBuffer = "";

  child.stdout.on('data', function(data) {
    //console.log("Piece of data:" + data);
    stdoutBuffer += data;

[2017-07-06 08:05] voy commented on #736
Can we get to some sort of a closure on this? I *do not* want to be mean in any way, but the typings are ~500 lines, most of it comments. I think they require only occasional updates (unless there's a big breaking change) and updating them is not too difficult. A good opportunity for contributors, I would say. Quite honestly, I think we have spent so much time discussing in this thread that the wo

[2017-07-06 18:44] nfischer commented on #751
Yes, `stdout` callbacks are expected to be called in the correct order.

[2017-07-06 18:44] #751 closed

[2017-07-06 19:27] nfischer commented on #736
I'm not objecting to this, I'm not sure what response you were waiting for.

Steps for implementation:

 1. Provide support for typescript by running our CI under `tsc`.
 2. Move typings into ShellJS.
 3. Update typings for latest version of our API.
 4. Include typings when running our test suite under typescript. This verifies correctness and ensures types are up-to-date.

[2017-07-07 03:40] shmuel-krakower commented on #751
Thank you!

[2017-07-15 02:37] ilex0208 opened #752 "Cannot set property to of [object String] which has only a getter"
### Node version (or tell us if you're using electron or some other framework):6.11

### ShellJS version (the most recent version/Github branch you see the bug on):0.7.8

### Operating system:windows10

### Description of the bug:Cannot set property to of [object String] which has only a getter

### Example ShellJS command to reproduce the error: shelljs.rm

[code]

the error details is：
pipeMetho

[2017-07-15 03:17] ilex0208 commented on #752
When I used the version less than or equal to 0.6.0, it ran successfully

[2017-07-15 07:54] nfischer commented on #752
Why are you trying to set the `.to` property? I don't even see where that's happening in your code.

Full stack trace?

[2017-07-15 12:07] ilex0208 commented on #752
I don't know why. I just used the code above in gulp.
The exception occurs in shelljs/src/common.js at line 151.
Source code:
`
pipeMethods.forEach(function (cmd) {
    that[cmd] = shellMethods[cmd].bind(that);
  });
`

[2017-07-17 05:01] nfischer commented on #752
@ilex0208

I have no problems:

[code]

[code]

Node v6.7.0
Gulp 3.9.1
ShellJS 0.7.8

[2017-07-17 05:02] nfischer commented on #752
Can you try to repro with my steps?

[2017-07-19 07:47] freitagbr commented on #747
Another way to go about this would be to mock the `fs` module, using [`mock-fs`](https://www.npmjs.com/package/mock-fs) for example. You could set up the mock fs before `shelljs` is required, so that any ShellJS calls hit the mock fs, not the real one.

[2017-07-20 04:00] nfischer commented on #747
Good suggestion @freitagbr. I'm closing this, because I think there are reasonable workarounds available outside of ShellJS that will ultimately work better for the end user. Please ping this thread if there are important use cases we're overlooking.

[2017-07-20 04:00] #747 closed

[2017-07-22 07:02] ilex0208 commented on #752
I'm sorry that I can't reply you in time due to too many affairs to deal with recently.

Create a NPM module, directory is as follows

[code]
s-tool.js

[code]
index.js

[code]
package.json

[code]

useage:

$ npm install -g s-tool

$ cd workspace
$ s-tool clean

If the folder lib exists, the error occurs.

However, when I used the version less than or equal to 0.6.0, it ran successfully

[2017-07-22 21:34] nfischer commented on #752
I still have no repro on Linux.

Please provide a full stack trace from when you reproduce.

Also, please give a repro case using no other modules (only shelljs). I don't know if those other modules are tampering with us.

[2017-07-24 06:02] MattSturgeon commented on #171
Worth noting that in [ZSH](http://zsh.sourceforge.net/Doc/Release/Shell-Builtin-Commands.html) `popd` has a `-q` flag:

[2017-07-25 03:38] nfischer opened #753 "Feature request: pushd/popd -q option"
Originally suggested in [this comment](https://github.com/shelljs/shelljs/issues/171#issuecomment-317327195) by @MattSturgeon

We might consider implementing the [`-q` option](http://zsh.sourceforge.net/Doc/Release/Shell-Builtin-Commands.html) (it's available in zsh, not in bash) for `pushd`/`popd`. this option does some zsh-specific things (i.e. the mention of `$chpwd_functions`), but it also sup

[2017-07-25 03:39] nfischer commented on #171
@MattSturgeon  I filed this as #753, thanks for the suggestion.

[2017-07-27 03:02] freemine opened #754 "shelljs seems NOT compatible with nexe under CentOS 6.5"
### Node version (or tell us if you're using electron or some other framework):
node: v8.2.1
npm: 5.3.0
nexe: 1.1.3
### ShellJS version (the most recent version/Github branch you see the bug on):
shelljs@0.7.8            (npm install shelljs)
### Operating system:
CentOS 6.5
uname -a: Linux localhost.localdomain 2.6.32-431.el6.x86_64 #1 SMP Fri Nov 22 03:15:09 UTC 2013 x86_64 x86_64 x86_64 GNU/Lin

[2017-07-27 03:07] freemine commented on #754
forget about ./node_modules/shelljs/bin/shjs ./test.
it seems shjs loads ./test.js at runtime by default if missing-extension

[2017-07-27 07:17] dcantelar opened #755 "follow semantic versioning"
Hi all!

I think this module is really helpful and many others rely on its functionality. Great job guys!

But, at least for me, it is a little bit confusing to understand why this module doesn't follow [semantic versioning](http://semver.org/), as all the npm modules should do (as described [here](https://docs.npmjs.com/misc/semver)).
The main point here is: if there are breaking changes, it shou

[2017-07-27 18:29] oleghalin opened #756 "Run second shell script"
I need to run second script even if first steal running. Now im using this:
shell.exec('node vexample2.js ',{silent:true});

but if i send second socket message to run next script when this already finished - have and error.

[2017-07-28 04:49] nfischer commented on #754
Please provide a complete minimal setup (i.e. full contents of minimal code files, full configuration necessary, and a sequence of commands to run to produce the bug).

I have no experience with nexe, so I get this bug:

[code]

[2017-07-28 04:56] nfischer commented on #755
We do follow semantic versioning. Breaking changes are indicated by bumping the minor version if under 1.0.0. I would rather hold off on 1.0.0 at least until we fix security issues surrounding `exec`.

You can get the desired behavior if you specify shelljs as a dependency with something like `^0.7.8`.

[2017-07-28 04:56] #755 closed

[2017-07-28 04:56] nfischer commented on #756
Can you post a more detailed description (including minimal scripts)?

[2017-08-01 09:29] oleghalin commented on #756
Minimal scripts? Im using node

[2017-08-02 07:39] freemine commented on #754
nexe -i `pwd`/test.js -o `pwd`/test

[2017-08-03 09:54] moorthi07 opened #757 "save a string to file? (like echo str > outfile.html)"
Any ways  to save a string to a file?  (like echo str > outfile.html).

I'm wondering if I can do this with 'cp' as it solves my rest of the problems in storing a file.. Tx..

[2017-08-03 14:19] synaptiko commented on #440
@edmcmanwich If you want you can try to use [my branch](https://github.com/synaptiko/shelljs/tree/use-spawn-sync-for-exec-sync) for the test. It should improve the perf.

[2017-08-03 21:02] nfischer commented on #757
https://github.com/shelljs/shelljs#shellstringprototypetofile

If this doesn't answer your question, please ping this bug 😄

[2017-08-03 21:02] #757 closed

[2017-08-03 21:14] nfischer commented on #754
@freemine Again, please provide contents of all code files (you can format them with markdown code blocks). And please provide a complete list of commands you run (i.e. the command to run nexe, then command to execute the script, and any error output the commands produce).

I tried using nexe but it kicked off a massive compilation, which doesn't sound like the correct behavior for a tiny script.

[2017-08-03 22:10] moorthi07 commented on #757
Nope.
  cat(str).to(dist + '/output.html');
throws error -
**cat: no paths given**
and
creating an empty file output.html

[2017-08-04 03:21] freitagbr commented on #757
Do you mean `echo(str).to(dist + '/output.html')`? `cat` prints the contents of a file to stdout, whereas `echo` prints a string to stdout. Judging from your first comment, that's what you wanted to do.

[2017-08-04 05:10] moorthi07 commented on #757
@freitagbr , great.. echo(str).to(dist + '/output.html')  - works. Thx. But this outputs all 'str' values (I'm doing a recursive loop) in terminal. I'm looking something that does 'copy string to a file' . Is there an option to silent the terminal outputs? or any other options?

[2017-08-04 05:12] freitagbr commented on #757
Setting `shell.config.silent = true` should silence terminal output.

[2017-08-04 05:13] moorthi07 commented on #757
I like to have this feature within shell.js , so I don't need to do fs.writeFile or any other libs. I'm using this for binding templates like cptpl - https://github.com/SBoudrias/mem-fs-editor/blob/master/lib/actions/copy-tpl.js.
I think a cptpl would be a great add on to the shelljs.
I'm working on it , I might be able to contribute.

[2017-08-04 05:19] moorthi07 commented on #757
shell.config.silent = true , not working!

[2017-08-04 17:05] nfischer commented on #757
Doesn't work for `echo()`. Please use `new ShellString('foo').to('filename')`.

The meaning of this isn't very clear. You should either use `.to()` or `.toEnd()` depending on your needs. If you want to copy files, you should use `shell.cp()`.

[2017-08-04 17:15] nfischer commented on #756
Please post the code which produces the issue. It's hard to understand your problem if you don't clearly describe where the problem is.

[2017-08-05 12:20] oleghalin commented on #756
Its more my mistake, than error. I need to run shell script and continue check socket server. But while script is working socket cant get new messages.
![2017-05-29 14 06 27](https://user-images.githubusercontent.com/9086983/28995419-8feff504-79f1-11e7-9241-632878728839.png)

[2017-08-06 05:11] HardikDG commented on #480
As per wiki I need to set 'config.execPath', How can I specify that? Any sample example for it?

[2017-08-06 20:47] nfischer commented on #480
@HardikDG please see the wiki, it explains how you might find the path to your node binary...

[2017-08-06 20:55] nfischer commented on #756
Sounds like user error, I'm assuming this is not a shelljs bug. Closing.

If this is indeed a shelljs bug, then please post a *minimum code example* (the smallest possible script to reproduce the issue). And please paste it in a [markdown code block](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code) (no screenshots or unformatted code please).

[2017-08-06 20:55] #756 closed

[2017-08-07 04:20] freemine commented on #754
sorry for inconvenience.
"I tried using nexe but it kicked off a massive compilation, which doesn't sound like the correct behavior for a tiny script."

is why you see a buch of compilation. Just let it go and see. BTW, it took 1 hour for me to compile.

Again, below is the only file I demo this error.

# All versions:
[code]

# test.js as:
[code]

# steps to follow:
1. npm install shelljs
2. nexe

[2017-08-07 05:56] HardikDG commented on #480
@nfischer I already saw the wiki, from the wiki itself I come to this post, I got the path to the node in my system.
My question is where I need to set this path? it says 'set config.execPath' but where? In my JS file or in my system where?
Can you please show the command/code to set this path

Sorry if it's very stupid question but I don't have deep knowledge of NodeJS, so I don't have that idea.

[2017-08-08 01:41] nfischer commented on #754
@freemine thanks for the update. The steps are clear now. I'll try this out sometime this week and see what I can reproduce.

Please ping this bug if I don't get back to it within a week.

[2017-08-08 01:45] nfischer commented on #480
Set it like any regular variable.

[code]

[2017-08-08 04:44] HardikDG commented on #480
@nfischer  Thanks. It worked in my electron app.

[2017-08-10 00:16] moorthi07 commented on #757
sh.ShellString('foo').to('filename') - Worked . Thanks.

[2017-08-10 23:48] moorthi07 opened #759 "Results of ls differs: ls('projs/*.js') vs ls(c:/projs)"
modelsrcdir = 'c:/somedir/';
 mdirlist = sh.ls('-R',  path.join( modelsrcdir , '/*.json')  );
=> returns:
c:/somedir/a.json
c:/somedir/b.json

But ,
 mdirlist = sh.ls('-R',  path.join( modelsrcdir)  );  // or even  modelsrcdir + '/'
=> returns:
a.json
b.json

[2017-08-11 04:40] nfischer commented on #759
This is working as intended.

[code]

[2017-08-11 04:40] #759 closed

[2017-08-11 06:45] moorthi07 commented on #759
It is showing content. But one shows with 'Full path' and the other doesn't. Can you post your output for both cases pls.

[2017-08-11 06:57] nfischer commented on #759
[code]

See my comments about "relative to..." That tells you what kind of paths you should expect to see

[2017-08-17 21:34] Aghassi opened #761 "ShellJS doesn't respect NPM Registry being set outside of it"
### Node version (or tell us if you're using electron or some other framework): 8.1.4

### ShellJS version (the most recent version/Github branch you see the bug on): 0.7.8

### Operating system: macOS 10.12.6

### Description of the bug:
In a CI environment (CircleCI), my company is required to set both the `registry` and the `https-proxy` of the `.npmrc` file. These settings are not carried into

[2017-08-18 00:16] nfischer commented on #761
@Aghassi thanks for reporting. Could you try writing a bash script and seeing if that works as expected?

---

After that, could you try replacing your JS script with:

[code]

Let me know if that works as expected.

[2017-08-18 17:01] Aghassi commented on #761
@nfischer Alright so I have run a bash script (or just a line of bash in the YAML file) and it will run `yarn` just fine.

I tried what you asked, still getting errors since it can't ready the registry or our https-proxy set by npm

[code]

And the script below

[code]

[2017-08-19 09:31] nfischer commented on #761
To clarify, you still see the wrong behavior if you use `child_process.execSync()` instead of `shell.exec()`?

---

I don't know much about setting alternate registries. I assume `npm` reads from a global config file to figure out where the registry is (in which case, I don't see yet why we have a bug). Please correct me if I'm misunderstanding.

[2017-08-19 20:32] amilajack opened #762 "Discussion: migrate all imports to es6 import"
Would a PR for this be welcome?

[2017-08-19 20:36] freitagbr commented on #762
Well, I'm not sure if this is useful. ShellJS only runs on node, which does not support ES2015 imports (nor does any browser). For the time being, ShellJS will be written using only ES5 constructs for compatibility reasons.

[2017-08-19 20:44] freitagbr commented on #761
Does yarn respect npm configs? You could also try running `/usr/bin/env yarn test` to make sure the environment variables are set.

[2017-08-19 20:55] amilajack commented on #762
It's useful when used with a module bundler since es6 imports allow for dead code stripping. I'm using shelljs with webpack and electron.

[2017-08-19 21:09] freitagbr commented on #762
I see. Module bundlers and tree-shaking are useful for client-side code, where you want to send as little over-the-wire as possible. However, I'm not sure it's so useful for desktop electron apps, which are not sent over-the-wire.

Also, I think ShellJS's use of node's synchronous APIs are more of a performance consideration than dead code is.

I am open to the idea, though. ES2015+ can be transpi

[2017-08-20 07:00] nfischer commented on #762
I think it's best to postpone until we only support Node versions with native ES2015 support, or we switch to transpiling. I'm going to close this, since there's no immediate action to take.

[2017-08-20 07:00] #762 closed

[2017-08-20 23:27] Aghassi commented on #761
@nfischer Yes I see the same behavior
------
NPM reads from from `.npmrc`. You can read more on it here https://docs.npmjs.com/files/npmrc#files

There is a pecking order. I think it is Local > User > Global.
-----

@freitagbr Yes `yarn` does respect the config. But, I will also try that at the top of the NPM file to see if that works.

[2017-08-22 14:02] vongohren commented on #675
No action or close? Im doing something else now

[2017-08-22 21:20] nfischer commented on #761
Ok, so it sounds like the issue may be with node's core lib, not our module specifically. `child_process.execSync('npm ...')` should invoke whatever `npm` is in your `$PATH`.

I'm out of ideas as to what is causing this, but I don't think there's any change required for shelljs (since this appears in `child_process` too) 😕

[2017-08-22 21:21] nfischer commented on #675
ping @freitagbr any action to take here?

[2017-08-22 23:43] Aghassi commented on #761
@nfischer Does `shelljs` support passing environment variables into it? For example, `docker` and `sudo` have a `-e` flag that pass the environment variables into the command they are invoking.

[2017-08-23 02:27] nfischer commented on #761
Simplest way:

[code]

[2017-08-23 06:40] freitagbr commented on #675
Well, I'm pretty sure this would fix the problem:
[code]
This just converts the keystone string back into a buffer.

However, this seems like a good opportunity to add an `"encoding"` option to `exec`, so I will work on that.

[2017-08-24 02:06] #733 closed

[2017-08-26 07:19] Unitech opened #765 "Snyk "high security"
### Node version (or tell us if you're using electron or some other framework):

### ShellJS version (the most recent version/Github branch you see the bug on):

### Operating system:

### Description of the bug:

### Example ShellJS command to reproduce the error:

[code]

[2017-08-26 07:20] Unitech opened #766 "Snyk "high severity" issue"
Hello,

Is there any plan to fix this security issue detected by Snyk? It breaks some of our users builds

https://snyk.io/test/npm/shelljs

![image](https://user-images.githubusercontent.com/757747/29739502-ce445738-8a3f-11e7-9ae0-87c4266eeaf2.png)

Thanks,

[2017-08-26 21:35] freitagbr commented on #765
See https://github.com/shelljs/shelljs/issues/766.

[2017-08-26 21:35] #765 closed

[2017-08-26 21:50] freitagbr commented on #766
Hi @Unitech,

The issue detected is the `shell.exec` API, which uses `child_process.exec` from Node.js core internally. The issue is that one could potentially pass user-input directly to the function. In order to maintain API backwards-compatibility, we cannot change this particular method, and so we are working on introducing a new, safer API in https://github.com/shelljs/shelljs/pull/524.

Are

[2017-08-26 23:51] danday74 commented on #86
Another working example:

var command = 'git diff --color=always'

exec(command etc...)

[2017-08-29 18:31] Aghassi commented on #761
@nfischer Just got back from a trip, let me give this a try and report back.

[2017-08-30 10:02] Unitech commented on #766
Hello @freitagbr
I understand the problem. Snyk "security detection" is really too simplistic... No we do not pass anything variable to shelljs, we just use the .which method and one .exec...
Thanks for your answer

[2017-08-30 10:02] #766 closed

[2017-08-30 22:58] nfischer commented on #766
The vulnerability is known. As @freitagbr points out, it's all about how you use it. `shell.exec('printf foo')` is totally safe, however `shell.exec('printf ' + msg)` might not be.

`shell.which()` has no known vulnerabilities 😄

[2017-08-31 20:04] wldcordeiro opened #767 "Shell.js uses wrong terminal shell"
### Node version (or tell us if you're using electron or some other framework): 8.4.0

### ShellJS version (the most recent version/Github branch you see the bug on): 0.7.8

### Operating system: Mac OS X

### Description of the bug: Shell.js fails to find `jest` because it's using `/bin/sh` and not my default shell of `/usr/local/bin/zsh`

### Example ShellJS command to reproduce the error:

[cod

[2017-08-31 21:05] nfischer commented on #767
It isn't designed to use your default shell. We use `child_process.execSync`, which uses `/bin/sh` on unix.

Take a look at our [docs](https://github.com/shelljs/shelljs#execcommand--options--callback):

---

You don't really need to change the shell for this, you just need to change you `$PATH`. I would recommend doing something like:

[code]

Docs for `path.delimiter` are [here](https://nodejs.o

[2017-08-31 21:05] #767 closed

[2017-08-31 21:07] wldcordeiro commented on #767
@nfischer Thank you! I was getting confused because I had tried setting `$SHELL` and using `SHELL="path/to/shell" node file.js` and had no luck. The docs should surface that a little higher up imo.

[2017-09-05 04:18] nfischer commented on #767
@wldcordeiro feel free to send a pull request for a better spot for the docs. Like I said, the real fix is to make sure your `$PATH` is correct, not to change your shell.

[2017-09-06 19:03] dundalek opened #768 "test() does not support -w and -x options"
These are sometimes useful and are not supported as of latest shelljs (v0.7.8):

- -w file exists and write permission is granted
- -x file exists and execute permission is granted

Usage:
[code]

It can be implemented using `fs.accessSync`. Would you be interested in a PR?

[2017-09-07 21:22] wldcordeiro commented on #767
@nfischer yeah clearing up in the docs would be best. I was able to modify the `$PATH` like I needed to. 😄

[2017-09-07 22:07] nfischer commented on #768
@dundalek that approach SGTM as long as we can support Windows. We unfortunately had to drop a lot of `chmod` support because Windows handles modes very differently. Take a look at [test/chmod.js](https://github.com/shelljs/shelljs/blob/master/test/chmod.js) for all the `skipOnWin` tests.

Feel free to send a PR with tests. Appveyor will verify if the feature works for Windows.

[2017-09-07 22:24] anupamvijayvergia opened #769 "getting different result from terminal and with shelljs"
### Node version (or tell us if you're using electron or some other framework):
v6.11.3
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.8
### Operating system:
Ubuntu 16.04 (AWS instance)
### Description of the bug:
I'm trying to execute a shell script from node js file. When I'm executing this script from terminal I'm getting different result from what it retur

[2017-09-08 00:35] dundalek commented on #768
Yeah, good point. It would do nothing on windows, nevermind.

[2017-09-08 00:35] #768 closed

[2017-09-08 01:12] #769 closed

[2017-09-08 01:19] nfischer commented on #768
Maybe `-w` is ok? It seems to be allowed on Windows.

[2017-09-08 01:22] nfischer commented on #769
@anupamvijayvergia is this still an issue?

[2017-09-08 17:34] anupamvijayvergia commented on #769
@nfischer it was related to this https://github.com/shelljs/shelljs/issues/680 thanks for checking in!

[2017-09-11 02:34] freemine commented on #754
@nfischer just ping in case you're just too busy

[2017-09-11 09:49] OmgImAlexis commented on #143
Are there any updates on this? This has been open for 3 years now.

Ref: https://snyk.io/vuln/npm:shelljs:20140723

[2017-09-11 18:06] nfischer commented on #754
I can reproduce this. It seems like `nexe` has some serious issues with how our project is laid out.

It can't handle [this line](https://github.com/shelljs/shelljs/blob/master/shell.js#L25) because we determine which packages to import at runtime (even though it's from a static list in another JS file).

`nexe 2.0.0-rc.4` can handle importing `shelljs`, but errors if you try to use any methods:

[2017-09-13 04:23] ccorcos opened #770 "exec hangs when starting postgres"
### Node version (or tell us if you're using electron or some other framework):
v7.10.0

### ShellJS version (the most recent version/Github branch you see the bug on):
^0.7.8

### Operating system:
MacOS

### Description of the bug:

Prerequisites:
[code]

From the commandline, I can start and stop postgres like this:

[code]

However when I use shelljs, the command never ends like it does in ter

[2017-09-13 04:43] nfischer commented on #754
CC @calebboyd @jaredallard

Is ShellJS doing something nexe explicitly disallows, or is this an oversight by nexe?

Please add whomever is the best to answer this.

[2017-09-13 04:47] nfischer commented on #770
@ccorcos could you please try doing this with a shell script?

[code]

And then execute it with:

[code]

Do you see the same results as with Node.js?

[2017-09-13 04:49] ccorcos commented on #770
`shell.exec("bash pg.sh")` still hangs.

[2017-09-13 05:01] nfischer commented on #770
@ccorcos No, I mean run `bash pg.sh` from your shell (no Node involved)

[2017-09-13 05:27] nfischer commented on #770
You can also try `bash pg.sh | cat` and see if that affects anything

[2017-09-13 05:30] calebboyd commented on #754
@nfischer It looks like the bundler nexe is using is getting hung up on a few of the constructs in the code.

The dynamic requires as you [highlighted](https://github.com/shelljs/shelljs/blob/master/shell.js#L25)
and [this line](https://github.com/shelljs/shelljs/blob/c7d65ac5907bd95294241780deba9cdfb3d2e5a1/src/common.js#L8)

Ideally the bundler would be able to handle that pkg#main field, but it

[2017-09-13 05:47] ccorcos commented on #770
Oh yeah, bash works just the same as running pg_ctl alone. Once the
database starts, it returns control back to the shell. The point is, I'm
coordinating my entire build system using node.js so I need some way of
running this command without it hanging...
On Tue, Sep 12, 2017 at 22:27 Nate Fischer <notifications@github.com> wrote:

[2017-09-13 11:25] goloroden opened #771 "Preserve timestamps on cp?"
Basically, the title already says it all: Is it possible to preserve the timestamps of files and directories when using the `cp` command?

[2017-09-13 21:47] nfischer commented on #771
I don't think we have this functionality. We would need the `-p` flag (see [man page](https://linux.die.net/man/1/cp)).

We also have support for long options, so someone could implement the full `--preserve=` flag if they're ambitious.

PRs are welcome. The unit tests for `touch()` show some examples of checking timestamps.

[2017-09-13 21:51] nfischer commented on #770
Right. My suspicion is that the `pg_ctl` command behaves differently whether it detects a TTY or not.

You can also try using `child_process.execSync('pg_ctl ...')`. and `child_process.execSync('pg_ctl ...', { stdio: 'inherit' })`.

If those provide different results, we can investigate if this can easily be fixed/worked-around for ShellJS.

[2017-09-13 22:06] nfischer commented on #754
Are you parsing `require()` calls to determine what files to bundle vs. strip from the binary? If so, that's rather error-prone (since dynamic `require()`s are valid). In fact, we already have `.npmignore` and the [`files` attribute](https://docs.npmjs.com/files/package.json#files) for that purpose. Npm already uses those to strip files from dependencies, so your work is done for you for dependenc

[2017-09-13 23:18] #675 closed

[2017-09-14 00:13] calebboyd commented on #754
Yes. The require calls are parsed by the bundler, though nexe's focus is tying in that bundle to a runtime -- Right now we're relying on this [bundler](https://github.com/fuse-box/fuse-box) to actually assemble the application. It still has some issues I'm trying to identify and work through, hence the rc status...

You're not wrong about `pkg#files` and `.npmignore`. Just not all modules include

[2017-09-14 00:21] ccorcos commented on #770
Ah yes, this one returned! `child_process.execSync('pg_ctl start -w -D ./db', {stdio: "inherit"})`

[2017-09-14 02:59] nfischer commented on #754
Thanks for the workaround! 🎉

Why not follow [`npm`'s behavior](https://docs.npmjs.com/files/package.json#files)? Npm also documents a blacklist of files/directories it never includes; it includes everything else, unless specified otherwise.

Regardless, the bundler definitely should **not** strip files from dependencies (npm already does all valid stripping). I know some maintainers don't utilize

[2017-09-14 02:59] #754 closed

[2017-09-14 03:12] nfischer commented on #770
Sounds like `pg_ctl` requires running in a TTY (confirming [my suspicion](https://github.com/shelljs/shelljs/issues/770#issuecomment-329307412)).

As a workaround, you can use `child_process.execSync(... { stdio: 'inherit' })` or `shell.exec(... { stdio: 'inherit' })`.

If you need to actually get the stdout from the command, you'll need a different command to script postgres. If there's a trusted

[2017-09-14 03:12] #770 closed

[2017-09-14 03:22] calebboyd commented on #754
Right. like I mentioned, nexe didn't try to solve/focus on bundling -- Looks like we might need to re-evaluate the solution that was chosen.

[2017-09-14 06:53] goloroden commented on #771
Okay, thanks :-)

[2017-09-15 01:44] hstarorg commented on #86
@LucienLee @danday74 Thank you, It's useful in `gulp` too.
My code:
[code]

[2017-09-18 19:52] evcohen opened #772 "Exec function calls JSON.stringify on command"
### Node version (or tell us if you're using electron or some other framework):
v6.10.2

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.8

### Operating system:
Mac osx

### Description of the bug:
Exec function calls `JSON.stringify` on the command. This causes issues when trying to pass 64 bit unsigned long strings as arguments since JSON.stringify cannot nat

[2017-09-19 00:52] freitagbr commented on #772
I think your problem may not be with `JSON.stringify`. In the case of `exec`, it's used to address escaping issues and code-injection when the temporary JS file is written. In your example:
[code]
ends up in the temporary JS file as:
[code]
In other words, the individual parts of the command are not stringified, the whole command is. To illustrate how this prevents escaping and code-injection issu

[2017-09-20 00:53] nfischer commented on #772
@evcohen what happens if you try `child_process.execSync('foo --id 909845429478596609')`? Success or failure?

[2017-09-20 17:21] kyawko41493 opened #773 "47"
### Node version (or tell us if you're using electron or some other framework):

### ShellJS version (the most recent version/Github branch you see the bug on):

### Operating system:

### Description of the bug:

### Example ShellJS command to reproduce the error:

[code]

[2017-09-20 17:21] kyawko41493 commented on #773
I like this

[2017-09-20 17:35] kyawko41493 opened #774 "48,"
### Node version (or tell us if you're using electron or some other framework):

### ShellJS version (the most recent version/Github branch you see the bug on):

### Operating system:

### Description of the bug:

### Example ShellJS command to reproduce the error:

[code]

[2017-09-20 18:23] nfischer commented on #773
@kyawko41493 any bug here? Closing this, but ping this thread if there's a real issue.

[2017-09-20 18:23] #773 closed

[2017-09-20 18:24] nfischer commented on #774
@kyawko41493 any bug here? Closing this, but ping this thread if there's a real issue.

[2017-09-20 18:24] #774 closed

[2017-09-23 04:27] #750 closed

[2017-10-01 18:34] alexreg commented on #86
This really calls out for a proper solution. The issue is 4 years old now. Any chance of having one, please? :-)

[2017-10-03 15:34] alexreg commented on #753
Any progress on this lately?

[2017-10-03 23:26] nfischer commented on #753
A PR would be welcome (and probably not very difficult). We only call `common.log()` [here](https://github.com/shelljs/shelljs/blob/master/src/dirs.js#L192) and [here](https://github.com/shelljs/shelljs/blob/master/src/dirs.js#L196). All that's needed is a little bit of plumbing to pass command options to `_dirs()`.

---

Workaround:

[code]

[2017-10-04 09:44] parasdiwan opened #776 "Is it possible to get a js library(file) for ShellJS"
Hi

I wanted to include ShellJs in my project, i wanted to know if it is possible to get JS file for the shellJS library. Is it possible to include it just as a js file or will it be bundled along with nodejs?

[2017-10-04 20:30] nfischer commented on #776
I'm a bit confused by the question. We support installing shelljs via `npm`.

You won't be able to get very far using shelljs without node. We rely on tons of node APIs (`fs`, `os`, etc.).

[2017-10-05 09:13] parasdiwan commented on #776
Thanks for the quick reply

[2017-10-05 09:13] #776 closed

[2017-10-05 21:20] zmorris commented on #143
For anyone who gets here looking for something like PHP's [escapeshellarg()](http://php.net/manual/en/function.escapeshellarg.php), **nfischer** implemented a rather slick way of calling shell commands via proxy and passing unsafe arguments as parameters:

https://github.com/shelljs/shelljs/issues/143#issuecomment-229830399

https://github.com/nfischer/shelljs-exec-proxy

[code]
[code]
[code]

[2017-10-06 01:27] nfischer opened #778 "Feature request: provide a way to skip option parsing"
Commands like `grep()` provide option parsing, which is awesome. But it would be great if I could tell shelljs when to **not** do option parsing.

In the shell, sometimes I want to actually `grep` *for* `-v` in a file, instead of using it as [an option](https://github.com/shelljs/shelljs#grepoptions-regex_filter-file--file-).

In the shell:

[code]

Proposed shelljs feature:

[code]

[2017-10-07 00:00] LFP6 commented on #242
Just ran into this myself, and would mean poor ergonomics for the utility I'm building. What would be required in order to add this feature?

[2017-10-08 02:08] nfischer commented on #242
This is tricky to get right. Node does not offer APIs to emulate a TTY while also capturing output.

If you don't need to capture output, try:

[code]

[2017-10-10 03:54] nfischer commented on #753
Fixed in #777

[2017-10-10 03:54] #753 closed

[2017-10-12 06:13] sriyan opened #781 "shell.exec does not recognize 'webpack'"
### Node version (or tell us if you're using electron or some other framework):
v6.11.2

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.8

### Operating system:
Windows 10

### Description of the bug:
I tried to run a webpack command through shelljs exec method. But got
`
'webpack' is not recognized as an internal or external command,
operable program or batch

[2017-10-12 07:03] nfischer commented on #781
Check `shell.env.PATH`?

If webpack lives inside your `node_modules/` folder, make sure that you take a look at our [FAQ](https://github.com/shelljs/shelljs/wiki/FAQ).

[2017-10-12 07:20] nfischer opened #782 "Harden shell.exec by writing the child process in a source file"
Inspired by #524.

Exec has some security concerns, as pointed out in other issues. Due to the API contract, it's inherently vulnerable to shell-command-injection (same as `child_process.exec()`). Additionally, due to its architecture, it's also vulnerable to javascript-code-injection. This is because we write out a string (containing JS code) to a file and exec it.

I don't think we have any know

[2017-10-12 07:57] sriyan commented on #781
Thanks, @nfischer. FAQ did the trick.

[2017-10-13 06:32] nfischer commented on #781
Glad it worked!

[2017-10-13 06:32] #781 closed

[2017-10-13 06:36] nfischer opened #787 "Link to FAQ wiki section in our issue template"
Inspired by #781. It might be a good idea to add a spot in our Github issue template which mentions the FAQ in the wiki (it's easy to forget to look there). This might help people get quicker responses to their issues.

We can add this link in an HTML-style comment (``) so it doesn't show up in the actual bug report.

[2017-10-14 09:38] #714 closed

[2017-10-17 08:22] iamnapo commented on #771
I'd like to work on that 😃

[2017-10-17 18:28] protoEvangelion commented on #716
@nfischer Are there any updates or workarounds for this?

[2017-10-17 22:17] nfischer commented on #716
I'll write a FAQ for interactive programs.

[2017-10-17 23:11] protoEvangelion commented on #716
Thanks @nfischer.

Idk if this would be helpful, but I was able to get it to work using the ['exec-sh' package](https://www.npmjs.com/package/exec-sh) just by doing: `execSh(myCmd)`

Maybe their implementation would help :)

[2017-10-18 01:59] nfischer commented on #716
Workaround is in the FAQs: https://github.com/shelljs/shelljs/wiki/FAQ#running-interactive-programs-with-exec

Let me know if this doesn't work.

Duplicate of #424.

[2017-10-18 02:01] nfischer commented on #680
Duplicate of #424

[2017-10-18 02:01] nfischer commented on #716
Duplicate of #424

[2017-10-18 02:01] #716 closed

[2017-10-18 02:01] #680 closed

[2017-10-18 02:02] nfischer commented on #680
Workaround is in the FAQs: shelljs/shelljs/wiki/FAQ#running-interactive-programs-with-exec

[2017-10-18 02:04] nfischer commented on #424
I added the workaround to the FAQs: https://github.com/shelljs/shelljs/wiki/FAQ#running-interactive-programs-with-exec

[2017-10-18 02:17] nfischer opened #788 "Reduce quote escaping by using template literals"
I noticed that we're escaping quote characters in some of our test descriptions ([example](https://github.com/shelljs/shelljs/blob/master/test/ls.js#L38)). We should be able to avoid this by preferring [template literals](https://ponyfoo.com/articles/template-literals-strictly-better-strings) for such scenarios. The motivation is to improve readability.

We should also consider:

 1. Prefer templa

[2017-10-18 02:22] #732 closed

[2017-10-18 02:25] #745 closed

[2017-10-19 01:38] nfischer opened #789 "Prevent require()ing executable-only files"
This was a point raised in #786. We can prevent `require()`ing files with:

[code]

This might be a good idea for files which we only intend to execute (e.g. `bin/shjs`).

I would also consider rewriting as:

[code]

[2017-10-19 04:15] freitagbr commented on #789
Failing loudly sounds like a good behavior. That way, you can't even accidentally require the file without node exiting.

[2017-10-19 21:05] nfischer commented on #782
Initial PR has landed. Additional improvements:

 - [ ] Swap `child_process.execSync` with `child_process.execFileSync` in `src/exec.js` (this is still backwards compatible, but continues to reduce attack surface)
 - [ ] Replace `codeFile` with actual exit status (reduce file IO)
 - [ ] Consider passing parameters via CLI arg (reduce file IO, this *should* be OK after switching to `execFileSync`)

[2017-10-19 21:50] freitagbr commented on #782
I'm not sure replacing `child_process.execSync` with `child_process.execFileSync` will work, at least with the same API. For example, I can do this with `child_process.execSync`:
[code]
But I cannot do that with `child_process.execFileSync`:
[code]

[2017-10-19 23:27] nfischer commented on #782
I'm referring to the call within `src/exec.js`. Its responsibility is "launch a subprocess to run exec-child.js". This is an implementation detail, not exposing the API.

The API depends on the call to `child_process.exec()` from within `src/exec-child.js`. That's the part which cannot be changed.

[2017-10-20 05:52] nfischer commented on #651
Bumping to v0.9 milestone

[2017-10-20 05:53] nfischer commented on #551
Bumping to v0.9 milestone

[2017-10-20 05:53] nfischer commented on #500
Bumping to v0.9 milestone

[2017-10-20 05:54] nfischer commented on #420
Bumping to v0.9 milestone

[2017-10-20 05:55] nfischer commented on #397
Bumping to v0.9 milestone

[2017-10-20 05:55] nfischer commented on #396
Bumping to v0.9 milestone

[2017-10-20 05:59] nfischer commented on #103
Bumping these back to v0.9, but this should be quick to fix once v0.8 is released.

[2017-10-20 05:59] nfischer commented on #143
Bumping these back to v0.9, but this should be quick to fix once v0.8 is released.

[2017-10-20 06:00] nfischer commented on #541
No deprecated commands yet, so I'm bumping this back a milestone.

[2017-10-20 06:03] nfischer commented on #175
Due to the design for `shell.exec()`, we unfortunately can't provide good support for parameters with newlines. This will be something we support with a replacement for the `exec` API (see #524 for a WIP).

Given that, I'm bumping the milestone back to match that PR.

[2017-10-20 06:04] nfischer commented on #734
@freitagbr can you investigate this?

[2017-10-20 08:05] csvan opened #793 "Long-running async process prevents script from exiting"
### Node version (or tell us if you're using electron or some other framework):
8.6
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.7
### Operating system:
Windows 7, CentOS 7
### Description of the bug:
Starting some long-running process with `exec` and the `async:true` option in a script prevents the script from exiting. Running it from the terminal will just

[2017-10-20 09:04] csvan commented on #793
So, a trivial fix to this is to explicitly invoke `process.exit(0)` at the end of the script, but is this really expected behavior?

[2017-10-20 19:00] nfischer commented on #793
Yes, this is expected behavior. Node will not exit until all async jobs are done or you call `process.exit()` (or, if you prefer, `shell.exit()`). Why do you want to kill your script before your job is done?

[2017-10-20 19:00] #793 closed

[2017-10-24 00:27] #787 closed

[2017-10-26 01:42] nfischer commented on #761
@Aghassi is it safe to close this now?

[2017-10-26 01:43] nfischer commented on #752
@ilex0208 any update?

[2017-10-26 01:47] nfischer commented on #772
We'll remove most uses of `JSON.stringify()` as part of #782. Therefore, closing this.

I suspect @freitagbr is right, the issue with `foo` is that it doesn't handle CLI arguments correctly.

[2017-10-26 01:47] #772 closed

[2017-10-26 14:06] Aghassi commented on #761
@nfischer Yeah, I never had a chance to sit down and test it out, got pulled into other things. If I run into the problem again, I will report back here. Appreciate the follow up :).

[2017-10-26 14:06] #761 closed

[2017-10-27 00:34] freitagbr commented on #734
Yes, I will look into this.

[2017-10-27 04:29] #778 closed

[2017-10-27 15:32] dylanbhughes commented on #86
Bump

[2017-10-27 20:51] nfischer opened #795 "Add test for ls() on a symlink to a directory"
This is one of our missing areas of coverage: https://codecov.io/gh/shelljs/shelljs/src/a187bd1b36ce28a5af214607257506ee28e1beb6/src/ls.js#L80

This shouldn't be too tricky to test, but I'm not sure if extra precautions need to be taken for Windows.

[2017-10-27 20:56] nfischer opened #796 "Improve test coverage for rm"
Looking at [coverage for rm](https://codecov.io/gh/shelljs/shelljs/src/a187bd1b36ce28a5af214607257506ee28e1beb6/src/rm.js) it looks like we're missing quite a bit of coverage surrounding symlinks to directories (see also #795). Let's see if we can improve that.

We should also look at lines for which we should ignore coverage (do we need to do this for FIFOs, or can we have a unix-only test?).

[2017-11-03 14:48] drkarma opened #798 "inconsistent result when trying to echo to a file"
### Node version (or tell us if you're using electron or some other framework):
v7.10.0
### ShellJS version (the most recent version/Github branch you see the bug on):
shelljs": "^0.7.8"

### Operating system:
Ubuntu 16.04

### Description of the bug:
Scenario:
Getting a POST from a cloud-init "phone home" function that provides some data that I want to echo into separate files per data

Bug:
Ther

[2017-11-04 04:00] nfischer commented on #798
Edit: I wrapped some of your text in code blocks in the description

[2017-11-04 04:06] nfischer commented on #798
I'm a bit confused (this is a lot of text). @drkarma Could you clarify:

 1. Is this a bug with `shell.echo()`, `shell.exec('echo ...')`, or both?
 2. What happens if you use `shell.echo('my text to echo').to('myFile.txt')`?

---

In general, I would recommend trying something like:

[code]

[2017-11-05 07:52] nfischer opened #799 "Update CI to use Node v9"
Looks like 9.0.0 was [released recently](https://www.joyent.com/blog/nodejs-9-release-summary)! Time to add this to our CI list. Same thing for the shx repo.

[2017-11-06 10:48] drkarma commented on #798
Hi sorry to confuse you.
The "shell.echo()" parts are there just for troubleshooting.

Doing what you state e.g. shell.echo(myPubKeyRSA).to(myPath + 'pub_key_rsa.txt');  (and I slap my forehead for not figuring that out myself) solves my problem...but the reported issue remains.

I.e. this works
[code]

But when the same thing done when processed in the first code snip does not.

i.e. the followin

[2017-11-07 08:39] nfischer commented on #798
Great news! 🎉

---

I can't quite figure out what issue you were seeing with `exec`. I tried `exec('echo...')`, but it's echoing things as expected.

[2017-11-07 09:01] nfischer opened #800 "RFC: specify redirections with JS object parameters"
I proposed this idea a while ago, but I can't remember where. I'm looking for comments/feedback.

The basic idea is to replace this:

[code]

with

[code]

## What does this fix?

It's currently not possible to mute `echo()` with redirection, which is kind of awkward. With this syntax, we can add support in `src/common.js` to temporarily add `shell.config.silent = true`. Then we just need to write

[2017-11-08 03:37] freitagbr commented on #800
Idea: use an array instead of an object:
[code]
Another alternative is to use the same method that the `Map` constructor uses, nested arrays:
[code]

[2017-11-08 03:41] freitagbr commented on #800
In fact, arrays make sense here for another reason: redirects are ordered:
[code]
has a different meaning than
[code]
Arrays are ordered, where objects are not.

[2017-11-09 20:35] freitagbr commented on #800
For redirects, at least, bash will only treat the destination as a file descriptor address if there are no spaces in the redirect:
[code]
In our case, this is could be solved by separating the elements in the array:
[code]

[2017-11-10 01:52] nfischer commented on #734
@freitagbr is this something we can land for v0.8.0?

[2017-11-10 20:46] freitagbr commented on #734
Yeah, I can put something together in the next few days.

[2017-11-12 06:41] nfischer opened #803 "chore: upgrade nyc"
See istanbuljs/nyc#587

[2017-11-14 06:55] #803 closed

[2017-11-14 15:55] tanepiper opened #806 "Unable to delete multiline between two pattern matching with sed?"
### Node version: 8.9.1
### ShellJS version: 0.7.8
### Operating system: Linux Mint 18 (Debian based)
### Description of the bug:

Don't seem to be able to pass a sed pattern that will replace the content between two patterns.

In an existing bash script, the line is:

`sed -i '' "/^#BOOTSTRAP_START/,/^#BOOTSTRAP_END/d" ./pipeline_branch.yml`

Trying with:

[code]

To get this working I had to cal

[2017-11-14 22:43] nfischer commented on #806
Unfortunately, our `sed()` isn't as featureful as unix `sed`, so we only support in-line replacements (the `s/pat/replace/` mode).

---

We do something similar to your request in our [docs-generation script](https://github.com/shelljs/shelljs/blob/master/scripts/generate-docs.js#L30). We wipe out all the text between `## Command reference` and `## Team` using the builtin `String.prototype.replace

[2017-11-15 09:04] tanepiper commented on #806
@nfischer OK thanks.  I'll stick with the sh.exec for now so I can just use the existing patterns, but thanks for the alternative version in your code.

[2017-11-18 01:03] jaawerth opened #808 "cp -Ru respects the -R but not the -u"
Love the lib - was looking to use this to reduce copy times on builds, but ran into the following:

### Node version (or tell us if you're using electron or some other framework):
8.6.0
### ShellJS version (the most recent version/Github branch you see the bug on):
shelljs 0.7.8, tested both directly and via shx 0.2.2
### Operating system:
Arch Linux (kernel 4.13.12-1)
### Description of the bug:

[2017-11-22 22:57] freitagbr commented on #808
Hi @jaawerth, thanks for reporting this. I am able to reproduce this on Ubuntu 16.04 with node 6.12 and ShellJS 0.7.8.

Could you point out where you think the fix is?

[2017-12-04 16:41] jaawerth commented on #808
@freitagbr - I took another look, and I don't think the fix is where I thought it was - I thought the recursive code was failing to account for "update" but it's just wrapping the function that does so. It seems like some of the code here could be simplified some by breaking things down into small functions, but that's admittedly beyond the scope of fixing this bug..

Now it's gonna but me, so I'l

[2017-12-08 16:11] lixplor commented on #518
Hi! Is it possible to explain more clearly? I would also like to know how to kill long-live child process.
I tried `child.exit(0);`, `child.kill();`, `child.kill('SIGINT');`, `shell.exec('kill ' + child.pid);`. But none of them works!
I'm running script on Debian and execute a `mplayer <url>` command on a child process.

[2017-12-12 04:49] nfischer commented on #518
You'll want [`child_process.kill()`](https://nodejs.org/api/child_process.html#child_process_subprocess_kill_signal). To expand on @HustLion's example:

[code]

[code]

[2017-12-12 08:31] lixplor commented on #518
So this means Shell.js cannot kill process, we must use original `child_process` module in Node.js to achieve this.
Thanks @nfischer

[2017-12-12 22:07] nfischer commented on #518
Not true, but `shell.exec(... {async: true})` is a thin wrapper over `child_process.exec()`. If your goal is to run something async in the background, I would strongly recommend `child_process.execFile()` or `child_process.spawn()` for security reasons.

[2017-12-23 22:48] corbinu commented on #2
@nfischer Now that async/await is part of the language would you be open to a PR for this? I believe that async/await also should clear up the "what should methods be by default" as the script writer now has full control over when to wait and when for things to be async

[2017-12-27 19:46] nfischer commented on #2
@corbinu we still support Node 4. I haven't used async/await much--which node versions support them?

[2017-12-27 20:03] corbinu commented on #2
Ah ya that's a way off then Node 4 support would require Babel or Typescript compiler be integrated for back support. Node 8 is the first version that supports it out of the box. Well I will bring it backup in April 2019 then when Node 6 support ends ;)

[2017-12-27 22:33] nfischer commented on #2
@corbinu thanks! We've been trying to match our support back to supported node versions. We don't have a hard rule, but we may drop support for releases sometime during maintenance mode (so we may drop Node 4 soon).

[2018-01-05 09:15] MartinMuzatko commented on #2
Promises are supported since Node 0.12: http://node.green/#ES2015-built-ins-Promise

Right now I am working around the problem like this:
[code]

Our options are:

1. Introduce a breaking change and let `shelljs.exec` return a promise - always. Since sync-exec performs so poorly, it could be an option.
2. Offer a promisified set of functions. (Similar to how `lodash` or `date-fns` offer fp or esm

[2018-01-06 01:50] nfischer commented on #2
This is cool, maybe we could add a "promise: true" option to shell.exec? That would be backwards compatible, but could be awaited by users to emulate exec-sync.

[2018-01-06 02:38] corbinu commented on #2
@nfischer If your open to it might be better to have it be a global config that affects all methods? I am happy to put together an example PR and get your thoughts.

[2018-01-10 12:04] calligraphic opened #810 "Snyk vulnerability DB reporting command injection vulnerability in ShellJS"
### Node version (or tell us if you're using electron or some other framework):
8.0.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.8
### Operating system:
Linux
### Description of the bug:
Snyk reports high severity vulnerability in shelljs
### Example ShellJS command to reproduce the error:
In a repository with ShellJS as a dependency:
[code]
This is related

[2018-01-11 06:05] nfischer commented on #810
Dupe of #766.

Known issue. If you don't use `shell.exec()`, you have no problem. If you do use `shell.exec()`, don't pass untrusted user input (or other external values) to the function--string literals are of course the safest option.

As you pointed out, I've been working on this for a bit (#524 is a demo). The goal is to provide a better alternative to `exec` and then to deprecate it (not sure

[2018-01-11 06:05] #810 closed

[2018-01-11 06:47] nfischer commented on #808
@freitagbr can you take a look at this later? Not a big priority, but it'd be good to test and fix.

[2018-01-11 07:04] nfischer commented on #734
I think we'll have to bump this back to v0.9.0, didn't quite sort out the PR in time.

[2018-01-11 08:21] #799 closed

[2018-01-11 09:42] freitagbr commented on #808
Yeah, I will take a look when I get the chance.

[2018-01-12 05:12] #391 closed

[2018-01-12 22:10] calligraphic commented on #810
Thank you for the response, and thanks for your work on the library.

[2018-01-12 23:03] nfischer commented on #541
Let's put some more thought into solving this. I'd like to implement this with [util.deprecate()](https://nodejs.org/api/util.html#util_util_deprecate_function_string) if possible.

We should use care that `--trace-deprecation` and `--throw-deprecation` give meaningful stack traces, which point to the embedding module's code, not internal ShellJS code.

[2018-01-15 13:34] steophy opened #813 "using sed to replace just the first occurrence of a string"
Hello there

### Node version (or tell us if you're using electron or some other framework):

v7.10.0

### ShellJS version (the most recent version/Github branch you see the bug on):
v0.8.0

### Operating system:

MacOs HighSierra 10.13.2

### Description of the bug:

I'm using shelljs to perform a sed command and replace the whole line with a certain occurrence with another text. Here's the code

[2018-01-16 01:57] nfischer commented on #813
`shell.sed()` doesn't change *every* match, it changes the first match per line (so this is working as intended). To demonstrate:

[code]

---

To achieve what you want, you can try:

[code]

However, a more robust way to solve you specific problem would be:

[code]

[2018-01-16 01:57] #813 closed

[2018-01-18 00:26] gcbw opened #814 "support for node-0.10.* is broken"
this PR seems to have a race condition on when it exports the polyfill for Object.assign and when it uses it. https://github.com/shelljs/shelljs/pull/648/files

but it is over an year old, no idea why it is only giving me problems now on node-0.10.48

here is the test case:
[code]
gives: Exited unexpectedly with code: 7 (test on runkit.com with node-0.10.48)

the stack trace is
[code]

My system w

[2018-01-18 00:54] freitagbr commented on #814
Hi @gcbw, yes, we dropped support for versions of node below `v4` with the recent release of ShellJS `v0.8.0`. There are a few options here:

1. Use a newer version of node (`v4` or up). I would recommend this route, because recent versions of node have fixed some security issues.
2. Use ShellJS `v0.7.8`. This is the most recent version of ShellJS that still has support for node `v0.10+`. This cou

[2018-01-18 01:11] gcbw commented on #814
Wonder why it installed if i can see the metadata explicitly asks for node4+

strange.

well, we support several versions, think i will just drop 0.10 from our list too. thank you.

[2018-01-18 01:48] nfischer commented on #814
I believe npm does **not** reject packages based on the engines field (by default). See [the docs](https://docs.npmjs.com/files/package.json#engines) and the note about "engine-strict". Ah well...

---

Closing this, since we're not adding v0.10 support.

[2018-01-18 01:48] #814 closed

[2018-01-18 04:28] indra-Asurion opened #815 "Shelljs exec() not executing variables"
### Node version (or tell us if you're using electron or some other framework):
v8.6.0

### ShellJS version (the most recent version/Github branch you see the bug on):
"shelljs": "^0.8.0"

### Operating system:
Macbook iOS high sierra 10.13.2

### Description of the issue:
(New to Shelljs)
Shelljs exec command doesnot take variables. I tried all possible combinations like using double quotes, sing

[2018-01-18 04:55] nfischer commented on #815
I think you're looking for something like:

[code]

[2018-01-18 04:55] #815 closed

[2018-01-18 16:34] indra-Asurion commented on #815
Thanks @nfischer. It works !!
Is there a way if the variable is in the middle like this:
The command is :

I will also try to work on my end on how to concat the overall command if the variable is somewhere in the middle of the command. But if you get it first please let me know.

Thanks for the help again !!

[2018-01-18 17:15] indra-Asurion commented on #815
Found the Solution for the above issue:

shell.exec(`adb ${myvar} -l`) //This should work :)

[2018-01-18 20:11] nfischer commented on #815
Yeah, that would throw an error. That's because there's no space before `-l`. Your ES6 solution is fine (it adds the space). You can rewrite your ES6 solution in ES5 syntax too:

[code]

---

On a related note, if you need to access environmental variables, I would recommend accessing them via `shell.env`:

[code]

[2018-01-18 20:46] #637 closed

[2018-01-19 05:46] ealmansi opened #818 "Exec failing with internal error when piping large output"
### Node version (or tell us if you're using electron or some other framework):
8

### ShellJS version (the most recent version/Github branch you see the bug on):
0.8.0

### Operating system:
Ubuntu 16.04.3

### Description of the bug:
Piping medium to large amounts of output between two exec's causes the second one to fail with 'Error: exec: internal error'.

### Example ShellJS command to reprod

[2018-01-19 06:08] nfischer commented on #818
Thanks for digging into this! Yeah, it makes sense that there's a limit on argument size. Did this reproduce on 0.7.x?

It seems like #807 was wrong, and we may be able to fix this by reverting.

[2018-01-20 00:33] #818 closed

[2018-01-20 00:34] nfischer commented on #818
I'll release this in 0.8.1 soon

[2018-01-26 20:43] uclides opened #820 "error"
### Node version:
v8.9.4

### electron version:
v1.7.11

### ShellJS version:
v0.8.1

### Operating system:
Windows 10 x64

### Description of the bug:

exec: Unable to find a path to the node binary. Please manually set config.execPath

### Example ShellJS command to reproduce the error:

[code]

[2018-01-27 00:21] nfischer commented on #820
Working as intended. Please see https://github.com/shelljs/shelljs/wiki/Electron-compatibility

Is there a way we can document this better? Feedback is welcome 😄

[2018-01-27 00:21] #820 closed

[2018-01-29 20:28] #734 closed

[2018-02-01 10:58] mrt123 opened #821 "stdout not generated for unrecognised commands"
### Node version (or tell us if you're using electron or some other framework):
v8.9.1
### ShellJS version (the most recent version/Github branch you see the bug on):
0.8.1
### Operating system:
MacOS:  10.12.6
### Description of the bug:
stdout not generated for unrecognised commands
### Example ShellJS command to reproduce the error:

[code]
Expected result : should log ```command not found: bla

[2018-02-01 17:49] ksnyde commented on #2
CLI's would be made so much more graceful if we had async/await support for this amazing library. In the mean time I've added an npm library `async-shelljs` which just wraps and proxies all the shelljs functions but adds `asyncExec` function.

[2018-02-01 19:53] nfischer commented on #821
Should be in the `.stderr` attribute instead (because that's an error message). If that's not the case, let's reopen this.

[2018-02-01 19:53] #821 closed

[2018-02-01 20:11] nfischer commented on #2
If the goal is to have an async-exec which returns a promise, how about we add support for:

[code]

---

@corbinu feel free to put together a PR. I'm not opposed to a global config (I'd also like a per-call config, like `exec(..., { async: true })`, but I think it's an intensive rewrite to get async/sync versions of every function. I did a fake version of this at #387, but it just posts sync func

[2018-02-01 20:39] corbinu commented on #2
Ok will do

[2018-02-04 03:56] achekulaev commented on #704
[code]
works just fine.

I wonder why there is a need to specify this manually if `shell.which` is actually able to find `node` binary, but other that that, it works.

[2018-02-04 20:41] nfischer commented on #704
`shell.which('node')` isn't perfect: the node binary might be named `nodejs` (or any name).

I'm not opposed to trying `shell.which()` before throwing an error to the user. Feel free to send a PR.

[2018-02-06 21:08] ffischer1984 opened #822 "shelljs knows only stuff from /usr/bin and not ~/.bashrc but It's the same shell..."
Hi,
shelljs knows only stuff from /usr/bin and no environment variables from ~/.bashrc but It's the same shell like my terminal window(bin/dash)... tested at ubuntu 16.04, node 7.10.1 and shelljs from npm.

[2018-02-07 01:10] nfischer commented on #822
Here's some examples using environmental variables

[code]

I advise against `shell.exec('... $some_variable')` -- it's not cross-platform.

@ffischer1984 how does that work for you?

[2018-02-07 05:56] nfischer commented on #735
This was fixed by #802. Expect this in 0.8.2.

[2018-02-07 05:56] #735 closed

[2018-02-07 05:57] nfischer opened #823 "Update coffeescript dependency"
Coffeescript moved on npm. `coffee-script` ➡️ `coffeescript` (no hyphen).

[2018-02-07 05:59] nfischer commented on #822
Also, I assume this issue is about `exec()` specifically. `shell.exec()` uses `/bin/sh` on unix. On Ubuntu, `/bin/sh` is implemented by a shell named dash. `/bin/sh` should never look at `.bashrc` though.

[2018-02-07 06:01] nfischer commented on #782
I think this issue is done. I unchecked the bit about passing via CLI arg, since it turns out that's **not** OK (see #819).

[2018-02-07 06:01] #782 closed

[2018-02-07 06:05] nfischer commented on #224
Assuming this is fixed (we did a heavy refactor of `exec()`)

[2018-02-07 06:05] #224 closed

[2018-02-07 06:08] nfischer commented on #724
We did a big refactor of `exec()` (0.8.1) I think this is resolved. Let me know if that's not the case.

[2018-02-07 06:08] #724 closed

[2018-02-07 06:10] nfischer commented on #371
We did a big exec refactor, so I'm assuming this is no longer relevant. Holler if this issue comes back.

[2018-02-07 06:10] #371 closed

[2018-02-10 22:38] jluria commented on #823
@nfischer Hi Nate. I'd like to take care of this. I just cloned the repo and will look at the document on contributing.

[2018-02-11 19:11] jluria commented on #823
I'm not sure the process for making a PR. I guess I need to be able to push my branch up to the repo.

[2018-02-11 20:01] freitagbr commented on #823
Hey Josh, you can fork ShellJS, push your branch to your fork, and submit a pull request from that branch.

[2018-02-15 11:36] ffischer1984 commented on #822
Hi,
i used a jetbrains-IDE and started my script with the runtimeconfiguration from the IDE. It seems that this runtime-configuration has it own environmental vars because the start from terminal works well ;)

[2018-02-15 11:36] #822 closed

[2018-02-19 04:54] nickdex commented on #757
@nfischer Hi can you please give an example for typescript? Since ShellString is exported as a type is wont let me create an object ( or use it as a function)

[2018-02-20 04:26] SuhairZain commented on #167
@nfischer Is this note in the README still relevant? Also, is this issue present only on Windows or on Unix platforms as well?
[code]

[2018-02-20 06:23] nfischer commented on #167
@SuhairZain nope :smile: And #825 removes that line.

[2018-02-20 06:27] nfischer commented on #757
@nickdex I'm sorry, we don't manage the typescript type information (I'm not a typescript user, so I didn't feel comfortable taking on the maintenance burden).

One of these methods should work--if they don't, then I think that's a bug in the type information:

[code]

[2018-02-20 18:45] Aghassi opened #827 "Add a flag to generate a directory if non exists"
https://github.com/shelljs/shelljs/blob/9035b27403c7e3c3dc801939d20dec8fe6143c06/src/cp.js#L240

With regard to the line above, the current feature set `cp` will throw an error. I find that I just end up wrapping this method to check for the dir anyway and then doing a `mkdir` call. It would be nice to have a flag to allow users to request the missing folder be generated on their behalf. I have no

[2018-02-20 20:19] nfischer commented on #827
Does unix `cp` have a similar feature?

As I'm aware, the typical pattern in shell scripts is:

[code]

Same thing should translate into ShellJS easily.

[2018-02-22 01:15] nfischer opened #828 "Consider switching to fast-glob for performance"
This is a potential optimization.

I remember we switched to node-glob a while back (I think in v0.6) and got a bit of a performance hit as a result (but with significant gains in correctness/consistency). We might consider switching to [fast-glob](https://github.com/mrmlnc/fast-glob) or one of the related packages to see if we can get performance gains.

This should be an easy code change, and I

[2018-02-22 19:25] Aghassi commented on #827
It doesn't exist in a Unix shell. You are right that is the pattern. I was just curious for convenience sake so users wouldn't have to make a helper method to do just that. If it isn't something you guys want to do because you want to be true to Unix, I understand. Was just curious :)

[2018-02-22 22:09] nfischer commented on #827
Yeah, we try to stick close to unix features, and the bash pattern isn't too hard to follow. This is a reasonable feature request if we ever add lots of non-posix features.

[2018-02-22 22:09] #827 closed

[2018-02-26 16:24] dragGH102 commented on #719
@nfischer Could you clarify **how to pass /g** flag since as far I see `shelljs` doesn't use the standard / / regex delimiters?

For example in this case:

which **aims** to:

(Note that variable is used in the search as variable's name, but it's replaced with variable's value

Thanks in advance

[2018-02-27 01:00] nfischer commented on #719
The `/g` flag is poorly documented, I'd gladly review a PR adding another example to the `sed()` documentation.

However, you can find an example of how to use it under the [pipes documentation](https://github.com/shelljs/shelljs#pipes) (`/g` is **not** pipe-specific, that's just our only documentation right now). Also, take a look at our [unit tests](https://github.com/shelljs/shelljs/blob/master

[2018-02-27 12:27] dragGH102 commented on #719
@nfischer Thanks for your answer.

I've tried to use /g even by containing the string with `+`.

Could you explain me how to it in my example (see previous comment)? I don't mind with or without square brackets (if easier for you, just put `__`in the regex in front of the variable value, instead of sorrounding it with square brackets

[2018-02-28 00:12] nfischer commented on #719
@dragGH102 have you tried backreferences? Unix `sed` uses the `\1` syntax to reference the first group, while `shell.sed()` uses `$1`. You can match groups with parentheses.

I think you want a regex like `/\[([^\]]*)\]/g`.

Also, avoid `eval()` whenever possible. If these are attributes on `global` (or some other object), please consider `global[variableName]` (security implications).

[2018-03-06 17:20] mncharity commented on #426
Another option is:

    const { spawn } = require('child_process')
    spawn( command, args, { detached:true, stdio:'ignore' }).unref()

Or  `stdio:'inherit'`, for terminal io.

[2018-03-17 12:52] kayvanbree commented on #726
@akshaygarg834 Do you have shelljs running in Electron? If so, would you care to help me set it up for an open source project?

[2018-03-25 21:43] xixixao opened #829 "Force link behaves differently than on OS X"
### Node version
9.2.1
### ShellJS version (the most recent version/Github branch you see the bug on):
0.8.1
### Operating system:
OS X
### Description of the bug:
On OS X, `ln -sf ....` works even if the existing link is invalid. With `shelljs`, which uses unlink under the hood, the `ln -sf` doesn't work if the existing link isn't valid.

I'd suggest replacing unlink with `rm`.

[2018-03-26 02:43] nfischer commented on #829
Thanks for reporting! Confirmed on Linux too. The relevant code is here:

https://github.com/shelljs/shelljs/blob/9035b27403c7e3c3dc801939d20dec8fe6143c06/src/ln.js#L38-L44

I think `fs.unlinkSync()` does the right thing (don't follow links), but `fs.existsSync()` is wrong (it does follow links). We can replace this with `fs.lstatSync()`.

[2018-04-03 02:17] SeanSnyders opened #830 "Force symbolic link (ln -sf) does not overwrite/recreate existing destination"
### Node version (or tell us if you're using electron or some other framework):

8.11.1

### npm version (or tell us if you're using electron or some other framework):

5.6.0

### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.7 and 0.8.1

### Operating system:

ubuntu 14.04

### Description of the bug:

On `ubuntu` the symlink command `ln -sf` seems to not force

[2018-04-03 03:44] nfischer commented on #830
Possibly related to #829?

@SeanSnyders could you give a more complete example? It's not clear what `source` and `link` are supposed to be in your example. If one of those is supposed to be a pre-existing file, could you include the sample code which creates that?

When I run your script, I get:

[code]

Which makes sense, because I don't have `source` on my disk.

[2018-04-03 04:27] SeanSnyders commented on #830
Not sure if it is related to #829 because it works for me on `macOS`.

Yes, `source` and `link` are example folder names. It is not intended to run as-is on your machine.
The `source` being the folder to link to, and `link` being the link you are trying to create (typical `ln` semantics: see `man ln`)
And of course I cannot give you an exact code example as it depends on exact folders being presen

[2018-04-03 05:48] nfischer commented on #830
I'm not sure what "it" is. What works on macOS? Does that same thing **not** work on Linux or some other OS?

Or you could write a script *which creates* those precondition folders/files/symlinks :smile: `ln('-sf', 'source', 'link')` is obviously not clear enough: you're just quoting the docs for how to use `ln()`, not explaining the issue.

I'm happy to investigate the issue, but it helps to have

[2018-04-04 11:34] gkvappium opened #831 "How to run a exe which is a command line interface from shell js and run commands inside the opened CLI"
Hi,

I have a mobile automation framework that is typescript based . Currently I have an exe file that needs to be integrated into this framework.

This exe is a command line interface tool which actually helps me in getting various values from the connected headset. So when launched, it attached to the connected USB device (say a headset) and I can fire commands like getStatus ,getPID etc and thi

[2018-04-05 01:32] nfischer commented on #831
@gkvappium "Chaining commands" usually means one of the following:

[code]

If that's not what you mean, perhaps you can elaborate (also, please see if #424 is similar to what you're describing).

[2018-04-05 06:44] gkvappium commented on #831
Hi @nfischer ,

Let me try to explain it a little bit further. When I launch the exe, it opens up a CLI and displays something like this.

CLI version 1.4.1
Parser Protocol version: 1.0.49

There's not any HID class device with vendor usage available
(Cmd) help

Documented commands (type help <topic>):
========================================
ANC_GetAdaptiveNoiseCancelationLevel  HW_GetTemperature

[2018-04-05 08:34] Loilo opened #832 "Symlinking into a directory does not work"
### Node version:
9.10.1

### ShellJS version:
0.7.8

### Operating system:
Tested on **macOS 10.13.2** and **Ubuntu 14.04.5 LTS**

### Description of the bug:
If the destination of the `ln` command is an existing directory, `shelljs` will fail stating that the `Destination file exists`.

However, according to tests in the mentioned environments, the correct behaviour would be to put a symlink wit

[2018-04-05 22:38] nfischer commented on #831
I see. This usage is different than the "command chaining" I described in my comment. You're spawning an interactive CLI (sort of like a REPL) and then trying to input text into that REPL and capture output.

I recommend trying this out in bash first (I'll use `node` as an example REPL, since I don't know your CLI binary):

[code]

---

Some things worth noting (I'll use the term "REPL", because n

[2018-04-05 22:48] nfischer commented on #832
Hmm, it works if I use:

[code]

It looks like `ln` should behave like `cp`: if the last argument is an existing-directory, then the link should be created *inside* that directory and the link name should default to the name of the thing it points to.

Concretely, it should look like this:

[code]

[2018-04-05 23:13] Loilo commented on #832
Yep, that's pretty much what I described.

One thing to mention though (which I figured out while implementing the attached pull request): The name in fact does *not* default to the source pointed to, but the basename you provided.

By Example:

Assume the following directory tree:
[code]

If we are in `c/` and run `ln -s . ../..`, we'd expect to get a symlink named `c`, located inside `a`, pointi

[2018-04-06 00:41] nfischer commented on #832
Seems reasonable. `ln -s` is kind of funky in that respect.

[2018-04-06 00:56] nfischer opened #834 "Robustly clean up and restore state after tests"
Inspired by #833. We should create a robust solution to ensure each test runs with fresh state, and we successfully cleanup after each test.

Right now, some tests can `cd()` to change the working directory, and we won't properly cleanup after them. As an example, here's a bad `afterEach()` which assumes the test doesn't change working directory:

https://github.com/shelljs/shelljs/blob/9035b27403

[2018-04-06 01:16] nfischer opened #835 "Improve tests for ln -s with relative source arguments"
Also inspired by #833.

`ln -s` is weird in that the semantics differ depending on whether it's given a relative path or an absolute path. For example:

[code]

I *think* shelljs does the right thing, but I'm not sure if our tests obviously handle this.

We should also consider making this explicit, but adding a utility function like `utils.symlinkIsBroken(pathToLink)`.

[2018-04-06 01:35] nfischer commented on #835
Another thought regarding code coverage: how good is our coverage for *other* utilities handling broken links? For example, does `rm('-r')` do the right thing if there's a broken link in the folder? What about `cp('some-real-file', 'broken-link')`?

We might consider making a utility function called `utils.createBrokenLink()`, which creates a broken link and returns the name. Ideally, this should

[2018-04-08 13:58] patrixd commented on #133
I think this is happening again in the las version of `bin/shjs`.

[2018-04-11 18:34] horcrux2301 opened #836 "Not able to use shell.exec() command."
Node version :- v8.10.0
ShellJS version :- 0.8.1
Operating system: macOS Sierra.

Description of the bug:

I am not able to use the shell.exec command. The command I am trying to run is `shell.exec('g++ del.cpp -o del.o')` .Every time I try to use this I get the following error.

`Unable to find a path to the node binary. Please manually set config.execPath`

[2018-04-11 19:52] nfischer commented on #836
Well, what's the path to your node binary? Are you using some framework like electron?

[2018-04-13 05:29] horcrux2301 commented on #836
I am developing a package for the Atom text editor. How do I give it the path to the node binary? And also will this be platform independent, considering I will have to publish this package for others as well.

[2018-04-13 05:56] nfischer commented on #836
Atom uses electron, which we don't support. Please see the [wiki](https://github.com/shelljs/shelljs/wiki/Electron-compatibility).

[2018-04-13 05:56] #836 closed

[2018-04-15 17:59] ipsquare commented on #143
can someone please update/resolve this issue please

[2018-04-18 08:47] dwi2 commented on #795
Hello.

I tried to come up a patch for this issue but I found out something interesting. In short, I believe these issue is already covered by https://github.com/shelljs/shelljs/blob/master/test/ls.js#L333. The report of codecov might be false negative.

I did the following things:
1. It's kind of silly but I injected console.log in lines between https://github.com/shelljs/shelljs/blob/master/src/

[2018-04-18 23:51] nfischer commented on #795
Looks like you're right!

I guess we should figure out the false negative then. Thanks for starting the investigation. As an idea: you could put `console.log()` in that branch in `src/ls.js` and check travis for the log message.

[2018-04-20 14:30] edgarechm commented on #813
Wait, wait.... so reading your last comment:

"To achieve what you want, you can try:

var contents = shell.cat('myfile');
var newContents = contents.replace(/(.|\n)*(my pattern)(.|\n)*/, 'replacement text');
(new ShellString(newContents)).to('myfile');"

Your solution to the issue is .... NOT USING "shell.sed" and use "contents.replace" instead? shell.sed doesn't work for this purpose?

[2018-04-20 21:25] nfischer commented on #813
`shell.sed()` will replace the first occurrence of a pattern, *for each line* of input. It behaves like unix `sed`. If you want to only replace the very first occurrence, [String.prototype.replace](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace) is already perfect, no library necessary.

[2018-04-26 05:54] freitagbr commented on #834
I agree that `t.context.tmp` should contain the full path of the temporary directory, not the relative. But, the setup and teardown functions should take care of setting all of this up. The `setup` and `teardown` functions might look like the `beforeEach` and `afterEach` in `test/ln.js`, for example. Then, in every test, we could just put `test.beforeEach(setup)` and `test.afterEach(teardown)`. I

[2018-04-26 07:25] nfischer commented on #834
@freitagbr Huh? `beforeEach()` does run before every test, as-is. What did you mean?

[2018-04-26 08:10] nfischer commented on #834
I'll write up a PR in the next couple days.

[2018-04-26 16:44] juliandavidmr opened #839 "git command does not work with exec"
- Node version: **8.11.1**
- ShellJS version: **0.8.1**
- Operating system: **MS Windows 8.1**

### Description of the bug:

When I run a git command with the `exec` function it does not work, if I run the same command from the command terminal it does work. When running from Shelljs it returns correct results, i.e. the output code is 0.

### Example ShellJS command to reproduce the error:

I'm tr

[2018-04-26 23:52] nfischer commented on #839
@juliandavidmr Your post seems to contradict itself:

vs.

What actually happens when you run the git command, wrt exit code?

---

Could you clarify, do you mean "when I run **any git** command," "when I run **any command at all**," or "when I run **my specific git command** and not for any other git command?"

---

Ok, but could you give us more information? Like, what is the value of `.stderr`

[2018-04-27 06:25] nfischer commented on #839
@juliandavidmr Hmm I see. I'm not as familiar with Windows, so you'll have to do some of the debugging for us. Could you try running these scripts?

In cmd.exe on Windows:

[code]

And then in shelljs:

[code]

Please post the full script output.

[2018-04-27 13:54] juliandavidmr commented on #839
**The results obtained are:**

In cmd.exe on Windows:

[code]

And then in shelljs:

[code]

[2018-04-27 14:37] juliandavidmr commented on #839
The whole code is [here](https://github.com/juliandavidmr/state_proxy_git). I'm actually making an npm library to quickly change the proxy settings of various tools. Thanks for the help :)

[2018-04-27 23:41] nfischer commented on #839
Hmm you mean the terminal window gets minimized, then un-minimized? Or do you mean that `sh.exec()` spawns a new `cmd.exe` window? I'm not familiar with either happening in shelljs, but the latter sounds a lot like how vim-plug spawns processes on Windows, so I suppose it might happen for shelljs too.

This is unexpected. It seems like all of your git operations are NOOPs.

---

According to [this

[2018-04-30 07:46] dwi2 commented on #771
If no one is working on it, I'd like to give it a shot.

[2018-04-30 13:58] juliandavidmr commented on #839
Apparently the difference in outputs from the `where` is the problem. I have renamed the file `git.js` to `git_lib.js`, now the git commands are executed correctly and the `.exec('where git')"` shows only the `git.exe`. I think this is a reproducible problem, you could try to create it to evaluate the functionality of where in Shelljs.

[2018-04-30 19:36] westlakem commented on #132
Ok, but how do I specify the timeout?

[2018-04-30 20:38] nfischer commented on #132
@westlakem

https://github.com/shelljs/shelljs/blob/d7b6a1f3784fa6f9d1abcc07fcec6d08e89bf294/test/exec.js#L130

[2018-04-30 20:39] nfischer commented on #771
@dwi2 thanks! Go right ahead.

[2018-04-30 23:27] nfischer commented on #839
@juliandavidmr this has to do with how Windows handles executing commands. I think the priority is: if trying to execute a command `foo`, search in the CWD for `foo.exe`, `foo.bat`, etc. (based on the PATHEXT variable), then search similarly through each directory in PATH until a match is found.

On your machine, `.js` files can be executed by `node`, so the extension is in PATHEXT. So, `git` matc

[2018-05-01 20:06] ansongoldade opened #840 "Destination dirname used in calculation of resolvedSourcePath?"
https://github.com/shelljs/shelljs/blob/d7b6a1f3784fa6f9d1abcc07fcec6d08e89bf294/src/ln.js#L49

This may be behavior that exists to emulate the system function that it is abstracting, but I was not expecting the directory name of the destination to be factored into the calculation of the resolvedSourcePath value.

For example, `shelljs.ln('-s', 'test', 'other/test');` would use the value `other` i

[2018-05-01 22:43] freitagbr commented on #840
Hi @ansongoldade, good question! This is indeed intentional. Let's consider an example like yours, `shelljs.ln('-s', 'foo', 'bar/baz');`. In the shell, this translates to:
[code]
This creates a symbolic link, `bar/baz`. The link is to a file, `foo`, which is in the same directory:
[code]
The actual path of the source file being linked to is `bar/foo`, because it's in the same directory as `bar/baz

[2018-05-01 22:51] freitagbr commented on #834
`beforeEach()` runs before every test in that file, but not for every file. Some test frameworks have a way to specify a `beforeEach` for every test in every file, but from reading the documentation, I don't think ava has a way to do this. But that's fine, it's not a big deal if each test file has `beforeEach` in it.

[2018-05-02 03:47] nfischer commented on #840
We could probably do better to document this in the code. Let's keep this issue open to add some explanatory comments.

This issue has to do with relative symlinks, which are nonintuitive and confusing (but that's just how OSs work). @ansongoldade your workaround is a good way to avoid the headaches and confusion. In general, I recommend using absolute symlinks over relative symlinks whenever poss

[2018-05-02 14:24] juliandavidmr commented on #839
Hi @nfischer, the output of:

[code]

[2018-05-02 21:06] nfischer commented on #839
Thanks. Based on that, I'm not sure if there's anything we can do. It would appear that `.` is a magic entry: windows seems to prefer executing local files (in `.`) over anything in `PATH`. It seems this is an inherent difference in how unix and windows operate, with no clear way to workaround windows quirks.

I'll close this, because it seems that renaming your js file is the optimal workaround.

[2018-05-02 21:06] #839 closed

[2018-05-05 15:06] gms1 opened #842 "High severity vulnerability in shelljs 0.8.1"
see:
https://snyk.io/test/npm/shelljs/0.8.1?severity=high&severity=medium&severity=low

[2018-05-07 00:48] xixixao opened #843 "Streaming ls"
I love shelljs, it feels like a much better tool for making scripts than native Node APIs. One thing I'm missing is async/streaming ls. I know there is a separate issue for async, but I think that is tending towards

[code]
whereas I would like to have
[code]
Not sure what the best API is, but it would be nice to have this included. Essentially https://www.npmjs.com/package/glob-fs#stream

[2018-05-07 05:39] nfischer commented on #842
Duplicate of #766

[2018-05-07 05:39] #842 closed

[2018-05-07 21:46] nfischer commented on #831
That's unfortunate. To reiterate: the "right" way to do this is to have a binary file which *actually supports doing this.* Your binary is for interactive use, not programmatic use. Unless it has a programmatic interface (e.g., node's `-p` flag I alluded to earlier), every solution will be a hack.

I'm not sure I understand you 100%, so here are a few ways I might interpret your statement:

 1. "T

[2018-05-07 21:46] #831 closed

[2018-05-07 22:08] nfischer commented on #843
How about

[code]

This is not async, but it's essentially the interface you to use.

Closing this, because async is a long way off, and tracked in other bugs. In the future, if we do support async, then we'll probably return all filenames at once (not exactly what you asked for, but I would guess that's most appropriate for most use cases).

[2018-05-07 22:08] #843 closed

[2018-05-07 23:09] nfischer opened #844 "Appveyor installs the latest npm, instead of the latest compatible npm"
Discovered in #841, [this comment](https://github.com/shelljs/shelljs/pull/841#issuecomment-387068159).

Basically, fix [this line](https://github.com/shelljs/shelljs/blob/master/appveyor.yml#L15). We shouldn't install the latest npm all the time, because it may not be supported on older node versions.

High priority, because this will fail the next master build.

[2018-05-07 23:25] xixixao commented on #843
For posterity: The problem with returning all files at once is that once you get to 1000s of files it gets slow. It's reasonable to write shell scripts operating on large number of files.

[2018-05-07 23:27] xixixao commented on #843
Oh, and for the API, I guess better would be ala https://github.com/shelljs/shelljs/issues/396:

[code]
this could be consistent for all "streaming" commands

[2018-05-07 23:31] xixixao opened #845 "Add interactive user input method"
It would be cool to include a user input method (might be going severely out of scope of `shelljs`, but if you squint enough...), ala https://stackoverflow.com/a/44161748/1526986

[code]
with possibly multiline option relying on `ctrl-z`.

[2018-05-08 01:44] gkvappium commented on #831
Hi @nfischer,

Thanks for taking time off to elaborate this in detail.

For the moment, I've a python solution for this. EOF is being achieved by passing the actual command and lot of junk data from a text file. The cmd prompt is exiting and I also get the response from the binary. I am just filtering out what is needed from the output. I then call this file in my typescript based framework using

[2018-05-08 07:45] nfischer commented on #844
For future reference, this is a known (and intentional) npm change: https://github.com/npm/npm/issues/20425

So, we'll need to workaround this on our end until we drop node v6.

[2018-05-08 07:49] nfischer commented on #845
We would probably implement this as `shell.read`, which would be analogous to the bash builtin `read`.

There was another bug which was related to piping the process stdin to shelljs commands, such as `cat`. That sort of implementation would perhaps be related.

[2018-05-08 07:51] nfischer commented on #831
My pleasure. Glad to hear you've got a solution, hopefully you'll be able to add support for a programmatic interface upstream. Best of luck!

[2018-05-09 07:40] freitagbr commented on #806
Closing this, because the problem was resolved.

[2018-05-09 07:40] #806 closed

[2018-05-10 00:02] #844 closed

[2018-05-10 00:07] nfischer commented on #798
Closing, because we can't reproduce (and the reporter has a workaround).

[2018-05-10 00:07] #798 closed

[2018-05-10 00:08] nfischer commented on #752
Closing due to lack of response. Please ping this thread again if you can provide more information.

[2018-05-10 00:08] #752 closed

[2018-05-10 00:25] nfischer commented on #830
I tried once more today to repro (on Linux). Specifically:

 * try overwriting a **valid** symlink to a **file** with a symlink (it works)
 * try overwriting a **valid** symlink to a **directory** with a symlink (it works)

I'm closing this because I can't repro. @SeanSnyders please ping this thread if you still see the issue, and if possible, please provide more clarification.

[2018-05-10 00:25] #830 closed

[2018-05-10 00:26] nfischer commented on #800
Passing this off to @freitagbr to finalize the design.

[2018-05-10 01:48] gayanai commented on #480
@nfischer  Hi, glad to see there is  a workaround. This got failed throwing an error
[code]
May I know is there a compatible library version to make this work? Thank you

[2018-05-10 06:58] nfischer commented on #480
@gayanai does that workaround not work for you? This is still hit-or-miss, and we don't guarantee that workaround (otherwise, we would bake it into shelljs core).

[2018-05-10 20:55] nfischer commented on #480
@gayanai well, where is your path to `node`? For example, run this in the terminal:

[code]

Whatever that points to should be your `execPath` value. This is a best-effort kind of thing. If you don't have a standalone installation of `node` outside of electron, you'll need to install one for `exec()` to work.

[2018-05-10 20:58] gayanai commented on #480
@nfischer Hi
 The path is `/usr/local/bin/node` and I have referred to that path

[2018-05-10 22:18] nfischer commented on #480
@gayanai if that doesn't fix the issue, then you'll need to provide full error output

[2018-05-11 05:13] nfischer commented on #146
Blocked on issue #800. @freitagbr we could probably just merge this into that issue.

[2018-05-13 02:49] joshi-sh commented on #114
The parameter to `find` is a path, not a pattern. This functionality should be provided via the `-name` parameter instead, see https://www.gnu.org/software/findutils/manual/html_mono/find.html#Base-Name-Patterns

[2018-05-14 06:02] nfischer commented on #788
To clarify, this should be limited to only our tests (because those use ES6). Once we drop support for node 4/5, we can expand this to cover the whole source tree.

Preferring template literals for all of the tests might be a bit harsh, but preferring them over string concatenation sound reasonable.

[2018-05-16 23:17] GuyMograbi opened #851 "silent does not always work"
node 8.9.1
shelljs 0.8.1
mac osx

I expect this code to not produce any output but it does.

[code]

Run it in a git repository that does not have a branch `master2` and you should see an error printed

[code]

[2018-05-17 02:51] nfischer commented on #851
Thanks for reporting. I can repro:

[code]

This is a regression after v0.7.x. We should not output the lines with the `exec` prefix. I'll try to write up a quick fix.

[2018-05-21 06:41] gkvappium commented on #831
Hi @nfischer ,

Just a simple query. Might be silly, but can't figure out a way to actually get the return value outside the inner function.

Say if I have a function,

async commands(){
    exec('some_long_running_process', function(code, stdout, stderr) {
    console.log('Exit code:', code);
    console.log('Program output:', stdout);
    console.log('Program stderr:', stderr);
    });
        r

[2018-05-21 19:08] nfischer commented on #831
You can assign to a property on an object.

[code]

[2018-05-25 17:12] johnunclesam commented on #86
+1

[2018-05-27 04:57] gkvappium commented on #831
Thanks @nfischer . I was able to achieve this using promises. Did something like this.

    export class Commands {
        runCommands(){
            return new Promise(function (resolve, reject){
                pythonShell.run(scriptPath,function (err, result){
                if (err) reject(err);
                else resolve(result[7]);
              });
            });
          }
        }

[2018-05-27 14:54] ahmadawais opened #852 "BUG: Creating an extra -p named directory on Windows"
I am using Shelljs in create-guten-block and here's the [line of code](https://github.com/ahmadawais/create-guten-block/blob/master/packages/create-guten-block/app/createPluginDir.js#L45) which creates a directory for the user. But on Windows it creates an extra directory called `-p` as being reported in this issue https://github.com/ahmadawais/create-guten-block/issues/60#issuecomment-392333906

[2018-06-01 18:07] ankitakhatri opened #853 "TypeError: spawn is not a function"
### Node version (or tell us if you're using electron or some other framework):
Node Version: v8.11.2
### ShellJS version (the most recent version/Github branch you see the bug on):
0.8.2
### Operating system:
Mac OS High Sierra
### Description of the bug:
I am trying to run a test.sh file that prints "hello world" through my react app using shelljs.
This line: const ls = spawn('ls', ['-lh', '/usr

[2018-06-01 20:56] nfischer commented on #853
Your example code never uses shelljs. We do not maintain the child_process module.

[2018-06-01 20:56] #853 closed

[2018-06-01 20:56] nfischer commented on #853
I assume this was filed by mistake, but let me know if I've misunderstood.

[2018-06-07 14:27] exKAZUu opened #855 "echo command shows options in stdout"
### Node version (or tell us if you're using electron or some other framework):

v9.11.1

### ShellJS version (the most recent version/Github branch you see the bug on):

0.8.2

### Operating system:

Windows 10

### Description of the bug:

echo command shows options like `-n`.

### Example ShellJS command to reproduce the error:

[code]

[2018-06-07 14:43] exKAZUu commented on #855
Sorry, I now recognize I use older version of `shelljs` and there is no issue in the latest version.

[2018-06-07 14:43] #855 closed

[2018-06-08 22:48] Strum355 commented on #736
Any news on this? @types/shelljs seem to be pretty old, as they tell me i can only pass a callback to `echo('text').exec(...)` ...

[2018-06-08 23:39] nfischer commented on #736
@Strum355 I'm in favor of bringing typings into shelljs itself, but I need help setting up our infrastructure to actually test that code. Like I've said, I'm not a typescript user, so I need help setting this up with our travis/appveyor configs. This is basically step 1 that I outlined in https://github.com/shelljs/shelljs/issues/736#issuecomment-313495206.

[2018-06-10 01:47] exKAZUu opened #857 "The result of `shell.ls('XXX/**')` is not equal to `ls XXX/**`"
### Node version (or tell us if you're using electron or some other framework):

v9.11.1

### ShellJS version (the most recent version/Github branch you see the bug on):

0.8.2

### Operating system:

Mac OS

### Description of the bug:

Although `ls ~/Projects/temp_dir/**` shows the following result,
[code]
`node -p "require('shelljs').ls('~/Projects/temp_dir/**').map(f => f)"` shows the followin

[2018-06-11 17:44] nfischer commented on #857
Thanks for reporting this. I'll look into this.

[2018-06-12 11:47] Muzaffar-Munir opened #858 "partial response from nodejs to PHP using shell"
**Video Down-loader using youtube-dl nodejs and PHP**
I am developing Video downloader in which i post data in PHP and then PHP post it using AJAX on node-js endpoint and code of that endpoint is

[code]
Now i want to send partial response from nodejs to PHP to show % of video downloaded
Help me?

[2018-06-12 18:05] nfischer commented on #858
@Muzaffar-Munir this doesn't sound to me like a question specific to shelljs. If this is a general question, could you try posting on stackoverflow instead? If I'm mistaken, could you expand your question a bit more?

[2018-06-12 18:05] #858 closed

[2018-06-16 17:37] aponxi opened #859 "Support for shell function completion on IDE"
This is from WebStorm:
![github shelljs autocomplete](https://user-images.githubusercontent.com/798297/41500921-d4ce7b72-7168-11e8-85ed-63bc35e376cc.png)

None of the functions are completing. Is there a way to type cast or if not can you add a JSDoc friendly function?

In the past I've solved this problem in a few ways. Notable two:

- **Preferred**: Created a full JSDoc'ed function for my index

[2018-06-16 20:29] nfischer commented on #859
Thanks for the request! Could you link me to a github project I could open in webstorm which has mixed success at completion (i.e., shelljs doesn't complete, but some other dependency does)?

[2018-06-16 23:10] aponxi commented on #859
I don't but I can write instructions here, it's as simple as this:
- Open Webstorm
- File > New > Project  > choose Empty Project
- after the project is setup click `Terminal` on the bottom of the IDE (or open terminal at the project folder) and type:

[code]

- In the `index.js` this code should highlight the modules besides `shelljs`:

[code]

- CTRL + click to go to the source of `promisifyAll(

[2018-06-17 02:27] nfischer opened #860 "Use Travis CI's retry feature"
Our builds are very flaky. We may be able to reduce this flakiness (and the need for manual restarts) using Travis's retry feature.

Before we blindly add `travis_retry`, we should figure out which steps are most likely to fail (and would benefit from a retry).

Documentation: https://docs.travis-ci.com/user/common-build-problems/#travis_retry
Example PR: https://github.com/vaadin/vaadin-grid/pull

[2018-06-20 06:22] nfischer commented on #859
@aponxi I'm not sure what this means. What is the external library?

[2018-06-22 19:43] uttpal commented on #851
@nfischer Hey, can I try to fix this issue?

[2018-06-22 21:42] nfischer commented on #851
@uttpal sure thing. This issue fell off my radar.

[2018-06-23 15:04] uttpal commented on #851
@nfischer I raised a pr can you take a look, thanks!

[2018-06-25 00:04] nfischer opened #862 "test infra: mocks and skipOnWin conflict"
I observed this while reviewing PR #861. If a test suite uses `mocks.init()` and also uses `skipOnWin`, `skipOnWin` *should* output stderr indicating the test is skipped, but the message is actually suppressed by `mocks`.

We can fix this by capturing `process.stderr.write` on startup, within `utils.js`, instead of using `console.warn()` directly.

[2018-06-26 07:33] nfischer commented on #718
Marking this as a duplicate of #551.

[2018-06-26 07:33] #718 closed

[2018-06-27 07:02] #789 closed

[2018-06-27 15:37] hazim-j commented on #480
setting exec to async seems to work.
[code]

[2018-06-28 21:15] nfischer commented on #480
@hazim-j yes, that is another valid workaround (assuming async works for your use-case). Now that we have async/await in some versions of node, maybe this is a better workaround.

[2018-06-28 21:15] #862 closed

[2018-06-29 12:59] adityank opened #865 "How to open multiple separate instances of shells in one .js file?"
### Node version (or tell us if you're using electron or some other framework):

### ShellJS version (the most recent version/Github branch you see the bug on):

### Operating system:

### Description of the bug:

### Example ShellJS command to reproduce the error:

[code]

[2018-06-29 23:06] nfischer commented on #865
We don't support this. The shelljs module depends on (and manipulates) global state, such as working directory, env variables, file system, etc.

If you could elaborate more on your specific use-case, perhaps we can advise a solution.

[2018-06-29 23:06] #865 closed

[2018-06-29 23:12] adityank commented on #865
I want to execute commands in parallel and keep them separate. I do that manually by opening multiple terminals. But now I want to automate it.

[2018-06-29 23:37] nfischer commented on #865
The way to do this in bash is to use multiple shells (which of course happens when you open multiple terminals).

I recommend you write multiple `.js` files, and run each one in a separate process (which you could spawn from one master/bootstrap script). It would look something like:

[code]

[2018-06-30 00:56] adityank commented on #865
Thank you! I will try.

[2018-06-30 05:38] nfischer commented on #865
Right. You can provide CLI arguments like so:

[code]

And you can retrieve these arguments with:

[code]

[2018-07-03 06:59] nfischer opened #867 "Windows test failures on local machine"
I ran our test suite on my local Windows 7 machine. Although all our tests pass or skip on appveyor, I see some local test failures (please ignore the `cmd.js` failures for now). In the past, we've tried to investigate why these fail in a local run, and sometimes skip the tests in local runs to avoid failures.

Strangely, the failures all seem to be `skipOnWinForEPERM`, which means these tests are

[2018-07-04 01:20] nfischer commented on #857
Unfortunately, I don't have time to look at this. If another community member is able to investigate, I'm happy to provide advice and guidance in the codebase.

[2018-07-06 14:03] SarathSantoshDamaraju commented on #86
@nfischer any update on this? I am working on a CLI project related to git and this is basically printing the git command results in a plain text even without git default colouring. And `--color=always` is not a perfect solution as it only applies for **diff** so not a perfect fit for my requirement.

[2018-07-07 15:23] luisnaranjo733 commented on #86
Also would love to see this happen. The --color=always approach only works sometimes, for programs that have that flag. Detox, for instance, doesn't support that option.

[2018-07-09 15:46] luisnaranjo733 commented on #86
Sweetness. Sounds like using the inherit option under the hood would solve this problem.

[2018-07-10 05:53] #98 closed

[2018-07-11 22:09] nfischer commented on #828
Another related package: [sindresorhus/globby](https://github.com/sindresorhus/globby) (fast-glob under the hood, with a nicer API and good support for async-await down the road).

[2018-07-11 22:15] nfischer commented on #541
@freitagbr can you take this? It'd be good to have this finished shortly after #866.

---

Removing the "breaking" label because this issue is about support for deprecating plugins, this does not track deprecating any particular plugin.

[2018-07-11 22:30] nfischer commented on #657
From [the docs](https://github.com/shelljs/shelljs#whichcommand):

To me, "command" implies something which can be executed. Therefore, it's a bug to point to something which cannot be executed (but, as noted above, Windows and Unix have different definitions of "executability", and we need to make the right decision for each OS).

---

To examine this another way, imagine your `$PATH` is `~/first

[2018-07-11 22:32] nfischer commented on #456
I'm still unsure if this is our bug or Node's, and I don't know how to further investigate. I'm going to close this, but please ping this thread if this is still an issue and anyone has ideas for how to move this bug forward.

[2018-07-11 22:32] #456 closed

[2018-07-11 22:34] nfischer commented on #254
I'm going to merge this into #495. The new design won't use tempfiles by default.

[2018-07-11 22:34] #254 closed

[2018-07-11 22:36] nfischer commented on #143
Merging into #495, which is starting to see some traction (see #866).

Design doc: https://shelljs.page.link/cmd-design

[2018-07-11 22:36] #143 closed

[2018-07-11 22:44] nfischer commented on #175
This is an explicit design goal of https://shelljs.page.link/cmd-design. See:

I'm not sure yet if this will be achievable on Windows--we *may* use [puka](https://www.npmjs.com/package/puka#whats-the-catch) on Windows, and it explicitly mentions newlines ("line breaks") as problematic characters.

I'll add a test case for this in #866 if this is achievable on Windows. At which point I'll merge thi

[2018-07-11 22:45] nfischer commented on #103
Merging into #495.

[2018-07-11 22:45] #103 closed

[2018-07-12 01:07] nfischer commented on #186
Duplicate of #86

[2018-07-12 01:07] #186 closed

[2018-07-12 01:12] nfischer opened #872 "shell.mv does not gracefully handle file permission errors"
Originally reported here: https://github.com/shelljs/shelljs/issues/64#issuecomment-74310359 (/CC @akras14)

[code]

---

Basic issue is that `/` is owned by root, and so the user doesn't have permission to write to that folder.

[2018-07-12 01:14] nfischer commented on #64
This exception just means "there's a bug in shelljs, it didn't handle something it should have handled." So, this issue is about a very general problem.

I already fixed the mkdir issue in #474, and I filed an issue specific to mv in #872. I'm closing this in favor of the mv-specific issue.

---

Anyone stumbling across this thread: if you have a similar exception, please file a new github issue,

[2018-07-12 01:14] #64 closed

[2018-07-12 01:19] nfischer commented on #845
Vaguely related to https://github.com/shelljs/shelljs/issues/18#issuecomment-181772671. That issue is a feature request for `cat('-')`.

[2018-07-12 01:20] nfischer commented on #146
Merging into #800

[2018-07-12 01:20] #146 closed

[2018-07-12 01:29] nfischer commented on #440
This will basically be fixed in #866. Merging into #495.

[2018-07-12 01:29] #440 closed

[2018-07-12 01:39] nfischer commented on #712
Should consider the [slash](https://github.com/sindresorhus/slash) module.

[2018-07-12 01:46] nfischer opened #873 "Drop node v4 support"
According to the [Node LTS schedule](https://github.com/nodejs/Release), v4 is no longer maintained, and v6 is in maintenance mode until April 2019.

We shouldn't bother supported unsupported node versions. shelljs@v0.9.0 (our next release) should be the last minor release to support v4.

- [ ] bump `package.engines`
- [ ] change README ("ShellJS is proudly tested on every node release since...")

[2018-07-12 01:48] nfischer commented on #397
Probably won't do this. Most error conditions have an error code of `1`, making it impossible to distinguish between the conditions with just the code.

[2018-07-12 01:48] #397 closed

[2018-07-12 01:50] nfischer commented on #500
Actually, we may just deprecate and remove shjs. I don't think this binary has strong advantages over using bare `node`. I'd rather just stop maintaining this entirely.

[2018-07-12 01:52] nfischer commented on #651
Sounds like this is easier to fix when we drop v4 (#873). Let's postpone until then.

[2018-07-12 05:28] freitagbr commented on #541
Sure, I will tackle this.

[2018-07-12 06:03] termosa commented on #657
@nfischer OK. I'll send you PR soon.

[2018-07-18 21:36] srashee opened #875 "Variable usage with shell.sed() doesn't recognize JS variable"
Node version (or tell us if you're using electron or some other framework): v8.11.3
ShellJS version (the most recent version/Github branch you see the bug on): 0.8.2
Operating system: Windows 10
Description of the bug: Sed command unable to interpret variables from JS file.
Example ShellJS command to reproduce the error:

I'm using const shell = require('shelljs')
and in my post function i run the

[2018-07-18 21:46] srashee commented on #875
I apologize, here's the output I get below.

ERROR: '${REPLACEMENTVARIABLE}' is an invalid name. Valid names MUST begin with a letter or number, have between 2-50 chars, including letters, n
umbers, underscore, dot and dash

[2018-07-18 22:19] nfischer commented on #875
@srashee it's hard to understand what the expected result is. Could you elaborate?

Are `TEXTTOREPLACE` and `REPLACEMENTVARIABLE` supposed to be JS variables? `'${REPLACEMENTVARIABLE}'` is not correct syntax for es6 template literals (and, you don't need template literals for this example).

---

For future reference, [fenced code blocks](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheat

[2018-07-18 22:31] nfischer commented on #834
Another thing (caught this in #874), we should robustly set `process.env` to its original value (resetting each property). This should happen in `afterEach.always`.

[2018-07-18 22:33] #657 closed

[2018-07-18 23:03] srashee commented on #875
I apologize for being vague. Yes they are JS results that I retrieve using bodyparser. I store it in a variable called replacementvariable

[2018-07-18 23:41] srashee commented on #875
I apologize, very silly mistake. Your comment about my variable using the wrong syntax is why the error was occurring. I needed to change it to backticks.

[2018-07-18 23:41] #875 closed

[2018-07-23 03:30] nfischer opened #877 "Feature Request: sed -n"
Originally filed at https://github.com/shelljs/shx/issues/147 (CC @andrewvarga)

Original issue:

This sounds like a reasonable feature to me.

[2018-07-23 08:46] vgalka-sl opened #878 "mv silently swallows errors"
### Node version
v8.9.1

### ShellJS version
0.8.2

### Operating system
Windows

### Description of the bug
Some errors are silently ignored.

Example:
```sh.mv('foo/a/file.js', 'bar/a/file.js');```
Fails when destination directory `bar` does not exist. But no error is returned.

[2018-07-23 21:03] nfischer commented on #878
Thanks for reporting this. Confirmed this happens on unix too (via `shx v0.3.1 (using ShellJS v0.8.2)`)

[2018-07-24 13:00] davidv1992 opened #881 "shelljs.exec cannot find app.asar/node_modules/shelljs/src/exec-child.js"
### Node version (or tell us if you're using electron or some other framework):
electron 1.8.6 prebuilt from electron-builder
### ShellJS version (the most recent version/Github branch you see the bug on):
shelljs 0.8.2
### Operating system:
ubuntu 18.04
### Description of the bug:
I am building an electron app using shelljs, and after packaging with electron-builder, using shelljs.exec fails, ret

[2018-07-24 21:33] nfischer commented on #881
This *specific* message is unexpected. `exec-child.js` is a file we ship (you can see it in this repository). Can you check if this file exists anywhere in your node_modules/ folder?

[code]

---

That being said, we have never supported electron. We list some [known issues](https://github.com/shelljs/shelljs/wiki/Electron-compatibility) with possible workarounds. If there's an obvious fix for an

[2018-07-26 06:46] davidv1992 commented on #881
Figured out the issue. Because of the workaround you listed, it is using the system node.js, which doesnt know about asar archives. I am fixing this by migrating back to nodes native child_process.exec/execSync

[2018-07-26 06:46] #881 closed

[2018-07-26 21:41] nfischer commented on #881
I see. In this case, this is likely not fixable in `shell.exec()`, but I believe this will be fixed in #866 (this does not rely on spawning something with the path to the `node` binary).

[2018-07-29 09:04] rakesh-agrawal opened #882 "passphrase"
### Node version (or tell us if you're using electron or some other framework):

### ShellJS version (the most recent version/Github branch you see the bug on):

### Operating system:

### Description of the bug:

We are executing a ssh command using shelljs. It works perfectly fine when the pem file in not protected via passphrase. Is there a way that we can pass the passphrase using shelljs ?

#

[2018-07-29 10:10] Madsn commented on #813
So, nothing like this is supported?
https://stackoverflow.com/a/13438118/605449

[2018-07-29 21:44] nfischer commented on #882
This is not currently supported. To clarify, do you mean:

 1. Launch `ssh` via `shell.exec()`, and allow the user to interactively type their passphrase in the console when `ssh` prompts them, or
 2. Launch `ssh` via `shell.exec()`, and programmatically supply credentials.

(1) is a design goal for #866. (2) has obvious security implications.

---

You can also take a look at [shelljs-plugin-ssh]

[2018-07-29 21:59] nfischer commented on #813
Currently, not supported (not opposed to it, however).

Also, that wouldn't necessarily be the right solution for the original post, but that shouldn't deter us from implementing it.

[2018-07-31 18:34] xhkocatepe commented on #518
It does not clear for me. I will c.kill() and then c.killed return true, but app is running does not close.
App only close run exec or cmd ("taskkill /f ...") but I don't want to do this.

Is there any way to forcebly close over child_process ?