[2012-03-07 17:50] tbeseda opened #1 "#mv Won't Work Across Disks"
[`fs#renameSync`](https://github.com/arturadib/shelljs/blob/master/shell.js#L388) won't work across partitions or attached storage. This is by design, as `rename` is paired to the C version of the same method, which isn't able to cross disks either. (See [this closed issue](https://github.com/joyent/node/issues/2703) for more discussion about `rename`.)

A solution could be piping a `readStream` t

[2012-03-08 02:21] tianshuo opened #2 "[Feature Request] Async versions of all commands"

[2012-03-09 16:32] isaacs opened #3 "Some packages that may be helpful"
- https://github.com/isaacs/node-glob It's 100% js now, and has sync and async APIs for finding files.  Provides fancy-pants globs like Bash4 with extglob and globstar turned on (though these can be disabled).
- https://github.com/isaacs/node-touch Touches a file
- https://github.com/substack/node-mkdirp Battle tested efficient mkdir -p
- https://github.com/isaacs/node-which like which(1)
- https:

[2012-03-17 00:46] tddyco opened #4 ""For convenient iteration via `for in`, ..."?"
`ls` and `find` return objects (e.g. `{ 'file1':null, 'dir1/file2':null, ...}`), supposedly for convenience. Sure, it's nice when you're doing a `for in`, but I'm not sure why you would. This is V8 we're talking about, why not use arrays since we have access to the full set of ES5 iteration and accessor methods? (e.g. `forEach`, `filter`, `map`, `reduce`, `indexOf`)

I'd be happy to submit a pull

[2012-03-22 14:14] #4 closed, assigned to nobody

[2012-03-23 19:22] celer opened #5 "100% cpu usage when a nodejs script goes side ways executing a command."
Hi,

First thanks for writing ShellJS, so we've noticed in our project that somtimes shellJS consumes 100% cpu resources when something goes wrong with exec.

i.e.

exec("mysql -u testUser testDB < test.sql")

will sometimes hang, leaving us with 100% cpu utilization on the shellJS parent process.

[2012-03-23 21:46] arturadib opened #6 "rm() does not respect read/write modes"
Moreover things seem to behave differently on Windows vs. Unix.

This seems to be partly because of different behaviors of `fs.unlink`, partly because of our implementation.

[2012-03-25 15:51] #6 closed, assigned to nobody

[2012-03-28 20:02] celer opened #7 "Synchronous exec stalls permenantly when there is an error/w the shell"
This ShellJS script will stall indefinitely, if 'nosuchfile.txt' doesn't exist.

[code]
Will cause shelljs to stall

This fixes it:

[code]

We have forked your repo, here:  https://github.com/croteb/shelljs and will be keeping it current with our fixes.

Thanks!

[2012-03-28 21:19] jbuck opened #8 "debug flag that prints commands instead of executing"
Make has a debug flag:

[code]

It would be great to have this flag present to help debug a non-functional shelljs script. Maybe just have it print the command to the console rather than execute the command? or do both?

[2012-04-19 18:25] wayneashleyberry opened #9 "cd into home directory"
``` cd('~'); ```

Just returns an error :(

``` cd: no such file or directory: ~ ```

[2012-05-07 15:54] jbuck opened #11 "$variables in exec() aren't handled correctly"
An example shell script I'm using: `lsof -i :80 | grep node | awk '{ printf $2 }'`

What this should print out is the PID of the node process running on port 80; instead it returns `awk: line 1: no arguments in call to printf`. I can recreate this error by deleting the `$2` and running it on my terminal. I suspect that shelljs or node is incorrectly escaping or interpolating the $2 variable; I hav

[2012-05-16 19:30] michaelsbradleyjr opened #12 "global.key assigned value 'async' as a result of shell.exec(...)"
I recently integrated shelljs into one of my projects and mocha started complaining about a global leak with respect to a `key` property being set on the `global` object.

I can reproduce the effect in the REPL, i.e. independently of the project in question:

[code]

If this is an expected behavior, it might be good to document it in shelljs's README, as it took me a little while to figure out tha

[2012-05-22 19:56] #12 closed, assigned to nobody

[2012-05-29 18:32] brendandahl opened #15 "Unexpected cp behaviour with directories"
With unix cp you can do

`cp -Rf oneDir/ twoDir/`

which copies all the files in oneDir into twoDir. When I do:

`cp('-Rf', 'oneDir/', '/twoDir/');`

nothing gets copied, I have to do

`cp('-Rf', 'oneDir/*', '/twoDir/');`

from man cp

[2012-06-07 14:01] prabirshrestha opened #17 "exec does not working in mingw bash in windows"
seems like exec works in cmd and powershell in windows but stalls when running in mingw bash in windows.

[2012-06-11 08:58] roofeel opened #18 "how to read console input"
following code snipper works using 'node' command, but not works using 'sjs' command

[code]

[2012-07-18 18:02] scottgonzalez opened #20 "Cannot echo a string that starts with -"
I assume this is because `wrap()` checks for the first character of the first argument being `"-"`

https://github.com/arturadib/shelljs/blob/b5aa580668a80f7dfa59b91fcabf2048f05a6d0b/shell.js#L1035

[2012-08-02 08:18] victoruiz opened #21 "Not declared local var implies possible memory leak"
While executing testing with Mocha over a Restify server using shelljs module, appears a "possible" memory leak due tu a variable declared as global since it is not declared locally.

Script with the problem: shell.js
Line: 994
"Problematic" code: "for (letter in map)"

Var letter is not declared locally.

[2012-08-07 18:52] #21 closed, assigned to nobody

[2012-08-25 19:03] #20 closed, assigned to nobody

[2012-09-07 07:05] aeosynth opened #22 "ls -l"
I'd like to at least see the file type (file, directory, symlink, etc) and size.

[2012-09-11 22:37] arturadib opened #24 "pushd/popd"
shouldn't be hard to implement, would be awesome if someone implemented it :)

[2012-09-12 14:45] aeosynth opened #25 "`mv` fails on block, character, fifo"
from #23:

a block device (`mknod test/resources/block b 1 1`) causes the following error:

[code]

a character device (`mknod test/resources/character c 1 1`) and fifo (`mkfifo test/resources/fifo`) causes the mv test to hang

symlink, file, directory work fine. haven't tested sockets.

[2012-09-12 14:49] aeosynth opened #26 "gh-pages: clicking 'fork me' just reloads the page"
osx / chrome, the link points to the right place and opening it in a new tab works

[2012-09-15 11:45] hemanth opened #27 "Detecting shelljs/node"
Is there a way detect if `shelljs` or `node` is installed in the system, within the script. I know it's kina dumb but, say in bash script it's possible to get the the `$SHELL`

Asking this because, say one decides to write a setup script with shelljs, then node becomes a dependency to get shelljs first....so bit confused... `env['NODE_PATH']` would be useful? But also, can we know if shelljs is in

[2012-09-19 00:52] #26 closed, assigned to nobody

[2012-09-23 19:43] #15 closed, assigned to nobody

[2012-09-25 15:32] txdv opened #30 "Exporting variables."
I was wondering what is the best way to do something like

[code]

with shelljs. I guess you can use env, but I tried to change PS1 on linux and nothing happens.
I am particulary interested in changing PS1 somehow from within node.

[2012-09-25 20:48] #30 closed, assigned to nobody

[2012-09-26 05:51] #27 closed, assigned to nobody

[2012-09-28 18:41] seanmonstar opened #31 "exec with callback should automatically be async"
I see that the code allows for you to do `exec(cmd, callback)`, and it will create an empty options object. However, this will mean `async` is false, so the callback is not used.

It seems like if you passed a callback, you expect it to be async?

[2012-09-28 19:45] #31 closed, assigned to nobody

[2012-09-28 19:58] seanmonstar opened #32 "Cross-platform way to add to PATH"
I'm sure part of this should be fixed in node core, but they're just sitting on the issue (joyent/node#3728).

PATH uses `:` on *nix, and `;` on Windows. It could either provide just the separator, or provide some sort of push method.

Example:
[code]

[2012-09-28 20:53] arturadib opened #33 "Add global pollution tests"
there have been way too many leaks recently...

[2012-10-11 02:15] joques opened #34 "asynchronous exec"
Hi,
I am trying to use the `exec` function in an _asynchronous_ code as follows

<pre><code>
shell = require 'shelljs'
shell.exec('ssh -l username host \"cd Desktop; touch example.txt\"', (code, output) ->
console.log code
)
</code></pre>

Although the command is executed successfully, it doesn't print the code. So I have no way in my code to know what happened to the ssh command. Is there a diffe

[2012-10-11 12:49] #34 closed, assigned to nobody

[2012-10-25 14:32] hemanth opened #38 "We need sed -n ?"
Some like `sed('-n','/FOO/,/BAR/p',cat("cats.txt"));`
says  `sed: option not recognized: n`

[2012-11-06 00:38] geddski opened #40 "silent output"
Would be nice if there was a way to silent the ouput, for use in systems like grunt that have their own output. For example:

[code]

Now I have access to the git hash (yay), but that hash has been displayed in the console (boo).

[2012-11-06 17:54] #40 closed, assigned to nobody

[2012-11-09 16:27] stuartf opened #41 "exec doesn't work with qualified paths on windows"
A command like `shell.exec('./node_modules/.bin/mocha' + MOCHA_OPTS);` works on Linux and OSX, but on windows it complains that `.` isn't a command.

[2012-11-26 02:19] joques opened #43 "Executing SSH with ShellJs"
Hi all,
is it possible to execute an ssh command with shelljs? I get the following error
**Pseudo-terminal will not be allocated because stdin is not a terminal.**

If it is possible to execute ssh command with shelljs, could someone point me to a link or example.
Thanks
José

[2012-12-01 19:16] #43 closed, assigned to nobody

[2012-12-10 18:58] can3p opened #44 "Inconsistent behaviour of cp command with directories."
cp command behaves differently from their shell parent.
Suppose, we have the following structure:
- dir1/
  - lib/
    - main.js

Or in shelljs code:

[code]

All these commands fail on my system:

but all this calls successfully run if I've created the `dir2` directory previously.

cp from bash always creates target directory (only one level) if necessary. So all these calls finish successfully.

[2012-12-12 17:55] jackysee opened #45 "test() for binary file?"
Any way to detect a binary file?

[2012-12-24 14:51] #45 closed, assigned to nobody

[2012-12-24 16:00] #44 closed, assigned to nobody

[2013-01-02 15:39] #24 closed, assigned to nobody

[2013-01-07 14:49] rmariuzzo opened #49 "Error ENOTEMPTY when deleting a directory recursively."
Sometimes, when deleting a directory that has sub-directories and files it throw an error witch code: `ENOTEMPTY`.

When executing this: `rm('-rf', '/path/to/build/zip')` the following error is thrown:

Note: It can happen with any sub-directory, is not related to a particular directory only. It doesn't happens with files.

[2013-02-11 10:24] protz opened #51 "`exec` gets stuck on my Debian box"
[code]

Then, the nodejs process gets stuck and the only way I can get out of this is to run `pkill nodejs` in another terminal. Any ideas what might be causing this? I've installed nodejs as a Debian package, and I've also run "npm install shelljs" hoping that it would upgrade me to the latest version.

Thanks,

jonathan

[2013-03-01 01:01] wmertens opened #52 "stat"
I'd like to be able to do things like

[code]

so either mtime, atime, ctime functions or else support the "-ot" and "-nt" tests or else a stat function that basically wraps fs.stat.

Or all of the above :grin:

[2013-03-11 19:58] neonstalwart opened #55 "interpret `--` as stdin"
in jshint/jshint#687, there's an interest in being able to use the jshint cli interface by passing `--` as a filename and having the input from stdin used as the contents of the file.  since jshint uses shelljs i was wondering if it would be possible to add this support to shelljs - it's probably useful to lots of other people who use shelljs too.

i'm not very familiar with shelljs but if someone

[2013-04-02 05:25] ipeisong opened #57 "cannot install with nodejs 0.10.2"
run $ npm install [-g] shelljs
npm http GET https://registry.npmjs.org/%5B-g%5D
npm http GET https://registry.npmjs.org/shelljs
npm http 404 https://registry.npmjs.org/%5B-g%5D
npm ERR! 404 '%5B-g%5D' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, or http url, or git url.

[2013-05-03 11:59] getdave opened #60 "Redirect output to file fails"
When executing the following command directly on the cmd line the database is dumped to the file correctly.

When running the same command via ````.exec.```` using Grunt.js (see below) the output is in the console and the file is created but has no contents.

[code]

My ultimate goal is to run a dump via ssh like so:

[code]

[2013-05-10 16:38] stephenmathieson opened #63 "which and node_modules"
i know it's not (at all) mimicking `which(1)`, but imo, it'd be cool if `shelljs.which()` would check for binaries in `module.paths`.

thoughts?

i'd be happy to add this behavior if you like the idea.

[2013-05-14 22:45] khawkins opened #64 "Handling permissions errors on file I/O"
It would be nice if shelljs gracefully handled file I/O errors due to permissions issues, as opposed to the current full error dump you get now:

[code]

It seems like, for a lot of use cases (like this one), a more user-friendly error handling path could be initiated.

[2013-05-19 16:48] #57 closed, assigned to nobody

[2013-05-28 15:24] #63 closed, assigned to nobody

[2013-06-07 13:02] spion opened #66 "Rewrite exec using execsync-ng (which uses node-ffi)"
Hi,

Shelljs has been awesome so far, except for `exec`. I know how it works, with the write-to-a-temporary file loop, and I know that its a hack necessary due to the lack of child_process.execSync.

Unfortunately, exec has been very buggy for me, randomly not working on various developer and server machines. Usually it gets stuck in an endless loop. I never seem to be able to satisfyingly reprodu

[2013-06-10 20:05] ghost opened #69 "shelljs cp handling symlinks badly"
Making a build script for a project. using shelljs/make in coffeescript.
when I try to call this function:
 `cp '-fR', build_dir+'/*', dest_dir`

node kicks back this ugly chunk:
[code]
The symlink in question from the source directory is:
`../express/bin/express`
Also, I'm overwriting whatever is in the destination in this instance. That file and the express file exists, I'm sure.

On the other h

[2013-07-17 22:55] dduvnjak opened #72 "shelljs.exec stalls on Red Hat when script is invoked with 'sudo -u username'"
This is something that happens only on Red Hat as far as I know.
I'm running a npm module as a different user thant the one currently logged in, for example:
`sudo -u username client.js`

This works normally on Ubuntu and Debian, but on Red Hat it gets stuck indefinitely on this line:
`response = shell.exec('whoami', { silent: true });`

(it doesn't work for any command, not just `whoami`)

Everyt

[2013-08-14 22:37] dcbartlett opened #73 "Flesh out example of exit()"
I don't quite understand how to exit a child process using exit();

https://github.com/arturadib/shelljs#exitcode

Could you add an example to the README.md please.

[2013-09-03 17:40] ryanjarvis opened #79 "cp skipping dot files?"
It appears cp is skipping dot files.

[code]

where foo contains an .htaccess file among whatever else, bar fails to receive the file.

Tested on Windows 7, NodeJS v0.10.17

[2013-09-10 07:06] mkrech opened #81 "spawn EMFILE"
Hi,
i want to import 20000 Document files in node.js.

after 300 exec calls I get:

shell.js: internal error
Error: spawn EMFILE
    at errnoException (child_process.js:980:11)
    at ChildProcess.spawn (child_process.js:927:11)
    at exports.spawn (child_process.js:715:9)
    at Object.exports.execFile (child_process.js:607:15)
    at Object.exports.exec (child_process.js:578:18)
    at execSync

[2013-09-11 20:58] #72 closed, assigned to nobody

[2013-09-11 21:07] dduvnjak opened #82 "Versions 0.2.4 and 0.2.3 keep throwing strange errors"
I have a nodejs script that runs a lot of shell commands. In the last few days, script strarted throwing strange errors, but it continued to work.
This was the error on CentOS:
`exec: Exec returned error code1`

and this on Ubuntu:
`exec: Exec returned error code127`

When I changed the script dependencies to sue shelljs v0.2.2 the errors stopped appearing.
Note that the errors were only shown whe

[2013-09-15 21:39] #82 closed, assigned to nobody

[2013-09-21 14:20] #33 closed, assigned to nobody

[2013-09-27 15:53] arturadib opened #86 "Preserve colors in output of exec()"
See http://stackoverflow.com/a/14231570/201852

[2013-10-12 02:11] trusktr opened #90 "What about other commands?"
What about other commands? Suppose I want to do `cat "file.txt" | less`, how do I do that? Or what about `pacman -S awesome-package` (Arch's package manager)?

From the looks of it, I don't think I can, can I?

[2013-11-03 21:59] Jonovono opened #91 "Using shelljs in a CLI app."
Hello. When I run shelljs in a CLI app I get the following message (even if I just include it):

to: wrong arguments

toEnd: wrong arguments.

So this is when it is inside a file that I just run something like ./bin/sh.
# !/usr/bin/env node

Any thoughts on why this would be?

This is probably something really silly. But can someone take a look? This is the repo:

https://github.com/Jonovono/une

[2013-11-04 20:30] SBoudrias opened #92 "Only get stdout from `exec`"
When running `exec` in sync mode, you only have access to `output` which is a merge of `stdout` + `stderr`.

Would it be possible to have the content of each one of these individually when using the sync exec?

[2013-12-13 16:44] #79 closed, assigned to nobody

[2013-12-17 04:15] xliyong opened #98 "cp does not recursively copy from readonly location"
shell.cp('-R', <src readonly> , dest) fails with the following error:

cp: copyFileSync: could not write to dest file (code=EACCES): <dest>

[2013-12-18 00:23] #8 closed, assigned to nobody

[2013-12-18 00:23] #11 closed, assigned to nobody

[2013-12-28 03:59] nylen opened #100 "Symbolic links are broken!"
The new `ln` function does not work correctly in some cases:

[code]

So, there are a couple of problems here:

 * The source of a symbolic link doesn't have to exist relative to the current directory.
 * The source of a symbolic link shouldn't be resolved relative to the current directory.  If you really want to check for the existence of the source file, resolve the  source path relative to the

[2014-01-22 19:24] gdw2 opened #101 "cp -r doesn't match linux when destination doesn't exist"
In linux, `new_dir` and `existing_dir` are now copies (`new_dir` didn't exist before):
[code]
With shelljs, `new_dir/existing_dir` and `existing_dir` are copies.  I would expect the linux behavior.
[code]

[2014-01-31 20:39] topkara opened #102 "Adding callback to basic commands"
Will there be asynchronous versions of commands other than exec()?

[2014-01-31 23:45] nzakas opened #103 "Allow multiple string arguments for exec()"
I've found that I end up doing a lot of messy string concatenation with `exec()` commands. It would be nice to allow multiple string arguments that would be joined together with a space, such as:

[code]

This could easily be backwards compatible with the current function since only the first argument is currently a string.

[2014-02-12 11:22] uhunkler opened #106 ""ln" not found (OS X)"
I used the "ln" command in a script and got the "ln" not found error. I uninstalled and installed the latest shelljs. I checked on a computer with Mountain Lion and another one with Maverick.

Looking at the locally installed shell.js I definitely don't see the definition and includes for "_ln". In the "src" folder there is not file "ln.js" either. In the Github repository I see the includes and t

[2014-02-23 23:41] Bartvds opened #108 "Massive CPU usage on exec() windows"
A project I work on used ShellJS to run a node.js based JS compiler, but it was slow and had massive CPU usage on Windows.

While researching it found this comment: https://github.com/arturadib/shelljs/blob/master/src/exec.js#L66-L68

We swapped ShellJS for a `child_process.spawn()` and so far it looks like we gained ~20% overall speed with a lot less CPU use.

No idea what is going on in that syn

[2014-02-25 22:36] raphaelcruzeiro opened #109 "Cannot find module 'shelljs' after installing shelljs with npm"
I have installed shelljs with npm with no problems:

[code]

But when I try to import shelljs into my project I get the error:

[code]

I have trying installing shelljs both globally and locally. I am using OS X Mavericks 10.9.2. Npm lists shelljs as installed:

[code]

[2014-02-25 23:02] #109 closed, assigned to nobody

[2014-02-25 23:07] #108 closed, assigned to nobody

[2014-03-07 17:43] lgtout opened #111 "listen for intermittent output of a long-running child process"
hi.
i hope i'm posting this in the right place.
is it possible to listen for intermittent output of a long-running background child process, such that the parent process is not blocked?
thanks much.
julian

[2014-03-07 18:16] #111 closed, assigned to nobody

[2014-03-12 22:10] dearfrankg opened #112 "run string --> shelljs -e 'echo("hello")'"
run string  --> shelljs -e 'echo("hello")'

[2014-04-01 18:21] drekio opened #113 "How would you close an exec process that runs indefinitely?"
How would I close an exec that runs constantly?

[code]

[2014-04-04 19:43] ritch opened #114 "find() should work like find(1)"
I expected the following to work... but took a look at the docs and `require('shelljs').find` quite a bit different than I expected.

Here is what I'm trying to do:

[code]

This is obviously not possible with `sh.find`. You have to do something like

[code]

Would be nice if it supported the same functionality as `find(1)`.

[2014-04-08 14:44] #113 closed, assigned to nobody

[2014-04-16 01:08] utensil opened #115 "sed() could support replacement function"
Currently `shelljs.sed` only supports replacement string. With just a couple of lines, it can support replacement function too. Wonder if it's ok to do so? If there's no objection, I'll create a PR for it.

[2014-04-19 13:26] utensil opened #118 "grep() should fully support globing"
`grep()` should fully support globing, such as `*/*.md` or `**/*.md`.

I would create a PR for this issue.

[2014-04-21 17:55] #115 closed, assigned to nobody

[2014-04-21 18:05] #118 closed, assigned to nobody

[2014-04-26 01:49] jiyinyiyong opened #121 "Use make to call asynchronous tasks"
Quite some tasks in Node are running asynchronously that makes it hard to chain with `target.task`.
Like RequireJS which uses `.done` to add callback, and Browserify which use `exorcist` and `fs.createWriteStream` to finish writing file.
Is there are good solution for `shelljs/make` to make it easier to script rather than hacking with callbacks or something else?

[2014-05-03 14:00] slang800 opened #122 "touch command"
I'd find this useful, and there's already a package for doing it here: https://github.com/isaacs/node-touch. It just needs to be fitted to work with the shelljs interface.

Thoughts?

[2014-05-09 06:24] coodoo opened #123 "Use case for global installed shelljs"
I find the description to have shelljs installed globally quite interesting - especially the avoiding bash script part, could any one shed a light on how some of the use cases could be? Thanks.

[2014-05-09 06:51] kaisatec opened #124 "installed shelljs on osx but reported error: npm ERR! 404 '%5B-g%5D' is not in the npm registry."
GET https://registry.npmjs.org/%5B-g%5D
npm http GET https://registry.npmjs.org/shelljs
npm http 304 https://registry.npmjs.org/shelljs
npm http 404 https://registry.npmjs.org/%5B-g%5D
npm ERR! 404 '%5B-g%5D' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm ERR! 404 tarball, folder, or http url, or

[2014-05-09 13:10] joques opened #125 "shelljs and node 0.10.28"
Hi,
can I use shelljs with a node version higher than 0.10.26? I've upgraded yesterday from 0.10.26 to 0.10.28 and now my shelljs exec function stalls. I went back and checked the changes to node and realized that there were some changes in 0.10.27 regarding child process. I just don't know if these changes have been integrated to shelljs.
Which version of node.js should be used with shelljs 0.3.0

[2014-05-09 13:48] #106 closed, assigned to nobody

[2014-05-09 18:16] #124 closed, assigned to nobody

[2014-05-11 05:50] XhmikosR opened #127 "Windows failing tests"
[code]

[2014-05-21 19:01] dcharbonnier opened #132 "add timeout option for exec"
http://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback

[2014-05-31 19:24] ndelitski opened #133 "shjs command always exits with zero code"
Lets write a simple test ``test.js``
[code]
then after i type ``shjs test.js || echo 1`` console gives me no output, but ``node test.js || echo 1`` ended with 1 code as expected. Tested in Linux and Windows.

Maybe I do not catch up something... But obviously ``shjs`` must persist exit code from script it running and i see this logic in ``shjs`` file, but in `./bin/shjs` new child node process doe

[2014-06-29 10:30] facundofarias opened #136 "Can't install shelljs locally instead of globally"
As specified on the documentation (http://documentup.com/arturadib/shelljs), I tried installing shelljs locally (given that the option [-g] looks optional), but I am having this issue on the console:
[code]
Is this behavior by design? Should I install shelljs always globally?
Thanks

[2014-07-01 13:17] ainthek opened #138 "shell builtin"
stupid question: can I call shell-builtin ?
Im trying exec with history
getting:
'history' is not recognized as an internal or external command,
operable program or batch file.
Exit code: 1
Program output: 'history' is not recognized as an internal or external command,
operable program or batch file.

[2014-07-07 20:47] idearat opened #140 "cp -R dir/ target fails to copy hidden files in dir"
The code for cp appends '*' to the source directory name if it ends with '/'. This causes the resulting file lookup to overlook hidden files in the source directory and fail to copy them.

[2014-07-10 11:04] adrior opened #142 "exec('lessc ... > ...') generates empty files"
Hello!

I try to run [lessc] (http://lesscss.org/usage/#command-line-usage) with exec(). But it's generates empty css file and output resulting css into stdout.

For example, exec('lessc blocks.wizards/wiz-serp-recipe/0.1.0/wiz-serp-recipe.mobile.less > blocks.wizards/wiz-serp-recipe/0.1.0/wiz-serp-recipe.mobile.css') creates empty wiz-serp-recipe.mobile.css file and output resulting css in consol

[2014-07-23 12:14] d11wtq opened #143 "Escaping shell arguments to exec()"
First of all, I just want to say thanks for writing shelljs. It cleans up my code a lot.

I need to invoke commands with `shell.exec()`, however, those commands will include some input from external sources, to be passed as arguments to system executables. Is there a "safe" way to do this? I was hoping for the classic array syntax, like:

[code]

Though this doesn't seem to be implemented. It does

[2014-08-02 06:18] d11wtq opened #144 "Would like to see more async variants for cp/rm etc"
Currently shelljs is useful in test suites and such like, but not so useful in a production nodejs app, if there's a need to copy/delete directories recursively, since it doesn't offer async variants of these filesystem commands. Is this a matter of principle, or just that the work hasn't yet been done?

[2014-08-11 01:17] aurium opened #146 "`.to(file)` does not mute STDIO output"
`node -e "require('shelljs/global'); echo('some words').to('/dev/null')"`
Must not print `some words` on console.

[2014-08-11 23:57] #91 closed, assigned to nobody

[2014-08-12 23:47] aurium opened #148 "pipe to proc"
Does shelljs have something to simulate "`command1 | command2`"?

A possible usage:
[code]

[2014-08-22 03:02] jfrumar opened #153 "Q.ninvoke() returns undefined"
I am promisifying a node-style function using Q.ninvoke(), but it returns undefined. This is a surprise to me:

[code]

promise is undefined (but the ninvoke function calls the .then() function correctly).

I'll just create use a deferred object using Q.defer() for now.

[2014-08-22 03:03] #153 closed, assigned to nobody

[2014-08-22 22:58] aurium opened #154 "`exec(...).to(file)` should work"
We know `exec(...).output.to(file)` works, but... why to be so verbose?

`node -e "require('shelljs/global'); exec('git status').to('/tmp/file')"` should work.

[2014-08-22 23:58] aurium opened #155 "implement mktemp"
Something simpler than http://linux.die.net/man/1/mktemp
[code]
is better than
[code]

That can also accept the same [unix's mktemp](http://linux.die.net/man/1/mktemp) params:
[code]
...and that allows:

[code]

[code]

[2014-08-29 00:02] amjibaly opened #156 "`error()` is broken after running `exec()`"
Something seems broken with the `error()` function after running exec. I would expect `error()` to always return something if `exec().code !== 0` but that is not the case. Some sample output from the console:

[code]

It works better with a command like `cd` but the output from `error()` is still incomplete:
[code]

[2014-08-29 00:17] amjibaly opened #157 "exec() breaks if executed in a deleted directory"
Sample:

[code]

This works in bash:
[code]

[2014-08-31 14:51] eGavr opened #158 "Something went wrong"
I've `exec`ed the shell script in a loop for a few time and after some iterations I've received this error:

[code]

Can you help me? What is it?

[2014-09-08 18:28] patrickarlt opened #159 "Don't modify string prototype"
Ran into an issue debugging an issue with a coworker.

If the `string` module is included anywhere downstream of `shelljs` you get a pair of warnings.

[code]

Here is the script to duplicate the issue.

[code]

This has already been caught by several other issues...

* https://github.com/jprichardson/string.js/issues/73
* https://github.com/paazmaya/grunt-trimtrailingspaces/issues/1
* https://git

[2014-09-09 08:07] gkovacs opened #160 ""exec" causes LiveScript interpreter (lsc) to hang"
I'm using a CoffeeScript dialect called LiveScript: http://livescript.net/ . A test case is below, executing it either in the interactive LiveScript interpreter or by saving it to test.ls and running with lsc test.ls causes it to hang after outputting "foo" and "bar" (so it's hanging on the shell.exec call).

console.log 'foo'
shell = require('shelljs')
console.log 'bar'
console.log shell.exec('ls

[2014-10-10 08:50] arufian opened #161 "The installation would break on Windows 7"
Because there are many dependencies, I could not continue install this on win7.
And more problem to delete the "node_modules" because many path was too deep, that made the path too long.

[2014-10-11 17:11] #161 closed, assigned to nobody

[2014-10-17 01:01] pdehaan opened #162 "Cannot recursively list all *.js files"
I think I'm either missing something... It seems like you can pass an `-R` flag to the `ls()` command and it should search recursively, but if I specify a file filter (*.js only) then it seems to ignore the recursive flag...

### Steps to reproduce:
[code]

### Output:

[code]

### Workaround:
Use `find()` and do your own file filtering using the `Array.filter()` method.

[2014-11-05 00:53] Globegitter opened #165 "Not all output is being displayed"
I don't know why exactly, but if I run an async `exec` command `fig up`, from https://github.com/docker/fig it does not display all of the output.
Don't know how I can help with any more detail, but it is when it logs the output from the docker containers.
If there is any other way I can help nailing down the specifics of this bug, let me know.
(silent is false of course)

[2014-11-13 19:32] MetaMemoryT opened #167 "high cpu usage during synchronous exec"
Still getting 45% cpu usage when running synchronous exec on windows 8.1

[2014-12-15 06:30] DinisCruz opened #170 "Any plans to add the equivalent of 'ps' command?"
The objective would be to have process status (https://en.wikipedia.org/wiki/Ps_(Unix)) information in a standard way across OSx, linux and windows?

See http://stackoverflow.com/questions/27478237/in-node-and-coffee-script-finding-a-particular-process-running-using-the-equiva/27478311 for the thread that got me here

[2014-12-16 21:53] justinmchase opened #171 "Is there a way to suppress pushd/popd output?"
Normally I could pipe it to /dev/null but I don't know how to do that in shelljs. The stuff it prints out is not useful to me and it adds a lot of visual clutter. I would like to have a way to suppress the output but I can't quite figure out how to do it.

[2014-12-16 21:58] justinmchase opened #172 "cp --update flag"
It would be nice to support the -u/--update flag for the cp command.

[2014-12-19 20:49] fenuks opened #175 "Command can't have \n"
exec hang when executing command with /n. Its probably because wrong escaping.
E.g. this will hang:

[code]

Child_process.exec works just fine.

[2015-01-04 13:36] zanona opened #176 "Bracket expansion not working"
Apparently when running:

[code]

Will always return an empty array, which makes me think bracket expansion is not supported yet?

[2015-01-05 17:03] CaptainQuirk opened #177 "Is it possible to call exec with a command containing new lines ?"
Hi there,

I'm trying to execute the following git command call

[code]

Calling shell.exec(command) with this just hangs there. The new lines are \n inserted as is in the javascript String.

I guess that's not the proper way to do this but I found nothing in your tests checking for the existence of a newline character in the command to execute and act accordingly.

Thanks in advance

[2015-01-05 17:10] CaptainQuirk commented on #177
Dupplicate of #175, sorry

[2015-01-05 17:10] #177 closed

[2015-01-07 02:33] jihao opened #178 "shelljs 0.3.0 - child process not terminated when its task finished"
I am using shelljs.exec and shelljs.rm in a callback which takes a list of filename and do some business.

the main program was a long running process which will run for like 30 minutes, and I find lots of node child process were generated and not terminated during the main program running life cycle.

I was expecting after I call shelljs.rm, the child process should be terminated.

[hadoop@master

[2015-01-07 19:59] andreialecu commented on #49
+1 Seem to be getting the same error here on Windows occasionally. It's annoying becuase I'm running a pretty big test suite and the tests randomly fail because of this and I need to restart it every time until it eventually works.

[2015-01-07 20:10] andreialecu commented on #49
I have changed the code block at https://github.com/arturadib/shelljs/blob/master/src/rm.js#L49 with this:

[code]

And I can indeed see that there are some files left behind sometimes, randomly.

[2015-01-11 11:06] andreialecu commented on #49
I think the only way to fix this on Windows is to auto-retry. I have found a library that doing exactly this here:
https://github.com/isaacs/rimraf

[2015-01-11 11:50] andreialecu commented on #49
I made a pull request for this that auto-retries for up to 1 second on Windows. See #179

[2015-01-13 08:33] dreamstu commented on #18
+1

[2015-01-13 20:45] rektide commented on #2
With promises in language now, this is ever-more temptatious a ticket.

[2015-01-13 21:06] tracker1 commented on #2
I know this is old... but just had a though regarding adding async...  Add a ".promise" method onto each given method for an async version that returns a promise (ex `shelljs.cp.promise(...)`).  Such can then be used as-is or with something like co (until yeild is available).

If you use something like [i-promise](https://www.npmjs.com/package/i-promise) then you can punt the issue of using a prom

[2015-01-13 21:50] tracker1 commented on #18
See [readline](https://www.npmjs.com/package/readline) or [readline-sync](https://www.npmjs.com/package/readline-sync)

`readline-sync` defaults to stdio, for `readline` you'll need something like below...

``js
//readline
var readline = require('readline');

var rl = readline.createInterface({
  input: process.stdin,
  output: process.stdout,
  terminal: false
});

rl.on('line', function (cmd) {

[2015-01-15 07:53] VectorHo opened #180 "EBADF, bad file descriptor"
on window platform，use exec，eg：

[code]

[code]

[2015-01-19 15:04] chirantan opened #181 ""Cannot extract package" with node-webkit"
I successfully used shelljs on node console. It does exactly what I need. However, when I use it with node-webkit, it gives me this error (Copy-paste it in browser's address-bar)

[code]

I've googled this and came across a similar issue here – https://github.com/nwjs/nw.js/issues/1493. But the solution doesn't seem to be in my hands. My node version is v0.10.33 and node-webkit version is 0.11.5.

[2015-01-21 16:21] samartioli commented on #165
I see this also... From time to time I will see output. Take the following example from my gulpfile:

    gulp.task('build', function() {
        var newIteration = ("0000" + (parseInt(build.iteration) + 1)).slice(-4);
        var newVersion = pkg.version + '-' + newIteration;
        sh.exec('docker build -t my-api:' + newVersion + ' .');
        sh.exec('docker tag -f my-api:' + newVersion + ' m

[2015-01-29 19:35] JohnnyMarnell commented on #181
having same problem.  don't want to switch to child_process :-/

[2015-01-31 18:29] wascou opened #183 "Chown"
Please, provide us a chown commmand !
Thank you.

Max

[2015-01-31 21:09] olsonpm commented on #148
FWIW, I just cloned the repo with the same question in mind.  The following command
[code]
the word pipe only showed up three times in src/test.js and once in the README.  My guess to this question then is "no"

[2015-02-07 06:46] lockevn opened #186 "command exec("something here", {silent: false}) does not output "colored" text"
Hi, I use exec() to run build script (MsBuild on Windows). It runs fine, except one thing that it ignore colored text output by MsBuild. It leads to warning and error text is bypassed and is hard to recognize.

Example for reproducing:

[code]

Could you please check it? Thank you.

[2015-02-11 23:19] JoshGalvin commented on #1
Still broken.

[2015-02-12 16:43] thunderace commented on #181
Same here. node-webkit 0.12.0-alpha2-win-ia32.

[2015-02-12 23:34] nzakas opened #188 "Pass command line params to the make tool"
I'm using the make tool, and I'd like to be able to pass in command line arguments to it. I tried this:

[code]

It seems that all parameters are treated as potential targets. Would it be possible to use `--` as a delimiter to pass in command line arguments?

[2015-02-13 19:20] akras14 commented on #64
`mv` has a similar issue.

[code]

In comparison `exec` seems to handle it gracefully, so I am switching to exec for my purposes.

[code]

[2015-02-19 20:38] gregglind commented on #188
(this is similar to the solution npm run-script uses, for what it's worth).

Edge cases here... should the args go to *each* target?

[2015-02-20 14:16] gregglind commented on #188
@nzakas, here is a mostly equivalent drop-in for `shelljs/make`:  https://gist.github.com/gregglind/fc11df28d4d8702c7eef

[2015-02-25 13:38] mattheworiordan commented on #5
I have the same issue, the sync version causes very high CPU utilisation.

[2015-02-26 16:11] jraede opened #191 "mv does not work with mounted network drives"
When I try to run `shelljs.mv(from, to)` where `from` is on the main HD and `to` is on a mounted network drive, I get the following error:

`EXDEV, cross-device link not permitted`

This works fine with `fs.renameSync` and the `mv` library from npm.

[2015-02-27 00:30] tivac commented on #191
This is a dupe of https://github.com/arturadib/shelljs/issues/1, I've got a PR for it here: https://github.com/arturadib/shelljs/pull/187

[2015-03-05 18:51] cookch10 commented on #159
Also experiencing this issue.  Please fix.

[2015-03-10 01:29] MarianoRemedi commented on #181
I'm new in this and I was having the same problem "Cannot extract package", "Failed to unzip the package file: ".
My problem was that when I renamed the zip file, the .zip extension was still there e.g.: app.nw.zip (now that I see it I was little bit stupid I think).
So the .nw extension was  part of the file name and it wasn't an extension
I'm using WinRar, what I did was:
-Open winrar and select

[2015-03-10 15:37] crjobson opened #193 "cp -r breaks when the directory contains a softlink"
Assuming you have the following folder structure:
[code]

When you do:

[code]

The code for `cp` looks at the first argument, and realizes this is a list, so expands it.  For each item, it uses ‘lstat()’ to determine the file type – and if the file is a soft link, what the actual target type of the file is.  So for my case, I have a folder under 'foo' called ‘bar’, which is soft linked to a targe

[2015-03-15 19:14] shivapoudel opened #195 "Find which shell is being used"
Just like which OS platform is used, how to determine if windows powershell is used ;)

[2015-03-15 20:08] aurium commented on #66
Node now supports `child_process.execSync` https://nodejs.org/api/child_process.html#child_process_child_process_execsync_command_options

[2015-03-16 18:26] shivapoudel commented on #17
@arturadib any progress regarding this ;)

[2015-03-16 18:27] shivapoudel commented on #17
Cause stall for this snippet ;)

[code]

[2015-03-17 14:52] arturadib commented on #17
we recently changed the exec command to use Node's latest `execSync`.. can you please try the latest version from npm? (0.4.0) thanks

[2015-03-17 17:36] shazahm1 commented on #17
@arturadib

The latest update may fix this issue, don't know yet because now there is a new error. I'm guessing it has to due with space characters in the path name. Please see the attached screenshot. Notice the very first error, the path name is truncated at the first space in the path name.
I think there might be an issue with spaces in the path name in po

![2015-03-17_13-24-48](https://cloud.

[2015-03-17 17:37] shazahm1 commented on #17
Oh, it  works fine when run from cmd.exe.

[2015-03-17 17:38] arturadib commented on #17
@devTristan I know you've been looking for Windows bugs to solve, this may be a good one! :)

[2015-03-17 20:51] shazahm1 commented on #17
Ok, I did two tests...

 1. I move my project to a path which did not contain spaces in the path name. I got the exact same error message when using powershell; cmd worked fine.
 2. I created a new admin user on my Win8.1 machine and logged into it. This new user did not have a space in its name. I opened powershell and navigated to the project that i created for `1.` and it worked.

So the issue

[2015-03-17 21:02] shazahm1 commented on #17
Ok, I tracked it down to the _tempDir() function.

I changed this:

[code]

To this:

[code]

And it worked from powershell. The temp file ended up being written to the project folder instead of the temp folder in `c:\TEMP`.

What the solution is from here, I do not know... but hopefully this helps!

[2015-03-18 18:24] #195 closed

[2015-03-20 17:40] aurium commented on #148
Well, lets design it?

My `pipe` example method is not a good solution. This design asks the `pipe` parameter to be a shell command to be executes like `exec` does. How to use built-in `sed` and `grep`?

A solution may write pipe as a context object for other `shelljs` filter methods:
[code]
May `pipe` be configured? If not `pipe` can be implemented as a getter and the `()` is useless.

### A simp

[2015-03-23 11:39] jeroenverfallie opened #196 "0.4.0 broke our circle builds."
[grunt-release](https://github.com/geddski/grunt-release) updated their node packages to the latest version last night, including this one, as of 0.4.0 this happens on our circleci build's `npm install`

Specifically, it can't delete this file: `shelljs/test/resources/ls/filename(with)[chars$]^that.must+be-escaped`

https://github.com/arturadib/shelljs/blob/master/test/resources/ls/filename(with)%

[2015-03-23 12:02] jeroenverfallie commented on #196
Update:

It's very likely that our circle setup has always fetched the module from its cache, and never had to update the module, thus, never had to delete it.
Because the version is updated now, it's failing for the first time.

I can't confirm this though, but circle's npm install can't get rid of that one file, that's for sure.

[2015-03-23 17:01] willfarrell commented on #2
+1 for promises

`sh.cp(...).then(function (data) { ... })` seems to be the standard these days.

[2015-03-24 10:39] dominykas opened #197 "Problems with exec (sync) on 0.12/io.js"
When the process being `exec`'ed errors out and outputs a lot of text, `shelljs` errors out on node 0.12/io.js (i.e. when support for actual `execSync` is present) on Travis (I'm not able to reproduce this on my Mac).

See this gist: https://gist.github.com/dominykas/f67e139a93fffdeb4c11

See `output-mac.txt` for the expected case (i.e. `git` command errors out, dumps quite some text) and see `out

[2015-03-26 16:12] agoston commented on #92
+1

[2015-03-26 19:01] steveoh commented on #159
[to](https://github.com/arturadib/shelljs/blob/20db182fcbc96cb8bb4ece2c748b15b755b022ba/shell.js#L58)
and [toEnd](
https://github.com/arturadib/shelljs/blob/20db182fcbc96cb8bb4ece2c748b15b755b022ba/shell.js#L62)

prototype violations. This should be fairly simple to fix?

[2015-03-26 19:19] jprichardson commented on #159
I've published a new version `3.1.1` of `string.js` that should work around this problem.

[2015-03-27 02:12] justinmchase commented on #171
Thanks, I wish this was on pushd/popd functions themselves instead of exec but it'll do for now.

[2015-03-31 01:03] gatkinsNZ opened #198 "cp.js cpdirSyncRecursive doesn't correctly handle symlinks on windows"
The change https://github.com/arturadib/shelljs/commit/74ed9ca300a069092d5d3e62f8716a568aa25872 has broken recursive folder content copying on windows 8 when using symlinks. Instead of copying the symlink, it creates a junction link which links to the original file as if it was a directory not a file. This causes errors when using the files.

Came across this issue when using cordova CLI to do an

[2015-03-31 17:44] dominykas commented on #197
Updated the top post with a reduced test case - it seems that if there's an error, the output stream is getting closed too soon on nodes with support for `execSync`.

[2015-04-03 06:29] ibigbug opened #199 "`common.error` doesn't throw"
[code]

Only console.log, no throw for catching this situation.

[2015-04-06 00:43] AlexisCaffa commented on #181
Possible problems:

a) Guess NodeWebKit zip module dosen't quite support unicode path. Ex.: Look for hidden files name ending with ~ and delete all..
b) The limit of 260 characters of route on win32

[2015-04-08 04:07] stoeffel commented on #186
same here on osx

[2015-04-17 06:40] garytaylor opened #201 "Cross platform way to handle spaces in filenames"
In windows, if we have a path such as C:\Program Files\foo\bar.exe and we use this string to pass to shelljs.exec(), it fails as C:\Program is not an executable.  On linux, it does a similar thing.

I have written code to work around this in my app, so if it is running in windows, it adds quotes around the path - or if we are on linux, max osx etc.. then we search for spaces and replace with '\ ',

[2015-04-20 03:12] tracker1 commented on #201
You should be able to consistently escape cross platform with double-quotes ("some string"), which should be a singular item in your arguments list.  In general the windows way will work cross platform, also, most windows applications/shells/programs support forward slashes as path separators, in case you are dealing with similar issues for relative paths.

[2015-04-28 15:19] tobiastom opened #202 "CLI Version"
It might be nice to add a CLI version of the commands. This would allow people to use the commands directly inside the `package.json`.

For example:

[code]

This would make the cp task available which then could be used in every operating system, no matter if it is included or not.

Right now I would need to add a separate tool for each job (for example [cpy](https://www.npmjs.com/package/cpy)).

[2015-04-29 17:39] sean-hill opened #203 "Enter text to prompt"
Hey there,

I'm trying to automate a build process for Android apps with gulp. Here is the gulp task I have wrapped around `shelljs`:

	gulp.task('jarsign-android', function(callback){
		var command = 'jarsigner -verbose -sigalg SHA1withRSA -digestalg SHA1 -keystore release-key.keystore <path-to-apk> release';
		sh.exec(command, callback);
	});

However the `jarsigner` command asks for the passwor

[2015-05-03 21:50] iolufemi commented on #18
+1

[2015-05-03 21:50] iolufemi commented on #203
+1

[2015-05-04 16:49] iolufemi commented on #203
Save your passphrase in a file, eg. passkey.txt

Then use the command like this;

[code]

[2015-05-04 16:51] sean-hill commented on #203
Sweet thanks!

[2015-05-04 16:51] #203 closed

[2015-05-04 17:04] iolufemi commented on #18
See the method used in issue #203
If it relates to this.

[2015-05-05 23:03] mandb commented on #5
same issue, just doing this as fast as possible:

stat("/tmp/shelljs_f96bb1d9c47d577da6b2", 0x7ffff928b908) = -1 ENOENT (No such file or directory)
open("/tmp/shelljs_a75e65249275e587da3a", O_WRONLY|O_CREAT|O_TRUNC, 0666) = 49
pwrite(49, "a", 1, 0)                   = 1
close(49)                               = 0
stat("/tmp/shelljs_f96bb1d9c47d577da6b2", 0x7ffff928b908) = -1 ENOENT (No such file o

[2015-05-09 11:36] JoachimR opened #205 "boolean return value for string.to()"
when I try to write to a file using the string.to() function, it says in the console:

[code]

It would be nice if the _to() function would return false when there was an error like this

[2015-05-09 16:27] nzakas commented on #188
@arturadib any interest in this? I can make a pull request if so.

[2015-05-09 16:53] arturadib commented on #188
@nzakas sounds good to me.. I like that there's a precedent in `npm run-script`. mind adding a note about it in the README too? thanks!

[2015-05-09 16:53] arturadib commented on #188
@nzakas oh also, please @-mention me in the PR as my notifications are mostly muted these days :)

[2015-05-09 17:18] nzakas commented on #188
Will do, thanks!

[2015-05-11 08:32] JoachimR commented on #205
my workaround so far:

[code]

[2015-05-14 16:59] Frikki commented on #188
May I ask, what’s the status?

[2015-05-14 17:31] charlierudolph opened #206 "write after end: internal error"
Unsure whats going on here. Redacted some of the paths but the gist is I was just running a simple git command with `exec` and this error occurs inconsistently.

[code]

[2015-05-19 14:23] #188 closed

[2015-05-20 03:39] qiluo opened #208 "exec failed to return"
I'm trying to call

[code]

the command failed to return, don't know if it's related to `cmd <<<`

[2015-05-20 15:59] mastern2k3 commented on #133
bump,
I'm using shjs with TeamCity, and this behavior is hiding errors, fixing this would be great..

[2015-05-26 02:43] seangenabe commented on #202
+1 I kinda need this too. Currently I'm depending on cp (assuming msysgit is installed). I'm planning on making my own module, but this one seems a better place for it to be in.

[2015-05-26 12:04] wayneashleyberry commented on #9
Closed due to inactivity.

[2015-05-26 12:04] #9 closed

[2015-05-26 14:11] EragonJ commented on #86
:+1:

[2015-05-27 19:42] rexim commented on #92
+1

[2015-05-28 19:16] pwang2 commented on #206
+1

[2015-05-28 20:30] pwang2 commented on #206
Just in case we are doing something quite similar on jenkins.  if you do shelljs.exec('git checkout branchname') when you are already in that branch, you will get this error.

[2015-05-29 13:03] nilssolanki commented on #86
:+1: Please.

[2015-05-29 13:10] philipplaeubli commented on #86
+1

[2015-06-01 06:56] Nirazul commented on #86
+ 1

[2015-06-02 09:58] dmccer commented on #206
+1

[2015-06-02 17:41] myndzi commented on #159
Extending the prototype at all is dubious, especially implicitly instead of explicitly, but doing so with functions that dirty the filesystem is just nasty. I just spent two hours of my day running down where a mysterious file was coming from that's a result of what appears to be nasty behavior on the part of both shelljs AND string.js; either fix will do, but they both need it.

[2015-06-04 23:55] Zhongtang commented on #92
+1

[2015-06-09 05:29] stevemao commented on #175
Is this problem solved?

[2015-06-09 05:34] stevemao commented on #175
You should probably use `\\n`?

[2015-06-10 07:47] stevemao commented on #175
Apparently travis does not like newline `$'\n'`

https://github.com/travis-ci/travis-ci/issues/4061

Have to use `child.exec` for now :(

[2015-06-11 11:51] anselmh commented on #202
That would indeed be awesome. Any plans of doing that, @arturadib?

[2015-06-11 13:17] arturadib commented on #202
No plans, could either be a separate package or if someone wants to take a stab at it and send a PR I'm happy to take a look, thanks!

[2015-06-11 17:52] victorwpbastos commented on #186
same here on windows 7.

[2015-06-12 02:35] n2liquid commented on #122
This is from 2014 and there's still no touch command? I'm not trying to be a prick, but how come this project doesn't have that?

[2015-06-12 04:13] n2liquid opened #209 "Where is standard error going to?"
If I run:

    console.log(sh.exec('echo WHOA THERE, AN ERROR CONDITION... 1>&2'));
    console.log(sh.error());

I get:

    WHOA THERE, AN ERROR CONDITION...
    { code: 0, output: '' }
    null

So how do I get messages from standard error in JavaScript?

[2015-06-12 14:39] slang800 commented on #122
oh - I totally forgot about this issue.
@Schoonology - why don't you want deps?

[2015-06-16 17:03] Schoonology commented on #122
@arturadib can chime in with other reasons, but my biggest reason is keep the installation process of shelljs as simple, fast, and low-risk as possible.

I understand that `touch` is a relatively simple module in practice, but it brings along with it `nopt`, an option parser, because `touch` includes a `bin` script. It's well within the realm possibility that some native library is found to implem

[2015-06-16 17:23] n2liquid commented on #122
If touch needs native deps, I think that's a good enough reason to leave it out. It's not like I can't install node-touch alongside shelljs if I need it anyway. They can be like Batman and Robin or something.

[2015-06-16 19:47] devTristan commented on #122
To add dependencies while (mostly) guaranteeing future stability, npm's [shrinkwrap](https://docs.npmjs.com/cli/shrinkwrap) feature can be employed. That way, any dependency (or sub dependency) changes must be signed off on and cannot be brought in automatically.

[2015-06-16 19:57] slang800 commented on #122
touch doesn't need native deps... AFAIK, it's pure JS and so is nopt

[2015-06-17 10:25] arturadib commented on #122
it looks like `touch.js` from `node-touch` is merely ~150 lines of JS code, we could bring it over and adapt it to the way we handle arguments (so as to not use `nopt`).

I've been favoring this method of implementing features mostly because (like `touch`) most commands are only ~100 lines long, and so mapping our way of handling arguments and options to a library's isn't worth the trouble.

@n2li

[2015-06-17 14:18] manovotny commented on #206
I hit this exact same issue today trying to use `exec` to run `git checkout gh-pages`.

I tried to dig into shelljs, but all the further I got is that [it seems to be failing on the `common.state` of `tempdir.js`](https://github.com/arturadib/shelljs/blob/master/src/tempdir.js#L36). Once I try to step overt that line, it just bombs. Which is weird as it's just checking the `state` object in `commo

[2015-06-17 14:34] slang800 commented on #122
...or we could fork it into a new library (the 150 lines of JS w/out nopt), then make both node-touch and shelljs depend upon that micro-library. Then way collaborators from both projects would be maintaining the same code.

[2015-06-17 16:12] manovotny commented on #206
A couple of updates...

* Unlike @pwang2, I was not already on the branch. I was simply trying to check it out locally for the very first time.
- When I reported the issue, I was using version `0.5.1`. I tried downgrading to `0.5.0`, but the issue persisted. Downgrading to `0.3.0` seems to make the issue go away and the script runs successfully.

Hopefully that helps isolate the issue some more.

[2015-06-19 20:18] pwang2 commented on #206
you could just use shjs CLI to run your shelljs_0bab9ffb523df5123cf6 file.  The case here is more node childprocess io pipe.  Here is the result for my case.
[code]

git:(develop) ✗  **node** /var/folders/9s/3y2vm83n1ng8svlgfnvq618n74grbf/T/shelljs_71a1b17f63dfdbdc7568
done2
done3
done4
done5
Already on 'develop'
events.js:85
      throw er; // Unhandled 'error' event
            ^
Error: write af

[2015-06-19 20:26] pwang2 commented on #206
so, NOT only checkout current branch will get this. My apologies.

[2015-06-22 13:40] lvanengelen opened #210 "`cp` does not overwrite files by default"
In POSIX `cp` would just overwrite a file by default, without requiring the `-f` option.  This quite surprised me.  Was this done to make the `cp` behaviour a bit saver? In that case, would it be possible to mention this in the docs?

[2015-06-22 20:28] DmitryEfimenko opened #211 "Execute a file"
I have a `.sh` file to be executed. Is there a way to do that with shelljs?
Below does not work on Windows:
[code]
**myScript.sh**
[code]

[2015-06-26 14:51] vincentcr opened #212 "shelljs creates a file called 'string' with content 'testtest' when loaded by grunt"
see this comment: https://github.com/jprichardson/string.js/issues/127#issuecomment-108023794

I have shelljs loaded because it's a dependency of grunt-contrib-jshint, and I see the same behavior.

[2015-06-30 11:10] FlorianLoch opened #213 "How about handling of asynchronous targets in make mode?"
I would really like to see a feature for enabling me to have multiple targets with asynchronous code that get executed synchronously - like e. g. done in ```mocha```.

http://mochajs.org/#asynchronous-code

One would only have to define the order in which the targets are processed. I guess in order of appearance would be fine.

I could implement the functionality if there would be acceptance for i

[2015-07-03 02:04] TimothyGu opened #215 "Use semantic versioning and bump to 1.0.0"
The ShellJS API is pretty stable by now, so I think it is time for us to mark the version as 1.0.0. This would simplify dependency management as users would just know if a version is backwards-compatible or not.

[2015-07-04 20:31] FlorianLoch commented on #213
Any comments on this?

[2015-07-07 14:17] kingscott opened #217 "Cannot run shell.exec"

[2015-07-07 14:17] #217 closed

[2015-07-07 14:20] kingscott opened #218 "Cannot run shell.exec('heroku config:push') -- just hangs"
Using shelljs to automate some bash commands in my gulpfile and for some reason shelljs won't run:  `heroku config:push`. So far it has been able to run every other command, and I can run this heroku command after with no errors; just a bit unsure why ShellJS is hanging on it.

It is a plugin from heroku, so this could be the root of the issue.

Thanks!

[2015-07-09 13:10] petebacondarwin commented on #212
Yes, this is annoying. How about we go with the hard-coded list of string methods instead?

[2015-07-10 10:20] codemakerlive commented on #202
There's this module (which is currently on shelljs 0.2.6): https://github.com/nzakas/shelljs-nodecli. I didn't author it but if you could contact Nicholas perhaps the 2 projects could be merged.

[2015-07-14 23:50] trusktr opened #219 "[idea] Add chmodr function."
Like `chmod`, but recursive.

[2015-07-19 12:36] sbmaxx commented on #86
+1

[2015-07-22 15:08] ArielAbreu commented on #206
+1 I get this by running `exec('unzip blah.zip -d folder')`.

[2015-07-24 22:27] sdegutis opened #220 "Doesn't work inside Electron"
No idea why.

[2015-08-05 18:45] nfriedly commented on #159
+1 This looks to be the root cause of https://github.com/watson-developer-cloud/nodejs-wrapper/issues/56 / https://github.com/jprichardson/string.js/issues/160

[2015-08-05 19:35] az7arul commented on #159
version `3.3.1` of `string.js` now ignores the `to` and `toEnd` methods to get around this problem

[2015-08-10 15:55] #206 closed

[2015-08-12 15:17] JulianLaval commented on #86
+1

[2015-08-14 14:00] snuggles08 commented on #211
_No._ shelljs is not an _interpreter_ (something that executes code directly), it allows you to write shell-script (`.sh`) _styled_ scripts in _Node.js_. Windows does not come with an shell-script _interpreter_.

[2015-08-14 18:17] #211 closed

[2015-08-15 14:33] mtscout6 opened #223 "Consider creating a GitHub Organization with more maintainers"
@arturadib I understand the pressures you can encounter when an OSS library becomes more than you can bare on your own. May I suggest that this repo get transferred to a GitHub Organization where you can assign a team to help you maintain it? By the shear number of stars and pending pull requests it's clear that the work you've done is really appreciated. This is something I did with the react-boo

[2015-08-15 14:44] arturadib commented on #223
yes! but even that takes time, and I'd have to find folks who can maintain the project with the original philosophy in mind (no bloat, as close to *nix as possible, etc). I'll try to find some time to look into this soon

[2015-08-17 15:59] zzuhan commented on #181
Same problem。
`Failed to unzip the package file: var/folders/56/pgyp3jdx185c2vnvqc_5xk7r0000gn/T/shelljs_f41bba3860ab2159fd1a`

shelljs create this file, and the name has uppercase and number, I think it's the problem.

[2015-08-20 19:03] charlierudolph commented on #100
Bump on this.

I wanted to have the source be relative.

Another error is that when checking whether or not dest exists.
If the dest is already a symbolic link, it follows it.
Thus is dest is a symbolic link pointing to a path that doesn't exist, it attempts to link and fails.
[code]

[2015-08-22 20:46] orbatschow opened #224 "Execute child.stdout.on before child.on("exit")"
[code]

The output of this command is :

[code]

What do i have to do, to make shelljs return all data immediately and before on exit is executed ?

[2015-08-24 13:12] devTristan commented on #224
[code]

[2015-08-24 14:24] boutell opened #225 "ls globbing does not behave like shell, consider using glob.sync"
ls() globbing does not behave like the shell. For instance, this doesn't work:

/opt/stagecoach/apps/*/current/public

The * does not match path components in the middle of a path.

The same thing works, however, if I use the glob module's "glob.sync" method instead.

I suggest using glob.sync rather than a homegrown implementation of ls.

This would impact the options currently supported by ls ho

[2015-08-24 15:43] Synturas commented on #224
Everything is now printed in the correct order, but end is always undefined:

[code]

[2015-08-24 18:20] devTristan commented on #224
[code]

[2015-08-26 18:04] rezonant opened #226 "Not all tests pass when umask is not set to 0022"
For me, I use 0077 (thus resulting in 600 (rw-------) on touch), and tests within tests/cp.js and tests/chmod.js fail. Changing my umask to 0022 and recloning the repository results in all tests passed.

liam@aether:shelljs-test :) umask 0077
liam@aether:shelljs-test :) git clone https://github.com/arturadib/shelljs.git
liam@aether:shelljs-test :) cd shelljs
liam@aether:shelljs :) npm install
liam

[2015-08-26 18:30] rezonant commented on #226
Furthermore, it appears that umask inappropriately influences symbolic chmods, ie the following operation results in a no-permissions (000) state:

$ umask 0077
$ touch file
$ node

$ ls -la file
---------- 1 liam liam 0 Aug 26 13:36 file

[2015-08-28 13:17] ibigbug opened #229 "shelljs.exec('aaa && bbb') blocks"
When running cmd with `&&` and the first cmd fails, the while loop will block the process.

[2015-09-02 21:40] cvrebert opened #231 "sed() should accept multiple file arguments"
[Unix sed accepts multiple files](http://pubs.opengroup.org/onlinepubs/7908799/xcu/sed.html). Is there a reason ShellJS's sed doesn't, or has just nobody gotten around to it yet?

[2015-09-04 14:58] kingscott commented on #218
I was doing this locally.

[2015-09-04 15:09] kingscott commented on #218
I can definitely give it a try. What does the run do that it doesn't do otherwise?

[2015-09-04 15:16] fcpauldiaz commented on #218
Well, I use it to run local commands on the heroku cloud. Here is a list of the heroku commands. https://devcenter.heroku.com/articles/using-the-cli

[2015-09-09 21:58] medihack commented on #18
I am having the same problem as in #203, but I don't want to provide a text file with the password. I want to type it in manually. Doesn't seem to work with shelljs :-(
+1

[2015-09-11 05:13] dandv commented on #223
:+1:

[2015-09-11 05:14] dandv commented on #202
That would be *so* awesome for [using npm as a build tool](http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool) instead of grunt, gulp etc.

[2015-09-11 14:31] arturadib commented on #223
this has been done. I'll work on finding more maintainers

[2015-09-11 14:31] #223 closed

[2015-09-11 16:11] mtscout6 commented on #223
Fantastic!

[2015-09-11 16:13] mtscout6 commented on #223
For what it's worth I'd be interested in joining, I have recently taken up a DevOps team lead for my employer. We are rebuilding a lot of our Ruby Infrastructure with Node and this project will continue to get more and more useful for us. I'll be honest that I won't be up to much for the next month or so, but I can start to help with issue reviews on occasion.

[2015-09-11 16:25] keithamus commented on #202
It'd be great to see shelljs have a set of binaries matching all of the available commands - not just for windows compatibility, but for better compatibility between Linuxes and BSDs

[2015-09-11 17:56] Schoonology commented on #100
@arturadib - How likely do you think it is that someone is relying on this incorrect behaviour?

Currently, we're resolving both paths and creating a symbolic link to the former by absolute path. The way native `ln` works is to leave the former alone, creating a symbolic link at that path _relative to the symbolic link_. Fixing this bug would result in matching native `ln`.

[2015-09-11 20:43] arturadib commented on #100
@Schoonology I think we should stick to the mission of mocking *nix behavior as much as possible. We can make a breaking change by bumping the minor - hopefully npm customers are using `^` :)

[2015-09-12 19:49] a-x- opened #233 "could you switch off wiki page?"
hi,

the repo is not using wiki pages,
so could you deactivate it?

thank you and excuse my beginner's English

[2015-09-14 21:54] manovotny commented on #132
Gosh I want this feature so bad right now. :frowning:

Might have to roll up my sleeves and make a pull request!

[2015-09-16 13:15] #199 closed

[2015-09-16 13:15] #229 closed

[2015-09-29 14:03] eiabea commented on #175
I ran into the same issue :-(

Do you have any plans to work on this issue?

[2015-09-30 01:22] vbud commented on #86
:+1:

[2015-10-01 00:56] mtscout6 commented on #175
I tried running this locally, though my understanding of python is limited. I get the following when just running the command outside of node:

[code]

So it would appear to me that your example is an invalid python example?

[2015-10-04 20:15] akashnimare opened #237 "Arguments"
How do I give argument to shelljs.
like
shell.exec("ls -ssh" + process.argv[2]);
Something like this.

[2015-10-05 14:47] bradparks commented on #148
@aurium - so from your experience, is there anyway to do something like this, as you were suggesting?
[code]

[2015-10-05 18:37] TingluoHuang opened #238 ""Which" command not working properly on Windows Platform."
Install node.js on a windows box, try use shell.which to find the location of NPM.
Shell.which('npm') return "C:\Program Files\nodejs\npm" instead of the correct "C:\Program Files\nodejs\npm.cmd"
The bug is at which.js line 49.

[2015-10-05 20:50] aurium commented on #148
Yes @bradparks!
That is pretty easy... Please see this gist with an implementation example:
https://gist.github.com/aurium/c913c85c45725814bf17

[2015-10-05 23:10] bradparks commented on #148
@aurium - sweet! thanks so much for taking the time to link to this... much appreciated!

[2015-10-06 14:49] aurium commented on #148
:thumbsup:

[2015-10-07 14:48] jakub-g commented on #165
I've noticed similar for `git clone` command on Windows 7 machine.

Consider following js

[code]

The result is that I see **only the first line**

[code]

[2015-10-08 08:53] jakub-g commented on #165
I checked the implementation of `exec` and it's pretty complicated
https://github.com/shelljs/shelljs/blob/master/src/exec.js

I am interested more about **sync exec**, than async, to output everything, so here are my findings:

nodejs 0.12 comes with `childProcess.execSync` (it's not available in 0.10)

By default the behavior is the same as using shelljs `exec`, i.e. only the first line gets dis

[2015-10-08 09:11] TimothyGu commented on #165
I don't think this is a problem with shell.js. Git does some sketchy tricks with detecting if the stderr stream is a terminal or not. Try this:

[code]

Git only seems to print the first line if the stderr is connected to a terminal, which in this case is not true (stderr → stdout → cat).

I haven't checked docker but I suspect it is a similar case.

[2015-10-08 09:14] TimothyGu commented on #165
Indeed, in git-clone(1) it is written as follows:

[code]

And as expected:

[code]

[2015-10-08 09:30] TimothyGu commented on #165
Multiple wrong things here:

1. `pipe` is the default for spawnSync, which execSync internally uses, but `pipe` does not mean piping to the stdio streams of the parent:

    In contrast, `inherit` does exactly what you want, which is making the child process inherit the streams of the parent.
2. execSync's default is not the same as the `'pipe'`

    So basically the default *behavior* is the same

[2015-10-08 09:52] jakub-g commented on #165
@TimothyGu thanks for your explanations.

Regarding

    (https://nodejs.org/api/child_process.html#child_process_options_stdio)

It's a bit confusing to me. Should I understand it as follows:

Is this the case?

I've noticed there are some other differences in `shelljs/exec` and `child_process.execSync` API, shelljs's exec more resembles bash (checking the error code), while for execSync you have

[2015-10-08 10:18] TimothyGu commented on #165
Exactly.

[2015-10-10 22:11] #25 closed

[2015-10-10 22:12] #22 closed

[2015-10-12 09:21] Nieralyte commented on #143
+1

[2015-10-13 16:44] jedwards1211 opened #242 "dynamic terminal output of `exec` process not showing up"
If I do something like `exec('npm install')`, I don't see the spinner thing that npm shows in the console normally.  Or for instance download progress meters that some commands print to the console.  Is there a way to get them to show up with shelljs?

[2015-10-14 15:00] garaboncias commented on #159
+1 pleasse do not modify or at least make it not enumerable.

[2015-10-14 16:08] hems commented on #2
still no async version? :(

[2015-10-14 20:18] guillaumeinnov24 opened #243 "/usr/bin/env: node: No such file or directory"
I'm new with node. I've installed `npm` and then `npm install -g shelljs`.
Then I created a `.js` test file with
`var shell = require('shelljs');
shell.echo('hello world');`
inside.
But whatever I try, when I run `shjs test.js`
it always comes with
`/usr/bin/env: node: No such file or directory`
even with an absolute path.
What do I miss?

[2015-10-14 20:22] TimothyGu commented on #243
Did you install nodejs with Ubuntu or Debian's apt-get?

[2015-10-14 20:24] guillaumeinnov24 commented on #243
My bad I missed this discussion https://github.com/nodejs/node-v0.x-archive/issues/3911
Indeed it has nothing to do with shelljs, sorry boys :/

[2015-10-14 20:24] #243 closed

[2015-10-14 20:36] devTristan commented on #2
I'm working on an async shell script module called [shellkit](https://github.com/devTristan/shellkit) and could use some contributors. It isn't complete yet. Still missing things like globbing, a which function, etc.

[2015-10-14 20:49] arturadib commented on #2
this @devTristan guy is legit ^

[2015-10-15 09:32] hems commented on #2
i managed to do async using the "exec"

[2015-10-16 11:03] frdmn commented on #237
Did you try to add another whitespace to separate the argument form the options (`-ssh`)?

[code]

[2015-10-16 11:27] akashnimare commented on #237
Yeah. It's working. Is there any way I can modify the stdout?
The output of this command is -
filesize filename

What if I want only filesize?

[2015-10-16 15:26] frdmn commented on #237
This is actually not relevant to the project, but what's the output of your command if you run it with an argument?

[2015-10-17 18:55] akashnimare commented on #237
@frdmn Here is the output
<img src="https://github.com/akashnimare/filesize/raw/master/aa.png"/>
I only want the size in stdout.
https://github.com/akashnimare/filesize

[2015-10-17 19:11] frdmn commented on #237
@akashnimare Something like this?

[code]

Also, you should close this issue since your actual problem is solved :)

[2015-10-17 20:50] akashnimare commented on #237
Thanks man.

[2015-10-17 20:50] #237 closed

[2015-10-17 20:51] frdmn commented on #237
@akashnimare You're welcome :+1:

[2015-10-18 07:21] allenmanning commented on #86
:+1:

[2015-10-18 23:07] nickdima commented on #202
This is pretty trivial to implement, but not sure how to keep compatibility with the current behaviour of the `shjs` CLI. I'm talking about `shjs script_name` vs `shjs command_name`.
Maybe we could have it as a separate CLI script? It would need to have a short name also.
Or make a breaking change to the way it currently works?

[2015-10-19 06:38] anselmh commented on #202
Hm, that would depend on what you want to do. If you don’t care about the old style, make it a new major version and breaking change. If you do care about it, I think a separate module would do the trick.

[2015-10-19 08:59] keithamus commented on #202
@nickdima for every command you could create a simple binary wrapper, for example:

[code]

[code]

And so on. This way when we install shelljs, we can call `./node_modules/.bin/cp` which will be a version of `cp` which is cross-compatible.

[2015-10-19 09:12] nickdima commented on #202
@keithamus hmm not a big fan of this... harder to maintain and harder to figure out when looking at the calls if it's the "real" command or the shelljs one. Plus with all those CLI scripts you could run into problems with other packages that might use the same name for their script.
I would prefer doing this:

`shjs rm -rf some_dir`

(maybe we can come up with a 2 letter name instead of `shjs`)

W

[2015-10-19 09:30] keithamus commented on #202
Those files could easily be prefixed, to help differentiate them, so instead of `bin/cp` you could have `bin/shjs-cp`, etc.

[2015-10-19 09:44] nickdima commented on #202
What's the benefit over having a single cli script?

Something along these lines:

[code]

[2015-10-19 09:47] nickdima commented on #202
Maybe we can call it `shl` or something like this and keep it along side the existent cli without making breaking changes.

[2015-10-19 22:37] nickdima opened #245 "Dir glob breaks when in the middle of path"
If you have a path like `some_dir/another_dir/**/*.ext` when you run `common.expand` on it the resulted filepaths will be relative to `another_dir` instead of containing the full path.

[2015-10-19 22:43] nickdima commented on #245
Maybe [here](https://github.com/shelljs/shelljs/blob/master/src/common.js#L106) it should be:

[code]

[2015-10-20 09:20] Lakshman-LD opened #246 "By default shelljs runs command in root"
Usually working with the Linux systems, working within specific user is more probable. So, shelljs can execute commands on particular user instead of executing in the root.

I agree that user can be changed using **su** but **su**asks for a password. So non-interactive scripts must be used to change user. So many complications.

So it is better that shelljs executes command on a user from where it

[2015-10-20 13:37] jakub-g opened #247 "Not possible to check the failure of cd?"
Platform: Windows 7, node 0.12.7

It seems that there's no easy way to check for error of shelljs' `cd`. When trying to `cd` to non-existent folder:

- it doesn't throw
- the return value of the command is `null` (it seems it's `undefined` for successful cd, but the distiction is accidental I guess, nothing to rely on reliably)
- it only displays an error to stdout (not stderr) and that's it.

**I

[2015-10-20 17:38] giltayar commented on #140
Workaround: do the same shell.cp again, but add '.*' to the source

[2015-10-25 12:20] vjpr commented on #86
+1

[2015-10-29 22:49] #172 closed

[2015-10-29 22:50] #171 closed

[2015-10-31 18:58] prankymat commented on #143
+10000000

[2015-11-01 01:00] dvenkatsagar opened #248 "exec command not working. Showing "shell.js : internal error" in nwjs"
Im trying to do a basic command taken from the documentation.

[code]

and it shows the following output

[code]

Can some one please help me out? I just don't understand where Im going wrong. It works fine when I use the asynchronous way.

Edit : I forgot to mention that Im trying this in nwjs.

Update: Ok I understood that, it works well with nodejs, but for some reason, it doesn't work when usi

[2015-11-05 11:38] karl commented on #229
I've also come across this issue.

Is there a known fix or workaround for it?

[2015-11-05 13:23] ibigbug commented on #229
I run the two commands separately as a workaround

[2015-11-06 05:21] houfeng0923 opened #250 "why not support set 'cwd' when invoke execAsync ?"
https://github.com/shelljs/shelljs/blob/v0.5.3/src/exec.js#L140

[2015-11-06 05:26] TimothyGu commented on #250
`cd`?

[2015-11-07 16:52] cancerberoSgx opened #251 "exec enhanced"
Hello, good project!

I'm having trouble with .exec/.execAsync, particularly when invoking command line tools that uses terminal colors or terminal advanced features like cli-spinner, etc.

By default, shelljs will create a new buffer for child processes and executing command line tools that use for example cli-spinner will just break.

PLEASE provide a .exe API so I can control this, for example

[2015-11-09 23:56] ndelitski commented on #133
any progress so far?

[2015-11-11 19:00] sheerun opened #253 "How to exit on first error"
Hey,

What is the equivalent of `set -e` in shelljs?

[2015-11-13 15:14] kevin-smets commented on #224
@devTristan this now results in undefined. `end` is triggered before `exit`.

This gives me the correct output with exit code:

[code]

[2015-11-14 03:29] pajtai opened #254 "Error shown when triggering a sigint during shelljs.exec if process.on sigint is defined"
Execute this file to reproduce

[code]

Now press ctr-c before the sleep is done and you get an error like the following:

[2015-11-14 06:53] egoist commented on #242
+1 same question

[2015-11-19 03:04] HQidea commented on #132
+1
and maybe it can also pass other options to child_process.exec[Sync]

[2015-11-23 14:10] yoyurec commented on #86
+1

[2015-11-30 17:44] anoopelias opened #255 "console.log.apply throwing TypeError: Illegal Invocation"
I am trying to test pdf.js in [iron-node](https://s-a.github.io/iron-node/) (Electron) and is getting the below error.

	TypeError: Illegal invocation
	    at _echo (/Users/anoopelias/Workspace/JavaScript/Mozilla/pdfjs/pdf.js/node_modules/shelljs/src/echo.js:17:15)
	    at Function.target.browsertest (/Users/anoopelias/Workspace/JavaScript/Mozilla/pdfjs/pdf.js/make.js:1214:3)
	    at Object.global

[2015-11-30 18:11] jedwards1211 opened #256 "cp and rename directory with -r doesn't match unix behavior"
As shown below, if I do `cp -r a b` with shelljs where `a` is a directory and `b` doesn't exist, shelljs creates `b/a` directories and the copies the contents of `a` into `b/a`.  Instead, like in a unix shell, it should create `b` directory and copy the contents of `a` into `b`.

[code]

[2015-12-03 00:37] ddbruce commented on #245
I had this issue too (see [this](https://github.com/ddbruce/thermopi/blob/master/app.js)). Fixed it by modifying common.js as @nickdima said.

[2015-12-03 08:54] Alphapage opened #259 "Error in listEl.search when cp using array"
Hello,

I get listEl.search is not a function when using this command:
[code]
but without [] all is working:
[code]

And one question:
How to escape one path ? , for example:
[code]

[2015-12-11 22:20] amacfie commented on #148
I'd say this is a pretty major missing feature

[2015-12-12 04:09] bmson commented on #86
:+1:

[2015-12-13 12:50] lizzie commented on #132
+1

[2015-12-16 11:53] eduardohmaciel opened #260 "shell.exec - read internal variable"
Hello, someone already managed to read an internal variable in shell.exec?

***example -- nodejs

var shell = require('shelljs');
var ssid = atak;
var password = 554032;

shell.exec('wpa_passphrase "$ssid" "$password" | sudo tee -a /etc/wpa_supplicant/wpa_supplicant.conf', {async:true});

does not work that way?

[2015-12-16 12:45] eduardohmaciel commented on #260
up and running!

shell.exec('wpa_passphrase "'+ssid+'" "'+password+'" | sudo tee -a /etc/wpa_supplicant/wpa_supplicant.conf', {async:true});

[2015-12-16 12:45] #260 closed

[2015-12-17 18:23] joviwap opened #261 "Create isolated shells"
This is more a question than an issue.

I would like to know if it's possible to create new instances of shelljs in order to have different execution flows. I am creating a bunch of scripts and I would like all the to run at the same time but I am having issues to keep the path stable when to scripts are navigating throw the folders al the same time:

* Script one:
shell.cd("folder1")
shell.exec(c

[2015-12-20 15:09] arve0 commented on #17
Any news on this? Experiencing the same (see below) with shelljs 0.5.3.

[code]

[2015-12-21 12:25] vsathyak opened #262 "wild card characters in filename not working as expected"
Code snippet
-------------------
if(shell.test('-f', '/Users/test/protractor/MyProject/downloadedFiles/TestFile.csv')){
                shell.echo('File exist');
            } else {
                shell.echo('File not exist');
            }

The above piece of code is working fine since i mentioned the full path of the file but if the filename contains a wildcard character
eg  /Users/test/protra

[2015-12-25 11:42] aarjithn commented on #256
Possibly same as #101? Me too would like to get this fixed.

[2015-12-25 15:31] metallurgical opened #265 "shell.js: internal error Error: UNKNOWN: unknown error"
I'm trying to install ionic framework and cordova but the error came out after typing ionic command. No error while installation process.

![capture](https://cloud.githubusercontent.com/assets/6198891/12003978/40493528-aaeb-11e5-8ac0-ce951078fc24.PNG)

Development Environment
- Windows 7 32Bit

[2015-12-27 15:44] ilaif commented on #148
:+1:

[2015-12-28 05:05] nfischer commented on #148
Any work on a PR for this? I'm personally interested in this feature, and would be willing to help develop a PR

[2015-12-28 08:13] chrishiestand commented on #148
@nfischer with [25 open PRs](https://github.com/shelljs/shelljs/pulls) how likely is a PR to be merged? Perhaps the project owners need help?

[2015-12-28 08:50] nfischer commented on #148
@chrishiestand I agree it's a bit of an issue. It looks to me like the maintainer was in the process of setting this up to receive more help (making the shelljs organization), but it looks like he never finished. I think all we can do as a community is develop useful features in the mean time and try to resolve any issues we can.

Perhaps we could start a new thread discussing future maintenance o

[2015-12-28 09:00] nfischer commented on #250
I agree that the simplest thing to do is probably to just say something like:

[code]

@houfeng0923 is this good enough?

[2015-12-28 09:08] nfischer commented on #261
Could you give an example of how you're executing these scripts? I'm trying to reproduce the bug, but haven't been able to do so:

[code]

test1.js:

[code]

test2.js:

[code]

How can I change this so that I see the behavior you're seeing?

[2015-12-28 09:23] nfischer commented on #247
In my opinion, this is something that needs to be added to the project.

I think this is an issue in general with commands: they don't seem to return errors in a sensible way. Bash returns errors as return codes, and continues on. Since return values are already used for stdout usually (such as with `ls()`), that rules this out.

Changing this to return an object with fields like stdout, stderr, a

[2015-12-28 09:31] nfischer commented on #246
Could you provide a sample shelljs script and describe the behavior you're seeing?

I tried this in my Linux command line:

[code]

Everything here makes sense to me, and `shjs` only runs as root when I tell it to. Does this agree with what you're seeing?

[2015-12-28 09:41] nfischer commented on #231
I think this just hasn't been implemented yet. This sounds like it would make sense to have.

Right now `sed()` seems to return the modified text. I think, for the sake of backwards compatibility, if a single file is passed in, this should stay the behavior.

If multiple the files `foo.txt` and `bar.txt` are passed in that order, then I think the output should be an array along the lines of `[ mod

[2015-12-28 10:30] nfischer opened #266 "Travis ci build status says "unknown""
The build status of the project is "unknown" and the button links to an old repo name: https://travis-ci.org/arturadib/shelljs.

This seems to be a common bug with travis-ci (travis-ci/travis-ci#3264, travis-ci/travis-ci#1173, travis-ci/travis-ci#3264), but some people seem to have gotten positive results. travis-ci/travis-ci#3264 suggests pressing "sync" on travis-ci. Wanted to see if that might

[2015-12-28 11:14] nfischer commented on #256
To get the behavior you want, you must specify a trailing '/'. Change your command to:

[code]
Please see #15.

I agree that this differs from the Linux behavior. How does this compare with the BSD behavior (such as on OS X)? I know that BSD utilities behave differently if a directory is has a trailing '/'. See [this page](http://hints.macworld.com/article.php?story=20051112100007372) for more det

[2015-12-28 11:18] nfischer commented on #225
This would be a very useful addition

[2015-12-28 11:22] nfischer commented on #219
How would this differ from `chmod('-R', ...)`? I believe that is already implemented (`-R` is a supported option).

[2015-12-28 14:20] Lakshman-LD commented on #246
Hey, thanks for the reply.
I was using Amazon Ec2, I think that might be the reason. There are two users in Ec2 namely the root and ubuntu. By default it runs the command in root, even though when it was executed from ubuntu.
Its been a long time now, so Found **exec** and **spawn** served my purpose.

[2015-12-28 14:20] #246 closed

[2015-12-28 15:22] cvrebert commented on #231
Yes; I have no need for the return value.

[2015-12-28 16:17] jedwards1211 commented on #256
@nfischer sorry, I shouldn't have said "in a unix shell", I actually ran my original example on OSX.

[2015-12-28 17:50] trusktr commented on #219
That works just as well! Doh.

[2015-12-28 17:50] #219 closed

[2015-12-29 00:38] nfischer commented on #231
Sounds like a useful thing to me. I'm going to look into how this might be supported and see if I can make a PR. For now, though, your best bet is probably to use multiple `sed()` commands in a `forEach` loop. See the snippet taken from the README:

[2015-12-29 00:42] nfischer commented on #256
Oh, ok. I'm on Linux, so I can confirm that Linux behaves the way you describe. If OS X also behaves that way, then it sounds like this is **not** POSIX behavior, and should indeed be fixed.

For now though, does the trailing '/' workaround achieve what you need, @jedwards1211?

[2015-12-29 01:07] nfischer commented on #262
What you're trying to do doesn't seem to be very well supported in Bash, so I think you should try a different practice. Here's an example shell script that won't work very well:

[code]

When I run that, I see the following output:

[code]

The error lies in the fact that the shell expands `*` to an array of files that match it (aka all your files). The issue is that `test -f` only takes one argu

[2015-12-29 01:13] nfischer commented on #245
Sounds like this could also be related to #225, which recommends using the glob module.

[2015-12-29 01:18] nfischer commented on #253
Not sure if this exists yet, although it should be possible to implement. This would involve (among other things) writing a `set()` command, however. Which [options](https://www.gnu.org/software/bash/manual/html_node/The-Set-Builtin.html) in addition to `-e` do you think would be most useful to implement?

[2015-12-29 01:24] nfischer opened #267 "Poor output for commands with multiple errors"
The following code snippet demonstrates poor error message handling:

[code]

As you can see, the error message is concatenated and re-printed each time. I think the cleaner behavior is to concatenate and only print when the command exits.

[2015-12-29 01:48] nfischer commented on #253
Looks like I spoke too soon. Try `config.fatal`:

[code]

[2015-12-29 02:03] nfischer commented on #267
This is resolved by #268

[2015-12-29 08:39] nfischer commented on #259
I think you want the first argument to be `"-rf"`, not `"rf"`. It needs a hyphen in front. And you shouldn't start it with a `.cp`, just `cp` (no dot).

Also, I'm not sure if `**` globbing is well supported yet, so this may be a bug. I wasn't able to get either command to run.

I'm not completely sure what you mean by "escape one path." Could you please give an example shell script in bash that do

[2015-12-29 09:39] nfischer commented on #205
What's the end goal here? Are you trying to check if `.to()` succeeds?

[code]

Here I use `error()` to check if there is an error with to `.to()` command. Is that what you were looking for?

[2015-12-29 16:21] jedwards1211 commented on #256
@nfischer it does, although of course I had just used `a/*` instead

[2015-12-30 00:07] nfischer commented on #208
I tried running the following commands, and saw this output:

[code]

This suggests that `exec()` uses `sh`, not `bash`. When I try emulating this in `sh`, I see comparable output:

[code]

So this sounds like you're using syntax that isn't supported by `sh`, and therefore won't be supported by `exec()`.

It might be worth it to modify `exec()` to call bash instead of sh, but this would change the

[2015-12-30 00:23] nfischer commented on #209
I think there might be a few problems going on here that might need updating. I get very different behavior depending on which commands I run:

[code]

This suggests that something is at least broken in the `shjs` script if not somewhere else as well. I suspect that this is related, and points toward a bug related to the `exec()` function (`shjs` is essentially a wrapper for a call to `exec('node

[2015-12-30 05:42] nfischer commented on #210
I agree, this is something that probably should be documented. I think it would be even better to add the `-n` option and make `-f` the default (and simply keep it there for legacy reasons).

[2015-12-30 11:23] nfischer commented on #209
This was bugging me, so I added this to #268. @n2liquid does this help you achieve what you wanted?

[2015-12-31 18:12] danasilver commented on #175
I can reproduce this:

[code]

The issue is in the [escape function](https://github.com/shelljs/shelljs/blob/a38ef4557e8658dec9409a034b31c70d8646e7de/src/exec.js#L39-L41) in exec.js. In `String.replace` regex, `\n` is interpreted as a single character, so the `\` in `\n` is not replaced by the first replace call. I think the best fix for this is using a regular expression that matches each of the

[2016-01-08 01:58] ariporad opened #272 "Is this project still maintained?"
Hi,

Is this project still maintained? If not, would you be open to a new maintainer?

Thanks!

[2016-01-08 02:08] nfischer commented on #272
I'd be open to help maintaining this project. I think the original maintainer intended to open it up to more maintainers.

I'm currently maintaining [my own fork](https://github.com/nfischer/shelljs) that has some of the not-yet-merged features. If you'd like to get some of the more recent features, feel free to use my fork (and/or submit upstream PRs there as well).

The idea is that hopefully th

[2016-01-08 02:13] ariporad commented on #255
Hmm... This does seem like a bug. I'll send a PR.

[2016-01-08 02:22] ariporad commented on #242
This is a duplicate of #251.

[2016-01-08 02:27] ariporad commented on #272
@nfischer: I've been kind of talking with @arturadib [on Twitter](https://twitter.com/ariporad/status/685279595973574656). I'm hoping that he'll give someone (you, if you want, I also volunteer) push rights. He seems to be [inactive](https://twitter.com/ariporad/status/685279595973574656).

[2016-01-08 02:29] ariporad commented on #225
I'll implement this.

[2016-01-08 03:37] boutell commented on #225
A+

[2016-01-08 05:33] nfischer commented on #272
Thanks for getting in contact with him. I'm not a twitter user, so I couldn't reach out to him. I'd personally really like to see this project be more actively maintained.

I'd definitely be interested in co-maintaining the project. I don't think I have enough experience with this particular project to know what features are most desired by the current users. I do however have decent experience in

[2016-01-08 05:36] nfischer commented on #256
Would any of you be able to test out #271 and make sure it works as expected? I've tested it, and it seems to resemble the Linux behavior fairly closely (will test again to be completely sure). It'd be great if you guys could confirm as well.

[2016-01-08 05:37] ariporad commented on #272
@nfischer: well, I don't really have any experience, but I belive in this project, and would be happy to help our (if you'd like). I purposed you since you seemed active, but there might be others too.

Besides that, I think your plan sounds great! I think that whoever gets added to the org should just create a gitter, and we can chat there.

[2016-01-08 05:37] nfischer commented on #101
This should be fixed by #271. Would anyone here be able to confirm that this PR fixes it? As far as I can tell, it seems to be good.

[2016-01-08 05:50] nfischer commented on #272
I think a gitter is a great idea. Slack would be another alternative. I actually only recently found out about this project, but immediately found features/bug fixes, so I've been working on some PRs. When I saw that there were over 100 open issues, I went through and answered the ones I could, to help filter through stuff so the maintainer(s) would have an easier time later on.

I anticipate havi

[2016-01-08 05:54] nfischer commented on #220
Possibly the same as #255?

[2016-01-08 05:54] nfischer commented on #255
Possibly a duplicate of #220

[2016-01-08 06:42] nfischer commented on #238
I believe another related issue is that the priority of `.bat`, `.cmd`, and `.exe` is currently incorrect. Seem [my comment](https://github.com/shelljs/shelljs/pull/239#issuecomment-169908832) on the PR for details.

[2016-01-08 07:56] nathanbrauer commented on #86
I got this working by telling the program to always send colors (in my case `composer --ansi`), but it would be great if it was native with no additional step needed.

[2016-01-08 17:24] arturadib commented on #272
Added both of you as collaborators. Use it wisely :)

Main thing I ask is to (a) try to remain as close as possible to *nix
commands, (b) avoid feature bloat, and (c) only accept new
features/behaviors with tests that pass on CI.

Thanks guys!

@nfischer <https://github.com/nfischer>- if you create a Twitter account
I'll give a shout out to both of you on Twitter :)

-@r2r <http://twitter.com/r2r>

[2016-01-08 18:53] nfischer commented on #272
@arturadib Thanks! Yeah, my thinking was to keep behavior close to *nix, and change things if current behavior doesn't match *nix. Also, do you know why the CI doesn't seem to be working right now? I created issue #266 for it. I imagine it has to do with renaming from `arturadib/shelljs` -> `shelljs/shelljs`, but I'm not completely sure.

@ariporad Would you be able to set up a gitter for the thre

[2016-01-08 19:11] Loilo commented on #86
+1

[2016-01-08 19:38] arturadib commented on #272
CI should be fixed now, thanks for the heads up!
https://travis-ci.org/shelljs/shelljs

-@r2r <http://twitter.com/r2r>

On Fri, Jan 8, 2016 at 1:53 PM, Nate Fischer <notifications@github.com>
wrote:

[2016-01-08 20:32] nfischer commented on #266
Just got fixed by @arturadib. Thanks!

[2016-01-08 20:32] #266 closed

[2016-01-08 21:23] nfischer commented on #253
Closing this, since `config.fatal` should be good enough for now. We can reopen this if there is more justification for a full-fledged `set` command that supports more than just the `-e`/`+e` option.

[2016-01-08 21:23] #253 closed

[2016-01-08 21:26] nfischer commented on #250
I'm closing this for now, since a `cd()` should do what @houfeng0923 describes. If this isn't sufficient (or there's a nice syntax available in Bash that we should emulate), please ping this thread and we can reopen it.

[2016-01-08 21:28] nfischer commented on #245
@nickdima @ddbruce Does #275 fix this issue as well?

[2016-01-08 21:33] nfischer commented on #247
* If you want an invalid `cd()` to abort the script, you can always set the `config.fatal` value (see the docs)
 * If you'd prefer for it not to abort, but would like to check errors, you can use the `error()` function as seen above

I'll close this issue for now. If this isn't sufficient, please reopen the issue or ping this thread explaining what else you need.

[2016-01-08 21:33] #247 closed

[2016-01-08 21:39] nfischer commented on #148
I wanted to ping this thread to say that it looks like we might be able to start merging some PRs in the next couple weeks. So if someone wanted to take this feature on, I'd be very interested in reviewing it and possibly merging.

I can also help develop the PR, but probably won't be able to start work on it for a little while. @aurium are you still interested in working on this?

[2016-01-08 21:51] nfischer commented on #205
Closing this for now, since I think `error()` is sufficient to check if it succeeds.

If the error message that's printed by default (`to: could not write to file (code EACCES): myfile.txt`) is undesired, then you can use `config.silent` to suppress it (please see the docs).

If this isn't sufficient for your purposes, then please reopen this issue.

[2016-01-08 21:51] #205 closed

[2016-01-08 21:53] nfischer commented on #262
Closing this for now, since this isn't well supported in Bash, and might be difficult to support well in this scenario. Please feel free to ping this thread if you find a better workaroud/solution, or if this is not sufficient for your purposes.

[2016-01-08 21:53] #262 closed

[2016-01-08 22:01] nfischer commented on #162
I just tested this in Bash, and saw this behavior:

[code]

Since ShellJS seems to emulate the Bash behavior, I think we should close this issue. But excellent work finding a suitable workaround for your use case! If you see different behavior from your version of `ls`, please ping this thread and we can definitely reconsider making a PR for this.

[2016-01-08 22:01] #162 closed

[2016-01-09 03:24] nathanbrauer commented on #242
*(Technically, #251 is a duplicate of this one :stuck_out_tongue_winking_eye:)*

I think this would also be a good place to discuss the ability to read the stdout buffer line-by-line.

For example, with `exec('...', { silent: false });` within a `gulp` stream, you'll get this:
[code]

Ideally, each of the lines (starting with `write build/brand.css...`) would also conform to gulp's logging (`gutil

[2016-01-09 03:30] nathanbrauer commented on #242
Ideally we'd be able to do something along the lines of....

[code]

[2016-01-09 03:59] ariporad commented on #272
@arturadib: It looks like I need to be a member of the org (`shelljs`) to create the gitter. Any chance that would be possible?

Thanks!

[2016-01-09 05:00] nfischer commented on #242
@nathanbrauer I think this could be do-able. This would be lower on the priority list. I think it would be done fairly differently from the colored text, however. But I can write up a PR along the lines of the onPrint implementation. Would you be able to copy-paste this as a separate issue?

[2016-01-09 05:27] ariporad commented on #272
@arturadib, @nfischer: But while we're talking here, I have a few ideas:
1. I'm going to setup some better labels, is that OK?
2. I think we should make heavy use of those labels and of the assignment feature.
3. What are your thoughts about [`semantic-release`](http://npm.im/semantic-release)? I personally really like it.
4. Any objections to setting up AppVeyor (like travis for Windows)
5. Thoug

[2016-01-09 07:47] nathanbrauer opened #277 "Ability to read the stdout buffer line-by-line"
For example, with `exec('...', { silent: false });` within a `gulp` stream, you'll get this:
[code]

Ideally, each of the lines (starting with `write build/brand.css...`) would also conform to gulp's logging (`gutils.log(...)`).  But the only way to do that, currently, is to wait for the entire buffer to end, then parse every line on your own.  *This means that the timestamps are completely wrong

[2016-01-09 07:54] nathanbrauer commented on #277
@nfischer -- in reference to https://github.com/shelljs/shelljs/issues/242#issuecomment-170195447

[2016-01-09 20:55] nfischer commented on #272
1. Labels are great. Feel free to go ahead and label any old issues as well.
2. Again, using labels and assignments are fine.
3. I don't have any experience with that package (although I'm familiar with the concept of semver). My thoughts are that ShellJS isn't ready yet for v1.0, so most changes are up for grabs (without too much regard to the version number). Would that be useful even before we

[2016-01-09 21:57] ariporad commented on #272
@arturadib: Sorry to keep bothering you, but it looks like we need admin perms for this repo to set stuff up, such as gitter and lgtm.io. (Actually, could we maybe get the ability to create repos in the org too, if possible?) Also, how should we contact you if we need to do a release (As of right now, we don't have npm perms, which is totally fine, but I'm not sure spamming your twitter is the bes

[2016-01-09 22:06] ariporad commented on #272
@nfischer: Another thought, do you want to have us work on branches in this repo, or in our forks? (I don't think we should work on master).

[2016-01-09 22:13] ariporad commented on #272
Also, Labels have been setup. They currently use the semantic-release/angular commit types, but that can be changed (they were created by a script).

[2016-01-09 22:19] ariporad commented on #259
I'm going to close this since it appears to have been solved. Feel free to re-open if needed.

[2016-01-09 22:19] #259 closed

[2016-01-09 22:24] ariporad commented on #220
@sdegutis: Does #274 fix this?

[2016-01-09 22:26] ariporad commented on #251
@cancerberoSgx: Since there seems to be some discussion of this in #242, I'm going to close this so we can continue there.

[2016-01-09 22:27] #251 closed

[2016-01-09 22:27] ariporad commented on #242
@cancerberoSgx, let's continue discussion here.

[2016-01-09 22:31] ariporad commented on #225
Fixed in #275.

[2016-01-09 22:36] ariporad commented on #233
@a-x-: Sure, once we get perms straightened out, we could look into that. Just out of curiosity, why?

[2016-01-09 22:39] ariporad commented on #215
@TimothyGu: I don't think we're quite ready for 1.0 yet, see #272.

[2016-01-09 22:39] #215 closed

[2016-01-09 22:40] ariporad commented on #213
I haven't really played with the makefile stuff much, @nfischer, toughts?

[2016-01-09 22:40] nfischer commented on #272
The new labels look great!

I think working on our own forks might be cleanest. That seems to work well for [Vimium](https://github.com/philc/vimium/pulls) at least.

You make good points about semantic release and appveyor. As long as setting those up doesn't impede us too much, it sounds good to me. I'm ok with moving forward without lgtm.co for a while, as long as we're careful. For the time be

[2016-01-09 22:41] ariporad commented on #272
@nfischer: Ok, sounds great. Once we have perms, I'll set those up.

[2016-01-09 22:44] ariporad commented on #212
This doesn't really seem to be a problem with shelljs, although I agree that modifying `String.prototype` might not be the smartest, neither is calling every method.

I'm going to close this, but feel free to re-open if needed.

[2016-01-09 22:44] #212 closed

[2016-01-09 22:49] ariporad commented on #208
@nfischer: I think that we should switch to bash, it would likely be more intuitive.

[2016-01-09 22:51] ariporad commented on #202
+1.

I'm going to mark this as low priority, but if anyone wants to send a PR, that would rock!

[2016-01-09 22:52] ariporad commented on #201
@garytaylor: I'm going to close this, as the solution is just to double quote it. Feel free to reopen if needed.

Thanks @tracker1!

[2016-01-09 22:52] #201 closed

[2016-01-09 22:55] nfischer commented on #208
@ariporad I agree, I think bash would be better. I think it's ok for now to put this off, since we're at least matching `sh`, but we may want to move forward and switch to bash in the near future.

[2016-01-09 23:07] nfischer commented on #213
I haven't used the makefiles much either. I'll try looking into this over the next couple days.

[2016-01-09 23:36] nfischer commented on #55
@neonstalwart Do you mean to modify shjs to allow the equivalent of this?

[code]

If so, I think this will work as required:

[code]

I'm closing this, since this seems to solve the issue. If this isn't sufficient, let me know, and we can reopen.

[2016-01-09 23:36] #55 closed

[2016-01-10 00:32] sdegutis commented on #220
I don't know, sorry, I don't use shelljs or electron anymore.

[2016-01-10 00:52] nfischer opened #278 "Allow shjs utility to infer the extension for "filename.""
Currently, the `shjs` utility can sometimes infer the file extension of the script name. For example:

[code]

I often find myself writing out simple shelljs scripts and their bash equivalents, and I usually name them similarly (`input.js` and `input.sh` respectively, for example). Tab complete will complete up to `$ shjs input.`, so it'd be convenient if `shjs` would infer that I want to run the

[2016-01-10 01:28] nfischer commented on #278
This will be fixed in #279

[2016-01-10 01:35] nfischer commented on #60
I tried out the following code and saw the expected results:

[code]

@getdave @c0bra Do either of you see different behavior using my example? To me this doesn't seem like a shelljs issue.

[2016-01-10 01:46] nfischer opened #280 "Add tests for the shjs utility"
It might be useful to add some tests for the `shjs` utility itself. This would include making sure it respects stdout/stderr and exit codes. This is less of a priority now, but would be more useful if #268 (stderr) and #252 (exit codes) are merged.

This would involve creating shelljs scripts and executing them with the `shjs` command, and making sure results are as expected. I don't think we need

[2016-01-10 01:48] ariporad commented on #280
+1

[2016-01-10 01:52] ariporad commented on #272
@nfischer: Idea: Add a label for each command (ex. `shjs`, `ls`, `cd`, `touch`, `grep`).

[2016-01-10 01:54] ariporad commented on #272
Also, are we going to do `semantic-release`? If so, we need to be _*really*_ strict about making sure commits conform to the [guidelines](https://github.com/ajoslin/conventional-changelog/blob/master/conventions/angular.md). We can also setup [GitCop](https://gitcop.com), which can enforce that for us.

[2016-01-10 01:57] nfischer commented on #133
This should now be fixed in master

[2016-01-10 01:57] #133 closed

[2016-01-10 02:02] nfischer commented on #272
I think the command labels could be useful. Although it could be tedious to maintain that. I'm not opposed to the extra labels though (if they're too tedious, we can always just stop using them).

If semantic release is strict about commit messages, then this would be a pain to use for old PRs--it would basically mean we can't merge any of them unless the authors rewrite their commit messages and

[2016-01-10 02:05] ariporad commented on #272
@nfischer: It is, but the way it works is that all commits between the last release and the current release must match. But as far a PRs go, that's easy: https://git.io/vuFF1

[2016-01-10 02:16] nfischer commented on #272
:+1: for the link.

Just might be tedious if we have to edit everyone's pull requests to get them to merge. Either way, it seems like we'll have to wait for perms to set up gitcop, semantic-release, etc. So until we get perms, I think we should stick with the current method of merging good PRs as-is. Since the previous commits don't follow semantic-release, this probably isn't making things much h

[2016-01-10 02:17] nfischer commented on #32
Closing this since it looks like `path.delimiter` should be sufficient (and was added to node after this issue was created). If this is still a concern, please feel free to re-open.

[2016-01-10 02:17] #32 closed

[2016-01-10 02:18] ariporad commented on #272
Sounds great. But shall we say use the commit guidelines going forward?

[2016-01-10 02:24] nfischer commented on #272
Sounds good to me. I'll try to conform to conform to that in any commits I make.

[2016-01-10 02:25] ariporad commented on #272
@nfischer: Thanks, no pressure.

ProTip: You're going to want to change the merge commit text when you merge commit messages. (I personally recommend `chore(git): do whatever`).

[2016-01-10 02:25] nfischer commented on #38
This seems like a reasonable addition. @hemanth if you're able to submit a PR, I'd be happy to take a look.

[2016-01-10 02:29] nfischer commented on #144
Marking this as a duplicate of #2

[2016-01-10 02:50] nfischer opened #281 "Switch `exec()` to use bash by default"
This should be possible via the `shell` option (see [the docs](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback)). I've written out some preliminary code for Linux, and it seems to work as expected. I'll fix Windows compatibility and send out a PR.

Edit: `bash` should be the new default on Linux, `cmd.exe` should remain the default on Windows.

[2016-01-10 02:54] nfischer commented on #138
I don't believe Bash built-ins are currently supported, since `exec()` uses `sh` instead of `bash`. See below:

[code]

If we switch to bash, then this problem might be resolved. I opened #281 to discuss switching shells.

[2016-01-10 02:55] nfischer commented on #208
I opened #281 to discuss switching shells

[2016-01-10 03:27] hemanth commented on #38
I don't even recall why I had created this issue!

Anyway,

Let see what best I can do here.

[2016-01-10 03:41] TimothyGu commented on #215
:+1:

[2016-01-10 22:32] ariporad commented on #196
@jeroenverfallie: Does this still happen?

[2016-01-10 22:33] ariporad commented on #272
What colors should the labels be for the various commands?

[2016-01-11 01:51] nfischer commented on #272
Any color is fine with me. Doesn't matter to me very much.

[2016-01-11 02:23] neonstalwart commented on #55
I'm not sure if it's equivalent to what I meant but I've moved on quite a
lot since the time I opened this and no longer care.

On Sat, Jan 9, 2016, 16:36 Nate Fischer <notifications@github.com> wrote:

--

--
ben...

[2016-01-11 03:46] nfischer commented on #196
I vote to close, since I don't think this is an issue with ShellJS. I suspect that your circle setup is not properly escaping the filename, and has trouble deleting it. And, as you know, the whole purpose of the file name is that it must be escaped (it's a resource for a test).

I had no trouble deleting the file myself. I set it up in an empty project with these commands:

[code]

I could also de

[2016-01-11 04:00] nfischer commented on #198
@gatkinsNZ do you know if this is unique to Windows 8, or does this apply to Windows 7 as well? If so, I can try this out on my Win7 machine.

[2016-01-11 07:27] ainthek commented on #281
Please consider MINGW users on windows as well.

[2016-01-11 14:46] ariporad commented on #281
@ainthek: MINGW?

[2016-01-11 14:49] ariporad commented on #196
@jeroenverfallie : I'm going to close this, see above for some tips. Feel free to reopen.

[2016-01-11 14:49] #196 closed

[2016-01-11 16:47] TimothyGu commented on #281
I believe @ainthek's point is that in a MinGW setup the default shell should be bash rather than cmd.

[2016-01-12 01:52] ariporad commented on #281
Good point. @nfischer: I think that the shell should be `bash` if available, regardless of platform, with a fallback to something else.

[2016-01-12 01:55] ariporad commented on #272
@nfischer: I'm sorry I haven't had much time to devote to this recently. I've been really busy. I should be more available over the next few days.

P.S. Do you ever sleep? Or do you just work on this project 24/7?

[2016-01-12 01:55] nfischer commented on #281
Ok, sounds good. I'll look up how to check for the existence of a shell and see if I find anything along those lines.

[2016-01-12 02:00] nfischer commented on #122
Closing this, since we merged #249

[2016-01-12 02:00] #122 closed

[2016-01-12 02:48] arturadib commented on #272
Hey guys– Wow, awesome energy all around! :)

I've created a Gitter room at https://gitter.im/shelljs/shelljs. I've also added both of you as members of the shelljs org, so you should be members there too I think.

As to integrations, our highest priority is CI testing on Windows since we don't have any coverage there, so feel free to set that up!

As for other tools (code style/conventions, semve

[2016-01-12 02:54] arturadib commented on #272
@nfischer btw you should totally create a Twitter account so I can give you proper credit there! :)

[2016-01-12 03:04] ariporad commented on #272
@arturadib: Thanks so much!!!! You rock!!!

I like to be creative with usernames, so I'm @ariporad on npm :smile:.

How involved do you want to be going forward? Do you want to be involved in all decisions, or nothing?

[2016-01-12 03:10] ariporad commented on #272
@nfischer: do you want to keep the commit message guidelines?

And does anyone have any objections to me setting up the following:

1. LGTM.io
2. Gitcop (if we keep the guidelines)
3. AppVeyor
4. ???

Thanks again @arturadib!

[2016-01-12 03:27] arturadib commented on #272
@ariporad not a big fan of imposing commit message styles to be honest

AppVeyor sounds great if it lets us do CI on Windows, which we need badly

[2016-01-12 03:27] arturadib commented on #272
@ariporad added you on npmjs.com

[2016-01-12 04:02] ariporad commented on #272
@arturadib: Thanks so much! We'll hold of on the commit messages for now, they could be very useful in the future.

[2016-01-12 05:00] ariporad commented on #272
@arturadib: Sorry, but it looks like you need to change a setting for the github org for us to be able to setup AppVeyor/LGTM/etc. Would you mind doing that? Thanks!

[2016-01-12 05:36] nfischer commented on #272
@arturadib
My Twitter: ntfschr
My npm: nfischer
Thanks!

[2016-01-12 05:39] nfischer commented on #272
I think CI should be our first priority. Let's add OS X support (I'll update my PR tonight).

After that we can focus on Windows support.

Also, I think it would be good to find a time when we can all get on the gitter and lay down concrete goals and set up roles for the project to get things rolling

[2016-01-12 20:53] nfischer commented on #49
Closing this since #179 is merged. Please reopen if this error persists

[2016-01-12 20:53] #49 closed

[2016-01-12 22:55] nfischer opened #287 "Add Windows CI"
This is a follow up to our thread on #272 regarding using AppVeyor for Windows CI. I'm posting this as an issue just so I can mark it as high priority (since I think it's a worthy goal).

This issue could take a long time to resolve, since I think it has 3 parts:

 1. Set up AppVeyor (or some other Windows CI) for the project, similar to our travis setup
 2. Adjust our unit tests to be compatible

[2016-01-13 01:29] ariporad commented on #272
@nfischer: Agreed. Although it's kind of bad timing, as I'm going on vacation this on Saturday, and I'm not sure if I'll have internet access. We could maybe do one night this week, otherwise in two weeks when I'm back.

[2016-01-13 05:45] nfischer commented on #250
Reopening this because I realized this actually is a concern. `child_process.execSync` seems to behave differently on Windows (**and it's totally breaking the entire test framework for me**).

On unix, `exec()` will keep the same directory it's executed from (which is intuitive). On Windows, `exec()` will always start from the *user's home folder* (this is because `cmd.exe` must be spawned first).

[2016-01-13 05:56] nfischer commented on #287
Also, it looks like our unit test framework is indeed broken on Windows. There's a bug with `exec()` related to #250. All commands get launched from `C:\Users\username` instead of the current directory (at least that's what I observe on Windows 7, node v5.3.0).

The issue happens in the test runner [here](https://github.com/shelljs/shelljs/blob/master/scripts/run-tests.js#L19) and [here](https://g

[2016-01-13 07:23] BYK commented on #287
Willing to give a hand on any Windows bugs. I'm running on Windows 10 + Node 4 and a long time Windows user and developer.

[2016-01-13 07:42] nfischer commented on #287
@BYK That'd be great! Could you first verify the behavior I'm seeing? I'm running on Windows 7, and I'd like to double check that this is also present on Windows 10.

[code]

[2016-01-13 07:51] BYK commented on #287
@nfischer it looks like it simply outputs the current directory for me. That said I'm using a different shell, something called `xonsh`, and in that running `cd` without arguments switched me to my home directory. This is not the case in PowerShell though.

[2016-01-13 07:57] nfischer commented on #287
Interesting... I thought that `exec()` would always run in `cmd.exe` by default. What's the behavior in powershell?

If that much works for you, then are you able to run the unit tests with `npm test`?

[2016-01-13 08:02] BYK commented on #287
Oh, it probably does. I just tried the command manually in my shell. Sorry for not being clearer :)

Same as `shelljs`.

Here's the full output:

[code]

[2016-01-13 08:03] BYK commented on #287
These don't look hard things to fix to me.

[2016-01-13 08:21] nfischer commented on #287
Ok, awesome! When I ran it, I couldn't run a single unit test (because `exec()` always runs commands in the home directory for me on Windows).

If you'd be interested, would you be able to investigate those unit test failures, and report (and/or fix) the bugs as github issues? That would help tremendously in getting this project running smoothly on Windows.

[2016-01-14 00:10] #267 closed

[2016-01-14 00:13] TimothyGu commented on #281
@ariporad +1

[2016-01-14 09:45] BYK commented on #287
Will do!

[2016-01-14 19:29] arve0 commented on #17
@ariporad Why remove the bug label? Is breaking on usersnames with spaces intended behavior?

I see you write

in #272. What is a better label?

[2016-01-14 20:01] nfischer commented on #176
This should be resolved by #275

[2016-01-14 20:41] nfischer commented on #17
I think he just removed all the old labels. I think the label  we're using for bugs is "fix" (although I personally liked the "bug" label better). I suppose if we think of "fix" as meaning "please fix this" for github issues and "fix" as meaning "this is a fix" for pull requests, then it all makes sense.

[2016-01-15 04:49] freitagbr opened #291 "Support echo-ing environment variables"
`echo()` should be updated to support echo-ing environment variables. Currently, `echo('$TERM')` will simply echo `$TERM`. We should allow distinction between strings and variables. Maybe something like this:
[code]
Environment variables are visible to Node through the `process.env` object, which contains the user environment.

[2016-01-15 04:57] ariporad commented on #17
@arve0, @nfischer: Yeah, that's exactly right. I have a script which nukes all the existing labels and creates new ones.

@nfischer: The reason for `fix` is that at the time we were planning to use the commit message guidelines, so I created a label for each commit message type (`chore`/`fix`/`test`/`feat`/etc.).

[2016-01-15 04:57] nfischer commented on #291
@freitagbr Would this suit your needs?

[code]

See [the docs](https://github.com/shelljs/shelljs#envvar_name)

[2016-01-15 04:59] freitagbr commented on #291
Yes. I should read more carefully.

[2016-01-15 05:01] nfischer commented on #17
Yup, I figured that was the other reason.

Back to the issue at hand, I think we agree that this is in fact an issue, and I've applied the label. I'll try testing out #263 and see if this is in fact an issue and if that fixes the concern.

[2016-01-15 05:03] nfischer commented on #291
Closing this for now. Re-open if you think there's need for better syntax for this feature.

And I agree, the docs aren't quite as great as they could be. I think we should consider reformatting the docs a bit. Feel free to open a PR if you think you can clean up any of the command descriptions.

[2016-01-15 05:03] #291 closed

[2016-01-15 05:04] #255 closed

[2016-01-15 05:17] nfischer commented on #277
@nathanbrauer @tminglei

Would this section of [the docs](https://github.com/shelljs/shelljs#execcommand--options--callback) help you do what you want to achieve? It looks like you can get the results in real-time, chunk by chunk. Then it's just up to you to parse for a newline (or whatever you need) and do something with the line of text.

[2016-01-15 05:24] tminglei commented on #277
Yes, that't I want. _Thanks! :-)_

[2016-01-15 05:29] nfischer commented on #277
Awesome! Sorry it took so long to figure out a solution for you. I'm going to close this issue for now, but please feel free to reopen if either of you find this unsuitable (I haven't tried it with timestamps, but it seems to work as I'd expect).

[2016-01-15 05:29] #277 closed

[2016-01-15 16:34] joselevelsup commented on #220
So far I'm getting a Illegal Invocation everytime I use
[code]
inside the renderer index.js

[2016-01-15 16:59] nathanbrauer commented on #277
Thanks - I'll take a look at this is a week or so.

[2016-01-15 19:30] nfischer commented on #220
@joselevelsup is that using the latest version of master (we merged #274 yesterday)? What does the following code do for you? This would isolate if it's more than just an issue with `echo`.

[code]

[2016-01-15 19:54] joselevelsup commented on #220
Turns out I was using it wrong. I had to use it in the Main process of Electron not the Render Process. Shelljs works fine!

[2016-01-15 20:17] nfischer commented on #220
Awesome to hear! I'll close this issue for now. Please reopen if there are any concerns.

[2016-01-15 20:17] #220 closed

[2016-01-16 00:26] #256 closed

[2016-01-16 01:34] #101 closed

[2016-01-18 14:04] vejersele commented on #60
@nfischer we just encountered this issue on Linux, while it was working perfectly fine locally on my mac ... Might be OS related then I guess.

OS : Ubuntu 14.04.3 LTS

[2016-01-19 00:51] nfischer commented on #60
@vejersele Did you see the issue with my simple example above? I tested my example on Ubuntu 15.10 and it worked perfectly. If you can confirm that simple examples like above aren't working for you, then I can investigate further.

[2016-01-19 03:25] nfischer commented on #140
Once #275 is merged, I can write up a very quick fix for this.

[2016-01-19 04:45] ariporad commented on #272
@nfisher, @arturadib: Im on vacation, so I don't have great internet, but I'd like to make a time to get together the three of us in gitter and discuss the future. (Any day in the next week or so works for me).

Im really sorry about being pretty inactive recently, this was really poor timing on my part. (And Ive been trying to at least check in from my phone when I can, so that usually means revi

[2016-01-19 04:49] nfischer commented on #272
Sounds good to me. I pinged the gitter the other day to see when your availability would be. I can be free sometime tomorrow and have a fairly light schedule during the week. Would tomorrow work for you?

[2016-01-19 04:51] nfischer opened #294 "run-tests.js is broken for cmd.exe"
I was trying out `run-tests.js` on my Windows machine, and ran into *lots* of problems. Since we're trying to get good support for Windows, I figured I'd make this a formal issue so that others can chime in and confirm the behavior I'm seeing.

The end-goal of this issue is to open up `cmd.exe` on Windows, `cd` to the shelljs directory, type `npm test`, and see that all the tests pass. To me this

[2016-01-19 05:02] nfischer commented on #294
I'll open a PR later that at least gets jshint working properly (and should work on both Windows and Linux).

[2016-01-19 10:08] nfischer commented on #209
Closing this, since #268 was merged. If this doesn't work as expected, please reopen this issue and let us know.

[2016-01-19 10:08] #209 closed

[2016-01-19 11:45] BYK opened #296 "Failing tests on Windows"
There are failing tests on Windows. My system is Node 4.2.4 with Windows 10:

[code]

[2016-01-19 12:13] BYK commented on #296
Well, this looks like a dupe of #294.

[2016-01-19 14:16] mtscout6 commented on #294
Have you considered getting a CI setup with [AppVeyor](https://www.appveyor.com/)? It's a free service like travis that runs on Windows machines. It also supports GitHub integration like Travis for Pull Requests so you know they work with both Windows and Linux based systems.

[2016-01-19 14:23] aurium commented on #146
Consider this related to issue #154, so any output must be silenced when piped to a file.

[2016-01-19 16:25] cancerberoSgx commented on #242
OK, I'm pasting my initial comment with a solution here so we don't miss it:

Hello, good project!

I'm having trouble with .exec/.execAsync, particularly when invoking command line tools that uses terminal colors or terminal advanced features like cli-spinner, etc.

By default, shelljs will create a new buffer for child processes and executing command line tools that use for example cli-spinner w

[2016-01-19 20:39] nfischer commented on #294
Yes! We're working on setting up AppVeyor (although this issue sounds like it needs to be fixed before AppVeyor can be useful). If you have any experience writing an AppVeyor configure file, help would be appreciated :+1:

[2016-01-19 21:16] mtscout6 commented on #294
I did one for [react-bootstrap](https://github.com/react-bootstrap/react-bootstrap) which is:

https://github.com/react-bootstrap/react-bootstrap/blob/master/appveyor.yml

[code]

[2016-01-19 21:56] nfischer commented on #294
Awesome! That looks great, thank you! @ariporad what do you think?

[2016-01-20 00:04] nfischer commented on #296
This is still a good issue to keep open. This will help us diagnose the actual errors with the tests.

#295 is a partial fix for #294. It looks like your PR #297 will help with the individual test cases.

The only other thing is to see if we can fix the issues with `exec()` spawning in the home directory instead of current directory for `cmd.exe` users (not sure if this is really even fixable).

[2016-01-20 00:15] nfischer commented on #294
@mtscout6 Would you be able to take a look at #298? I'm using the same yml, and the project is configured to only run AppVeyor on branches with the yml file. Unfortunately, I'm not seeing AppVeyor integration on the PR, although the page for it is https://ci.appveyor.com/project/nfischer/shelljs. Could it perhaps be ignoring the yml file? Thanks in advance!

[2016-01-20 01:00] mtscout6 commented on #294
I'll have to look at it tomorrow when I'm back in front of a computer.

On Tue, Jan 19, 2016, 17:15 Nate Fischer <notifications@github.com> wrote:

[2016-01-20 04:31] nfischer commented on #294
Thanks! It seems like it's only running on the master branch, not the PR, which might explain it

[2016-01-20 17:10] mtscout6 commented on #294
At first glance I think you're missing this:

![screen shot 2016-01-20 at 10 05 10 am](https://cloud.githubusercontent.com/assets/736870/12456506/6bcbeafc-bf5d-11e5-91db-8b8806f1910d.png)

Here's a screenshot of React-Bootstrap's configuration as well:

![screen shot 2016-01-20 at 10 09 50 am](https://cloud.githubusercontent.com/assets/736870/12456640/020e7624-bf5e-11e5-8bab-1e3014f83886.png)

It'

[2016-01-20 17:11] mtscout6 commented on #294
If you're up for granting me access to that project in AppVeyor I can poke around and see if anything stands out to me.

[2016-01-20 17:56] ariporad commented on #272
@nfisher: I'm not sure when "tomorrow" is (based off your comment), but I pinged the gitter. Let's move this there.

[2016-01-20 17:57] ariporad commented on #272
I'm also going to lock this.

[2016-01-20 17:57] #272 closed

[2016-01-20 19:12] nfischer commented on #294
Yup, I was missing that. I double checked that our settings match yours and will try another commit later today to test. Thanks!

[2016-01-20 21:10] BYK commented on #296
Can you reference the issue from here too?

[2016-01-20 22:20] dtruel opened #300 "Shelljs quits unexpectedly:"
I have no idea why  - but this is the output

[code]

[2016-01-20 23:29] nfischer commented on #300
The variable err is undefined. Where are you setting that value?

[2016-01-21 00:04] dtruel commented on #300
I'm not setting it, however I am using this library:

https://www.npmjs.com/package/exec

I guess I'll post this there.

Thanks!

[2016-01-21 00:04] #300 closed

[2016-01-21 00:14] mtscout6 commented on #294
Another issue with why AppVeyor is not getting triggered is because you need to setup a webhook in Github.

Here's more of React-Bootstrap's configuration:

![screen shot 2016-01-20 at 5 13 46 pm](https://cloud.githubusercontent.com/assets/736870/12467530/4766c1dc-bf99-11e5-9e3f-8d45c99cc6c9.png)

[2016-01-21 00:16] mtscout6 commented on #294
There's are the specific details of that webhook:

![screen shot 2016-01-20 at 5 16 11 pm](https://cloud.githubusercontent.com/assets/736870/12467563/8d65fac2-bf99-11e5-99d7-83a52eb6c0a7.png)

[2016-01-21 00:41] nfischer commented on #296
@BYK The issue with `exec()` is related to #250. When running a shelljs script from `cmd.exe`, I've seen that any `exec()` calls will run in the home directory.

[code]

I'm observing that, given I'm in a directory **other than** my home directory, then this will not output the same string twice (as I would expect it to).

I'm running this on Windows 7 64bit, using `cmd.exe` as my shell. If you se

[2016-01-21 00:44] nfischer commented on #294
Ok, great! Unfortunately, I don't have access to the settings for this repo, so I won't be able to get that modified just yet. @ariporad @arturadib would one of you be able to grant access or set this up? I can provide the webhook.

[2016-01-21 11:06] BYK commented on #296
@nfischer I can't reproduce this on my Windows 10, Node 4 installation. Tried both from `cdm.exe` and the shell I'm using (`xonsh`). Both output the directory I started `node` from which is the correct working directory. I simply run the following:

[code]

[2016-01-21 21:05] ariporad commented on #294
@nfischer: Nope, waiting on @arturadib to give both of us admin access to the shelljs org. Then we can.

[2016-01-21 23:39] BYK opened #301 "`link -s` is broken for files on Windows"
Currently we simply use `junction` as the linking method on Windows do avoid any linking permissions that Windows has (requires admin permissions to link a file). This though only works for directories so we need to check the source item type and use the proper link method accordingly.

[2016-01-21 23:48] nfischer commented on #296
Interesting. I'm running through node v5 on my Windows machine. Perhaps it's Windows 7 specific, or node v5 specific (unlikely), or perhaps it's specific to my machine.

Personally, I don't care too much about running `exec()` on my personal windows machine, but I imagine that if I have the issue, others might as well. I've seen some articles online that mention that `child_process.execSync` calls

[2016-01-21 23:48] BYK opened #302 "Document supported modes for `chmod` on Windows clearly"

[2016-01-21 23:50] nfischer commented on #302
(to provide context)

This is a follow up to #297. It appears that Windows has poor support for `chmod`-like operations. So our docs should probably reflect the shortcomings of `chmod` on Windows systems.

Links (from @BYK)

 - https://github.com/nodejs/node-v0.x-archive/issues/4812
 - https://stackoverflow.com/questions/23329451/node-file-modes-on-windows/23330010#23330010

[2016-01-24 18:02] ariporad commented on #302
@BYK: Would you mind opening a PR for this? It seems like you understand this a lot more than I do.

[2016-01-24 18:03] ariporad commented on #301
@nfischer: Do you have a windows VM to test a possible PR for this? (I have no windows access, so I wouldn't know if it worked).

[2016-01-24 18:06] ariporad commented on #280
I'll do this.

[2016-01-24 18:39] BYK commented on #301
@ariporad I do have Windows machine that I use as my main computer :) Also if you don't have time I can submit a PR too. I just didn't have time back when I created the issue.

[2016-01-24 19:25] ariporad commented on #301
@BYK: Actually, that would be great, would you mind? You seem to know a heck of a lot more about Windows than I do.

[2016-01-24 19:26] ariporad commented on #280
Fixed in #304.

[2016-01-24 19:32] ariporad commented on #197
@dominykas: Sorry this issue is so old! Would you mind re-doing this with the latest version of shelljs and letting me know if it is still broken? Thanks!

[2016-01-24 19:36] ariporad commented on #193
@crjobson: So, If I understand you correctly, we should be using `lstat` in `cpdirSyncRecursive`?

[2016-01-24 19:37] ariporad commented on #193
Also, I'm going to change the issue title to make it more general.

[2016-01-24 19:51] ariporad commented on #191
Closing, as it's a duplicate of #1.

[2016-01-24 19:51] #191 closed

[2016-01-24 19:52] ariporad commented on #1
@nfischer: Are you working on this?

[2016-01-24 19:52] nfischer commented on #302
Yeah, if @BYK has the free time to do this, it would be helpful. I'd still label it as low priority, although I'd say this would probably have to block #297 just since I'm not comfortable with taking out unit tests on windows without first documenting that they're not well supported.

I can also try this out, since I have a Windows 7 machine, but I probably won't get to it until later.

[2016-01-24 19:54] ariporad commented on #186
Yeah, that's because commands don't output the color bits when the output is piped. (It would look really weird).

If someone wants to look into it, I think there's a way to bypass it, but it's not super high priority.

[2016-01-24 19:54] ariporad commented on #183
Hmm... @nfischer: Thoughts?

[2016-01-24 19:54] nfischer commented on #1
@ariporad I tried a simple solution with `cp()` and `rm()`, but I was dissatisfied because error messages with either of those steps show `cp: ` or `rm: ` at the start, which isn't very preferable. Feel free to write up a PR though!

[2016-01-24 19:56] nfischer commented on #183
It seems like a reasonable request. I'm not sure what support Node has for `chown`-like operations. Also, I have no clue what cross-platform support there is, and I'd only want to do it if it runs (somewhat) well on Windows.

[2016-01-24 19:56] ariporad commented on #181
@chirantan, @JohnnyMarnell, @thunderace, @MarianoRemedi, @AlexisCaffa, @zzuhan: Is this an issue with shelljs? I'm not sure.

[2016-01-24 19:59] ariporad commented on #180
@VectorHo: Hi! would you mind re-testing this with the latest version of shelljs.

[2016-01-24 20:02] ariporad commented on #178
@jihao: Would you mind testing this with the latest version of shelljs? Thanks!

[2016-01-24 20:05] ariporad commented on #170
@nfischer: Thoughts?

[2016-01-24 20:07] ariporad commented on #170
@DinisCruz: I'm going to close this because your stack overflow link literally says that there is no way to do this in node. Just use `exec`.

[2016-01-24 20:07] #170 closed

[2016-01-24 20:09] ariporad commented on #165
@TimothyGu: Thanks so much for your help!

I'm going to close this, because it appears to not be a problem with shelljs. Feel free to reopen if needed.

[2016-01-24 20:09] #165 closed

[2016-01-24 20:09] ariporad commented on #160
@gkovacs: Would you mind re-testing this with the latest version of shelljs? Thanks!

[2016-01-24 20:10] ariporad commented on #158
@eGavr, @lo1tuma: Would one of you mind testing it with the latest version of shelljs? Thanks!

[2016-01-24 20:11] ariporad commented on #157
@nfischer: What do you think about this? I'm not really sure if we should support this. (Nor if it's possible, because we execute each command separately, and we can't cd into a deleted directory).

[2016-01-24 20:13] ariporad commented on #156
@amjibaly: That's because `error()` just returns `stderr`. This will be fixed by #269.

[2016-01-24 20:13] ariporad commented on #156
I'm going to close this, as it will be fixed.

[2016-01-24 20:13] #156 closed

[2016-01-24 20:14] ariporad commented on #155
@aurium: Are you aware of `tmpdir()`? I agree that the name is a little strange, I'll open an issue to rename it.

[2016-01-24 20:14] #155 closed

[2016-01-24 20:15] ariporad opened #305 "Rename `tmpdir()` to `mktmp()`."
To comply with standard unix naming.

@nfischer: Thoughts?

[2016-01-24 20:20] nfischer commented on #305
So would we deprecate the old name, or just get rid of it?

Also, I believe `shell.tempdir()` only returns the name of the temporary directory, it doesn't make it

[2016-01-24 20:21] nfischer commented on #155
This sounds like it's also creating a temporary directory, which `tempdir()` does not do

[2016-01-24 20:29] gkovacs commented on #160
not hanging anymore, but giving a stacktrace instead:

$ lsc
LiveScript 1.4.0 - use 'lsc --help' for more information
ls> require('shelljs').exec('ls')
Failed at: /var/folders/9y/khkqwm9n23nfx4m794l7n90r0000gn/T/shelljs_9cd0cb6c7a9cc65959c6
[Error: Parse error on line 1: Unexpected ','
at /var/folders/9y/khkqwm9n23nfx4m794l7n90r0000gn/T/shelljs_9cd0cb6c7a9cc65959c6]
shell.js: internal error
Error:

[2016-01-24 20:30] nfischer commented on #178
^ latest version in the github repo (since we haven't done a release in a while)

[2016-01-24 20:34] gkovacs commented on #160
The issue is that when using lsc, process.execPath is /usr/local/bin/lsc instead of the path to node (it is /usr/local/bin/node when using both coffee or node, which is what shelljs seems to expect)

As you'll see explained at https://github.com/gkz/LiveScript/issues/562 if I modify the livescript interpreter to set process.execPath to /usr/local/bin/lsc then it fixes the issue.

Unfortunately the

[2016-01-24 20:36] nfischer commented on #158
It sounds like this is opening too many files, which doesn't sound like a shelljs-specific issue. Perhaps @eGavr should modify the shell script? Or perhaps the issue lies somewhere else.

[2016-01-24 20:38] nfischer commented on #180
^ from the git repo is best, since we haven't done a release in quite a while

[2016-01-24 20:40] dominykas commented on #197
I created this repo: https://github.com/dominykas/shelljs-issue-197

With results here:
* 0.5.0: https://travis-ci.org/dominykas/shelljs-issue-197/builds/104491360 (fails, intermittent)
* 0.5.3: https://travis-ci.org/dominykas/shelljs-issue-197/builds/104491612 (seem to always pass)

So I guess it's fine, as long as you know what you fixed? :)

[2016-01-24 20:43] nfischer commented on #160
So it sounds like this is an issue with lsc? Currently, we only support js and coffeescript, not the others

[2016-01-24 20:50] nfischer commented on #197
Perhaps the issue was related to #206 (which was fixed by #214)? Both @ariporad and I came on after v0.5.3, so I'm not as familiar with the issues back then. Reading your error messages however, it looks like it's related. Closing for now, but please reopen if the issue ever returns.

[2016-01-24 20:50] #197 closed

[2016-01-24 20:59] nfischer commented on #157
I don't think we should support this.

 1. I'm not sure how we would, since `exec()` forks a shell, which has to start in some directory (and cwd makes the most sense)
 2. I don't think this affects a large number of users
 3. It actually does work if you swap `exec(...)` with the native shelljs `echo()`

I vote to close this issue. @amjibaly if you really need this behavior, provide a more useful

[2016-01-24 21:00] nfischer commented on #301
I have a Windows 7 machine I can try testing this out on, once the PR is submitted :+1:

[2016-01-24 21:23] ariporad commented on #157
Me too... Closing. @amjibaly: feel free to reopen if you have useful example.

[2016-01-24 21:23] #157 closed

[2016-01-24 21:27] ariporad commented on #155
@nfischer: hmm... Thoughts on doing that?

[2016-01-24 21:29] nfischer commented on #155
I'm not familiar with what support node provides, or if this makes sense to do on Windows. I think using the directory provided by `tempdir()` has been working well for most people, so that wouldn't be a priority for me.

[2016-01-24 22:05] ariporad commented on #167
@MetaMemoryT: Yeah, that's a side effect of our trying to make `exec` synchronous (Node doesn't support that by default). I don't really think there's anything we can do about it.

@nfischer: Thoughts?

[2016-01-24 22:07] ariporad commented on #154
Hmm... I'm not sure. On one hand it makes sense, but the other it's confusing.

@nfischer: Do you think we should implement this?

[2016-01-24 22:09] ariporad commented on #148
Yeah, me and @nfischer can now merge PRs, so any new ones will be merged ASAP, and we'll try to to get through the backlog.

[2016-01-24 22:40] nfischer commented on #148
Also, I'll be opening a PR soon that will allow for pipes! So stay tuned (I just have some bugs to fix first).

[2016-01-24 23:22] nfischer commented on #154
@ariporad I was thinking of something similar actually. I was thinking of refactoring everything to return a `ShellString` which acts like a string, but also has a `.code`, `.stdout` (equivalent to default behavior), and `.stderr`, among some other features. If `exec()` gets refactored too, then either style would work.

[2016-01-24 23:24] nfischer commented on #167
I think some steps have been taken to reduce cpu usage for newer versions of node. @MetaMemoryT does the issue persist with node v5?

[2016-01-24 23:38] TimothyGu commented on #305
:+1:

[2016-01-25 01:25] ariporad commented on #154
@nfischer: Hmm... I think it would make more sense if everything returned a ShellResult, because the stdout duplication would be weird.

[2016-01-25 01:26] ariporad commented on #154
Alternatively, the ShellString could contain all output (stdout + stderr), then we could have ShellString.stdout/stderr.

[2016-01-25 04:50] #280 closed

[2016-01-25 08:13] nfischer opened #309 "Gen-docs is broken"
Oops! It turns out that #303 modified the behavior of `sed()` in a way that didn't play nicely with `scripts/generate-docs.js`. The docs script uses a regex `/## Command reference(.|\n)*/`, which was previously used to mean "replace everything from '## Command reference' until the very end of the file."

Unix `sed`, however, does not operate on multiple lines, so it only replaces the first line, l

[2016-01-25 08:29] sedwards2009 commented on #167
Is using sleep() from https://www.npmjs.com/package/sleep an option? I appears to use a system call to sleep/stop the process for a given amount of time and it shouldn't burn CPU.

[2016-01-25 21:55] aurium commented on #305
Folks, the main feature of `mktemp` is to create a temp file. A directory is created if you ask it explicitly with a `-d`:
[code]

Rename `tmpdir()` to `mktmp()` will not be a good Unix mimic. _I think..._

[2016-01-26 01:16] #100 closed

[2016-01-26 02:17] ariporad commented on #309
Fixed.

[2016-01-26 02:17] #309 closed

[2016-01-26 12:37] jonaskello commented on #133
I'm also running in to this. Could we have a new npm package with this fix?

[2016-01-26 14:36] ariporad commented on #133
@jonaskello: We're working at a new release, we want to do a few more things.

[2016-01-26 14:54] ariporad commented on #305
Well, we could add creation functionality.

[2016-01-26 22:50] nfischer commented on #305
I'm not sure how often it'd be used to justify pulling it into shelljs instead of relying on exec(). If cross-platform is necessary, you can always have an if statement that has the exec for UNIX mktmp in one branch and Window's equivalent in the other

[2016-01-26 23:49] nfischer commented on #231
@cvrebert this should be resolved in #314. It'll work similarly to how `grep()` currently works. All output in one string, and each file gets replaced individually if the `-i` flag is passed.

[2016-01-27 13:51] crjobson commented on #193
hi
Yes - i think you should use stat, and then copy the actual folder.  But you MIGHT want a way of telling cp to only copy the soft link as an option?  In my case, the final recursive copy was useless as the copied soft links were invalid in the new location.  So either do a full copy THROUGH the soft links, or do a SHADOW copy by preserving the soft links.  I think it depends on the way soft lin

[2016-01-28 03:04] #294 closed

[2016-01-28 03:24] #231 closed

[2016-01-28 03:28] gatkinsNZ commented on #198
@nfischer This is an issue on windows 7 also - just tested and got the same result when using a .png file.

Just to clarify:
- I have a symlink to a file
- the file that is being copied is the symlink, but instead of the symlink being copied as is to the new location, a junction link is created instead, which links to the very original file as if it was a directory not a file

To get around this f

[2016-01-28 04:06] cvrebert commented on #127
Duplicate of #296?

[2016-01-28 04:28] nfischer commented on #296
Fixed in #297

[2016-01-28 04:28] #296 closed

[2016-01-28 04:28] nfischer commented on #127
Fixed in #297

[2016-01-28 04:28] #127 closed

[2016-01-28 04:29] nfischer commented on #287
Fixed in #299

[2016-01-28 04:29] #287 closed

[2016-01-28 04:30] nfischer commented on #278
Closing this, since there doesn't seem to be much interest (and it wasn't a big concern of mine anyway)

[2016-01-28 04:30] #278 closed

[2016-01-28 04:34] nfischer commented on #250
So I'll be closing this again, since I think my Windows system is just peculiar about `exec()`. Everything passes Windows CI now, so unless more people have the issue I described, let's leave it for now.

For the record, this could be resolved by #163 if we decide to move forward in this direction.

[2016-01-28 04:34] #250 closed

[2016-01-28 04:39] nfischer commented on #238
Closing since this is fixed in #239

[2016-01-28 04:39] #238 closed

[2016-01-28 04:52] nfischer commented on #148
So for my implementation, I opted to go with the syntax:

[code]

The following commands can be on the **right** side of a pipe (almost anything can be on the left):

 - `cat`
 - `grep`
 - `sed`

Is this agreeable/intuitive to everyone? I still have some bugs to resolve, but after that I'll try to push the PR.

[2016-01-28 17:02] amacfie commented on #148
Can `exec` be on the right too?

[2016-01-28 17:18] aurium commented on #148
Nice @nfischer! _Can `exec` be on the right too?_ +1

[2016-01-28 23:38] nfischer commented on #148
I will look into this. Thanks for mentioning

[2016-01-29 01:57] nfischer opened #319 "sed and grep should return arrays"
Currently, `sed()` and `grep()` return multiline strings. I think they should instead return arrays. This is to stay consistent with `ls()`'s behavior.

This should be resolved before v1.0

[2016-01-29 11:58] bompi88 commented on #254
+1

[2016-01-29 22:13] gvn opened #323 "Feature request: Metadata with `ls`"
Hi there. First off, I'm a big fan of this library!

Unless I'm missing something, there's no way to read the modification date of a file (among other things). I'm having to go back into node's `fs` module for that. It seems like this would be very useful. It strikes me that it could be added in an option for `ls`.

EG: `ls('-l', 'path')` might return an array of objects with file metadata such as

[2016-01-29 23:08] nfischer commented on #323
Sounds good to me. I think I'll open a PR for ls -l later today, and it'll be based off this design

[2016-01-29 23:16] gvn commented on #323
Awesome! I'm happy to give it a code review if you'd like. I could probably also write a PR soon-ish, but my guess is you'd be way faster at adding it. Just let me know! :smiley:

[2016-01-29 23:20] nfischer commented on #323
@gvn I'll tag you in the PR once it's done :+1:

[2016-01-30 01:35] nfischer commented on #254
Confirmed. I think this has to do with the way we force `exec` to be synchronous (by writing to temp files)

[2016-01-30 02:11] nfischer commented on #323
@gvn I tagged you in the PR

[2016-01-30 09:16] BYK commented on #198
This may also be resolved by #322.

[2016-01-31 05:09] nfischer commented on #198
@gatkinsNZ would you be able to check out #322 (or check out the master branch once that is merged)? Reading your description, it looks like #322 will probably resolve it.

[2016-01-31 16:31] #301 closed

[2016-01-31 18:57] nfischer commented on #198
@gatkinsNZ This is merged in master. If the issue is now fixed, feel free to close.

[2016-01-31 19:18] #323 closed

[2016-01-31 19:42] nfischer opened #327 "Add documentup as a webhook"
We need to update http://documentup.com/shelljs/shelljs. It's all generated off the README, but we need to actually update the site itself with new docs

[2016-01-31 19:47] nfischer commented on #193
I think this should be resolved by #232

[2016-02-01 02:39] ariporad commented on #327
@nfischer: I think I added a webhook so it gets done automatically.

I'm going to test it by removing @arturadib's twitter from the README.

[2016-02-01 02:42] nfischer commented on #327
Looks like it worked! :+1: Let's add the twitter back in just in case Artur wants to have that as a line of contact though.

[2016-02-01 02:43] ariporad commented on #327
Nope... Apparently I didn't.

But visiting http://documentup.com/shelljs/shelljs/__recompile works just as well. Maybe we can add that to travis? (When I get a minute later, I'll debug the webhook a little more).

[2016-02-01 02:44] nfischer commented on #327
Ah, ok. As long as the stuff is recompiled. It'd be nice to have that as a webhook though, but only for builds that get merged, not all PRs (not sure if that's hard to set up)

[2016-02-01 02:46] ariporad commented on #327
I don't think it should be.
I don't think we should have the twitter on there, as I doubt he wants it,
and
regardless, it would be better if they used the issue tracker. (Mostly to
consolidate it, and because they way we can see it to impliment).

[2016-02-01 04:10] ariporad commented on #327
Hmm... Maybe we do have it...

I'm going to test again.

[2016-02-01 04:14] ariporad commented on #327
Hmm... It didn't work. I have no clue.

[2016-02-01 04:16] ariporad commented on #327
It looks like this is a known issue: jeromegn/DocumentUp#98.

[2016-02-01 04:30] gatkinsNZ commented on #198
@nfischer The issue I am striking is in cp.js, while #322 is a fix in ln.js. However the same solution I assume would work for cp() too..

[2016-02-01 04:33] nfischer commented on #198
Ah, I see. Sounds like we'll have to open a new PR and add some more tests. Should be fairly straightforward, if someone wants to take it up.

[2016-02-01 05:41] nfischer commented on #281
After looking into this a bit, I think only `cmd.exe` will be supported on Windows. Going off [the docs](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback), is says:

Bash, however, would not be compatible with `cmd.exe`. I have this implemented for Unix, however. I'll try setting it to default to `cmd.exe` if Node says the platform is Windows, oth

[2016-02-01 12:08] stefk opened #332 "rm -rf incorrect behaviour"
`rm('-rf', target)` should never throw an exception when the target doesn't exist. It does, however, when it is *inside* a non-existent directory:

Expected:

[code]

Actual:

[code]

[2016-02-01 13:52] ariporad commented on #281
@nfischer: Idea: On windows, could exec run `cmd.exe`, but give it "bash -c \"<actual command>\""?

[2016-02-01 14:06] ariporad commented on #332
Hmm... That would appear to be the case. I'll try to whip up a PR.

[2016-02-01 14:09] sedwards2009 commented on #281
Shouldn't it actually be using /bin/sh instead of bash? Not every system has bash but all of the unix-like ones should have a POSIX compliant shell at /bin/sh. It other words, it is more portable.

[2016-02-01 14:31] aurium commented on #305
IMHO, I believe its a very important feature because it shorthand a very important good practices.

Most of my bash scripts and from my work friends must create temp files and it should be done by some tool (or function) that can do it by the right way.

If shelljs do not provide a cross-platform mktmp, some users may follow the easy path writing on pwd within an untested filename. So... shelljs c

[2016-02-01 20:11] nfischer commented on #281
@sedwards2009 This tries bash, if it doesn't exist, falls back to sh. This should make it fairly safe.

@ariporad, I'd prefer not to do that. It's a good idea, but there can be weird bugs with escaping quotes, and things like that. If users *really* want that, they'll have the flexibility to do it themselves now. The point of exec is to run native commands that aren't part of shelljs, and that wou

[2016-02-01 23:36] nfischer commented on #305
I think tempdir() exists for this purpose (and solves it well enough for me). I'll gladly look over any PRs for this, though

[2016-02-02 22:41] aurium commented on #305
Yes! For sure. `tempdir` will not make temp files, however temp directories are way more frequent than temp files, and will work when we need for one file only.

I was worried because the issue proposal is to rename `tmpdir()` to `mktmp()`, without talking about the `-d`.

`tempdir` can do the job, still i support this proposal because it makes Shelljs to use the same Unix nomenclature. :-)

[2016-02-03 09:02] obihill opened #334 "option not recognized"
I'm trying a very simple example but I'm having issues:

[code]

and then I run `shjs my-js-file.js` on the command line. I get the following error: `ls: option not recognized: l`.

What am I doing wrong?

Note: Trying this using Node version 4.2.4 on an Ubuntu 14.04 server (DigitalOcean).

[2016-02-03 16:51] nfischer commented on #334
Did you install via npm? ls -l is brand new (thanks for trying it out!) and as such has not yet been released on npm. Expect a new npm release (v0.6) by the end of this week :+1:

You can get this feature immediately by cloning our git repo instead

[2016-02-03 21:28] nfischer commented on #103
@nzakas would this syntax work for you?

[code]

The concern is that this makes parsing slightly harder, since `exec()` can take options as well as a callback.

[2016-02-03 21:32] nfischer commented on #143
@d11wtq we don't currently support an array syntax for `exec()`, but you can achieve that with `['ls', '-A', '/path/to/dir'].join()`.

Or is your concern about escaping values (such as how `printf "\\"` is written as `exec('printf "\\\\"')` in shelljs)?

[2016-02-03 21:35] nfischer commented on #132
:+1: I think this would be a good feature to add. I see a trend that most people want the native options to be exposed, so I suspect we'll modify `exec()` to support all native options. I'll tag this issue in a PR over the next couple weeks.

[2016-02-03 21:39] nfischer commented on #142
@adrior Hmmmm this should work properly. What system are you running on?

Could you please confirm the same behavior with a simpler command?

[code]

[2016-02-03 21:44] nfischer commented on #112
This is related to #244. @dearfrankg would that be a suitable alternative?

[2016-02-03 22:56] obihill commented on #334
Thanks a lot. I'll make do with `.exec()` until then. Not in a hurry.

Cheers.

[2016-02-03 22:56] #334 closed

[2016-02-03 23:17] nfischer commented on #334
My pleasure

[2016-02-04 09:21] myme commented on #148
`exec` would be really nice for portable ways of building e.g. uglified browserify bundles (if you want to opt out of `gulp`/`grunt`):

[code]

It would be nice then to have access to the `.to` on the right-hand side as well. Either directly from `exec` or through `cat`:

[code]

In the latter case you probably want cat to be silent (or at least mute it through options), as you really don't want t

[2016-02-04 16:27] nzakas commented on #103
No, that's what I want to avoid. I implemented something similar here:
https://github.com/nzakas/shelljs-nodecli/blob/master/lib/shelljs-nodecli.js#L82

Feel free to use that code if you'd like.

[2016-02-04 19:36] ariporad commented on #132
Ok, this in fixed in #335, so I'm going to close this.

[2016-02-04 19:36] #132 closed

[2016-02-04 20:20] nfischer commented on #148
@myme thanks for providing a use case! I'll look into doing this.

This should be very easy to do for async `exec()`. I'll see if I can figure out a hack for synchronous `exec()` as well. If I can't get both, I'll do a PR for pipes for the utilities I've mentioned and ask for a contribution for `exec()` support.

[2016-02-04 23:20] ariporad opened #340 "Asking for feedback on the `make` command"
Hi Everyone!

Me and @nfischer (but mostly me), were wondering if you guys used `shelljs/make`, and/or if you'd be sad if it went away.

Thoughts?

[2016-02-04 23:34] nfischer commented on #340
This is a feature I don't personally use. I don't mind keeping it if there are people out there that use it, although I see very few bug reports/feature requests for the `make` command, which makes me suspect it's less popular than the rest of the API.

[2016-02-04 23:35] ariporad commented on #340
@nfischer: My thoughts exactly.

[2016-02-04 23:46] nfischer commented on #103
I'll look into this option. Unfortunately, there's also some people who would like to be able to run multiple commands from one `exec()` call, i.e.

[code]

as an alternative for

[code]

[2016-02-05 08:40] sedwards2009 commented on #103
shelljs pulls directly from the typical unix command set, and in unix exec() with a list of strings means command in the first place and separate argument strings following. The main reason to use exec() like this is so that you don't have to do any kind of shell escaping on the arguments. People get this wrong all the time and it leads to severe security problems like: https://www.owasp.org/index

[2016-02-05 09:52] gruenebe opened #342 "v0.6.0 - shell.cp('r', '/foo/*, '/bar') fails with /foo/* no such file or directory"
Hi,

I am using shelljs for a long time now. My Jenkins always pulls the latest version and until v0.5.3 everything works nice. But with 0.6.0 something broke.
When I do:

[code]

I get the error

[code]

Using ubuntu with `apt-get install nodejs-legacy` in version

[code]

Do I have the wrong node version or is this really a bug?

[2016-02-05 16:14] nzakas commented on #103
I don't really care at this point, I have my own wrapper that does what I need. I opened this issue two years ago, so feel free to close it if you don't want to address it.

[2016-02-05 17:46] nfischer commented on #342
Hi @gruenebe, thanks for reporting this issue!

This was a breaking change we introduced in v0.6 in order to get closer to bash compatibility. The command you're writing would normally fail in bash, so we thought it should fail in ShellJS too.

To get the behavior you want, using v0.6 (which I recommend), you can change fontSourceDir from ending in "fonts/*" to merely "fonts/" or "fonts". This sho

[2016-02-05 17:47] gruenebe commented on #342
ok cool, thanks for the answer. I was previously checking back with the documentation and there is stille the wildcard. Maybe remove it to not confuse other people :)

[2016-02-05 18:06] nfischer commented on #342
Oh whoops! Thanks for pointing that out. I'll try to fix that today. If the rest of your migration goes smoothly, feel free to close this issue (or I'll close it once the docs get fixed)

[2016-02-05 19:06] gruenebe commented on #342
no problem, I know the hassle :)
we can close it I think. Thanks a lot.

[2016-02-05 19:06] #342 closed

[2016-02-05 21:50] nfischer commented on #342
@gruenebe the docs should now be a bit better. Thanks for bringing this to our attention (and for trying out the latest release!) :+1:

[2016-02-05 22:01] nfischer commented on #183
Looks like Node has some support for this (https://nodejs.org/api/fs.html#fs_fs_chownsync_path_uid_gid). If someone wants to take up a PR, I'll gladly review.

[2016-02-06 09:23] gruenebe commented on #342
of course no problem :)

Maybe you should remove the wildcard thingy here too

![wildcard](https://cloud.githubusercontent.com/assets/12599965/12865905/700699e4-ccbb-11e5-82c0-b025730d44de.png)

by the way. I love the tool since I like my nodejs scripts plattform independant. I wrote my own little static-website generator with shelljs, nunjucks a.s.o. I love it :smile:

[2016-02-06 09:46] nfischer commented on #342
@gruenebe the wildcard is still accepted. The change was that it would previously accept (and actually require) a wildcard in some situations where Bash would not support it. In those examples, `/home/tmp/` presumably exists (which I see now isn't very obvious, so I'll try to think of a better target directory). In your case, I suspect that your destination directory didn't already exist, which is

[2016-02-06 12:35] adrior commented on #142
Now both examples works just fine. Thank you for response!

[2016-02-06 12:35] #142 closed

[2016-02-06 20:18] nfischer commented on #142
Glad to hear it works! Thanks for confirming

[2016-02-07 06:15] cscott commented on #143
*Please*.  Providing only a string argument here is a recipe for disaster, honestly.  As pointed out, it's basically impossible to "properly" quote any arguments given.  As is, `exec` is vulnerable to file names containing spaces, special characters, semicolons, the works. Cf http://www.dwheeler.com/secure-programs/Secure-Programs-HOWTO/handle-metacharacters.html and the "motivation" section of (f

[2016-02-07 07:52] nfischer commented on #143
Looks like this might be related to #103.

@cscott The concern is that, under-the-hood, we rely on Node's child_process module (specifically, `exec()` and `execSync()`. According to [the docs](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback), these only support a string argument. So although we could write something to allow `exec()` to take an a

[2016-02-07 08:11] nfischer commented on #103
There's been some discussion of this in #143 as well.

@sedwards2009 What do you mean that `exec` doesn't require shell escaping? Bash has an `exec` command (which our `exec()` aims to emulate), but I don't think it provides that feature. For example:

[code]

I agree that the posix system call, [exec(3)](http://linux.die.net/man/3/exec), doesn't do any sort of shell globbing, but that's because i

[2016-02-07 11:46] sedwards2009 commented on #281
@nfischer The problem with preferring bash over plain sh is that people can easily write bash-only code and not notice that it is incompatible with plain sh until someone else tries running it on a system which doesn't have bash.

I remember a number of years ago Ubuntu (or Debian??) changed the symlink at /sbin/sh from bash to dash. It exposed a bunch of bug as people had been using bash features

[2016-02-07 12:36] sedwards2009 commented on #103
@nfischer Sorry for being unclear. I was actually specifically thinking of the posix family of exec*() calls.

The point being, it is a good idea to offer safe ways to use commands like exec, maybe even make that the default way of working with some commands. For example, you could make commands accept a single string argument which is parsed the way a shell would, and also offer a safer array-of-

[2016-02-07 15:49] TimothyGu commented on #281
Debian, therefore Ubuntu. dash = Debian Almquist SHell: https://wiki.debian.org/DashAsBinSh

However, most people using `exec` probably wouldn't use these bash features, except for `<<<` (other common ones are `function` and `if [[` but those are unlikely to be used in `exec`).

[2016-02-07 20:16] nfischer commented on #281
@TimothyGu `<<<` was the feature we had in mind. One user posted an issue regarding that, expecting it to work

@sedwards2009 Portability is a main goal for the project. `exec` however is inherently not portable. It's designed for external commands, such as `git`, `uname`, `ifconfig`, etc. Scripts that rely on `exec()` are almost never portable, and the user should know and accept that. I don't se

[2016-02-07 20:18] nfischer commented on #103
@sedwards2009 what do you think of my proposal in #143? It would be a safer alternative

[2016-02-07 21:43] sedwards2009 commented on #103
@nfischer  I think you're going to need a shellEscape() function anyway, but it is important to make the safe thing as easy as possible (and default if possible). In this case a function which accepts a list of strings as arguments and doesn't interpret the strings (e.g. no globs, escapes etc) and treats them as being plain, is probably the best option.

The big problem with requiring people to ap

[2016-02-08 01:14] ariporad commented on #281
@nfischer: That just gave me an idea: What if we replaced `exec` with something closer to `spawn`?

[2016-02-08 07:02] nfischer commented on #281
@ariporad looks like `spawn()` will not perform globbing, which sounds like it's closer to what's being asked for here.

I don't like replacing it, because I think globbing is an important feature to offer (and we get it for free, so why not?). That would be a major change of behavior, and glob support is a feature that's pretty nice.

I think the solution(s) in bash is(/are) something like this:

[2016-02-08 09:40] sedwards2009 commented on #281
@nfischer
I really like that shelljs uses the familiar unix-style vocabulary, but sometimes you might have to deviate from it to get something better. For example, bash has some really atrocious and dangerous default behaviour which is best not copied directly but instead exposed in a better way.

[2016-02-08 14:30] cscott commented on #143
`child_process.execFile` takes separated arguments -- as does the
underlying c function.  The point is to avoid using the shell (bash or
whatever) where it is not necessary, which avoids having to
reverse-engineer the shell's parsing algorithm and avoids any shell-related
exploits.  The point is to provide a mechanism that is "secure by default"
and force folks to jump through a few hoops perhaps

[2016-02-08 14:35] cscott commented on #143
Just spitballing potential issues with "just the quotes" escaping -- what happens if you follow a Unicode surrogate character with a quote.  Does node/bash treat that as an actual quote, or as a invalid utf character (and replace it with a different utf character)?  Is this the same on all platforms and all shells?

This is just the first example I can think of---I guarantee you that if you are pa

[2016-02-08 19:51] nfischer commented on #143
@cscott from the docs for ShellJS's `exec()`:

Since it says the word "command," I argue that this should, by default, behave like executing a command in the shell (we don't call them "commands" in C and other relevant languages). I interpret `exec('git status')` as translating to `git status`, although I suppose another valid interpretation is translating to `exec git status`. Either way, however

[2016-02-08 20:00] nfischer commented on #143
Actually, a better idea would be to add an option to exec called "noGlob". When true, all characters are treated literally (as if the shell argument were wrapped in single quotes, or like an argument passed to C's execvp system call). As well as an explicit shellEscape function that prevents glob expansion on its arguments

[2016-02-08 21:18] cscott commented on #143
I'm not opposed to an `execFile` alternative.  But I'd be much happier with
an option called `glob` or `shell` that enabled the dangerous functionality
for those who actually want/need it, and left most users "safe by default".​

[2016-02-08 22:49] nfischer commented on #143
@cscott Here's what I'm thinking the interface should look like.

[code]

The question remains, should this option be named `glob`, `noGlob`, `shell`, etc.? I'm leaning toward `glob` or `shell`, depending on what behavior it really provides. Also, we also have to figure out its default value (true or false). Could you provide some example ShellJS scripts that exhibit potentially unintended behavio

[2016-02-08 22:55] nfischer commented on #103
@sedwards2009 I think something like `shellEscape()` would be a nice feature, although this may not be a complete solution. I would hate to make that the default behavior, because then `cp('*.txt', 'dest')` wouldn't work as most people would expect. But it would be nice for those that want extra-safe code in general.

I think the solution for `exec()` in particular will be along the lines of what

[2016-02-08 23:00] nfischer opened #343 "Glob commands by default"
It'd be nice if any command could support globs by default. For example:

[code]

This has the concern that calling `glob.sync()` might have a performance hit. However, this would be very consistent with Bash's behavior, which is a win. We might want to limit this to only *some* commands. For example:

[code]

I think this should apply to the majority of commands, however.

[2016-02-08 23:03] nfischer opened #344 "Add -f option to set()"
The docs for unix `set` can be found [here](https://www.gnu.org/software/bash/manual/html_node/The-Set-Builtin.html)

`set -f` prevents things from globbing. This would be a useful addition if #343 is resolved (and doesn't really make sense to resolve before then), since it could be argued this makes code much safer (at the cost of convenience).

[code]

[2016-02-08 23:12] nfischer opened #345 "Add a way to prevent shell-expansion on commands (this issue is not for exec)"
Once #343 is resolved, we could run into code that has unintended results. For example:

[code]

If we allow `shellEscape()` to be a function, then we could replace the questionable line with `rm(shellEscape(file))`, which is guaranteed to not glob.

An alternative would be to insist on the syntax: `set('-f'); rm(file); set('+f')` (very verbose, but if #344 is resolved, should be safe).

Another a

[2016-02-08 23:13] nfischer commented on #345
#344 #343 and this one are all related, and I think it would be a mistake to resolve one without resolving the others. These are also related to #103 and #143, which are more targeted at `exec()`.

[2016-02-09 05:45] nfischer opened #347 "Improve test coverage"
This is a general issue that our unit tests should be more comprehensive. I've noticed that sometimes unit tests don't actually test correct behavior (this was the issue with some tests in `touch.js` that I fixed. I'm sure there are also many options/edge cases for functions that are not tested very comprehensively.

As we work toward future releases, we should also work on improving our test fram

[2016-02-09 05:47] nfischer commented on #327
Closing this, since I think the recompile URL (http://documentup.com/shelljs/shelljs/__recompile) would work well enough for our purposes.

[2016-02-09 05:47] #327 closed

[2016-02-09 05:48] nfischer commented on #226
@rezonant I think we currently only support the standard umask. We'd love a PR that fixes this, though! (or at least makes it not break tests)

[2016-02-09 05:55] nfischer commented on #218
@kingscott has this been resolved? Have you tried using the new version, `v0.6.0`?

[2016-02-09 05:58] nfischer commented on #9
@wayneashleyberry Although this is already closed, I thought I'd ping the thread to say that this has been implemented in v0.6

[2016-02-09 06:38] nfischer commented on #208
@qiluo this should be fixed by #335, which is in v0.6. See the `shell` option for Node's [child_process.exec](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback).

[2016-02-09 06:41] kingscott commented on #218
To be honest, haven't been running that setup since late September. Adding `run` seemed to work and  just forgot to respond. Sorry.

[2016-02-09 07:35] nfischer commented on #218
Sounds good! If this becomes an issue again, please feel free to re-open

[2016-02-09 07:35] #218 closed

[2016-02-09 07:41] nfischer commented on #208
Whoops! Looks like #335 doesn't quite fix this. I'm opening #348 to actually resolve the issue like I suggested (and it adds a test to make sure).

[2016-02-09 07:42] nfischer commented on #261
@joviwap I'm pinging this to see if this is still an issue. Could you try this out with the new version, v0.6?

[2016-02-09 07:45] nfischer commented on #248
@dvenkatsagar could you test this out again on ShellJS v0.6? If the error persists, we can investigate

[2016-02-09 07:46] nfischer commented on #224
@Synturas @kevin-smets is this resolved now?

[2016-02-09 07:47] wayneashleyberry commented on #9
oh awesome, thanks @nfischer :)

[2016-02-09 07:50] nfischer commented on #125
@joques is this still an issue? I ran it on my system (ShellJS `v0.6`, node `v0.10.28`, Ubuntu 15.10) with no issues, so I suspect this either got resolved, or is specific to your system. Here's what I ran:

[code]

[2016-02-09 07:50] #125 closed

[2016-02-09 08:27] dvenkatsagar commented on #248
Nope the problem still exists even with 0.6.0.

[2016-02-09 08:28] nfischer commented on #175
@mtscout6 turns out, this actually is a valid `python2` command (I didn't believe it at first either!). The `\n` in the javascript string gets expanded into a real newline (the `\n` in your shell command wouldn't get expanded properly on bash). What it really looks like in the shell is:

[code]

@danasilver I assume your example is supposed to translate into:

[code]

Or is it supposed to translat

[2016-02-09 08:32] nfischer commented on #248
Looks like something we should try to roll into v0.7, since it's looking like that'll mainly cover `exec`-related stuff.

@dvenkatsagar could you try running this with async `exec`? My suspicion is that it will succeed for async and fail for sync.

[2016-02-09 08:36] dvenkatsagar commented on #248
Yes @nfischer , that is true, for `async:true`, it works, but when kept `false`, it doesn't work.

[2016-02-09 08:46] sedwards2009 commented on #103
@nfischer The goals of shelljs seem to conflict sometimes. You want to provide something which brings the important idioms and conveniences of the unix shell to JS, but you also want something safe, easy to use and predicable. Unix shells often collide with the last few desired features. :-/

I agree that `cp('*.txt', 'dest')` and `rm('*.bak')` should glob, otherwise you might as well be using `fs

[2016-02-09 08:49] nfischer commented on #123
@coodoo not sure if this is still an issue, but I thought I'd share how I use shelljs.

I've installed it globally with `npm install -g shelljs`. I also modified my `NODE_PATH` variable to point to where it's installed.

Now I can run a REPL like this from any directory:

[code]

Also, in any directory, I can write a simple shelljs script:

[code]

I also have rewritten some of my shell scripts in

[2016-02-09 08:49] #123 closed

[2016-02-09 08:52] nfischer commented on #136
@facundofarias is this still an issue?

I've had no issues installing shelljs locally (whether as part of package.json or otherwise), so I'll gladly assist if possible. What are the shell commands you're running?

[2016-02-09 08:54] nfischer commented on #92
@SBoudrias Thanks for reporting this! This should be fixed in v0.6. The new preferred attribute is `stdout` (because `output` sounds ambiguous). `stdout` only contains `stdout` (and now there's a new `stderr` attribute as well!). If this is not correct, please feel free to re-open

[2016-02-09 08:54] #92 closed

[2016-02-09 08:54] facundofarias commented on #136
The issue was filed two years ago. If it cannot be reproduced, then yes, it can be closed :)

[2016-02-09 08:57] nfischer commented on #248
@dvenkatsagar thanks! That means it's specific to the implementation of `execSync` that we use. It uses files to do a busy-wait to make things synchronous. I'm not experienced with electron or nwjs, so if there's any way you could investigate, we'll probably find a solution a bit quicker. Or if @ariporad could investigate

[2016-02-09 09:06] nfischer commented on #103
@sedwards2009 Excellent point. This is the default behavior I'm leaning toward right now:

[code]

This is for a few reasons:

 1. This is easier. We would impement the "safe" exec using `execFile()` or `spawn()`, which takes arguments kind-of in the multi-argument style. We would implement globbing using `child_process.exec()`, which takes a single string argument
 2. This is backwards compatible

[2016-02-09 09:07] nfischer commented on #136
Thanks!

[2016-02-09 09:07] #136 closed

[2016-02-09 09:11] nfischer commented on #41
I think @czchen's approach should work. Closing this. Feel free to re-open if the issue persists.

In general, you can't run commands of the form `./path/to/file` on Windows. `path/to/file` should be a suitable alternative. If it's in the current working directory, unix requires `./file.sh` and windows requires `file`, so you should check the value of `process.platform` to achieve os-agnostic code

[2016-02-09 09:11] #41 closed

[2016-02-09 09:14] nfischer commented on #18
Sounds like we should implement a `read()` function similar to Bash's [read](http://linuxcommand.org/lc3_man_pages/readh.html). If anyone can open a PR, I'll gladly review

[2016-02-09 09:18] nfischer commented on #51
@protz @parasyte @infracanophile Sorry for the delay! Any luck on this? Does the issue persist in shelljs `v0.6`? If so, which versions of node are you seeing the issue on?

[2016-02-09 09:26] nfischer commented on #160
@gkovacs is this resolved now that gkz/LiveScript#822 is merged?

[2016-02-09 09:28] nfischer commented on #210
This is now fixed in ShellJS v0.6. Thanks for reporting this, @lvanengelen :+1:

[2016-02-09 09:28] #210 closed

[2016-02-09 09:30] Newlifer commented on #92
+1

[2016-02-09 09:34] nfischer commented on #73
Closing this, since it seems resolved. Thanks @stephenmathieson!

[2016-02-09 09:34] #73 closed

[2016-02-09 09:41] nfischer commented on #90
For now, `exec()` is the answer. If anyone has a specific command request, please re-open this issue (or even better, open a more specific issue) :+1:

[2016-02-09 09:41] #90 closed

[2016-02-09 09:51] nfischer commented on #233
Closing this, since I think I have some things I'd like to post on the wiki page

[2016-02-09 09:51] #233 closed

[2016-02-09 09:53] nfischer commented on #213
@FlorianLoch we're currently discussion deprecating `make` in #340. If you're still using this feature, could you give some input on that thread?

[2016-02-09 09:55] nfischer commented on #7
@celer would you be able to open this as a PR? I'd love to take a look!

[2016-02-09 09:59] nfischer commented on #144
Let's continue the discussion on #2

[2016-02-09 09:59] #144 closed

[2016-02-09 10:03] nfischer commented on #154
This is related to #148

[2016-02-09 10:30] gkovacs commented on #160
yes it is resolved now

[2016-02-09 10:30] #160 closed

[2016-02-09 22:29] nfischer commented on #265
@metallurgical sorry for the delay. Thanks for reporting this bug! What version of node are you using? Also, would you be able to point me at a URL for Ionic's source code?

Could you also verify if the folder `C:\Users\Batsu\AppData\Local\Temp` exists on your machine?

[2016-02-09 22:39] nfischer opened #350 "Document that exec() options don't work on early versions of node"
As far as I can tell, options to `exec()` and `execSync()` only work for node v0.11+. This should probably get documented in our README. If enough people are interested, we could try some hacks to get it to work (we could do this for `cwd`, for example), but I don't think it's worth it, since it really only affects v0.10 users (since we don't support v0.8 anymore).

[2016-02-10 01:02] ariporad commented on #350
@nfischer: Hmm... I'm thinking we maybe should drop v0.10 support. I think having a fragmented API is really bad.

[2016-02-10 01:27] parasyte commented on #51
@nfischer I have already rewritten my shelljs calls to run asynchronously, and chained them with promises. I could experiment with reverting that.

[2016-02-10 01:29] nfischer commented on #350
@ariporad to an extent I agree. But here's my rationale: the "supported" API could be without `exec` options. But if it's easy enough to provide these options for most versions of node, then why limit the users from that flexibility?

I think it's better to have something that covers 99% of use cases (really, how common are `exec()` calls with those options?) for node v0.10 than to simply drop sup

[2016-02-10 01:53] nfischer commented on #51
@parasyte thanks!

[2016-02-10 20:13] vasco3 opened #351 "Missing a CHANGELOG.md"

[2016-02-10 20:24] joviwap commented on #261
Tomorrow I'll try it

[2016-02-10 21:10] nfischer commented on #261
Ok great! Thanks

[2016-02-11 04:43] nfischer opened #353 "exec() doesn't clean up all temp files"
I've noticed on my system I get lots of temp files in `/tmp/` (I'm on Ubuntu 15.10). I've tested (I just run `npm test`, which I know makes at least one call to `exec()` per test) under the following versions of node:

 - v0.10: everything gets cleaned up
 - v0.11, v0.12, v4, v5: `npm test` leaves 1 code file, 2 script files, 2 stderr files, and 2 stdout files

v0.11 is when `execSync()` got intro

[2016-02-11 21:30] nfischer commented on #353
Looks like this happens because of [here](https://github.com/shelljs/shelljs/blob/master/test/exec.js#L96-L99) and [here](https://github.com/shelljs/shelljs/blob/master/test/exec.js#L105-L108)

[2016-02-11 23:24] nfischer commented on #353
@ariporad This will be resolved by #354

[2016-02-13 04:43] blockloop commented on #347
Are you opposed to adding mocha?

[2016-02-13 18:24] ariporad commented on #347
@blockloop: This is something I've been thinking about for a while. I think it might be a good idea to refactor our tests to use mocha.

@nfischer: Thoughts?

[2016-02-13 21:01] blockloop commented on #347
I'll pitch in and help. I initially wrote the 'touch' tests with it and took them out. I'll gladly redo it.

[2016-02-13 23:01] nfischer commented on #347
@ariporad what would be the benefits of mocha tests over using simple assert statements? How difficult would the refactor be?

[2016-02-13 23:10] ariporad commented on #347
It would take some work, but not to hard. The benefit of mocha is that other
tools know how to work with it. (Ie. Code coverage)
Let me look into this, I'll get back to you in a day or two.

[2016-02-14 00:06] nfischer commented on #347
Ok sounds good

[2016-02-14 03:37] ariporad commented on #327
@nfischer: Wait... I have an evilish idea.

[2016-02-14 03:41] ariporad commented on #327
Nope, that didn't work. Should I add it to travis?

[2016-02-14 03:42] ariporad commented on #350
@nfischer: Hmm... I'm still not sold... It seems really strange to me.

[2016-02-14 04:36] ariporad commented on #347
@nfischer, @blockloop: Actually, I think I'm going to go with [`AVA`](https://github.com/sindresorhous/ava). It will make the tests faster, and make them easier to convert.

[2016-02-14 04:47] nfischer commented on #327
I think it's fine to leave as is. We can just manually recompile when necessary

[2016-02-14 04:51] #138 closed

[2016-02-14 04:53] nfischer commented on #208
#348 is now merged, so this should fix the issue. You should be able to use `exec('echo foo', {shell: '/bin/bash'})` to do what you need (assuming that's your path to bash, of course).

[2016-02-14 04:53] #208 closed

[2016-02-14 05:13] nfischer commented on #281
Closing this in favor of #348

[2016-02-14 05:13] #281 closed

[2016-02-14 16:49] #353 closed

[2016-02-14 19:44] #343 closed

[2016-02-14 23:07] TimothyGu commented on #345
Escaping is simply the wrong way to approach this. Ever since C's [`system()` call](https://www.securecoding.cert.org/confluence/pages/viewpage.action?pageId=2130132), it has been empirically proven that no escaping can fully and completely prevent command injection.

Node.js's `exec` is simply a new iteration of the `system()` function. It is not only unsafe, but also inconvenient at times. True,

[2016-02-15 03:14] nfischer commented on #345
@TimothyGu this issue isn't about exec. This is specifically about all the other options. #103 and #143 are more pointed at exec specifically

Also, "shellEscape" is just a name. I don't intend on modifying strings when I fix this. One thought is to return an object containing that string value. Then instead of globbing in common.wrap(), we would just convert to the regular string and not glob, so

[2016-02-15 18:33] ariporad opened #356 "Standardize command output"
We need to standardize the output of the commands. Currently, they return a whole bunch of things. (See the [`shx` output section](http://ariporad.link/1ojYTMg)).

I think that @nfischer is working on a standardized `ShellString` for all commands to return. I'm not sure about the details.

At bear minimum, I think that all commands need to return something with `stdout` and `stderr` properties. Th

[2016-02-15 18:36] ariporad commented on #356
Some examples:

[code]

[2016-02-15 20:00] nfischer commented on #356
I'll refactor my changes later today and open a PR

[2016-02-16 15:40] kazazor commented on #86
:+1:

[2016-02-16 16:54] ariporad commented on #86
If someone want's to submit a PR, that would be fantastic! Otherwise, we'll try and get this in by `v1.0.0`.

[2016-02-16 16:59] ariporad commented on #143
@nfischer: +1 on `set('-f'). IMHO, option should be `glob`, should be `true` by default. The rest of your idea looks great.

[2016-02-16 17:00] ariporad commented on #103
@nfischer: See my comment [on #143](https://github.com/shelljs/shelljs/issues/143#issuecomment-184770613).

[2016-02-16 18:27] #344 closed

[2016-02-16 18:50] #225 closed

[2016-02-16 22:28] nfischer commented on #245
@nickdima @ddbruce I think this is fixed now by #359. Please reopen if this is still an issue.

[2016-02-16 22:28] #245 closed

[2016-02-16 22:30] nfischer commented on #176
@zanona I think this is resolved by #359. Please reopen if this is an issue.

[2016-02-16 22:30] #176 closed

[2016-02-17 14:11] sedwards2009 commented on #86
As already mentioned, some programs can be told to output colour using a flag. Many programs detect if they are talking to a TTY to decide whether they output colour and other terminal features, or just plain text. To make all programs think that they have a TTY/terminal connected you need to run the programs with the help of something like https://www.npmjs.com/package/pty.js instead of using exe

[2016-02-17 20:08] nfischer commented on #86
Thanks, @sedwards2009! We would unfortunately need to find some sort of Windows equivalent before we could use that, but that's a good start :+1:

[2016-02-18 15:24] mtscout6 opened #363 "ln('-sf', './', '<destination>') is not linking the right folder"
https://travis-ci.org/TWExchangeSolutions/eslint-config-exchange-solutions/jobs/107132691

From what I can see there's a few issues.

1. For some reason the [`resolvedSourcePath`](https://github.com/shelljs/shelljs/blob/0da963b51f1895440ac4c96fb14248de1f028f58/src/ln.js#L46) is built up with the `dest` path?
2. On Mac OSX you don't even use the `resolvedSourcePath` when [creating the symlink](http

[2016-02-18 18:05] nfischer commented on #363
Thanks, @mtscout6! Sounds like a bug. What link does shelljs actually create?

The behavior here is a little tricky. Here's the behavior I see on my linux system:

[code]

A PR would be much appreciated

[2016-02-18 18:20] nfischer commented on #363
Hmmm... I just added some new unit tests, and it seems like shelljs is behaving as described. Here's what I added, let me know if this differs from unix behavior: #364

Also, I think a suitable workaround for the time being would be to make `./` into an absolute path, either with `pwd()`, `process.cwd()`, or `path.resolve('.')`.

Thanks for trying out `v0.6`!

[2016-02-19 03:01] nfischer commented on #148
Marking this as blocked by #360, since I think it's cleanest to get that dealt with first

[2016-02-19 22:11] #363 closed

[2016-02-19 23:02] #17 closed

[2016-02-20 05:20] nfischer commented on #112
Closing this, since I think our new repo, [shelljs/shx](https://github.com/shelljs/shx), should be a suitable alternative. Please reopen if this is not sufficient.

[2016-02-20 05:20] #112 closed

[2016-02-20 05:23] nfischer commented on #60
@vejersele bumping this thread. Could you provide the exact line of code that didn't work for you?

[2016-02-20 05:29] nfischer commented on #159
Bumping this thread, since this will finally be resolved in #360. Thanks for reporting this!

[2016-02-20 05:33] nfischer commented on #154
This will be resolved in #360.

Once that is merged, the **only** way to achieve this is with `exec(...).to(file)`, as `exec(...).output.to(file)` and `exec(...).stdout.to(file)` will actually no longer work

[2016-02-20 05:37] nfischer commented on #121
I'm tentatively labeling this as "won't fix" since we're thinking of deprecating the `make` functionality. If someone still wants this as an option, please bump this thread and we'll gladly revisit this.

[2016-02-20 05:41] nfischer commented on #213
I'm tentatively adding the "won't fix" label, since we're thinking of deprecating the `make` command. Please ping this thread if anyone is still interested in this feature, and we'll gladly revisit this.

[2016-02-20 15:00] #121 closed

[2016-02-20 22:51] #356 closed

[2016-02-20 22:56] #159 closed

[2016-02-20 22:57] nfischer commented on #154
Closing this. Please see my comment above if you see a break in behavior

[2016-02-20 22:57] #154 closed

[2016-02-21 00:39] ariporad commented on #351
Hi @vasco3:

We've decided not to have a CHANGELOG.md, as it's generally not too useful. If you want a history of our changes, feel free to checkout out [our releases page](https://github.com/shelljs/shelljs/releases).

[2016-02-21 00:39] #351 closed

[2016-02-21 05:01] nfischer commented on #148
I have an implementation of pipes out for review. If any of you all are interested in reviewing #370, please take a look. I even found a way to put `exec()` on the right-hand side of pipes, as requested.

Also, thanks to @aurium for the inspiration for how to design the pipes interface :+1:

[2016-02-21 06:34] nfischer commented on #212
This has actually been resolved by #360. Thanks for reporting this!

[2016-02-21 21:23] #148 closed

[2016-02-21 23:13] valessiobrito commented on #148
:clap: :clap: :clap: :clap:

[2016-02-23 16:40] 360disrupt opened #371 "Only Get Stderr from Exec"
I have the opposite problem to:
https://github.com/shelljs/shelljs/issues/92

On my local machine with nodemon everything works fine. On the server exec only gives me stderr and the code (which is `0` which equals `no error`).

I'm using node v.5.0.0. And it is started with `pm2` on the server.

I actually don't know if this is a bug or maybe s.th. with the server config.

[2016-02-23 22:52] nfischer commented on #371
Hmmm... this seems like a strange issue. I don't think this is a bug with shelljs, since it seems to work on your local machine. Are you checking the `.stdout` attribute? `.output` is deprecated (and will be removed soon).

[2016-02-24 01:20] nfischer opened #372 "Error message isn't always printed"
This is a bug that I think was introduced by #357. Fatal errors don't print error messages unless config.fatal is set. Non-fatal errors still get logged, as before.

[code]

[2016-02-24 09:17] 360disrupt commented on #371
The coffee gets compiled first by gulp before shelljs runs.
[code]

- `commands` is an array of shell commands
- `callback` is my callback to express

e.g. a route:
[code]

[2016-02-24 10:09] 360disrupt commented on #371
PS:
Same thing with async instead of chaining:
[code]

[2016-02-24 21:51] nfischer commented on #371
@360disrupt What if you chain the statements with `;` instead of `&&`? Or what if you put `echo 'Hello world'` as the first command? That would check if it's because of a command failing toward the end.

[2016-02-25 04:53] nfischer opened #373 "Refactor more commands to return ShellString"
This will let each command return some sort of output. So commands like `cd()` will return output along the lines of:

[code]

Commands that should probably be left as-is:

 - `set()` - it has nothing interesting to return, since it never fails
 - `test()` - returning a boolean as it currently does is probably the right move

[2016-02-25 17:59] tadeve96 opened #374 "REQUEST HELP: A directory for scripts"
can i have a directory where shjs command would look there if there is no script of the called name in the current directory ?

[2016-02-25 18:25] nfischer commented on #374
Why not put scripts in your ~/bin? You can give them executable permission and add that to the path. Now it's easy to find them. Just make sure to add a shebang (either node of shjs).

^ Thats the solution taken by Linux, so I wanted to see if that was what you're looking for.

[2016-02-25 18:33] ariporad commented on #374
@nfischer: I still think it would be a useful bit of functionality to be able to run `shjs scripts`. (We should also glob shjs.

@tadeve96: For now, you can just run `shjs scripts/*.js`, and bash should glob that.

[2016-02-25 18:38] nfischer commented on #374
@ariporad I read this issue as asking for something different I think. I read it as:

[code]

Assuming that scriptName.js is not a file in the current folder. This has nothing to do with globbing (your command line shell would handle that).

Why would someone want to run every script in a special folder with a single command? That doesn't sound very useful to me.

[2016-02-25 18:42] ariporad commented on #374
@nfischer: Hmm... Yeah, I did.

We run every script in a folder twice during our build process. (We run ever script in `scripts/`, then every script in `test/`).

[2016-02-25 19:01] nfischer commented on #374
I agree it's useful as a build step. But why would someone want to run every script in one system wide folder, let's call it `~/shelljsscripts`? That doesn't sound very useful.

To me this issue sounds like it's asking for a system wide folder, which shjs will treat as a special sort of PATH to hunt for script names. I see the use case (for individual scripts), but it raises some security concerns

[2016-02-25 19:03] ariporad commented on #374
Oh yeah, that's totally not how I thought about it. That would be
confusing.

[2016-02-25 19:09] nfischer commented on #374
I think it's dangerous behavior to have shjs, if given a directory as an argument, run every single coffee and js file inside. Thats running a lot of code the user may not intend to be running. Making them out `/*.js` at the end isn't so bad, and then they know exactly what will happen.

Not sure if shjs actually supports the globbing (I think it only runs its first file argument, not any others).

[2016-02-27 19:10] kurtextrem opened #376 "Copy not accepting wildcards + file ending anymore when using -r"
So while `ls("src/*.html")` returns an array of html files, `copy("-r", "src/*.html", "dist")` results in an error. It works without -r.
I'm on Windows 7 x64, Node 5.7, using 0.6.

[2016-02-27 22:43] ariporad commented on #376
@kurtextrem: Hi! Thanks for the bug report!

This is actually expected behavior, `cp` with the `-r` options means to copy recursively, which only works on directories. If you want to copy all `.html` files in `src/` recursively (ie. even `src/foo/bar/baz.html`), then you're looking for `cp('src/**/*.html', 'dist')`.

The error message is incorrect though, and I'll fix that.

I'm going to close thi

[2016-02-28 01:24] nfischer commented on #376
I'm reopening this, since `-r` *should* be allowed on files. `cp('file.txt', 'dest/')` should do the exactly the same thing as `cp('-r', 'file.txt', 'dest/')`. Just tested this on v0.6 and there seems to be some weird behavior going on.

I'll test again off the master branch and provide a fix if I see the bug there as well. Thanks for reporting this!

[2016-02-28 06:43] kurtextrem commented on #376
Thank you for the explanation :)
Glad that my report wasn't that useless.

[2016-02-28 06:49] nfischer commented on #376
@kurtextrem As a workaround for now, you can do what @ariporad suggests (no `-r` option).

[2016-02-28 06:59] kurtextrem commented on #376
Done :+1: thanks.

[2016-02-29 19:08] nfischer commented on #376
Looks like this *was* a bug in `v0.6`, but isn't a bug in the master branch. The best kind of bugs are the ones you unintentionally fix :+1:

I've added some more unit tests for this behavior. This fix will be available in `v0.7`.

@kurtextrem could you please look over the tests and confirm that I'm correctly handling the behavior you describe? Take a look at #378. Thanks!

[2016-03-01 06:10] nfischer commented on #376
Looks like I spoke too soon...

I think this is still an issue. Steps to reproduce:

[code]

Looks like this bug is visible [on this line in cash](https://github.com/dthree/cash/blob/master/gulpfile.js#L92).

[2016-03-02 17:51] jurgob commented on #86
:+1:

[2016-03-04 04:18] marvindanig opened #382 "`mv` not working as expected on windows"
I'm using shelljs to `mv` a folder to a trash subfolder with node CLI like so:

[code]
This works as expected on linux and mac but is failing on windows. The folder to be moved exists at the given path and yet shelljs errors out.

What am I doing wrong here?

[code]

[2016-03-04 05:52] nfischer commented on #382
Hmm... we'll have to investigate. I work primarily on Linux, so if there's any diagnosing you could do, that might help.

[2016-03-06 04:46] levithomason commented on #202
I need this for another project, PR coming up.