[2016-03-06 05:15] levithomason commented on #202
Ha, well.  I've found [shx](https://github.com/shelljs/shx).  Appears I've come to the races late.  Will see if our approaches have anything worth combining.

[2016-03-06 15:48] ariporad commented on #382
@marvindanig: I'm not a windows expert, but it might be the colons in the path. Can you try changing the timestamp format, and letting us know if it's still a problem?

Thanks!

[2016-03-06 15:48] #376 closed

[2016-03-06 17:38] kurtextrem commented on #376
Great, thanks!

[2016-03-06 20:44] marvindanig commented on #382
:+1:  Yep, it was the colons in `isoDateTime` format. Changed it to an ordinary chain `dddd-mmmm-dS-yyyy-hh-MM-ss-TT` and it's working great now.

Great observation @ariporad :8ball:

[2016-03-06 20:44] #382 closed

[2016-03-06 22:15] ariporad commented on #382
No problem. :smile:.

[2016-03-06 22:24] nfischer commented on #202
Closing this, since our project [shelljs/shx](https://github.com/shelljs/shx) is designed to solve this.

[2016-03-06 22:24] #202 closed

[2016-03-07 23:49] nfischer commented on #2
I'd like to revive this, since I'm a fan of async shell scripting. I'll probably implement a PR along the lines that @mstade suggested, since I actually like the precedent set by `exec()`.

If anyone would like to implement an alternative PR, that would be very welcome. It seems like [this stackoverflow answer](http://stackoverflow.com/a/6898978) is a good start to implementing the async functiona

[2016-03-07 23:53] ariporad commented on #2
@nfischer: I would like to suggest that we switch our codebase to babel and es6 first.

Then, I suggest that we use promises.

Finally, that will let us (or anyone else) use async/await, which will be really nice.

[2016-03-08 01:08] nfischer commented on #2
@ariporad does that approach involve modifying the interface to the functions? I'd really like something like:

[code]

This is most consistent with `exec()`, which I like. No break in backwards compatibility, and it keeps things fairly simple (no need for a no-op callback explicitly, which is kind of awkward).

The `{async: true}` syntax also provides an easy way for us to pass options to specifi

[2016-03-08 01:15] ariporad commented on #2
Hmm... that's a good point.

I just had a really fantastic idea for how to implement sync and async versions of everything really easily:

Re-write *every function* to be async. Export those as the async versions.

For the synchronous versions, what we do is this:
1. When `shelljs` is required, start a child process.
2. Open a file descriptor with that child process.
3. Whenever we want to do a sy

[2016-03-08 02:45] nfischer commented on #2
I'm very against making things async by default. ShellJS is a really nice way to rewrite shell scripts into JavaScript. Bash is sync by default, so shelljs should be the same.

Bash can be coerced to async (command by command), by appending a `&`. I think shelljs should similarly be coerced to async by adding an option at the end (`{async: true}`, or a callback).

[2016-03-08 05:50] ariporad commented on #2
@nfischer: I wasn't suggesting that the _API_ is async by default. I was simply suggesting that it might be easier to have the _implimentation_ be async by default, and syncify (tm) it.

[2016-03-08 17:05] despairblue commented on #261
@nfischer [this](https://gist.github.com/despairblue/cedee6af9c0c1e2b69f9) is probably what he means. And I'd love this as well since I'd like to use it as a way easier way to manipulate files than the stock `fs` module.

Also this makes it impossible to use shelljs in a package. Since since npm@3 multiple packages may use the same shelljs instance :cry:

[2016-03-08 17:49] nfischer commented on #261
@despairblue what is the desired output from your example? Thanks for providing an example.

[2016-03-08 17:58] despairblue commented on #261
Thanks for the quick reply.

Well the input would have to be changed
[code]

Expected output:
[code]

Actual output without instanciation:
[code]

[2016-03-08 18:02] nfischer commented on #261
What if you didn't use shelljs? If you changed pwd to `process.cwd()` and cd to `process.chdir()`, would you still expect to see the same output?

[2016-03-08 18:25] despairblue commented on #261
Nope, since `process` refers to the same node instance in every module.
I'd like think of `shelljs`-instances as:
* tabs (`shelljs` instances) in a terminal emulator (node instance)
* buffer/windows (`shelljs` instances) in a screen/tmux instance (node instance)
* TTYs (`shelljs` instances) on a linux machine (node instance)

Though I just realized, that `shelljs` doesn't actually manage the `pwd`

[2016-03-08 19:13] nfischer commented on #261
I think the current behavior is most intuitive. This is exactly how bash would behave if you replace "require" with "source".

If you need to isolate two scripts, do it in separate processes (that's how bash does it). I think we'd just be limiting ourselves to make that the default behavior.

What prevents you from running cat, rm, cp, etc. as "fs-extra" the way things work? Those don't modify the

[2016-03-08 20:40] despairblue commented on #261
Ok, probably that came across wrong. I don't want to change the default behaviour. I want to discuss the possibility to implement something to make local instances of shelljs.

That's where I was going with my disclaimer. I'd rather stay in the same node process and have different working directories, instead of spawning another process from node and reading it's STDIN, which would work (since I'd

[2016-03-08 20:53] nfischer commented on #261
I think I see where you're going now. To me, it sounds very error prone to fake the cwd, and I don't see much use case for it. It's nice if you want to isolate changes to state, but I think sometimes people want those changes to state to persist.

This reminds me of an experimental JavaScript extension called "Worlds," where changes to state can be isolated in a "world" (they don't affect the pare

[2016-03-08 21:00] nfischer commented on #2
#387 is an initial stab at how I see the API looking/working. Take a look, let me know what you all think :+1:

[2016-03-09 01:00] ariporad commented on #261
@nfischer: This also is related to my crazy idea of sync-ifying things by having a child process.

[2016-03-09 01:40] nfischer commented on #261
@ariporad That's similar to how real shells work (except they don't re-implement all the basic utilities). The tradeoffs are, as I see it:

Reasons to do everything in a child process:

 - Changes in state won't affect the parent as much (but the file system can still be affected!)

Reasons to keep things as is:

 - We're now *able* to change state (`cd()` would be impossible any other way)
 - It'

[2016-03-09 05:42] ariporad commented on #374
@nfischer: Ok. But we should make `shjs` support globbing (Right now it doesn't).

[2016-03-09 05:42] ariporad commented on #374
I'm going to close this, and open a new issue.

[2016-03-09 05:42] #374 closed

[2016-03-09 05:43] ariporad opened #388 "Support globbing in `shjs`"

[2016-03-09 05:43] ariporad commented on #388
I'll do this.

[2016-03-09 05:43] ariporad commented on #350
@nfischer: We dropped v0.10 support, right?

[2016-03-09 05:47] nfischer commented on #388
@ariporad Could you give an example of where globbing *should* be that it already isn't?

[2016-03-09 05:50] ariporad commented on #388
Also, while we're at it, shjs should append NODE_PATH, not override it.

[2016-03-09 05:59] nfischer commented on #388
^ appending to NODE_PATH might be better.

I'm not sure I understand the issue with the glob scenario you provided. Here's the steps I think would happen:

[code]

Does this differ from what you would see for the following example?

[code]

[2016-03-09 06:06] nfischer commented on #350
Yup. Closing this.

[2016-03-09 06:06] #350 closed

[2016-03-09 08:56] cdatou opened #389 "Copy not accepting source end with wildcards * when using -r on v0.6.0"
Hi, when I use shelljs V0.6.0,  I get the error:
[code]
using node v5.7.1 on OSX 10.11.3 (15D21) .
Then I view  [cp.js](https://github.com/shelljs/shelljs/blob/v0.6.0/src/cp.js#L148) at line 148

[code]
`fs.statSync` do not support wildcards but `src` is a string with wildcards (arguments without any converting).

Is this a bug? Or `shelljs.cp` do not support wildcards any more since v0.6.0?
But t

[2016-03-09 20:57] nfischer commented on #389
I believe this is a bug that got fixed recently. The cp function has been refactored. Could you test against master branch?

[2016-03-09 21:31] shane-walker opened #390 "shelljs Breaks SemVer for Alpha and Pre-Release Versions"
npm published a change to their CDN configuration earlier today that exposed [another issue with SemVer publishing](https://github.com/npm/npm/issues/11837) via npm. As such, it would seem that shelljs is [breaking some of the internet](https://twitter.com/A_Robson/status/707660514856275969?lang=en) because of the alpha and pre-release versions that were published to NPM.

Would it be possible to

[2016-03-09 22:48] nfischer commented on #390
@shane-walker thanks for reporting this! @ariporad and I will investigate this and see if we can fix this today.

I'm seeing different output than you're seeing:

[code]

Does this issue still persist for you?

[2016-03-09 22:54] shane-walker commented on #390
@nfischer It probably has something to do with them patching the CDN configuration earlier today. https://github.com/npm/npm/issues/11836#issuecomment-194453360

We run an NPM proxy that probably has the broken 'version' cached, which would account for the error continuing for me. I'll see if we can clear out the cache but, hopefully, if we can get those versions unpublished it shouldn't happen an

[2016-03-09 23:05] nfischer commented on #390
@shane-walker Thanks for the reply. Just to clarify, the versions that should be unpublished (because they don't match the correct semver pattern) are:

- 0.0.1alpha1
- 0.0.2pre1
- 0.0.4pre1
- 0.0.5pre1
- 0.0.5pre2
- 0.0.5pre3
- 0.0.5pre4
- 0.0.6pre1
- 0.0.6pre2

Is that correct?

[2016-03-09 23:15] shane-walker commented on #390
@nfischer yeah, those seem to be the problem children. While correct within SemVer standard, npm doesn't like them when doing strict comparisons.

[2016-03-10 00:20] ariporad commented on #388
@nfischer: Hmm...

It doesn't, but it's counter-intuitive behavior.

[2016-03-10 00:22] ariporad commented on #261
@nfischer: We would have to special-case `cd`. I think it could be implemented easily, and it's probably going to be a lot easier to write async code, as that's really what node was designed for.

[2016-03-10 00:24] nfischer commented on #388
It's not counter-intuitive for someone who wants to be able to write a script like:

[code]

(note the `process.argv`s as a way of passing input to the script)

[2016-03-10 00:30] nfischer commented on #261
@ariporad that would be a fairly big breaking change, and for what benefit? The whole point of `cd()` is to have side-effects, and now we'd be taking those away?

If you want to write a module that can `cd` places without affecting other modules, do this:

[code]

[2016-03-10 00:35] ariporad commented on #261
@nfischer: That isn't what I was saying. What I was suggesting was this.

1. Reimplement every function as fully async.
2. For every async function, run it normally.
3. For every sync function, (except `cd`), we use something similar to the current `exec` implementation, and we use a subprocess to syncify the async version.
4. This would allow easy implementation of this issue, just run async comm

[2016-03-10 00:36] ariporad commented on #261
Also, API idea:

[code]

[2016-03-10 00:46] nfischer commented on #261
@ariporad I see what you mean now. Let's continue this conversation on a new thread though, because this is pretty off-topic.

[2016-03-10 00:56] ariporad commented on #390
@shane-walker: I'm seeing the same as @nfischer:

[code]

[2016-03-10 00:57] ariporad commented on #390
Same on http://semver.npmjs.com/.

[2016-03-10 01:00] nfischer commented on #390
@ariporad I think it's safe to remove these, since it looks like these versions shouldn't be in use by people anyway (they're all alphas and pre releases). Normally, I would say we should deprecate, but since the existence of these might break other important packages, we should resolve this sooner rather than later.

I think the packages still exist, but npm servers aren't displaying them in the

[2016-03-10 01:00] ariporad commented on #390
@nfischer: Done.

[2016-03-10 01:01] ariporad commented on #390
Ok everyone, this should be resolved now, so I'm going to close this issue.

ShellJS just switched maintainers, and we'll defiantly be semver compliant going forward.

Please re-open if it's still problematic.

[2016-03-10 01:01] #390 closed

[2016-03-10 02:50] cdatou commented on #389
ok. I test against, it work. shell.cp convert(or expand) the argumnets at common.wrap. Thanks for  the answer and the fixed.

[2016-03-10 02:51] #389 closed

[2016-03-10 03:41] nfischer commented on #389
@cdatou thanks for reporting the bug and verifying the fix! Not sure how that bug slipped through, but we'll be more careful next time.

[2016-03-10 07:40] despairblue commented on #261
@ariporad that's exactly what I would like to have, only that I exported a Factory Function that also included (should have mentioned that) the methods that mutate the node process:

[code]

That way you can either use shelljs as before or instantiate multiple instances:
[code]

That's what I had in mind, though it does nothing to suffice the async use case.

[2016-03-10 15:53] jimthedev commented on #376
Looking forward to 0.7.0 for this to be released.

[2016-03-10 23:19] nfischer commented on #376
@jimthedev Yeah, I'm trying to expedite `v0.7` now to get this bug fix out sooner. I'll start pushing back some things to `v0.8` and work today on the final pieces of `v0.7`.

[2016-03-10 23:33] nfischer commented on #261
I see how the implementation can work.

@despairblue what is the use case for multiple shelljs instances? Each instance could really only save environment (that's just a JS object...) and cwd (that's just a string...). Do you have a real use-case where you're trying to operate on two directories, it must be concurrently, and it's actually advantageous to do it from the current directory of both?

[2016-03-11 01:07] ariporad commented on #261
@nfischer: What about this:

We can switch to my suggested implementation. This makes it easier to write commands, and we can easily have sync/async versions of everything. Then we can add subshells if needed. (One concern is that there might be a performance hit).

[2016-03-11 01:09] nfischer commented on #261
@ariporad Feel free to write up a PR.

[2016-03-11 01:46] jimthedev commented on #376
@nfischer sounds good. I'm hanging out on 0.5 until then so no rush.

[2016-03-11 20:28] arobson commented on #390
@ariporad thanks again for your prompt response and help with this! We really appreciate it.

[2016-03-11 20:40] ariporad commented on #390
No problem!

Thanks! Ari
On Fri, Mar 11, 2016 at 12:28 PM, Alex Robson <notifications@github.com> wrote:
@ariporad [https://github.com/ariporad] thanks again for your prompt response and help with this! We really appreciate
it.

—
Reply to this email directly or view it on GitHub
[https://github.com/shelljs/shelljs/issues/390#issuecomment-195536755] .[https://github.com/notifications/beacon/ABu7pN

[2016-03-13 06:05] levithomason opened #391 "Plugin System."
**[NOTE: This thread was originally about the `open` command. I'm hijacking it. -@ariporad]**

It would be nice to have a plugin system for shelljs which allows custom commands.

[2016-03-13 08:01] nfischer commented on #391
@levithomason Thanks for the suggestion!

Unfortunately, `open` seems to have very different semantics across different systems. `open` on OS X will do as you described, while `xdg-open` on a Linux system does the equivalent. [This stackoverflow post](http://stackoverflow.com/questions/264395/linux-equivalent-of-the-mac-os-x-open-command) discusses it.

I can't remember off the top of my head what

[2016-03-16 00:30] nfischer commented on #372
@levithomason Check out the output of this script, on the latest version of master

[code]

It might be good to prevent this sort of regression by modifying the `exec` tests to run some shelljs commands. Run some invalid commands and check the `stderr` output to make sure it has the error message in there. Ex.

[code]

[2016-03-16 17:41] ArtworkAD opened #395 "exec Illegal instruction (core dumped)"
I do from shell:

    netstat -an | grep 6000 | grep ESTABLISHED

which is giving me

    tcp        0      0 someIp:6000         someIp:49256     ESTABLISHED

However using shelljs I get:

    Exit code: 1
    Program output:
    Program stderr: Illegal instruction (core dumped)

with

    require('shelljs').exec('netstat -an | grep 6000 | grep ESTABLISHED', function(code, stdout, stderr) {
			co

[2016-03-16 19:02] nfischer commented on #395
@ArtworkAD thanks for reporting this!

I just tried out a similar command on my Ubuntu system, and I saw no issues. I used this command:

[code]

`code` was 0, as expected (I had to try it a few times though, since the `netstat` output changes almost each run).

I suspect this is *not* a ShellJS issue, since [this thread](http://en.sfml-dev.org/forums/index.php?topic=14713.0) talks about the "ille

[2016-03-16 19:02] #395 closed

[2016-03-16 21:21] ArtworkAD commented on #395
@nfischer the native exec function gives the same error. It used to work for me on ubuntu too. However I switched to alpine linux which is based on busybox and it stopped working.

[2016-03-16 21:26] nfischer commented on #395
So I would suspect that this is specific to `node` then. This sounds like an issue outside of our code base.

[2016-03-17 03:31] nfischer commented on #373
This is resolved in #394

[2016-03-17 03:31] #373 closed

[2016-03-17 03:45] nfischer opened #396 "Idea: add a .forEach method to each ShellString"
This would be good to add, allowing users to iterate over each the stdout from a command.

This can be done in Bash by running:

[code]

A possible API would look like:

[code]

Alternatives would be to iterate over each word (delimited by whitespace) (this is similar to bash's default behavior, which is sometimes useful).

We could also consider adding the ability to pass an option to `.forEach`

[2016-03-17 04:02] nfischer opened #397 "Consider changing shell.error() to return the error code"
This is something I intentionally left out of #394, but is something we've discussed doing. Since this would be a breaking change, I thought I'd leave it here as an open issue to see if anyone has any input.

The current behavior of `shell.error()` is to return the stderr output of the last command (only if it failed) or `null` if the command succeeded.

[code]

If we change it to output the `code

[2016-03-17 04:14] nfischer opened #398 "Edit the docs to emphasize ShellStrings and Pipes"
The introduction of `ShellStrings` is a pretty big change, since a lot of people rely on the old behavior of strings have the `.to()` method (here's an example from our friends over at [dthree/cash](https://github.com/dthree/cash/blob/master/test/cat.js#L10-L12)).

We might want to consider adding that back in to the `String.prototype` for now, and give a deprecation warning, since this might be a

[2016-03-17 12:49] dthree commented on #398
Agreed. It's kind of awkward that ShellJS is not `v1.0`, when it has been such a stable part of the Node ecosystem for so long and is in production use in a ton of applications. It should be `1.0` already, which would address these semver breaks.

[2016-03-17 20:43] nfischer commented on #398
Yeah, it's been fairly stable for a long time. Unfortunately, I think the project has had some big issues that really should be dealt with before we go to `v1.0` (like how v0.6 and earlier modify the string prototype, with no way to opt-out).

In regards to this feature specifically, I'm leaning more toward adding it back into master as a default, and figuring out some way to opt-out (since the op

[2016-03-17 22:02] dthree commented on #398
Okay nice. Makes sense.

When I was first playing with SHJS, I was a bit surprised on the String extension, but I figured there were just two sides to the coin. If you're using a global module, you have to expect that.

I consider global commands (`rm`, etc.) just as "bad" as extending String, honestly, so if I didn't want any of that in a project, I wouldn't import global.

[2016-03-17 22:22] ariporad commented on #398
@nfischer: what about if in global mode, normal strings have all the methods of ShellStrings? Then we can also add a 'noConflict' method.
On Thu, Mar 17, 2016 at 3:02 PM, dc <notifications@github.com> wrote:
Okay nice. Makes sense.

When I was first playing with SHJS, I was a bit surprised on the String extension, but I figured there were just two sides to the coin. If you're using a global module

[2016-03-18 01:06] nfischer commented on #398
@dthree I agree with the reasoning there. I was considering suggesting exactly that. This provides convenience for those who want it, but keeps the pollution at 0 for when that's preferred. This would actually be fairly easy to implement, as well.

@ariporad What do you mean by a 'noConflict' method?

The idea I'm leaning toward right now is:

 - Always have individual commands return ShellStrings

[2016-03-18 16:05] omidgolparvar opened #399 "Invalid version number (0.0.1alpha1)"
When I use npm to update my packages, it fails and in the `npm-debug.log` file, and in terminal, it show :
`Invalid Version: 0.0.1alpha1`
I search that version number in all json files in `~/.npm/` folder, and it has only ONE result :
`$ grep -lr "0.0.1alpha1" *`
`skimdb.npmjs.com/registry/shelljs/.cache.json`
I think the problem is `shelljs` json file.

[2016-03-18 16:21] JonDuffy commented on #390
Hey, I'm still experiencing problems with this issue. Is there something I can do on my end to prevent it from happening?

[2016-03-18 16:46] nfischer commented on #390
@JonDuffy Could you please provide the output of `npm view shelljs versions`? I can't see the invalid versions when I run that command.

[2016-03-18 16:48] JonDuffy commented on #390
sure:

thanks for the quick response

npm view shelljs versions

[ '0.0.1-alpha1',
  '0.0.1alpha1',
  '0.0.1',
  '0.0.2-pre1',
  '0.0.2pre1',
  '0.0.2',
  '0.0.3',
  '0.0.4pre1',
  '0.0.4-pre1',
  '0.0.4',
  '0.0.5pre1',
  '0.0.5-pre1',
  '0.0.5pre2',
  '0.0.5-pre2',
  '0.0.5-pre3',
  '0.0.5pre3',
  '0.0.5-pre4',
  '0.0.5pre4',
  '0.0.5',
  '0.0.6-pre1',
  '0.0.6pre1',
  '0.0.6-pre2',
  '0.0.6pre2

[2016-03-18 16:51] nfischer commented on #399
Duplicate of #390

@omidgolparvar I'm unable to reproduce this, and I believe we unpublished the versions in question. Could you please post the output of `$ npm view shelljs versions`? Thanks!

[2016-03-18 16:58] nfischer commented on #390
@JonDuffy Could you also please provide the output of `npm config get registry`? I think this may be an issue with inconsistencies between registries.

[2016-03-18 17:00] JonDuffy commented on #390
Not sure I can send that, but we do have a private NPM repo (this is the only registry shown in the output)

[2016-03-18 17:10] nfischer commented on #390
If there's a way you can change your registry, that should resolve the issue. `npm config set registry https://registry.npmjs.org/`.

I can reproduce this error when I use `https://skimdb.npmjs.com/registry`.

[2016-03-18 17:22] nfischer commented on #399
@omidgolparvar Which npm registry are you using? I can only reproduce this when I switch to the mirror at `https://skimdb.npmjs.com/registry`. When I use `npm config set registry https://registry.npmjs.org/`, there are no issues.

[2016-03-18 17:58] omidgolparvar commented on #399
@nfischer This is out of ` $ npm view shelljs versions ` :
`
[ '0.0.1alpha1',
  '0.0.1',
  '0.0.2pre1',
  '0.0.2',
  '0.0.3',
  '0.0.4pre1',
  '0.0.4',
  '0.0.5pre1',
  '0.0.5pre2',
  '0.0.5pre3',
  '0.0.5pre4',
  '0.0.5',
  '0.0.6pre1',
  '0.0.6pre2',
  '0.0.6',
  '0.0.7',
  '0.0.8',
  '0.0.9',
  '0.1.0',
  '0.1.1',
  '0.1.2',
  '0.1.3',
  '0.1.4',
  '0.2.0',
  '0.2.1',
  '0.2.2',
  '0.2.3',
  '0

[2016-03-18 18:44] nfischer commented on #399
@omidgolparver I believe that should fix the issue for you. As it stands, I can't modify the published packages on the other registry (perhaps @ariporad can?).

[2016-03-18 19:13] omidgolparvar commented on #399
@nfischer Thanks for your help. Setting new config helped and works.

[2016-03-18 19:39] nfischer commented on #399
Awesome! I'm going to close this issue then. I'll see what we can do about modifying that registry, as well.

[2016-03-18 19:39] #399 closed

[2016-03-19 23:05] ariporad opened #402 "Syncify with a Subprocess."
Hi Everyone,

I just wanted to open a discussion about something that I've been working on, before I work too hard on it.

I've talked about this before, but here's my idea:
- Because of the way Node works, it's a lot easier to write things asyncly.
- But we want shelljs commands to be sync.
- Therefore, it would be nicer if we could syncify things,
- However, this doesn't work:

[code]
- So, the

[2016-03-19 23:17] ariporad commented on #399
I've got no clue about the other registry, sorry.

Ari

On Fri, Mar 18, 2016 at 12:39 PM, Nate Fischer <notifications@github.com>
wrote:

[2016-03-19 23:22] ariporad commented on #398
SGTM

Ari

On Thu, Mar 17, 2016 at 6:06 PM, Nate Fischer <notifications@github.com>
wrote:

[2016-03-19 23:43] nfischer commented on #159
We decided to go with the "opt-out" approach for ShellJS v0.7 (see #398 for the discussion). If you don't mind having the string prototype extended, you can continue to use the convenience script `require('shelljs/global')`. If this is a concern for you, you can use `var shell = require('shelljs')` instead, which neither modifies the prototype nor pollutes the global namespace.

If the string prot

[2016-03-20 01:53] nfischer commented on #402
This part I think is pretty unrelated to the "syncifying" this discusses. I like upgrading the build system, because it'll let us switch to using coverage tools (that's the main motivation for me).

I'm not a big fan of rewrites. I don't actually see the benefit the rewrite would give us. What's an example command that should be rewritten as asynchronous, and how would that be done? That might cla

[2016-03-20 02:19] nfischer commented on #332
@stefk Thanks for reporting this!

This is indeed a bug on ShellJS v0.6. However, this seems to have been fixed in the latest version of master.

I'll add some unit tests tonight, to prevent a regression from occurring in the future.

[2016-03-20 20:46] BYK commented on #159
@nfischer - I think modifying builtins or their prototypes is a very bad idea. I'd encourage deprecating the whole `global` thing for the next version TBH. (and yeah string prototype modification too)

[2016-03-20 20:58] ariporad commented on #159
@BYK: I think the idea behind global mode is to more closely emulate bash scripting in shelljs. If you're writing a simple script which is only shelljs commands, it can save a lot of time. This is also why we have the non-global option for people who would prefer not to.

[2016-03-20 21:24] ariporad commented on #402
If we're re-writing a large portion of the code, it would be easier to re-write it with babel, and lint friendly.

I agree that re-writes aren't great. And maybe that was the wrong way to phrase it.

There are three huge benefits to syncifying things:

1. Making an async version is way easier.
2. A lot of commands are much simpler to write (exec is a big one here).
3. It's a lot easier to out sour

[2016-03-21 12:21] BYK commented on #159
@ariporad - we can still do that with `require` thought right? And with ES6 imports (I know, not ready yet) it is even easier.

Anyways, I think even if we keep the global mode, having our own `String` class and modifying its prototype is way safer than touching a built-in's prototype.

[2016-03-21 15:45] JonDuffy commented on #390
Fixed this by removing shelljs from the private npm repo, forcing a download which does not contain the invalid versions

[2016-03-21 16:54] nfischer commented on #159
The rationale is that modifying the global namespace is equally as wrong as modifying the builtin. So, for now, it's been added back, but only for global. I think we should give a deprecation warning (converting a string to a ShellString is an alternative). This is something I wouldn't be opposed to removing for good in v0.8.

[2016-03-22 05:34] levithomason commented on #402
I'm definitely down for reworking the build system. I think there are lots of benefits to be had there.

I'm also not a fan of introducing a mechanism for ensuring everything is synchronous. Performance and code elegance will suffer and I'm not seeing an equal or greater improvement tradeoff for doing so. If anything, I'd actually go the other way and strive for async versions of everything and sy

[2016-03-22 17:18] AshHeskes opened #405 "new release required. npm is out of date"
The documentation on http://documentup.com/shelljs/shelljs is out of sync with http://documentup.com/shelljs/shelljs. Specifically the grep command options '-l' was added in https://github.com/shelljs/shelljs/commit/90569dcdac96249516999c5e7afea05b6698d2cd and npm hasn't been updated since.

[2016-03-22 23:01] ariporad commented on #402
Hmm... I think I explained this poorly.

What I meant to say is this:

   1. It would be easier for us to write things as node-style callback
   versions, or better yet as promises.
   2. But it's easier for users to have a synchronous API (it mirrors bash
   closer).
   3. So it would be best to be able to syncify async versions, so that
   each end of it can be easy. This could be accomplished w

[2016-03-22 23:04] ariporad commented on #405
Hi @AshHeskes,

Yes, the documentation on master doesn't exactly match what's on NPM, because master is the development version (So `grep('-l')` won't work with the current npm version!). Sorry for any confusion!

I'm going to close this, but feel free to reopen if I've misunderstood the problem.

[2016-03-22 23:04] #405 closed

[2016-03-23 14:06] hjek opened #406 "Pipe example from 'Readme' doesn't work"
[code]

[2016-03-23 15:29] levithomason commented on #402
I see, apologies for the confusion. I agree with 1 and 2 completely. 3 might also be right. 4, yes and thanks.

If have to peruse the code a little more to give an opinion on writing a mechanism. Also, I'd bet there are many packages that already do this if we decided to proceed.

I'll do some digging and searching and get back.

[2016-03-23 23:33] ariporad commented on #406
Hi @hjek!

I think the problem is most likely that you're using shelljs 0.6 (which is currently on npm), where as the README on master is the development version, which is 0.7. Can you confirm that this is the case?

Thanks!

[2016-03-23 23:57] ariporad commented on #402
@levithomason: The mechanism is currently the only thing I've got, there was _*nothing*_ out there on it, not even any docs. It's a variant of what we do in exec.

Here's some rough code (Sorry!), I'll try to polish it a bit and push:

[code]

[2016-03-23 23:59] hjek commented on #406
That was the problem, and the [documentation on there](https://www.npmjs.com/package/shelljs) also doesn't mention pipes.

[2016-03-23 23:59] #406 closed

[2016-03-24 03:45] ariporad commented on #402
Also, @levithomason, @nfischer: +1 on meeting.

[2016-03-24 15:05] levithomason commented on #402
How's Tue or Thr next week 12pm PST?

[2016-03-24 17:06] nfischer commented on #405
Yup, a new release is on the way. A few more loose ends to tie up, and then we'll have v0.7 released to npm. Should be this week or next :+1:

[2016-03-24 17:08] nfischer commented on #406
The README is still the best place to check for docs, but it documents all the new features that may or may not be released yet. I'll add a warning to the top of the README to clarify this.

[2016-03-24 17:11] nfischer commented on #402
Tuesday and Thursday are my busiest days, unfortunately. I would be available at that time on Monday though.

[2016-03-24 18:21] levithomason commented on #402
I can do Mon the 28th @ 1pm PST, does that work?

[2016-03-24 18:42] nfischer commented on #402
Yup, that sounds good to me

[2016-03-24 18:47] levithomason commented on #402
### Mon 28th @ 1 pm PST

Rough agenda:

- shipping 0.7, what's left?
- existing issues/PRs cleanup plan
- sync/async plan
- shx, what's next?

[2016-03-24 20:31] nfischer opened #407 "cp -L: Incorrect behavior for symlinks to regular files"
#232 is an awesome contribution! I've been testing it out, and really like it. Here's one bug I noticed on my Ubuntu box, however, running Node v5.

`cp('-RL', src, dest)` doesn't work quite right. Here's some output I got that wasn't quite expected. The symlinks are both symlinks to `file.txt` (a regular file), but they're being treated like directories by the copy.

[code]

Also, I noticed the t

[2016-03-24 20:32] #332 closed

[2016-03-24 20:42] nfischer commented on #407
Also, just as a nit, [the docs](https://github.com/shelljs/shelljs/blob/master/src/cp.js#L137) should only have `-L` in there once, not "`-L`, `-L`"

[2016-03-24 22:13] ariporad commented on #402
I can't do 1PM, Sorry. Would ~4PM work?

Thanks! Ari
On Thu, Mar 24, 2016 at 11:47 AM, Levi Thomason <notifications@github.com> wrote:
MON 28TH @ 1 PM PST
Plan next steps
https://appear.in/shelljs [https://appear.in/shelljs]

Rough agenda:

 * shipping 0.7, what's left?
 * existing issues/PRs cleanup plan
 * sync/async plan
 * shx, what's next?

—
You are receiving this because you authored the th

[2016-03-24 22:15] levithomason commented on #402
I can do 4pm PST

[2016-03-24 22:19] nfischer commented on #402
4pm should be good for me as well

[2016-03-24 22:21] levithomason commented on #402
Updated previous comment, see you there!

[2016-03-24 22:22] ariporad commented on #402
SGTM.

@levithomason: are you on gitter?

[2016-03-24 22:23] levithomason commented on #402
i've opened it a time or two, so must be.  haven't had any real use yet.

[2016-03-25 00:33] charlesverge commented on #407
I created a pull request in #409 I don't see how to create one specifically for this issue

[2016-03-26 19:42] freitagbr commented on #396
I think this is a good idea. Splitting by word might be a good idea, but what constitutes a word? Do we only consider separation by whitespace, or do we consider punctuation as well?

Also, for splitting by line, would we include blank lines in the output, or would we strip those?

[2016-03-26 20:01] ariporad commented on #396
My $0.02:

   1. Great Idea
   2. Yes, allow a split option
   3. Default to lines

Ari

On Sat, Mar 26, 2016 at 12:42 PM, Brandon Freitag <notifications@github.com>
wrote:

[2016-03-26 20:08] nfischer commented on #396
Does anyone have any use-cases in mind for splitting on lines vs splitting on words?

[2016-03-26 20:10] ariporad commented on #396
Splitting on lines is what I'd expect to happen, splitting on words is for bash compatibility. But otherwise no.

[2016-03-26 22:09] freitagbr commented on #396
API question: which of these two is preferable?
[code]
or,
[code]
Personally, I like the latter, but I can understand why the former might be preferable.

[2016-03-26 22:33] nfischer commented on #396
I like the option at the end, just because it's more consistent with things like `exec()`.

Also, in the interest of making things more bash-like, it might be better to have things like:

[code]

Bash of course treats the actual separator as `IFS+` (one or more of any combination of values in the IFS set)

[code]

Here's what I'm thinking some JS-equivalent behavior would look like:

[code]

Then

[2016-03-27 03:18] ariporad commented on #396
@nfischer: I agree.

[2016-03-27 21:57] calebmer opened #412 "Showing npm loading bar and colors on stdout"
I'm using `shelljs` to run npm commands asynchronously like `npm install`. Can I display the `npm` loading bar and colors with `shelljs`? Currently only the raw text is output, so no color and no loading bar.

I'm using `exec` like this:

[code]

[2016-03-27 22:21] ariporad commented on #412
Hi @calebmer!

Yes, we know about this issue. However, this is due to the way that we spawn our child processes. Sorry about that.

I'm going to keep this open, because it would be fixed by #402.

[2016-03-27 22:27] ariporad commented on #3
@isaacs: Hi! (Sorry there's been no response till now, we just got some new maintainers):

I know that in the past, @arturadib hasn't been huge on adding dependencies, but I'm not sure if we're sticking to that. I will make sure to bring it up at our meeting tomorrow.

Thanks so much!

[2016-03-27 22:37] ariporad commented on #402
I also added a list of all the things that this would fix, for reference.

[2016-03-27 22:57] nfischer commented on #402
@ariporad Do you have a proof of concept that shows that this fixes all those issues?

[2016-03-28 00:00] calebmer commented on #412
Thanks, looking forward to see this working 😊

[2016-03-28 04:36] nfischer commented on #412
Marking this as a duplicate of #242

[2016-03-28 23:47] #407 closed

[2016-03-28 23:57] nfischer commented on #69
I think the original issue has since been fixed. I'm going to close this, but I'll open another issue that discusses some of the other issues surrounding symlinks.

[2016-03-28 23:57] #69 closed

[2016-03-29 00:17] ariporad commented on #388
@nfischer: Good point. I'll close this.

[2016-03-29 00:17] #388 closed

[2016-03-29 00:31] nfischer opened #413 "Add support for cp -P option"
This is the opposite of the `-L` option. `-P` is actually not the default on bash, since it's `-L` by default for copying files, and `-P` by default for copying directories recursively.

Also, adding the `-P` option will help in case any bugs arise with `cp -L`, since we can direct people to use that until we fix them.

Edit: I originally wrote `-p`, but this should be `-P`

[2016-03-30 12:25] sakulstra opened #414 "cp copy to symlinked folder"
Hello,
I'm not sure if there's already an issue open for this topic (there are a few similar but the other way around - copy from symlink)

[code]

and get
[code]
from the cp command ```cp -r /root/modify-karaf/4.0.4/* /root/apache-karaf``` when I execute the exact same code manually in terminal it works without an error.

Regards,
Lukas

edit:
I think it's not symlink realted... I get the same er

[2016-03-30 17:42] nfischer commented on #414
@sakulstra Thanks for reporting this! I think this bug is a duplicate of #389. Here's what I did (and you'll see it uses the latest version of master).

[code]

If this is not fixed against the latest version of master (maybe I misunderstood your bug report), let me know. Otherwise, this fix will be released in v0.7, which should be out this week. I'll close this issue for now, but please reopen i

[2016-03-30 17:42] #414 closed

[2016-03-30 17:44] nfischer commented on #414
Whoops! Forgot to mention that [n\_shell](https://github.com/nfischer/n_shell) starts a node REPL with shelljs included by default. The warning message means that it's using the locally installed version, which we want in this example (if there's no warning message, then it probably won't work as expected!).

[2016-03-30 17:49] sakulstra commented on #414
@nfischer: damn, sry didn't see this issue.
It's the same error as in the issue, so it's probably already fixed - to verify I have to wait till 0.7 is out as i don't wont to pollute our buildserver with alternative versions :)

Thx for your help!

[2016-03-30 17:57] nfischer commented on #414
No worries! Thanks for reporting this. My favorite bugs are the ones that are already fixed by somewhere else in the code :smile:. And thanks for trying out v0.6!

[2016-03-31 01:46] jordan-thoms opened #415 "Cannot read toString of null when using execSync"
I've been occasionally getting the following error:

[code]

This seems to be caused by the code generated in https://github.com/shelljs/shelljs/blob/master/src/exec.js#L72 - it seems that node now returns an Error object when exec fails, which does not have a 'code' property.

This is with node v4.4.0 on OSX 10.11.3.

[2016-03-31 04:17] nfischer commented on #415
Hmmm interesting. @ariporad would you be able to verify against OS X?

[2016-03-31 12:42] andkirby opened #416 "Catch exec() output"
I'm expecting that `exec('git status')` returns me output and status code.
It does but it doesn't catch output. Even using `2>&1` doesn't help.
`a=exec('git status 2>&1')` shows output but it shouldn't.
How to catch it?

[2016-03-31 14:19] ariporad commented on #416
Hi!

exec by default outputs to the console. If you don't want that, you can do `exec('git status', { silent: true })`

I'm going to close this, but feel free to reopen if I've gotten it wrong.

[2016-03-31 14:19] #416 closed

[2016-04-01 14:36] #372 closed

[2016-04-02 14:57] skevy commented on #412
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2016-04-02 14:58] skevy commented on #412
Hey and thanks for reporting this!

There's an awesome place to ask question like this one: [StackOverflow](http://stackoverflow.com/questions/tagged/react-native). It's the best system for Q&A. Many people from the community hang out there and will be able to see your question, you can vote on answers and mark question as answered etc. This lets us keep a list of bug reports and feature requests

[2016-04-02 16:05] ariporad commented on #415
I haven't been able to reproduce this. I tried both master and 0.6

[2016-04-02 16:07] #412 closed

[2016-04-02 18:41] scott113341 commented on #396
I personally feel that `forEach` is very strongly associated with `Array.prototype.forEach()`, and any deviant implementation has potential to be extremely confusing.  When I see something like this: `cat('file.txt').forEach(function (a) { wordCount++; }, { split: ' ' })`, I immediately think that `this` in the callback function is being set to `{ split: ' ' }`.

In addition, personally, if I see

[2016-04-02 20:04] flaki commented on #342
I think this might still be having issues.
I'm on Windows 10, I'm trying to copy the built files of `prosemirror` to a dist directory - but I get the following error:
[code]

Obviously, the `*` folder doesn't exist, but inside dist, there is plenty of data (all folders btw). I'm running this inside cygwin, but running it from the Windows Commandline throws the same error.

I'm on shelljs v0.6.0, n

[2016-04-02 20:59] nfischer commented on #342
@flaki thanks for verifying against master. Master branch should be pretty stable for now, so you could get away with installing from `github:shelljs/shelljs` until 0.7 comes out later this week.

[2016-04-02 21:04] nfischer commented on #396
@scott113341 thanks for the input. You raise a good point. The idea behind this proposed feature was to bridge the gap between the output of `ls()` and the other commands, in a way that made sense with respect to bash. Your concerns are definitely valid though, and we might have to rethink this feature.

[2016-04-03 12:17] andkirby commented on #416
Thanks for this note! It's helpful

[2016-04-05 18:41] nfischer commented on #397
To continue the discussion on this, I'm going to argue to keep the current implementation of `error()`. Most people I would imagine are using it as a boolean (i.e. `if (error()) /* do this */ else /* do that */`), however some people may be using it for the string value.

Changing it would be yet another breaking change, and I'd prefer to minimize breaking changes (since we have quite a few so far

[2016-04-06 03:31] scott113341 opened #420 "ShellString's stdout property is inconsistent"
Hello!  First of all, ShellJS is awesome, and I'm really excited about the project!

I was messing around with [shx](https://github.com/shelljs/shx) a little and noticed some inconsistent behavior with the `ShellString` class:

* When a `ShellString` object is created with a `String`, the resulting `ShellString`'s `stdout` property is set to that string. [source](https://github.com/shelljs/shelljs

[2016-04-06 03:42] ariporad commented on #420
Hi @scott113341,

That behavior is actually intentional. `ShellString` is a bit of a misnomer, `ShellResult` would probably be better. So the `ShellString` itself is whatever the result of the command is (currently this is a String or an Array, depending on the command). However, `shellstring.stdout` is _guaranteed_ to be a string, and it should be equivalent to the stdout of the equivalent unix c

[2016-04-06 03:57] scott113341 commented on #420
Hi @ariporad, thanks for the quick response!  I have no problem with the existing behavior of the `ShellString` object itself, only with the `shellstring.stdout` property's inconsistent terminal newline behavior.

After thinking about this a little more, I think your example is the best way to approach this, where the `stdout`, and `stderr`, for that matter, properties are NOT newline-terminated.

[2016-04-06 03:59] nfischer commented on #420
Hi @scott113341. Thanks for taking a look into this. The extra newline was intended. Here's an example of why it works this way:

Using [n\_shell](https://github.com/nfischer/n_shell):

[code]

Using bash:

[code]

As you can see, both `ls` (bash) and `ls()` have trailing newlines, just like how `cat` (bash) and `cat()` do. Therefore, the joined array should have a trailing newline put at the end.

[2016-04-06 04:01] nfischer commented on #420
This is a good point. `cat('file.txt').stdout` would not add a trailing newline, though, if it isn't already there.

[2016-04-06 04:36] scott113341 commented on #420
Hi @nfischer, thanks for your response.  This is how I initially stumbled across this:

I was taking a look at the `shx` source code, namely the `printCmdRet` function.  [source](https://github.com/shelljs/shx/blob/d9925e2e8f5854c8c5890559d5d5fce79cf971d6/src/printCmdRet.js)

It looks like the current `printCmdRet` implementation is not up to date with the newly refactored `ShellString` class.  So

[2016-04-06 04:49] nfischer commented on #420
@scott113341 I see your point. I agree, there's an inconsistency. Ideally, I think the best solution would be this:

 - `pwd().stdout` might look like `foo/bar\n` (newline at the end)
 - `echo('hello world').stdout` would look like `hello world\n` (newline at the end)
 - `ls('dir/').stdout` might look like `file1.txt\nfile2.txt\n` (again, newline at the end)
 - etc.

I suggest this to stay consist

[2016-04-06 04:58] scott113341 commented on #420
@nfischer The behavior you described sounds good to me!  If someone wants the "raw" output, then that information is still preserved in the `ShellString` object itself.  Thanks for your attentiveness to this issue!  Would you like me to submit a PR with the behavior change + additional tests?

[2016-04-06 05:01] nfischer commented on #420
Just looked over the API. It looks to me like we should edit the following functions:

 - `pwd()`
 - `echo()`
 - `which()`

and leave everything else as-is. The only edit should be to append a newline when we call `common.ShellString()` (for example, `return new common.ShellString(where + '\n', '', common.state.errorCode);` in the case of `which()`).

[2016-04-06 05:03] nfischer commented on #420
My pleasure. Thanks for bringing it up (this is a good thing to catch before releasing v0.7)!

SGTM. I can't think of a reason why this would be a problem.

@ariporad thoughts?

[2016-04-06 14:15] ariporad commented on #420
I agree. I think we should just never append a newline to `stdout` or `stderr`.

[2016-04-06 14:20] ariporad commented on #397
SGTM

[2016-04-06 14:22] ariporad commented on #396
I like the idea of `ShellString.prototype.lines()` (and `words()` and `split()`).

Additionally, we could have `ShellString.prototype.split()` (no args) split on `config.IFS`

[2016-04-06 16:16] nfischer commented on #420
This would involve appending a newline specifically to some `stdout` fields and not others, if I read that correctly, for the sake of making `stdout` look as much like the returned stdout a bash command would produce

[2016-04-06 16:57] nfischer commented on #396
So I'm not sure if we really get any benefit by adding `.lines()` and `.words()` methods to ShellStrings. These methods aren't very intuitive (`.forEach` has a well-established meaning, `.lines` doesn't AFAIK), and they don't add much that `.split(/\s+/)` and `.split('\n')` don't already do.

The `.forEach` method is nice because it makes command output more consistent (`ls()` outputs something th

[2016-04-07 03:02] ariporad commented on #420
@nfischer: No it wouldn't. We just shouldn't append additional newlines.

For example, if `fs.readFileSync('foo.txt')` is `foo\nbar\nbaz\n` then `cat('foo.txt').stdout` is `foo\nbar\nbaz\n`. However, if `ls('foo/')` is `['a', 'b', 'c']`, then `ls('foo/').stdout` is `a\nb\nc`.

[2016-04-07 03:08] ariporad commented on #396
@nfischer: Good point, I suppose something like this would work:

[code]

I think it would be nice to have split to default to whitespace, which is why I suggested that.

[2016-04-07 19:41] nfischer commented on #420
True, but that would be the inconsistency I pointed out above. Cat and ls would have different newline behavior when printed. Ls would either end with no trailing newline, or cat would get two. Neither of which is bash-like.

I think this is really only a bug with pwd, which, and echo. The simplest solution is to have those functions append a newline to their return value. If you need the legacy b

[2016-04-07 21:25] scott113341 commented on #420
I think that `ShellString` may be caught up in an identity crisis, and the root of the problem is that `new ShellString()` can return either a `String` OR an `Array` (with some extra methods tacked on).

Constructed with a `String`:
[code]

Constructed with an `Array`:
[code]

Essentially, `(new ShellString('a')) instanceof ShellString === false` and `(new ShellString(['a', 'b'])) instanceof Shell

[2016-04-07 21:53] scott113341 commented on #420
Also, I think:
[code]

So that you can do stuff like this: `'Hello ' + echo('world') // 'Hello world'`

[2016-04-07 21:57] scott113341 commented on #420
I should add that I do realize this would be a pretty major + breaking change, probably something for v1.0.0.

[2016-04-08 00:03] nfischer commented on #420
Some comments:

The issue with this is that now it's pretty inconsistent with `exec()`'s return value. The idea is to make commands more similar, not less similar. Maybe we do this with a getter/setter on the `.stdout` property? That would solve the issue.

I'm not opposed to this, and if it works I think it's a better design. I ran into some issues when implementing this because I wanted to make

[2016-04-08 03:12] jordan-thoms commented on #415
This is still happening to me about 20% of the time when we run shelljs, particularly in cases where we execute many long-running commands using execSync. I think it may be triggered by the called program returning a non-zero error code, as it's when it access the err.code variable that it fails

[2016-04-08 03:25] nfischer commented on #415
Could you give an example command please?

We have unit tests for this behavior specifically. Could you perhaps try running them on your system?

[2016-04-08 05:23] scott113341 commented on #420
Regarding the `exec()` behavior, I don't understand (out of ignorance) how what I've proposed doesn't work.  Maybe I'm missing something here since it looks like you're planning on changing how `exec` works in v0.7.0 by dropping support for Node v0.10

You're completely right.  The example I gave with command substitution was wrong; [command substitution](http://wiki.bash-hackers.org/syntax/expans

[2016-04-08 06:05] nfischer commented on #420
It's just backwards compatibility. Exec has a property named `.stdout`, not a function named `.stdout()`. That's the only concern (attribute vs method is inconsistent). No reason why your proposal doesn't work, it's just a matter of consistency. Getters and setters should be the best of both worlds.

I didn't know that either. Thanks for following up, I learned something new :+1:

Or they could us

[2016-04-08 19:59] ariporad commented on #420
@nfischer: .trim() also might mess up the values.

I agree ShellString has an identity crisis. I think we really that there's two ways to go about fixing this:

1. Figure out a successor and/or modifications to ShellString (maybe call it `ShellResult`). I think this will be the least painful if we don't try to make it pretend to be a value, but rather have have a `.val` (can be a string or array),

[2016-04-08 22:34] #413 closed

[2016-04-08 23:48] nfischer commented on #415
Using [n\_shell](https://github.com/nfischer/n_shell) against the master branch of ShellJS:

[code]

This seems good to me, I don't see the issue. And I don't see why a bug would happen 20% of the time. Not sure if I can proceed further unless you can provide exactly what command you're running.

[2016-04-08 23:59] nfischer commented on #420
It trims leading and trailing whitespace. Absolute paths never have leading whitespace. Binaries (returned by `which`) very seldom have trailing whitespace. Directories (returned by `pwd`) also rarely have trailing whitespace. If you want something that 100% always works, you can do `result.substr(0, result.length-1)`. It's slightly verbose, but makes more sense than using two attributes.

As for

[2016-04-11 03:56] jeroenransijn commented on #371
I am having a similar issue, what is your environment. I am currently using Electron with ShellJS. Also I am Webpack, no idea if this is relevant.

[2016-04-11 07:52] 360disrupt commented on #371
I can't really say what it was. It works now, I guess the provider of the server may have changed something. My environment is `nodejs 5.9.0`.

[2016-04-11 17:37] nfischer commented on #371
@jeroenransijn @360disrupt if either of you have the time to help figure out the bug, that would be much appreciated. I suspect it's due to differences in your environment (we list the supported nodejs and iojs versions in the README, anything outside of that we'll need help supporting).

Thanks!

[2016-04-12 14:34] despairblue commented on #261
@nfischer I solved my problem by only using absolute paths. Which works perfectly fine. Sometimes it's just hard to see the obvious solution. 😃

Thanks for all the input.

[2016-04-12 14:55] despairblue opened #424 "processes started via `exec` are unable to accept input"
If I try to launch `npm init` from a shelljs script it seems that the stdin is not passed through to that process:

[code]

=>

[code]

Pressing enter has no effect.

[2016-04-12 16:45] nfischer commented on #261
Glad to hear you found a good work around :+1:

[2016-04-12 16:46] nfischer commented on #424
Node version?

[2016-04-13 15:52] despairblue commented on #424
v5.8.0

[2016-04-14 03:57] nfischer commented on #424
Confirmed as a bug.

As a workaround, please use `child_process.execSync('npm init', {stdio: 'inherit'});`

Fixes are welcomed.

[2016-04-14 18:09] jeroenransijn commented on #371
@nfischer I was actually not well researched on what I was trying to do. Exec, even with the async option, waits for the process to finish and then gives you back the result of your command. I ended up using `require('child_process').spawn()` straight from node, which gives you a stream. I was wondering why there is no alternative in ShellJS?

[2016-04-14 19:22] nfischer commented on #371
It returns the child process, so you can use that to access stdout or stderr.

I think this should work:

[code]

[2016-04-15 01:16] sarbbottam opened #426 "exec('nohup node some.js &')"
Not sure if its a bug rather question.

* node - 5.10.0
* shelljs - ^0.6.0
* os - OS X 10.11.4

---
Can I do something like:

[code]
[code]

[code]

---

I expect the `index.js` to terminate and on `ps -ef | grep watcher` to find the `process` corresponding to `watcher.js` listed

In practice it doesn't. Is it by design?

[2016-04-17 16:23] ariporad commented on #426
Hi @sarbbottam,

For me this is resulting in `index.js` never exiting, is the same happening for you?

I'm not really sure *_why_* that's happening. @nfischer, you know a lot more about unix than me, any ideas?

[2016-04-17 17:07] sarbbottam commented on #426
Yes

If I use `const exec = require('child_process').exec;` instead of `require('shelljs/global');` it works for me.
as [suggested in this gist](https://gist.github.com/supersha/6913695)

[2016-04-17 17:07] #426 closed

[2016-04-19 15:47] Ruskyj opened #427 "Every shell command is executed multiple times"
### Node version:
0.10.42

### ShellJS version (the most recent version/Github branch you see the bug on):
0.6.0

### Operating system:
Linux (no idea what type, uname -v gives me this: #1 SMP Mon Aug 10 09:44:54 EDT 2015)

### Description of the bug:
Hi guys, I'm new to all this, but I ran into a problem. Every command I send to the shell via the shelljs is executed multiple times (random number,

[2016-04-19 16:26] Ruskyj commented on #427
Quick update: using **execSync** module works (outputting all commands just once).

[2016-04-19 18:53] nfischer commented on #427
@Ruskyj Would you be able to use a more recent version of node? I've seen things like this before on node v0.10. If you use node v4+ that should be a workaround

[2016-04-20 07:39] 360disrupt commented on #371
I will use `shelljs` in another project soon. If I see the problem again I can investigate. Currently I'm not able to look into it because it disappeared.

[2016-04-20 15:53] Ruskyj commented on #427
@nfischer Unfortunatelly, I don't think so. It took 2 weeks just to get NodeJS on that machine installed. Corporate processes BS...

I fixed it by using execSync for now. But thx for the info, I'll keep that in mind for my future projects. Btw, this info should probably be mentioned in documentation as well.

[2016-04-20 16:26] nfischer commented on #371
@360disrupt if you can figure out what the issue is, please ping this thread again (or open a new issue). Thanks!

[2016-04-20 16:30] nfischer commented on #427
@Ruskyj

Yeah, that makes more sense. I've seen something similar to this before (although it always seemed to work correctly for the most part).

Unfortunately, we recently [dropped support for v0.10](https://github.com/shelljs/shelljs/wiki/Migrating-from-v0.6-to-v0.7) for future development. Since we're getting ready to release v0.7, we probably won't be able to focus on this issue. If you can f

[2016-04-20 16:51] Ruskyj commented on #427
It's ok, I completely understand, 0.10 is from the stone age.
I might look into that if I ran into further problems.

Thx for your time ;)

[2016-04-20 16:51] #427 closed

[2016-04-20 21:43] nfischer commented on #420
I believe this issue has now, at least temporarily, been resolved in the case of n\_shell and shx, without breaking backwards compatibility for ShellJS users.

I agree there's some inconsistencies, but this can probably be refactored before v0.8, and I don't think it's in the best interest for the community to push v0.7's release date back any further. v0.7 has more than a few features that I thin

[2016-04-20 22:08] nfischer commented on #398
Everything discussed in this thread has been addressed, so I'm closing this. Please reopen if you have any issues with the current state of the docs (otherwise, these will be the official docs for v0.7 until the next release).

[2016-04-20 22:08] #398 closed

[2016-04-20 22:20] ariporad commented on #420
SGTM!

Thanks! Ari
On Wed, Apr 20, 2016 at 2:43 PM, Nate Fischer <notifications@github.com> wrote:
I believe this issue has now, at least temporarily, been resolved in the case of n_shell and shx, without breaking backwards compatibility for ShellJS users.

I agree there's some inconsistencies, but this can probably be refactored before v0.8, and I don't think it's in the best interest for the com

[2016-04-23 14:03] scott113341 commented on #420
Cool, looks good!  I think you've struck a good balance here.  Thanks for your attention to and work on this issue!

[2016-04-25 21:53] MatthieuLemoine commented on #424
There are several ways to fix this issue.
In the exec.js source file, you can either :
- Pipe process.stdin to childProcess.stdin
`process.stdin.pipe(childProcess.stdin);`
- Use spawn instead of exec in your string scriptFile
- Execute the command and not the scriptFile in execSync

The main problem is that i can't understand why you have to build a script in a script. execSync can run a command.

[2016-04-25 22:12] nfischer commented on #424
@MatthieuLemoine

This is a pretty ancient part of the code base that's stuck around because it allows us to send command output to the terminal in real-time while still capturing it for when the function returns. Even with backwards compatibility in mind, there's probably a much smarter way to revise this function. Pull requests, as always, are welcome :smile:

One solution that comes to mind wou

[2016-04-25 23:53] nfischer commented on #342
Sorry for the delay. v0.7 just got released. Let me know how it works for you

[2016-04-25 23:54] nfischer commented on #376
This should be fixed in v0.7, which just got released

[2016-04-26 00:02] cancerberoSgx opened #430 "exec() stdout should be a ShellString"
stdout and stderr properties of the object returned by exec() should be ShellString , example:

var target = './myfile.js';
var cmd = shell.exec('browserify ./src/index.js', {silent:true});
// cmd.stdout.to(target) //should work but fails! instead I have to do:
new shell.ShellString(cmd.stdout).to(target);

[2016-04-26 00:05] ariporad commented on #430
Hi @cancerberoSgx!

Actually, the `stdout`/`stderr` properties of `exec` aren't `ShellString`s, but rather the return value of `exec` itself is. I believe that what you want can be accomplished simply with `cmd.to(target)`.

I'm going to close this, but feel free to re-open if I've misread it.

[2016-04-26 00:05] #430 closed

[2016-04-26 00:09] ariporad commented on #402
@nfischer: I did show you my PoC, I didn't just push it to github and forget about it, right??? right????

[2016-04-26 00:10] ariporad commented on #424
I'm going to try to re-write exec using some of my work from #402.

[2016-04-26 00:16] nfischer commented on #430
@cancerberoSgx As of ShellJS v0.7 (just got released) this is the recommended way of using it.

Just added an entry for it in [the breaking changes wiki](https://github.com/shelljs/shelljs/wiki/Migrating-from-v0.6-to-v0.7).

[2016-04-26 00:21] nfischer commented on #402
Thanks for the bump. Didn't forget about it, I just haven't had time to try it out yet. I'll try to take a look today or tomorrow. Feel free to ping me if I haven't responded back by then.

[2016-04-26 00:22] ariporad commented on #402
No problem, take your time. I just remembered that I didn't open a PR, so I
thought I'd check.

Ari

On Mon, Apr 25, 2016 at 5:21 PM, Nate Fischer <notifications@github.com>
wrote:

[2016-04-26 16:10] cancerberoSgx commented on #430
thanks! that did the trick. but, what about stderr ? although is not important. Thanks

[2016-04-26 19:26] nfischer commented on #430
You should do as you described in the above post. It's rare enough to redirect stderr that we felt it was worth the trade off

[2016-04-27 11:41] MatthieuLemoine opened #435 "[ Feature ] SSH command"
Feature request for the ssh command.

It could be a wrapper around [mscdex/ssh2](https://github.com/mscdex/ssh2) client.
It allows to execute a command over ssh or to maintain an interactive shell session.

[2016-04-27 21:17] nfischer commented on #435
What would the interface look like? Could you give an example use case?

[2016-04-28 00:02] ariporad commented on #435
I've actually been thinking about this recently.

I think it would be really cool to do something like this:

[code]

Which is exactly equivalent to:

[code]

If we could do this for any possible command, that would be pretty awesome.

I looked into doing this, I'm pretty sure we'd have to use ES6 Proxies (node >=`5.12`), or change the syntax to `git.cmd('commit', { a: true, message: 'feat(command

[2016-04-28 11:51] MatthieuLemoine commented on #435
I thought about:

[code]

As you said @ariporad, to implement commands with a large set of subcommands (such as git), ES6 proxies are the only way to avoid wrapping all commands one by one. But there is no polyfill for this use case.

It's not an issue for ssh as we only need 2 subcommands.

[2016-04-28 20:27] nfischer commented on #435
@ariporad Your idea sounds really cool! Since it requires proxies, I think this is something that probably shouldn't be part of shelljs itself, but perhaps could be its own module on top of shelljs. I'd be interested in pursuing this, but let's discuss on gitter or on a different thread.

@MatthieuLemoine One concern I see is in regards to authentication. In the example `ssh.exec(opts, cmd)`, how

[2016-04-28 20:49] nfischer commented on #402
@ariporad Just tried testing your code. Looks like you're missing the IPC module on that branch, so nothing runs.

[2016-04-28 20:50] nfischer commented on #415
@ariporad why is this blocked?

[2016-04-28 20:52] nfischer commented on #193
@crjobson is this still an issue for the latest version of shelljs? I think v0.7 resolves this, at least for unix.

[2016-04-28 20:52] nfischer commented on #213
I'll close this issue for now. Please ping this thread or reopen if this is still a concern.

[2016-04-28 20:52] #213 closed

[2016-04-28 20:53] nfischer commented on #198
@gatkinsNZ is this now fixed on the latest version of shelljs? We did a lot of work surrounding symlinks.

[2016-04-28 22:23] nfischer commented on #102
Closing this issue. Duplicate of #2

[2016-04-28 22:23] #102 closed

[2016-04-28 22:28] MatthieuLemoine commented on #435
@nfischer
[mscdex/ssh2](https://github.com/mscdex/ssh2) can handle several methods of authentication.

A shelljs user could do one of the following :
1.  Set his password in the opts object
2. Set the path to his private key in the opts object
3. Set the path to his SSH-Agent in the opts object
4. Set tryKeyboard to true in the opts  and then it would prompt the user for his password

More info [h

[2016-04-28 22:41] MatthieuLemoine commented on #435
As [mscdex/ssh2](https://github.com/mscdex/ssh2) uses streams,  it will not halt the execution during the `ssh.exec` or `ssh.connect`.

But we can syncify it if needed by spawning a childProcess.

[2016-04-29 03:21] ariporad commented on #435
@MatthieuLemoine: Why can't you just use mscdex/ssh2 directly? That's kind of the whole point of shelljs, you can use normal node modules (of which there are quite a few).

[2016-04-29 03:22] ariporad commented on #415
Because we couldn't reproduce it, and were waiting for more info.

I personally would rather close it as [invalid], and it can be re-opened if needed.

[2016-04-29 03:24] ariporad commented on #402
@nfischer: No, it's there: https://github.com/shelljs/shelljs/blob/child/src/ipc.js. What error message are you getting?

[2016-04-29 07:40] MatthieuLemoine commented on #435
@ariporad : It requires a lot of boilerplate code to create a  common ssh client with mscdex/ssh2 as you have to handle output, input and error streams.

[code]

The idea is to abstract it to allow the user to only type a single command like other shelljs commands.

[2016-04-29 18:33] nfischer commented on #402
Something like, "cannot find module IPC"

[2016-04-29 18:36] nfischer commented on #415
I think the "blocked" label may be counter intuitive here. When I see it, I assume it's blocked by another issue, not waiting for a response. Issues are almost always waiting for some sort of response, right?

Anyway, I'm fine with either closing and reopening or just leaving as is until we can reproduce the error.

[2016-04-30 02:09] jordan-thoms commented on #415
Sorry, I hadn't seen the notifications on this. I haven't seen this error recently so we can close this and I'll reopen it and dig into this more if it becomes an issue again.

Thanks

[2016-04-30 06:12] #415 closed

[2016-04-30 16:21] ariporad commented on #435
Hmm...
It seems like this might be better-suited as a module outside shelljs, with an API like this:
[code]

[2016-04-30 16:21] ariporad commented on #435
Hmm...
It seems like this might be better-suited as a module outside shelljs, with an API like this:
[code]
Unless I'm missing something.

[2016-04-30 18:54] leesei commented on #435
@MatthieuLemoine Right tool for the right job.
If you need to SSH to the server I recommend [Ansible](https://www.ansible.com/).

[2016-04-30 22:21] nfischer commented on #402
Ok, pinging this thread again since I took a look at the branch. First off, `require()` is case-sensitive, so you need to make the capitalization match the filename (`require('./IPC')` => `require('./ipc')`).

After fixing the case-sensitivity issue, I played around a bit. I didn't test it out too much, so I may have missed some things. Here's what I found though:

 - Simple commands like `pwd()`

[2016-04-30 23:22] ariporad commented on #435
Or, if we impliment #402, there might be a way to create a new shell instance over ssh:

[code]

[2016-05-01 20:56] bcoe opened #438 "shelljs@0.7.0 does not work with nyc test coverage module"
### Node version:

v5.8.0

### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.0

### Operating system:

OSX

### Description of the bug:

`shelljs@0.7.0` no longer works with https://github.com/bcoe/nyc for test coverage, my guess would be it's related to an interaction between `spawn-wrap` and `shelljs`.

### Example ShellJS command to reproduce the error:

[code

[2016-05-01 20:58] ariporad commented on #438
Hi @bcoe,

Any chance you could provide a more generic shelljs command to reproduce the error?

Thanks so much!

[2016-05-01 21:32] addaleax commented on #438
Hi @bcoe, thanks for ccing me in this! b63dde5d1a2d5f55ff78a7a74de371124100ed0a seems like the change in shelljs that lead to this… definitely looking into it. :smile:

[2016-05-01 22:15] addaleax commented on #438
Sooooo… I wouldn’t consider it a bug in shelljs, and I’m going to write another PR against spawn-wrap, so you can stop reading here if you want. The following explanation is also definitely over-long, but I don’t really know the audience here.

@ariporad Don’t know if you are familiar with [nyc](https://github.com/bcoe/nyc), but it’s essentially a code coverage tool that automatically instruments

[2016-05-01 22:17] ariporad commented on #438
@addaleax: Hmm... That's quite strange. Thanks so much!

[2016-05-01 22:17] #438 closed

[2016-05-03 09:09] oric01 opened #439 "Stdout is empty on Git log command"
- node 4.4.0
- shelljs 0.7.0
- windows 7, using git bash

Using shelljs to stdout Git log does not work (in grunt file currently).

[code]

[code]
Works, console stdout  : `stdout: 'v4.4.0\r\n'`

[code]
Does not works, Works, console stdout  : `stdout: ''`

While this Git log works in Git bash :

[code]

[2016-05-03 17:45] nfischer commented on #439
@oric01 do other git commands (like `git status`) work? Also, what is the output on the terminal when you redirect stdout?

[code]

Just want to verify that the git log command really is going to stdout for you and not stderr.

[2016-05-04 09:20] oric01 commented on #439
@nfischer It's strange... now when i run shelljs, git command is unknown... while it's still running on git bash.
I'm a bit confused, it was at least running git command correctly until now.
FYI, I installed git bash the way it's not available in cmd.exe, but as far as I understand, it should'nt be a problem.

Previously the returned code was 0 with just stdout empty (on git log) and I also finall

[2016-05-04 14:17] nfischer commented on #439
It has to be part of your path to use it. Exec spawns a new `cmd.exe`. Please add the git binaries to your path first to take advantage of them via shelljs.

[2016-05-04 15:42] oric01 commented on #439
Is there a way that shelljs use bash instead of cmd.exe ?
Currently im using git bash to have a "unix like" shell so I can run the same scripts between local env (window) and dist env (linux) for grunt build scripts ie.

[2016-05-04 15:58] MatthieuLemoine commented on #435
@leesei Ansible is an automation tool. If I only want to execute a single command over ssh inside my shelljs script it seems a little overkill to use Ansible. In this case, i would spawn a childProcess if needed.

@ariporad  Sure it could be  done as an external module. But ssh is a very usual command, this is why I thought it could be implemented directly in shelljs.

[2016-05-04 16:48] nfischer commented on #439
Yes, you need to use the `{'shell': '/path/to-bash.exe'}` argument to exec. That may work nicely for you. Find whatever the path is to your bash executable of course and past that in there, remembering to properly escape any backslashes and whatnot.

[2016-05-04 17:12] nfischer commented on #439
@oric01 Here's the [exec docs](https://github.com/shelljs/shelljs#execcommand--options--callback), which point to the page for the child\_process module. Any option in that module's exec should be supported here as well, including `shell`.

[2016-05-04 23:09] ariporad commented on #435
@MatthieuLemoine: Hmm... Currently, we only support built in UNIX commands in ShellJS, but I imagine if we every added external commands, we would definitely support SSH.

[2016-05-07 23:00] nfischer commented on #439
@oric01 I'm going to close this, since it looks like it was an issue with `git` being outside of your normal PATH, and that using `{shell: 'path/to/git/bash.exe'}` should fix it. Please reopen if this doesn't resolve the issue.

[2016-05-07 23:00] #439 closed

[2016-05-07 23:12] nfischer commented on #180
@VectorHo is this still a concern? We've released ShellJS v0.7, which should have a lot of improvements.

[2016-05-09 13:43] oric01 commented on #439
I tested with shell option but it's a pain to configure on windows...
I finally tested `git status` and it works...
Looks like it's related to the way `git log` is not flushed.
I continue to investigate...anyway thx for your support.

[2016-05-10 18:26] edmcmanwich opened #440 "phpcs very slow"
### Node version: 5.6.0
### ShellJS version (the most recent version/Github branch you see the bug on): 0.6.0
### Operating system: OS X 10.11.4
### Description of the bug: Running phpcs through shelljs is incredibly slow. Directly through shell, running phpcs on an empty php file takes 16ms. Running through shelljs the same command takes 59s.
### Example ShellJS command to reproduce the error:

[

[2016-05-10 21:53] nfischer opened #441 "[ Feature idea ] synchronous sleep command"
I'm sure something like this has been implemented before (and I can think of a few simple ways to implement it off the top of my head), but I think it would be beneficial for us to implement a synchronous `sleep()` command that works similarly to [unix sleep](http://linux.die.net/man/1/sleep).

Usage would be as follows:

[code]

One practical use case I can imagine would be for [this line](https:

[2016-05-10 23:42] ariporad commented on #441
Here's my $0.02: I don't think we should add this, because:

1. Node is designed to very specifically not do this.
2. There are a lot of modules on npm which do exactly this.
3. There's not (AFAIK), a way to do this that's both performant and doesn't require a native extension.

That being said, #402 does require something like this, so if we want to do that, we might need this.

[2016-05-11 02:43] CocaCola183 opened #442 "got some problem using `exec`"
### Node version:4.4.3

### ShellJS version (the most recent version/Github branch you see the bug on):^0.7.0

### Operating system:ubuntu14.04

### Example ShellJS command to reproduce the error:

1. `exec('cd /var/log').code == 0`, but can cwd not changed
2.
    *  `exec('ls /var/log/nginx/{hello.,}example.com_access.log')` // show no such file or dictory but     `ls('/var/log/nginx/{hello.,}exa

[2016-05-11 02:48] ariporad commented on #442
Hi,

We actually don't support `exec('cd')`, because exec spawns a subprocess, and there's no way for a subprocess to change the parent's working directory. But cd does work.

I'm going to close this, but feel free to reopen if I've misunderstood.

[2016-05-11 02:48] #442 closed

[2016-05-11 02:57] nfischer commented on #442
The reason ls does not work is because exec spawns a`sh` shell, not a `bash` shell. Use the `{shell: "path/to/bash"}` option to get full bash expansion.

I'll clarify this in the docs.

In general, if we offer a shelljs function for a specific command, we recommend using that instead of `exec`.

[2016-05-11 03:14] CocaCola183 commented on #442
@ariporad @nfischer Thanks for your reply!
`{shell: "path/to/bash"}` helped me

[2016-05-14 01:53] ariporad commented on #402
@nfischer:

WRT 1 & 2, currently this just detects if you've passed in a callback. I'll try to add option support.

I can't reproduce #3, sorry.

[2016-05-14 02:01] nfischer commented on #402
Ok, awesome. I'll try and play around with this and see if I can give specific steps to reproduce my 3rd point.

[2016-05-14 02:10] ariporad commented on #402
@nfischer: Ok, so I think spinners should be doable, but here's what I've gathered, WRT spinners:
* Programs will only show spinners if they detect that `process.stdout` is a TTY.
* The only way for code to create a TTY is with a PTY
* Basically every implementation of a PTY in node is based off one binding, `pty.js`.
* `pty.js` doesn't support seperate stdin/stdout streams.

[2016-05-14 02:19] nfischer commented on #402
@ariporad if we switch to this implementation, I'd ideally like it to be one that fixes more issues than it causes. If we can fix these issues, I'd be leaning toward this. Right now it just seems to be harder to wrap one's head around, so I'm trying to see which bugs this solves.

[2016-05-15 22:51] levithomason commented on #391
It seems the common denominator (except Windows) to opening a file with the default program is `open()`.

[code]
Ref [Windows](http://superuser.com/questions/246825/open-file-from-the-command-line-on-windows) and [Linux](http://askubuntu.com/questions/101965/what-is-the-replacement-for-gnome-open-in-gnome).

Though, [`$ open` on Linux](http://man7.org/linux/man-pages/man2/open.2.html) seems to ope

[2016-05-15 22:58] nfischer commented on #391
Yeah, `open` has pretty different behavior between mac and Linux.

I think this would perhaps be better done as a separate module that plugs in. We could do a `shelljs-open` module which would call `xdg-open` for Linux (that's a shell script available on pretty much any distro), `open` on Mac, and just the filename on Windows. Wouldn't be hard to implement, and we could probably find a clever way

[2016-05-16 00:15] ariporad commented on #391
So, I'd actually like to hijack this thread as a way of discussing custom shelljs commands.
Currently, this is what we suggest:
[code]

[2016-05-16 00:17] ariporad commented on #391
So, I'd actually like to hijack this thread as a way of discussing custom shelljs commands.

Currently, this is what we suggest:

[code]

This might be a good time to try and implement a proper extension API. Here's what I'm thinking are some good requirements to start with:
1. Should allow adding custom commands (ex. `shell.foo()`), and subcommands (ex. `shell.git.checkout()`)
2. Commands should

[2016-05-16 01:27] nfischer commented on #391
@ariporad This sounds like a really neat idea. I have a couple clarifying questions.

1. Would `git.js` be in a separate module (the `shelljs-plugin-git` module)?
2. Would `_git` be a function that's implemented within the `shelljs-plugin-git` module?

I like the idea of letting users pick which plugins they use. It'd be weird to require someone to use the `git` plugin if they only wanted the `ope

[2016-05-16 01:40] nfischer commented on #391
Actually, probably the simplest syntax is this:

[code]

[2016-05-16 01:52] ariporad commented on #391
Yes, git.js is in a separate plugin? And _git is the implementation of the command.

Here's an idea I quite like:

[code]

[2016-05-16 02:15] levithomason commented on #391
This sound great.  +1 to `shell.use('git')` with shorthand.

I don't follow what is happening with `plugin.Plugin()` and `git.subcmd`.

[2016-05-16 02:15] nfischer commented on #391
How would this work with a global require()? Also, I don't like `shell.use()`, since the only functions we have as properties of `shell` are command implementations (e.g. `shell.ls()`, `shell.grep()`, etc.). Seems confusing to throw `shell.use()` into the mix.

[2016-05-16 02:23] levithomason commented on #391
I don't use nor know enough on the global require to comment.  Personally, I think that many globals is not a good idea.  I just use `sh.ls()`.

I guess `shell.use()` reminds me of other plugins systems, like `chai.use()`.  Whereas requiring a module and attaching it to an object doesn't really seem like a plugin.

I think there is unforeseen future advantage in starting out with a function patter

[2016-05-16 02:34] nfischer commented on #391
I have no issues with `plugin.use(shell, 'git')`. We might even be able to configure this to allow `plugin.use('git')` to export to the global namespace.

I agree modifying the global namespace isn't the greatest thing. The idea is to stay consistent with the current API (some people still use `shelljs/global`). It'd be weird to have `echo('foo')` work but require someone to use `shell.git(...)` w

[2016-05-16 02:40] levithomason commented on #391
Agree on consistency, also may cause some unrest if the plugin system were limited to non-global use.

I'm down with converting this issue into a plugin system issue.  Or, killing this one and creating a new plugin system PR to hash the rest of it out.  I'll likely be taking a passive position it anyhow.  Will try to offer input when available.

[2016-05-16 03:16] ariporad commented on #391
Ok, thread has been hijacked.

I'd like to strongly vote against `plugin.use(shell, 'git')`. I think that `shell.use` is OK, I don't think it would cause problems. (See `shell.config`, `shell.ShellString`).

I'm not sure about the global namespace, adding tons of globals seems bad, but it is useful.

Here's an idea, which would make the non-global option easier: What if we renamed `shell` to `$`.

[2016-05-16 17:40] nfischer commented on #391
I think `shell.use()` is too narrow in scope. This makes it difficult to add more functions for working with plugins. I'm not sure which additional functions we'll *necessarily* want, but here's some potential ideas:

 - `plugin.list(shell)` -- list all plugins currently in-use
 - `plugin.check(shell, 'git')` -- perhaps this checks if the `git` plugin is in-use
 - `plugin.remove(shell, 'git')` --

[2016-05-16 19:40] ariporad commented on #391
@nfischer: I can't really think of a use case for any of those. I think we should emphasize that 1 plugin = 1 command, so there wouldn't be a reason for `.remove` or `.check` (`.check` can be replaced by `!!$[cmd]`).

I personally like `$.use` because it's similar to other plugin systems (ex. `chai`). If we need to add other things in the future, we could alias `$.use` to `$.plugin.use`. I agree t

[2016-05-16 20:09] nfischer commented on #391
Yeah, but people are usually smart enough to figure that out if it's important to them ([cash](https://github.com/dthree/cash) is a great example). I think it's better to have a less-cryptic namespace than to save a few chars.

Weren't we discussing how to make a plugin system compatible with global imports? You said that with `require('shelljs/global')` it still uses the `$` variable:

To me, tha

[2016-05-16 23:01] ariporad commented on #391
Sorry, I explained that poorly. I was suggesting that for global imports, we do two things:

1. As a bonus feature of  `shelljs/global`, we define a  `global.shell` variable.
2. When using global mode, plugins are still registered using `shell.use`, but `shell.use('git')` defines both `shell.git` and `global.git`.

[2016-05-16 23:18] ariporad opened #444 "Big picture shelljs@1.0.0 discussion"
Hi Everyone,

As discussed in #443, I'd like to start discussing `shelljs@1.0.0` features on a high level.

`v1.0.0` features [@shelljs/contributors, feel free to edit]:

- [ ] Async versions of all commands (#402, #387)
- [ ] Plugin System (#391)
    - [ ] It would be quite nice to impliment all built in commands as plugins.
- [ ] Code Style Guidelines (#317)
- [ ] Miscellaneous cleanup/refactor

[2016-05-16 23:45] levithomason commented on #444
Yep to all, everything that was on my mind :)

[2016-05-17 02:37] nfischer commented on #444
I don't like the idea of moving core commands outside of this package (not sure if that's what you meant by "implement all built-in commands as plugins").

I'm in favor of the other ideas. I'll update with the other things we have on the milestone.

[2016-05-17 03:01] ariporad commented on #444
@nfischer: It's not strictly necessary, they could be plugins inside this repo, although I think they should be separate packages for a few reasons:

1. It's more modular, so it's foreseeable that modules could be used independently of shelljs. (Ex, `mkdir -p` could be useful stand-alone.)
2. Imagine that one day `@shelljs/rm@1.5.0` is published with a horrible mistake! It doesn't actually remove

[2016-05-17 17:17] felixSchl opened #445 "Usage with neodoc"
Hey, I am the author of [neodoc](http://felixschl.github.io/neodoc) which provides a way to generate a CLI parser from the utility's help text. I feel these two projects go hand in hand really, really nicely as naturally when writing a script, you might want to expose a CLI but not add loads of boilerplate. With neodoc you add your help text like you would in a bash script &mdash; The helptext is

[2016-05-17 19:51] levithomason commented on #391
-1 to adding more global variable definitions.  This could cause a lot of problems.  You could easily blow away some local variable doing this.  Also, what if I already had a global named `shell` or `$`?  If I wanted to use `shelljs/global` I'd first have to refactor my codebase.  Or, we'd have to have a config option for the global name you want to use, which just seems worse.

I think the assign

[2016-05-17 20:27] nfischer commented on #391
Let's brainstorm some more APIs for this sort of thing. I don't think we've found anything great just yet. I think we should figure out a syntax that is mostly the same, for either local or global imports, without polluting the global namespace more than necessary.

[2016-05-17 20:30] nfischer commented on #391
Here's the link to [eslint's plugin docs](http://eslint.org/docs/developer-guide/working-with-plugins). I think their plugin API isn't quite right for us (it's all in config files), but it might be good food for thought. Feel free to post links to other plugin-usage APIs, so we can get some idea of how to design ours to be consistent.

[2016-05-17 20:32] ariporad commented on #445
Hi @felixSchl!

@shelljs/contributors: What are your thoughts on this? Neodoc looks quite cool, but we don't really do ver y much arguments parsing, so I don't know if it would be useful.

[2016-05-17 20:38] nfischer commented on #445
I'll take a look, thanks!

[2016-05-17 21:45] levithomason commented on #391
[Chai](http://chaijs.com/guide/plugins/) is great, possibly a little more applicable to our pattern.  I also like [Gulp plugins](https://github.com/gulpjs/gulp/blob/master/docs/writing-a-plugin/README.md), however, they are all about streams so the pattern isn't a 1:1.  [Webpack's plugins](https://github.com/webpack/docs/wiki/How-to-write-a-plugin) are more similar to gulp in that they are called

[2016-05-17 23:27] ariporad commented on #391
Here's my $0.02:

* I really like Chai's system, it seems simple but powerful, and it would be easy to use for ShellJS.
* Not a huge fan of jQuery plugins, they're basically glorified monkey-patching.
* I think that gulp's system isn't super relevant, as it revolves around a factory-returning-a-stream, and we don't have an equivalent of a steam to return.
* Webpack's system seems kind of confusing

[2016-05-17 23:30] ariporad commented on #391
Also, here's the features we need (feel free to edit):

- [ ] Add a command to `shell`.
- [ ] Add commands to commands (ex. `git commit` and `git lfs track`.)
- [ ] Callable Commands (ex. `ssh`)
- [ ] Non-callable commands (ex. `git`)
- [ ] Expose internal shelljs utils.

[2016-05-20 04:14] ariporad commented on #444
@nfischer: ping.

[2016-05-20 04:15] ariporad commented on #391
@nfischer, @levithomason: Any other thoughts on this?

[2016-05-20 04:35] ariporad commented on #391
Here's another idea in favor of a `chai`-like system:

You'll recall how I talked about (I forget where), about a way to convert bash commands to shelljs easily using proxies?

Well, here's an example API which accomplishes roughly the same thing using a chai-like interface:

[code]

[2016-05-20 04:36] ariporad commented on #391
Oops... Wrong button. Sorry.

[2016-05-21 06:13] levithomason commented on #391
No other comments here.  I'll let you two solve this one from here.

[2016-05-22 18:44] pfraces commented on #18
@nfischer I want to read from stdin synchronously. I was expecting that `cat` called without filepaths would do it. Since I haven't found a way to do it with `shelljs` I have used [a stackoverflow snippet](http://stackoverflow.com/a/16048083/1815446) showing a cross-platform way of reading stdin synchronously. Would you be interested in a PR for making `cat` reading from stdin when called without

[2016-05-23 14:39] levithomason commented on #444
What if this was done similar to lodash.  You get the entire library on install, but you can also simply
[code]
if you just want to merge objects.  Everything is kept in one repo, but many packages are published from it's subdirectories.

This would allow people to just install `shelljs.mkdir`, for example, or the entire lib.  Not a priority, but it also opens shelljs up for the same pattern as th

[2016-05-23 14:49] ariporad commented on #444
@levithomason: Agreed. That's along the lines of what I was thinking. Could be really nice.

That would also let someone use (for example), `rimraf` to impliment a custom `$.rm`. (I don't know why they'd need to, but whatever.)

[2016-05-24 04:35] levithomason commented on #444
I've made my peace in this one, will let you too wrap it up!

[2016-05-24 05:14] nfischer commented on #18
@pfraces Sounds like something we'd be interested in :+1:

[2016-05-24 05:15] nfischer commented on #18
Please ping this thread if you run into any issues implementing this. Thanks!

[2016-05-24 06:05] nfischer commented on #391
@ariporad Thanks for giving this lots of thought! I'm really excited about a plugin architecture.

Looks like `shellify` is in the global namespace, which I'm opposed to. Aside from that, here's some quick thoughts:

 - `$.use('git')` is a really short interface for using plugins, which is awesome. However, this hides the fact that `shelljs-plugin-git` is a dependency for your project. Why make th

[2016-05-24 06:16] nfischer commented on #444
Sure, cash does it this way.

[2016-05-25 07:15] jeremyrajan commented on #220
Hi,

I tried to use it renderer and sh.pwd seems fine. But for some reason, when I package the app and then pwd still works but `which` command i not working.

Any idea why?

Thank you!

[2016-05-26 04:49] nfischer commented on #391
[Here's](https://github.com/nlp-compromise/nlp_compromise#pluginmixins) an example module that uses a `.plugin(require('plugin-name'))` syntax, which sounds clearer to me than `.use('plugin-name')`.

[2016-05-26 12:42] jcbohin opened #446 "ls() not returning an Array"
### Node version:

v6.2.0

### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.0

### Operating system:

OSX 15.5.0

### Description of the bug:

`shelljs.ls()` returns an object containing results (files and folders as elements of the array) and a bunch of methods and no longer an Array (as it used to do until 0.7 and as described in [the docs](https://github.com/

[2016-05-26 19:28] ariporad commented on #391
@nfischer: Sorry, I think I came across a little confused. Let me clarify a bit:

I was thinking it would either be a seperate module or a property of `$`.

ESLint does this.

👍

Agreed, it was just an idea I had.

That would just be one (possible) option. Plugin devs could also impliment the functionality in JS.

I'm going to have quite a bit of free time this weekend, why don't I work on a mocku

[2016-05-26 20:09] nfischer commented on #446
It returns an array with some extra attributes. Does this break your code?

[2016-05-26 21:14] jcbohin commented on #446
Well, I have some issues with the attributes that don't act as expected (especially for an Array), like `sort()` for example:

with shelljs@0.6.0:
[code]

with shelljs@0.7.0:
[code]

I get the idea of pipes, but since I'm waiting for an array, I'm expecting "standard" array prototype methods to work as anywhere else.

[2016-05-26 21:15] jcbohin commented on #446
---
As a side note, `ls()` does not behave like it did before 0.6, I now need to add a trailing `/` to paths to get content of a folder if I don't use glob:

with shelljs@0.6.0:
[code]

with shelljs@0.7.0:
[code]

This second problem is not a big deal, but it sure breaks code for some.

[2016-05-26 21:17] jcbohin commented on #446
PS: I get it if it's by design, but in this case maybe it should be advertised in the docs.

[2016-05-26 21:38] nfischer commented on #446
Thanks for pointing that out. I'll investigate.

[2016-05-26 21:56] nfischer commented on #446
@jcbohin I can't reproduce the issue with the absence of the trailing `/`

Node v6.0, shelljs v0.7, Ubuntu

[2016-05-27 06:42] noteon opened #447 "shell.js grep: internal error, Invalid regular expression"
### Node version: 6.1.0

### ShellJS version (the most recent version/Github branch you see the bug on): 0.7.0

### Operating system: Mac OS

### Description of the bug:

[code]

### Example ShellJS command to reproduce the error:

[code]

[2016-05-27 08:14] jcbohin commented on #446
@nfischer I'm positive on the repro with Node v6.2, shelljs v0.7, OS X v15.5:

[code]

[2016-05-27 08:18] jcbohin commented on #446
@nfischer you are right about ubuntu, I was unable to repro on Ubuntu with Node v5.11.1

Could be an OSX issue. Would you like me to create a separate issue (since it's different from the Array methods overriding discussed in this one ?)

Also if you don't have access to an OSX install I can help you pinpoint the problem and/or test a branch locally.

[2016-05-27 08:21] himanshuoodles opened #448 "how can i run sudo apt-get install xtodotool by your plugin?"
### Node version: 5.6

### ShellJS version (the most recent version/Github branch you see the bug on):0.7.0

### Operating system:ubuntu 14.04

### Description of the bug: how can i run sudo apt-get install xtodotool by your plugin

### Example ShellJS command to reproduce the error:

[code]

[2016-05-27 08:32] nfischer commented on #447
I believe this is the expected behavior. This regex looks to be invalid. I think the regex you're looking for is `grep(/.*\.js/)`. Note, `grep()`'s first argument should always be a regex, not a glob pattern to match files.

Please correct me if I've misunderstood. Cheers!

[2016-05-27 08:32] #447 closed

[2016-05-27 08:36] nfischer commented on #448
[code]

[code]

If this doesn't help, please ping this thread again. Otherwise, feel free to close this issue. Cheers!

[2016-05-27 08:38] nfischer commented on #446
@jcbohin Yeah, see if you can take a look at this issue on OS X. I'm going to open a PR adding a specific test case for this. If that PR fails (as your comments suggest it should on our OS X CI), then I'll open the issue.

[2016-05-27 09:38] himanshuoodles commented on #448
E: Could not open lock file /var/lib/dpkg/lock - open (13: Permission denied)
E: Unable to lock the administration directory (/var/lib/dpkg/), are you root?

[2016-05-27 09:39] himanshuoodles commented on #448
is there is any way i can install this type of software from node script in ubuntu

[2016-05-27 11:41] nfischer commented on #448
^ Make sure you launch node with `sudo`. This works for me when I do that.

[2016-05-30 03:15] noteon commented on #447
You can try the following example, it works. The first param is not regex, it is string. If you want to the first param is always string. you need to add some guard code.

shelljs.echo("mytest").grep("my");//result: mytest

[2016-05-30 03:19] nfischer commented on #447
The first parameter should be a regex. You can specify it either as a JS string or as a JS regex, but either way it should conform to regex syntax. This was to maintain consistent behavior. The only difference should be a matter of number of backslashes you need to escape. Hope this clarifies the confusion!

Your example is definitely correct. It should be identical in behavior to `shelljs.echo("m

[2016-05-30 03:57] ariporad commented on #402
@nfischer: another benefit of this idea is that it would greatly simplify things like `cp` (for example, cp can use streams instead of a complex buffering setup).

[2016-06-01 13:51] Permagate commented on #86
:+1:

[2016-06-06 08:16] legendtang opened #456 "Bad encoding experience"
### Node version:

6.1.0
### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.0
### Operating system:

Windows 10
### Description of the bug:

Due to Node.js default behavior about encoding, all standard output will be transformed hard to `utf-8`. However, the default encoding of CMD is based on default lang of Windows, which means once you send command to non-utf8

[2016-06-06 22:03] nfischer commented on #456
@legendtang Thanks for reporting this! This is definitely a concern. As my environments are all English, I haven't experienced this issue and probably won't be able to write up a fix.

Internally, we rely on Node's `child_process.exec` API. Would this be better suited as a bug filed against Node itself or shelljs? If it's better to fix it here, that sounds good to me.

Would you be able to work on

[2016-06-07 21:32] pfraces commented on #18
@nfischer I've started working on this and I've realized that `cat` can be piped like in `pwd().cat()` so in order to keep that functionality I propose to use `-` as filepath to specify standard input instead of the absence of filepaths

    cat('file1.txt', '-', 'file2.txt')

From `man cat`:

Suggestions?

[2016-06-07 23:45] nfischer commented on #18
Sounds good to me. Thanks for pointing that out.

If you can implement it to work with `-` as a file name, I'll try to modify the the internal function for reading from the left-hand-side of a pipe to also check standard input if it's not in a pipe.

[2016-06-07 23:50] ariporad commented on #18
Hmm...

(Sorry to interject)...

Here's the problem with that: `cat -` is async, it doesn't return until you tell it to... I'm not sure how that would integrate with shelljs.

[2016-06-08 02:22] nfischer commented on #18
How is cat async? It blocks while it reads input, and returns when it receives EOF.

[2016-06-08 02:38] ariporad commented on #18
async isn't really the right word, but I'm not sure how to describe it.

Usually, It works like this:

[code]

So, that would become:

[code]

[2016-06-08 03:03] nfischer commented on #18
I believe the standard way of sending EOF is to use `^D` instead. If we really wanted, we could write a signal handler for `^C`, but I'd prefer to hold off, especially since this is a less-common use-case. We can implement that if there are feature requests down the road.

[2016-06-08 03:05] ariporad commented on #18
Ok, That works for me.

Thanks! Ari
On Tue, Jun 7, 2016 at 8:03 PM, Nate Fischer <notifications@github.com> wrote:
I believe the standard way of sending EOF is to use ^D instead. If we really wanted, we could write a signal handler for ^C , but I'd prefer to hold off, especially since this is a less-common use-case. We can implement that if there are feature requests down the road.

—
You are rece

[2016-06-09 01:09] zephraph commented on #340
I don't really get why this feature is being deprecated. Was it a maintenance burden? You yourselves noted that there weren't many issues coming in on this feature, so why remove it?

Here are at least two examples of where it's used:
- https://github.com/box/t3js/blob/master/Makefile.js
- https://github.com/eslint/eslint/blob/master/Makefile.js

What's the rational behind this?

[2016-06-09 02:12] nfischer commented on #340
Given that we've already had a couple comments on this, and some prominent projects use this feature, I don't see much benefit to moving forward with removing this. We may want to consider reverting #431.

[2016-06-14 02:06] nfischer commented on #448
@himanshuoodles is this still an issue for you, or has this been solved?

[2016-06-14 04:52] himanshuoodles commented on #448
NO , i think running with sudo would work. I will tell when i will make its executable . You can close it.

[2016-06-14 06:13] nfischer commented on #448
Ok great! Please ping this thread if the issue comes back.

[2016-06-14 06:13] #448 closed

[2016-06-15 16:34] sobi3ch opened #462 "Parameters for shell option"
I didn't know where to ask this question so I did it here. I know I can .exec() with different shell using something like this `{shell: '/bin/bash'}`. But is it possible to run certain shell with options like `/bin/bash -i`.
This doesn't work obviously `{shell: '/bin/bash -i'}`

[2016-06-15 22:08] nfischer commented on #462
We support whatever's available [here](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback).

From the looks of it, I'd say that options are not supported.

[2016-06-17 05:39] nfischer commented on #462
I'm going to close this, since it isn't something we have control over at ShellJS (based on how things are implemented). Feel free to reopen this if you still need answers. Cheers!

[2016-06-17 05:39] #462 closed

[2016-06-17 06:22] s-panferov commented on #140
Is this fixed in 0.7.0?

[2016-06-17 08:12] nfischer commented on #140
I forget when we fixed this, but [this test case](https://github.com/shelljs/shelljs/blob/master/test/cp.js#L319) covers it, so this should be fixed now.

@s-panferov Thanks for pointing out this stale issue!

[2016-06-17 08:12] #140 closed

[2016-06-17 08:26] s-panferov opened #463 "`cp` work incorrectly when folder name contains '@'"
### Node version:

node -v
v4.2.6

### ShellJS version:

0.7.0

### Operating system:

OSX 10.11.5

### Description of the bug:

My structure
[code]

When I write `cp build/* other/`, only `@folder` copied from `node_modules`, but `another-folder` doesn't. It works correctly when I remove `@` from the name.

Please note that '@' is default symbol for namespaces in `npm`.

[2016-06-17 08:51] nfischer commented on #463
@s-panferov `cp build/* other/` shouldn't be supported. You can't copy directories unless you use `-r`.

I just tried this out, and could not reproduce the bug on Ubuntu.

[code]

[code]

[code]

@s-panferov Does this behave differently for you, or am I misunderstanding?

[2016-06-17 09:23] s-panferov commented on #463
@nfischer yes, sorry, we use `-r`. I can't reproduce this on the minimal example too, I'll try to make some experiments.

[2016-06-17 21:43] nfischer commented on #463
Sounds good :+1:

[2016-06-19 21:44] #1 closed

[2016-06-21 22:55] nfischer opened #465 "cp -n doesn't work correctly"
### Node version:
(probably any)

### ShellJS version (the most recent version/Github branch you see the bug on):
v0.7

### Operating system:
(probably any)

### Description of the bug:
`cp('-n', 'foo', 'bar')` fails if `bar` exists. This should succeed but do nothing.

### Example ShellJS command to reproduce the error:
See above

This is related to shelljs/shx#67, as pointed out by @kirly-af

[2016-06-22 14:34] madkrupt commented on #446
I'm on OSX as well, having the same issue except with all the functions, even pwd() gives me an array of output rather than a single line

[2016-06-22 19:42] nfischer commented on #446
@ariporad could you please look into this?

[2016-06-22 21:56] ariporad commented on #446
@nfischer: Confirmed on iOS, looking into it.

[2016-06-22 22:04] ariporad commented on #446
OK, so I've figured this out:

On macOS, `/tmp` is symlinked to `/private/tmp`.
On macOS, `fs.lstatSync('symlink2dir')` is a file, but `fs.lstatSync('symlink2dir/')` is a directory...

This is basically our problem. I'm looking into it more.

Also, @jcbohin: We don't support OS X 15.5.0. It's not really a thing that exists 😝.

[2016-06-22 22:08] ariporad commented on #446
This appears to be just how `lstat` works on macOS.

[2016-06-22 22:18] ariporad commented on #446
Travis is conveniently experiencing an outage for their macOS workers at the moment.

[2016-06-23 03:02] ariporad commented on #345
@nfischer: I've got an idea for an API exec-wise:

What if we did this (using ES6 string tags):

[code]

That gets transpiled to:

[code]

Which is a totally acceptable syntax for <ES6.

[2016-06-23 14:03] babinia commented on #86
:+1:

[2016-06-23 15:00] jcbohin commented on #446
@ariporad good catch, it's OS X 10.11.5 (the kernel is 15.5.0, as stated by `uname -a`

[2016-06-27 03:17] nfischer commented on #345
@ariporad I updated the title to make the intended topic of this issue clearer. #103 or #143 would be a better spot for your comment I think. Although it looks to me like it would have some issues with multi-word commands, right?

[2016-06-27 17:50] ariporad commented on #143
I've got an idea for an API:

What if we did this (using ES6 string tags):

$`mycommand --opt ${unsafeVar}`
That gets transpiled to:

$('mycommand --opt ', unsafeVar);
Which is a totally acceptable syntax for <ES6.

[2016-06-28 07:27] #465 closed

[2016-06-30 01:39] nfischer opened #469 "feature request: option to add node_modules to the path for shelljs scripts"
This is a feature request to add `./node_modules/.bin/` to the `$PATH` for ShellJS scripts, which would change the behavior for the `shell.exec()` function.

This is something offered by [shelljs-nodecli](https://www.npmjs.com/package/shelljs-nodecli), and I see no reason why this couldn't be part of ShellJS-proper. This is very useful for writing a shelljs script that takes advantage of a binary

[2016-07-01 01:11] nfischer commented on #143
@cscott Although I think we may try to add in the `execFile`-like interface for shelljs proper, here's an extension I wrote that handles *most* (not all!) of the security concerns raised in this issue:
https://github.com/nfischer/shelljs-exec-proxy

[2016-07-01 01:15] nfischer commented on #103
We're still working on an implementation in shelljs itself, but I implemented a shelljs extension for node v6+ that addresses some of the security concerns here, while also giving a very convenient syntax:
https://github.com/nfischer/shelljs-exec-proxy

[2016-07-02 22:29] ariporad commented on #469
Sounds like a great idea!

[2016-07-04 09:33] ps06756 opened #471 "TypeError: Cannot read property 'toString' of undefined"
### Node version:
4.4.4
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.0
### Operating system:
OSX 10.11.5 El Captain
### Description of the bug:
Typerror while using shell.exec
### Example ShellJS command to reproduce the error:
java -jar CMDRunner.jar --tool Reporter --generate-png test.png --input-jtl results.jtl --plugin-type ResponseTimesOverTime --width 8

[2016-07-05 22:39] ariporad commented on #471
Hmm... This is really quite strange...

@ps06756, would it be possible for you to share the `.jar` file with us? (Or does this happen with other `.jar`'s?) I'm somewhat at a loss for what's happening.

[2016-07-06 03:54] ps06756 commented on #471
I am using the following jar.
[CMDRunner.jar.zip](https://github.com/shelljs/shelljs/files/349017/CMDRunner.jar.zip)

If I run the same command, from a terminal then the command runs without any problem.

[2016-07-14 07:09] TimBarham opened #473 "shelljs should not kill process if node call throws exception"
### Node version:
4.4.7

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.0

### Operating system:
Windows 10

### Description of the bug:
I'm working on code that calls shelljs mkdir to create a directory. On Windows, the call to fs.mkdir() sometimes fails because of permission issues or whatever. This is a failure that I should be able to catch with a try/catch

[2016-07-14 11:15] SunilRumbaLama commented on #265
The problem still persists @nfischer and the date is 14th july 2016

[2016-07-17 18:24] ariporad commented on #473
Hmm... Good point.

@nfischer: I think this behavior should change. Thoughts?

[2016-07-20 15:25] nfischer commented on #473
This should report an error that can be checked with `shell.error()`, to stay consistent with the rest of the API I think

[2016-07-20 21:36] nfischer commented on #473
@TimBarham fixed in #474. This doesn't test on Windows, since `shell.chmod()` is limited in functionality on Windows. The fix should work on all systems, however.

[2016-07-20 21:40] nfischer commented on #471
@ariporad Are you still looking into this?

[2016-07-22 17:59] gvn opened #476 "Echo doesn't return value ending in a trailing newline"
### Node version:

v6.2.0
### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.0
### Operating system:

OSX 10.11.5
### Description of the bug:

Using `toEnd` doesn't prepend a newline when chained to `echo`.
### Example ShellJS command to reproduce the error:

[code]

test.txt becomes: `AB`

[code]

test.txt becomes:

[code]

[2016-07-22 21:00] nfischer commented on #476
This has to do with the behavior of `echo()`, not `toEnd`. This is still a valid point, but to fix it would involve breaking the behavior of `echo()`, so it would have to wait for v0.8.

@gvn The fix is pretty trivial, it just involves appending a newline to the value returned by `echo()`, if you'd like to fix it yourself :smile:

[2016-07-24 09:20] jeremyrajan opened #480 "exec doesnt seem to be working"
### Node version:

6.2.0
### ShellJS version

0.7.0
### Operating system:

Mac
### Description of the bug:

I am trying to run the following command (that I copied from docs) in my electron console.

![image](https://cloud.githubusercontent.com/assets/2890683/17082963/b3d787e2-51ad-11e6-8399-490ae148b18d.png)

Any idea, why this would be having. As I want to return the version number for checks. O

[2016-07-24 15:10] nfischer commented on #463
@s-panferov any luck trying to reproduce this?

[2016-07-24 15:11] nfischer commented on #480
@ariporad can you reproduce this? This seems to be related to #471, and seems to be Mac-specific

[2016-07-24 18:41] ariporad commented on #480
@jeremyrajan: Can you expand the error messages to see the full stacks? Thanks!

[2016-07-24 23:58] #473 closed

[2016-07-25 06:04] s-panferov commented on #463
@nfischer no, this can be closed

[2016-07-25 06:04] #463 closed

[2016-07-25 06:14] nfischer commented on #340
I'm going to close this, since there's no reason as of yet to remove this feature.

[2016-07-25 06:14] #340 closed

[2016-07-25 06:20] nfischer commented on #371
@360disrupt @jeroenransijn were either of you able to identify the source of the issue?

[2016-07-25 06:33] nfischer commented on #261
Is there any further motivation for multiple ShellJS instances? An advantage of only allowing one instance is that it will allow multiple plugins to hook into the same ShellJS instance.

[2016-07-25 06:36] nfischer commented on #158
I'm going to go ahead and close this, since it doesn't sound like it's specifically caused by ShellJS. Please reopen if the issue comes back.

[2016-07-25 06:36] #158 closed

[2016-07-25 06:56] nfischer commented on #38
I'm going to go ahead and close this, since it doesn't seem that useful. It looks like this would only mean that a `sed()` call returns the empty string. A suitable workaround would be to just ignore the return value instead.

If other sed modes get supported, like the `/p` mode, then we can revisit this. Feel free to open this if there's some use-case I'm overlooking.

[2016-07-25 06:56] #38 closed

[2016-07-25 06:58] nfischer commented on #146
Any thoughts on how to solve this?

[2016-07-25 07:01] nfischer commented on #193
I'm going to close this issue, since I think this has been resolved. Feel free to re-open if this hasn't yet been resolved.

[2016-07-25 07:01] #193 closed

[2016-07-25 07:04] nfischer commented on #60
I'm going to close this issue, since it doesn't seem like it's related to ShellJS. Please re-open if the issue persists.

[2016-07-25 07:04] #60 closed

[2016-07-25 07:09] nfischer commented on #64
#474 fixed this issue for `mkdir()`. Would anyone want to open a PR for `mv()`?

[2016-07-25 07:23] nfischer opened #483 "Don't kill the node process upon unexpected error"
#64 and #473 are examples of complaints about this.

Currently, ShellJS will [kill the process]() if it encounters an unexpected ("internal") error. Ideally, the commands should all catch these before they arise, but since nothing is ever perfect so sometimes utilities fail for various reasons (permissions errors are a big reason).

It'd be great if ShellJS threw an exception instead of killing th

[2016-07-25 12:06] crjobson commented on #193
This looks fine - thanks

[2016-07-25 17:25] TimBarham commented on #473
Thanks @nfischer. Appreciate the fix.

[2016-07-25 19:13] nfischer commented on #473
@TimBarham This should be available in the latest ShellJS version, v0.7.2.

[2016-07-26 20:30] nfischer opened #485 "readFromPipe should be a function with no arguments"
[`common.readFromPipe()`](https://github.com/shelljs/shelljs/blob/master/src/common.js#L359) is a useful function for any command that can be on the right-hand-side of a pipe (i.e. `sed` in the example `grep('foo', 'file.txt').sed(/o/g, 'a')`). This will be an important part of a future plugin API.

Currently, the function must be invoked as `common.readFromPipe(this)` (always passing `this` as th

[2016-07-26 20:53] nfischer opened #486 "ShellStrings should be exposed to the plugin API"
Exposing ShellStrings through the plugin API could pave the way for interesting plugins. ShellStrings are currently somewhat modifiable by creating a new command with the `canReceivePipe` attribute (the command gets immediately added as a method on each ShellString). Refactoring ShellStrings to create a real `ShellString.prototype` might make this even more extensible. Below are two plugin ideas t

[2016-07-26 23:58] ariporad commented on #486
Sounds Great! Maybe expose it as `plugin.ShellString`?

[2016-07-26 23:59] ariporad commented on #485
Agreed.

[2016-07-27 00:02] ariporad commented on #483
I agree... I'm not sure why we ever started killing the process.

One thing though is that it might make sense to change the error's `.stack` property, to make it somewhat more useful... I'm not sure exactly what form this would take, but getting a stack trace to some shelljs error handler isn't likely to be that useful.

[2016-07-27 00:34] nfischer commented on #486
I think that's how it should get exposed. I don't think just exposing it as-is would be enough to do anything with it though. I suspect that changing `plugin.ShellString` wouldn't have any effect on existing commands, due to how the call to `common.wrap()` works. I'm not 100% sure, but if you try it out, I think you'll see what I mean:

[code]

[2016-07-27 00:42] nfischer commented on #483
@ariporad Do you want to take this on? I imagine we'll just want to keep whatever the stack is from before, and maybe also add in a message like "ShellJS internal error" on the top of the stack trace.

[2016-07-27 01:08] nfischer opened #487 "Add a way to create commands that can receive from a pipe without being standalone commands"
This is kind of a weird use-case, but it might be nice to allow plugin writers to create commands of the following form (`tr()` is the example):

[code]

This example would stay consistent with how the unix `tr` command works, since it doesn't actually take a filename as an argument and can only be used via pipes.

This is related to #486, but I think there's an important distinction. This still t

[2016-07-27 04:32] ariporad commented on #487
I like this idea... Personally, I think that `pipeOnly` implies that `canReceivePipe` is true, and having `pipeOnly` be true, but `canReceivePipe` be false is an error.

[2016-07-27 04:33] ariporad commented on #486
Oh, certainly... And that wouldn't be compatible with ES6 modules (You can't assign to something that's been `imported`, they're actually bindings, not variables.)

I think we should make ShellString be a real class with a prototype, then it's easy to modify it.

[2016-07-27 04:38] nfischer commented on #487
^ I actually really like that idea. I think that's probably the best approach, unless we think of something better.

[2016-07-27 04:39] nfischer commented on #486
Interesting, didn't know that.

[2016-07-27 16:26] #487 closed

[2016-07-27 16:33] ariporad commented on #486
Yeah, they also have the interesting property that this works:

[code]

[2016-07-27 17:17] niftylettuce opened #494 "expose execSync"

[2016-07-27 18:20] nfischer commented on #486
Oh neat! That's pretty cool

[2016-07-27 18:26] nfischer commented on #494
@niftylettuce could you elaborate more on what you're asking for?

[2016-07-27 21:26] niftylettuce commented on #494
Don't need this anymore, I'm using <https://www.npmjs.com/package/child-process-promise> instead to do `await childProcess.exec(...)` instead.

[2016-07-27 21:26] #494 closed

[2016-07-28 01:33] nfischer opened #495 "Add support for execFile-like interface to exec"
It would be great if `exec` had an interface, perhaps like the following:

[code]

This is great because of the following:
- We can declare that each argument is its own non-splittable word (so `fileName = 'file1.txt file2.txt'` means the git call will search for one file named `file1.txt file2.txt`, not two separate files)
- We can implement this fairly easily with `child_process.execFile`
- This

[2016-07-29 04:09] jeremyrajan commented on #480
Hi @ariporad , apologies for delay. Following is the full stack trace:

[code]

Thank you :)

[2016-07-29 05:10] esinek opened #496 "exec('cd mydir') fails silently"
### Node version: 6.2.2

### ShellJS version (the most recent version/Github branch you see the bug on): 0.7.0

### Operating system: Win 7 x64

### Description of the bug: `exec('cd mydir')` fails silently where cd('mydir') will work without issue (and mydir exists)

### Example ShellJS command to reproduce the error:
The following fails. I am outputting my shelljs calls to a logfile and I would

[2016-07-29 13:00] despairblue commented on #261
I'm fine with closing this issue 👍

[2016-07-29 15:39] ariporad commented on #496
Hi @esinek!

Yes, `cd` is not supported by `exec`. This is because `exec` spawns a child-process, and child-processes cannot change their parent's cwd. For example, `exec('cd baz; myCommand');` would change the cwd for `myCommand`, but not for node.

I'm not really sure why you're using all `exec`s, could you elaborate on that problem a bit more? However, one possible solution to your problem migh

[2016-07-29 15:40] #496 closed

[2016-07-29 15:58] esinek commented on #496
Hi @ariporad,

Because the script I'm running pulls from several config files and runs many, many commands, I wanted a way to inspect all the commands that were run (and the sequence of those commands), and if I wanted, be able to re-run the entire set (or a subset) of commands from that time without touching the config files or my main script - in case I wanted to try something quick and dirty to

[2016-07-29 18:10] #261 closed

[2016-07-29 19:56] nfischer commented on #496
@esinek why not try [`set('-v')`](https://github.com/shelljs/shelljs#setoptions) (invokes [`config.verbose`](https://github.com/shelljs/shelljs#configverbose))? Seems like it was made for this purpose. It'll output it in a Bash-like syntax to stderr--should be pretty easy to see what's going on then.

[2016-07-30 16:59] charlesread opened #498 "Wrong method signature in doc"
The doc for `head` says that the method is:

```head([{'-n', <num>},] file [, file ...])```

But it should be:

```head([{'-n': <num>},] file [, file ...])```

(colon in options object)

[2016-07-31 09:27] nfischer commented on #498
@charlesread thanks for pointing this out! Would you be able to submit a PR for this? You can make the necessary changes in `src/head.js` and `src/tail.js`, and then run `npm run gendocs` to update the README

[2016-07-31 19:58] #498 closed

[2016-07-31 20:06] nfischer commented on #471
I saw a [related error on an OS X Travis worker](https://travis-ci.org/shelljs/shelljs/jobs/148545851). Here's a screenshot, in case the build restarts and wipes out this log:

![screenshot from 2016-07-31 13-02-49](https://cloud.githubusercontent.com/assets/5801521/17279002/68500c5a-571f-11e6-9285-c17da04b563f.png)

[2016-08-01 18:21] ariporad commented on #471
@nfischer: I think that's related to `shjs`, which is in need of some help, ref #497.

[2016-08-01 18:31] ariporad commented on #471
@ps06756: Sorry for the delay, I've been really busy recently.

Could you try this with the `#471` branch? I've added some debugging stuff which should hopefully be helpful.

[2016-08-01 23:31] nfischer opened #500 "Move shjs into a separate package"
As discussed in #497, I think we should consider moving `shjs` into a separate module, setting up its own tests, and making sure we get it right. Once we're satisfied with the module, we can require shelljs as a peer dependency and move `shjs` out of ShellJS itself.

We should also probably make a release of shelljs with a deprecation warning in `shjs`, before moving it out for good.

[2016-08-01 23:35] nfischer commented on #471
Yes, that's the PR in which the error occurred. I posted it, not to suggest that it's occurring on master branch, but as an example of the error to help with debugging this issue, since neither you nor I have seen the bug pop up in our usage of ShellJS.

[2016-08-02 00:29] ccorcos opened #501 "how to silently write to a file?"
when I run `echo('something').to('output.txt')`, the test is echoed to the console even when `shell.config.silent = false`. It would be great if there was a way to silently write to a file...

[2016-08-02 01:07] nfischer commented on #501
Hi @ccorcos! The way we're doing this right now is with `shell.ShellString('something\n').to('output.txt')`.

Hope this helps! If this workaround is sufficient, feel free to close this issue :smile: (or let us know if you can think of a good way to put this in the docs).

[2016-08-02 02:12] #501 closed

[2016-08-02 07:41] jeremyrajan commented on #480
Any idea guys? :). Neither of the exec commands are working for me

[2016-08-02 19:01] nfischer commented on #480
The only workaround I know might be `process.version` for the version. Doesn't fix this issue though.

[2016-08-04 04:42] ariporad commented on #471
What?

[2016-08-04 04:47] ariporad commented on #480
Hmm...

We do seem to have a lot of problems with electron, don't we?

@jeremyrajan: Will you try this with the `fix/480` branch, and let me know what the output is? Thanks.

[2016-08-04 08:28] eisenbergrobin commented on #471
I'm getting this issue pretty frequently when running a development server with `webpack`:

[code]

On MacOS X 10.11.6 (El Capitan), Node 4.3.2.

I reproduce this at least twice a day. @ariporad Would you like me to try something to help out with debugging? I can run the `#470` branch if you need.

[2016-08-04 16:34] ariporad commented on #471
@eisenbergrobin: Sure, if you wouldn't mind trying out the `debug/471` branch, that would rock. I think (_think_) it should be a bit more verbose.

[2016-08-05 08:08] eisenbergrobin commented on #471
@ariporad:

Tried putting your `debug/471` branch, unfortunately it seems the code is not valid:

You are missing a trailing comma [here](https://github.com/shelljs/shelljs/commit/126457ffcc493fe285ea218f8fd949fa9ea8a093#diff-c3bfabb5e6987aa21bc75ffd95a162d6R78) and [here](https://github.com/shelljs/shelljs/commit/126457ffcc493fe285ea218f8fd949fa9ea8a093#diff-c3bfabb5e6987aa21bc75ffd95a162d6R123).

[2016-08-05 08:16] giacgbj commented on #480
@ariporad Do you need any further information?

Mac OS X 10.11.6

e.message
[code]

e.stack
[code]

[2016-08-05 19:33] ariporad commented on #471
@eisenbergrobin: Continually proving my geinousnessness. 😄

[2016-08-05 19:36] ariporad commented on #480
Ohh... I think I know the problem: I think Electron is breaking `process.execPath`. I'll look into this a bit more.

[2016-08-05 20:24] ariporad commented on #480
@giacgbj: So, it would appear that the node binary is built in to the electron executable, and as such we can't run it individually. This is problematic, and I'm really not sure how we can work around it.

[2016-08-05 22:20] nfischer commented on #480
@ariporad Suggestion:

[code]

Check the semantics of `which()` to make sure this will work.

[2016-08-05 22:57] ariporad commented on #480
@nfischer: I'm not really sure what `isValid` would do. Theoretically, it should be totally valid to do:

[code]

[2016-08-05 23:11] nfischer commented on #480
Yes, that's the rationale behind using `process.execPath`. But you said `execPath` doesn't work, due to it being part of electron.

Just test if `execPath` points to something that is part of electron, then fallback to a name we know node usually goes by. If `process.execPath` doesn't work, and neither do any of the usually names for the node binary, then we can throw an error. It won't handle eve

[2016-08-06 11:28] TrySound opened #505 "exclude .idea from npm package"
### ShellJS version (the most recent version/Github branch you see the bug on):
0.6.0, but I see nothing is changed here.

### Description of the bug:
Too big npm package.

Cheers.

[2016-08-06 18:34] ariporad commented on #505
Hi @TrySound,

I'm not sure what you're talking about. There's no `.idea` in our repo, and both me and @nfischer (the only people who regularly commit to the repo, or do releases) use vim.

I'm going to close this, but please feel free to re-open if I've misunderstood the question or if you're still having the issue.

[2016-08-06 18:34] #505 closed

[2016-08-06 18:59] ariporad commented on #480
@nfischer: There would be no way to test if it's part of electron. For example, Slack is written with Electron. From Slack's perspective, `process.execPath` is `/Applications/Slack.app/Contents/MacOS/Slack`. Atom is also written with slack. From Atom's perspective, `process.execPath` is `/Applications/Atom.app/Contents/MacOS/Atom`. So, I'm not sure how we would detect this.

I don't think we could

[2016-08-06 19:27] TrySound commented on #505
@ariporad Oh, it was not published with 0.7.3. But it was in 0.6.0. Sorry, didn't check.

[2016-08-06 20:41] nfischer commented on #505
@TrySound I'll take a look at v0.6.0.

[2016-08-06 21:41] nfischer commented on #505
@TrySound This is fixed in v0.6.1 :smile:

[2016-08-06 21:42] TrySound commented on #505
Cool! Thanks!

[2016-08-06 21:43] nfischer commented on #505
@TrySound Although it'd be awesome if you could update to v0.7.3 :smile:

[2016-08-06 21:44] TrySound commented on #505
It's not me.
https://github.com/eslint/eslint/blob/master/package.json#L65

[2016-08-08 08:44] eisenbergrobin commented on #471
@ariporad:

Reproduced it. Here is the extra information from your `console.log`:

[code]

So it seems I am exceeding the max `stdout` output buffer...
I've reduced logging verbosity on my `webpack-dev-middleware` and that should mitigate the problem enough for me not to see it (fingers crossed).

Thanks for the help :)

[2016-08-08 20:30] ariporad commented on #480
Hmm... @giacgbj, Good point. @jeremyrajan?

[2016-08-09 04:39] jeremyrajan commented on #480
hmm, that works too but is it cross platform compatible because I believe normally we have to execute a bat file for WIN? Or am i totally wrong :)

[2016-08-09 04:54] nfischer commented on #480
@jeremyrajan

[code]

What's the issue with Windows?

[2016-08-09 07:31] eisenbergrobin commented on #471
For those of you having the same issue when running a development server under `webpack-dev-middleware`, this occurs because the command is outputting (after a while) more than what the buffer can handle in a single command.

I fixed it by making my middleware less verbose when rebuilding:

[code]

That means less lines are printed, and I still get information on whether the build was successful a

[2016-08-10 14:51] ariporad commented on #471
@eisenbergrobin: Have you tried changing the maxBuffer?

[2016-08-10 15:25] eisenbergrobin commented on #471
@ariporad: Continually proving **my** geniusness 😄 . I had no idea I could pass options from node::child_process to shelljs::exec to handle this.

I haven't reproduced the issue since the fix described above (since my webpack output was way too verbose anyways), but I increased the buffer size in any case:

[code]

Thanks for your help :)

[2016-08-10 22:50] nfischer commented on #471
Sounds like the root cause of this issue has been solved, so I'll go ahead and close this. Please ping this thread if the `toString` issues occur for some other reason.

[2016-08-10 22:50] #471 closed

[2016-08-13 22:50] #485 closed

[2016-08-14 23:28] nfischer opened #507 "Sed should allow a replacement string to contain `\1` for match groups"
Sed should accept replacement strings that contain `\1` and `\2` and the like, for the sake of doing replacements. Currently, this is probably supported by `$1`, `$2`, etc. (but that's JS-syntax, not Unix-syntax).

[code]

This ties in closely with `shx sed`, since it doesn't currently support substitutions like this.

[2016-08-16 04:54] ZeroCho opened #508 "Cannot find module './src/common' only in npm version 2"
### Node version (or tell us if you're using electron or some other framework):
4.1.2 ( npm 2.14.4)

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.3

### Operating system:
Google App Engine("Debian GNU/Linux 8 (jessie)")

### Description of the bug:

I recently changed npm version from 3 to 2 in order to use google app engine.
I could successfully install pack

[2016-08-16 07:12] nfischer commented on #508
@ZeroCho which version of shelljs is this? I've never seen anything like this on Ubuntu.

Does the command `npm install shelljs` fail?

[2016-08-16 12:38] ZeroCho commented on #508
0.7.3 and this only happens when installing caniuse-api.
Installing just this package succeeds.

[2016-08-16 18:38] nfischer commented on #508
@ZeroCho I just tried this and I'm unable to produce the error. Here are some commands I can run from a fresh npm package that still succeed (deleting `node_modules/` makes each command like a fresh install). This is all on Ubuntu.

[code]

Could you please show me your `package.json`?

[2016-08-17 11:16] ZeroCho commented on #508
sorry for he late reply.
[code]

[2016-08-20 23:58] gvn commented on #476
Ok cool. Yeah, would be good to fix, but I can add a newline manually for now. Thanks!

[2016-08-24 00:44] nfischer opened #510 "fix: echo -e should not print "-e""
### Node version (or tell us if you're using electron or some other framework):
any

### ShellJS version (the most recent version/Github branch you see the bug on):
master

### Operating system:
any

### Description of the bug:

In bash, `echo -e` just means to interpret backslashes specially (i.e. '\n' is a newline, instead of a literal '\n'). This is the default behavior for ShellJS `echo()` (si

[2016-08-24 02:36] #510 closed

[2016-08-24 05:14] cqgao commented on #254
+1

[2016-08-25 08:57] VinodKumar303 commented on #265
![image](https://cloud.githubusercontent.com/assets/21238052/17962807/1b443f84-6ad0-11e6-84c7-310207bf36c2.png)

[2016-08-25 08:59] VinodKumar303 commented on #265
i am getting shell.js : internal error.,   please help me how to resolve this error.

Thanks in Advance

[2016-08-29 09:12] bertofer opened #514 "ShellJS: internal error Error: EBUSY: resource busy or locked, lstat 'C:\pagefile.sys'"
### Node version (or tell us if you're using electron or some other framework):

4.3.1, using electron
### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.2
### Operating system:

Windows 10
### Description of the bug:

When trying to ls on C:\, it fires the following error:

[code]
### Example ShellJS command to reproduce the error:

[code]

[2016-08-29 09:45] bertofer commented on #514
Could something like this be an approach?
[code]

It's done fast, not a real solution at all. Problem with this is you need to test for any function if it exists or not, and doesn't specify that a file was locked.

Any ideas?

[2016-09-02 15:34] shaunwarman opened #515 "Exec issues with string option introduced in 0.7.4"
### Node version (or tell us if you're using electron or some other framework):
4.5.0

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.4

### Operating system:
OS X

### Description of the bug:
Oddly, 0.7.4 throws [internal error](https://github.com/shelljs/shelljs/blob/master/src/exec.js#L267) when using String options in exec call. For some reason this was wor

[2016-09-04 07:25] nfischer commented on #515
The following API has never been (to my knowledge) supported:

[code]

If that ever worked, it was by pure luck.

We only aim to support this:

[code]

Are you saying that the unsupported API used to work, but is now broken? Or that the supported API no longer works in the recent version?

Also, what version are you comparing against? Is this a chance between 0.7.3 -> 0.7.4, or 0.6.x -> 0.7.x?

[2016-09-04 09:08] brillout commented on #171
Same here, I wish this could be set on the pushd/popd functions themselves

[2016-09-04 11:57] brillout commented on #501
👍
Although a note in the readme would have saved me 30 minutes

[2016-09-04 20:22] nfischer commented on #501
@brillout would you be able to submit a pull request? I'd gladly take a look.

[2016-09-04 20:25] nfischer commented on #171
I'm not as familiar with popd and pushd. Is there a convention for silencing output in bash?

[2016-09-04 21:31] brillout commented on #501
An example like the following would have helped me
[code]

[2016-09-04 22:52] justinmchase commented on #171
In bash, per line you can pipe out put to null basically. Doesn't appear to
be possible per call in shelljs.

On Sun, Sep 4, 2016, 3:25 PM Nate Fischer <notifications@github.com> wrote:

[2016-09-05 00:56] nfischer commented on #501
@brillout could you open a new pull request for the change?

[2016-09-05 01:00] nfischer commented on #171
Right. So the convention I would suggest for now would be:

[code]

I'm open to syntax suggestions for adding this to the command call itself :smile:

[2016-09-05 01:02] nfischer commented on #171
If `popd` has some special "stay quiet" flag, I'll gladly take a PR for that too. Or if our `popd()` differs in default behavior from bash's `popd`, let's fix that

[2016-09-06 15:02] jedwards1211 commented on #424
@ariporad So is there any reason `exec` does the following instead of just using the `{stdio: 'inherit'}` option?

[code]

[2016-09-07 02:48] ariporad commented on #424
@jedwards1211: Yes... There is no other way to capture stdout from the child.

[2016-09-07 02:50] ariporad commented on #171
@nfischer: I just had a great idea: What if we used option chains, like this:

[code]

[2016-09-07 03:02] sequoiar commented on #435
+1 run shelljs over ssh2

[2016-09-07 04:01] nfischer commented on #171
I don't like the second syntax, since redirects are usually at the end in bash. I can't remember for sure if this is *required*, but it's definitely most intuitive.

The first one could be promising. Another syntax idea is `cmd(arg1, arg2, {silent: true})`. This conforms with the common style of "options go at the end", whereas the `cmd.silent(arg1, arg2)` approach reminds me of `ava`.

Does anyon

[2016-09-07 04:05] nfischer commented on #171
Another idea, if we go with an object as the last parameter:

[code]

[2016-09-07 04:07] nfischer commented on #435
We now have a modest plugin API, so if anyone wants to start this, please feel free :smile: I'll be happy to point you toward plugin API docs, since it's still in the works

[2016-09-07 15:45] justinmchase commented on #171
That looks pretty hot.

[2016-09-07 15:51] jedwards1211 commented on #424
Oh right.  I've noticed that for some reason transient output like npm's progress bar works when I use `inherit` but not when I do something like the above (or better, do `c.stdout.pipe(process.stdout)`).  I haven't figured out why that is.  But it might be nice to have an option to use `inherit` and not capture output for that purpose.

[2016-09-09 21:26] shaunwarman commented on #515
0.7.3 -> 0.7.4.. oddly the string signature worked (even though it shouldn't have) and a change in 0.7.4 fixed that.

[2016-09-09 21:26] #515 closed

[2016-09-10 05:55] nfischer commented on #391
@ariporad Do you want to take on adding subcommand support for plugins? Are there any other options/features you'd like for plugins?

[2016-09-10 07:50] StefMa opened #516 "ShellJS in Electron package don't find ffmpeg anymore"
### Node version (or tell us if you're using electron or some other framework):
[Electron](https://github.com/electron/electron) version 1.3.4

### ShellJS version (the most recent version/Github branch you see the bug on):
Version 0.7.0

### Operating system:
OS X El Capitan 10.11.16

### Description of the bug:
I've created a small electron App which needs ffmpeg to convert a movie to a gif. Not

[2016-09-10 08:21] nfischer commented on #516
@StefMa currently, shelljs does not support electron. We're working to fix this. A previous version should work, as long as you have NodeJS installed separately under the name `node`.

[2016-09-10 08:35] StefMa commented on #516
Hmm sad to hear :(
Is there any workaround?
Maybe with `child_process` or something like that?
I've tried with
[code]
but on the packaged electron App it will raise a error that there isn't a gif available :(

[2016-09-10 15:31] ariporad commented on #171
@nfischer: also:

[code]

[2016-09-10 21:01] StefMa commented on #516
It looks like it is a problem with the `PATH`.
Because I always got the error code 127 which means `process not found`.

So I'm not able to add all the `PATH`es user have set.
I'm using know the full path to ffmpeg.
The code looks like this and is working:
[code]

[2016-09-10 21:01] #516 closed

[2016-09-10 22:33] nfischer commented on #516
Can you launch any exec commands? I'm pretty sure exec is broken for electron

[2016-09-10 22:34] nfischer commented on #516
If any exec commands work, then this is a different bug than I thought it was. Perhaps modifying `process.env.PATH` will help

[2016-09-12 05:57] StefMa commented on #516
Yes I can, I've no trouble with the versions I've mentioned with shelljs in general.
The only problem was the `127` error code.

Yes, thank you. I'll look into `process.env.PATH` :)

[2016-09-12 12:35] MatthieuLemoine commented on #435
I have implemented a ssh plugin for shelljs.
See [shelljs-plugin-ssh](https://github.com/MatthieuLemoine/shelljs-plugin-ssh).

This plugin supports executing a command and openning a live shell on a remote host.

[code]

[2016-09-14 05:55] StefMa commented on #516
I had looked into it and it seems that the problem is that macOS don't inherited the `$PATH`.
See https://git.io/viaFg, https://git.io/viaF2 and https://git.io/viaFa

I've fixed it in a better way then hardcoded `ffmpeg` path with the following lines:
[code]

[2016-09-14 06:19] nfischer commented on #516
@StefMa Thanks for the follow-up. Sounds like Mac OS has a bug. Hopefully that gets fixed in the new version. I'm glad this worked for you.

[2016-09-14 10:51] SidKwok opened #517 "The performance in `cp` is different between `0.6.0` and `0.7.4`"
### Node version (or tell us if you're using electron or some other framework):
v6.2.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.6.0 and 0.7.4
### Operating system:
OS X 10.11.6
### Description of the bug:
The performance in `cp` is different between `0.6.0` and `0.7.4`
### Example ShellJS command to reproduce the error:

[code]

after running:
0.6.0:
[code]

[2016-09-14 16:02] nfischer commented on #517
This is a known change to get Unix compatibility. To get the old behavior, use `cp('dirname/*', 'newdir')`. If this is not compliant with UNIX, please let us know.

[2016-09-15 04:14] nfischer commented on #517
I'll close this for now, but if there any further issues, please ping this thread and we can revisit it.

For what it's worth, I compiled a list of [migration guides](https://github.com/shelljs/shelljs/wiki/Breaking-Changes) that I *think* cover all the breaking changes. If you see one I missed, feel free to add it in there/clarify things for people in the future :smile:

[2016-09-15 04:14] #517 closed

[2016-09-15 09:39] aalexgabi opened #518 "How to send SIGINT signal to child process launched with exec"
I have something like this and I would like to kill child process with given signal:

[code]

Is there a way to do this with ShellJS instead of native spawn?

[2016-09-16 06:12] nfischer commented on #518
I think using the native `child_process.exec()` might be your best bet.

[2016-09-19 04:26] maneeshbabu commented on #265
The same error shown me while I am working with project. Please help me how to resolve this error.
Thanks in Advance

[2016-09-19 13:09] knownasilya commented on #143
I would like to see @ariporad's suggestion implemented, making multi-line scripts possible as well (I think..).

[2016-09-22 22:24] ariporad commented on #143
Ok, so I finally had a moment to stop and think about ShellJS, so here's what I learned:

I misread the docs... I had the ES6 syntax right, but the ES5 syntax would be like this:

[code]

Which is a bit awkward.... that could also lead to the problem that if someone gets it wrong, and does this:

[code]

They actually won't be escaped, leading to bugs (or worse, security holes). It's also tricky t

[2016-09-23 23:17] matthew-dean opened #519 "Feature request: Add "shelljs.unlink""
On my Mac (macOS Sierra) `shelljs.rm('/symlink/dir')` of a symlink causes a "permission denied" error, but `shelljs.exec('unlink /symlink/dir')` works fine. Just thinking you could add `unlink()` for symmetry to `ln()`.

[2016-09-24 07:09] nfischer commented on #519
@matthew-dean I don't have a whole lot of time for the project right now, but you're welcome to try to write up a pull request :smile: Or if you're ambitious, you can make a [ShellJS plugin](https://github.com/shelljs/shelljs/wiki/Using-ShellJS-Plugins). I'll be happy to answer questions for writing the plugin, just ping me on here or [on gitter](https://gitter.im/shelljs/shelljs?utm_source=badge&

[2016-09-25 13:08] hzlmn commented on #519
@matthew-dean  Can you provide repro case, it works fine for me (macOS Sierra as well)?

[2016-10-02 03:05] amilajack opened #520 "Question: passing code via pipe?"
I'm using the following code to pass javascript source code (as a string) as stdout to anther command.
[code]
The issue with this is there are a bunch of issues caused by the syntax of javascript being evaluated by bash. Is there a better way of doing this?

[2016-10-02 04:55] nfischer commented on #520
Did you look into our support for pipes? The built-in `echo` should treat text normally, and then you can pipe it via `echo(code).exec(cmd)`. Let me know if this helps!

You can also use the `ShellString` constructor and it'll be like echo, except it won't print to stdout.

[2016-10-02 05:49] amilajack commented on #520
This worked perfectly! Thanks!

[2016-10-02 06:07] amilajack commented on #520
It seems like `echo(code).exec(cmd)` doesn't support the `{ silent: true }` option. Does it?

[2016-10-02 06:38] nfischer commented on #520
Exec should. Echo does not support it yet (but I can add support)

[2016-10-02 06:42] amilajack commented on #520
So adding support will suppress the output but still pass it to exec?

[2016-10-02 08:34] nfischer commented on #520
For now, the recommended workaround is `(new shell.ShellString("text you don't want to print to the console")).exec(cmd)`.

But I'll probably write something up that's more intuitive, since we get this issue a lot. If that works for you, feel free to close this issue (we have some other issues related to this, see #146 and #501).

[2016-10-02 08:34] #520 closed

[2016-10-02 10:45] smks opened #521 "FS Real Path error thrown when requiring shelljs"
### Node version (or tell us if you're using electron or some other framework):
Node - v4.5.0
NPM - 2.15.9

### ShellJS version (the most recent version/Github branch you see the bug on):
^0.7.4

### Operating system:
Mac OSX El Capitan

### Description of the bug:
I have a post install script that requires shelljs - I cloned the repository and then run npm install. The script fails when I require

[2016-10-02 13:41] #521 closed

[2016-10-02 21:21] ariporad commented on #521
@smks: Was this resolved?

[2016-10-02 21:23] ariporad commented on #520
@nfischer: Suggestion (and I'm happy to open a PR for this): we could make a `shell.pipe(str)` method, that does this:

[code]

[2016-10-02 21:38] smks commented on #521
When I recursively removed the node modules folder and then run again it worked. I'm guessing something went wrong with the install of dependencies.

[2016-10-06 19:45] mikeatlas commented on #143
Ouch, 2+ year-old, high-priority security vulnerability? No consensus or fix yet?

[2016-10-07 03:04] nfischer commented on #143
@mikeatlas I've got something sitting on my computer that'll fix the security issues (it's a new API which would soft-deprecate `exec`). I've been waiting to push a PR because:

 1. I'm not sure how I feel about the interface (but we can open that up to community discussion).
 2. It still relies on the file system for IPC, which I don't really like. I'm still experimenting to see if there's a way

[2016-10-07 17:06] cscott commented on #143
I have a mild preference for `glob:false` by default, since if you need a glob you're likely to know it, whereas you are probably not going to stop to think "what if the user passes a string with a literal wildcard here, where i'm expecting a filename"?

But the important part (from my perspective) is glob or no glob, don't split arguments on spaces and use node's execFile instead of trying to bui

[2016-10-07 17:19] nfischer commented on #143
I think the most important is to avoid command injection, which my implementation will fix. It's based off `spawn` instead of exec file, but the two are mostly interchangeable (I think this separates it further from exec, to alleviate confusion).

[2016-10-08 05:51] nfischer opened #522 "API request: allow `plugin.error()` to take an options parameter"
The current API for `plugin.error`/`common.error` is this:

[code]

This API has been good enough for us, but we may want to modify it to take an options parameter for more flexibility:

[code]

We would migrate `continue` and `code` into the options (`code` already defaults to 1 and `continue` defaults to false).

[2016-10-08 06:25] nfischer opened #523 "Feature request: allow `common.error()` to optionally not insert a prefix and optionally not print to console"
Blocked by #522

Our current implementation of `common.error()` works well for the common case, but could be extended to work much better for edge cases. I've been working on a replacement for `exec`, but I ran into some issues with getting the error calls just right.

If you look at how `exec()` is currently implemented, its error output looks like this:

[code]

We can modify `exec()` to get thi

[2016-10-08 15:33] ariporad commented on #522
I support having an options object, but I think that we should make the signature `common.error(message [, code] [, options])`;

[2016-10-09 00:24] nfischer commented on #522
I thought about that as well. The issue is that sometimes you might want the default error code while also wanting to specify an option.

[2016-10-09 01:39] nfischer opened #525 "Add shx as a dependency for testing"
Tests in #524 are breaking because there's no good way to test the `cwd` option. There are also other parts where we try to use `grep`, but can't use it if it doesn't exist on Windows. If we import `shx` as a dev dependency, then we can get away with using `shx pwd` and `shx grep` for these tests.

[2016-10-10 02:43] nfischer commented on #525
Also, just realized that shx only supports v4+. I think the best thing is to just expand it with polyfills where necessary to support v0.11+. This might be a bit of work, but it should be achievable.

[2016-10-10 05:18] nfischer commented on #519
@matthew-dean is this still an issue, or can we close this? If there's a particular file for which this is inconsistent, let us know and perhaps we can find a way to fix it.

[2016-10-10 19:21] ilja903 opened #526 "Add -u flag support for cp"
Hello!

It would be great if someone could add -u flag support for cp command.

Right now output for shx is following:

cp: option not recognized: u

Thanks in advance.

[2016-10-10 20:59] nfischer commented on #526
Anyone can take this issue up if they've got time. It doesn't look too bad to implement and test (`touch()` utility could be helpful during tests). From the Linux man page:

[2016-10-14 07:07] kstratis opened #528 "exec won't pass return code to callback when used with async.js"
Hi,

I'm using **NodeJS v6.8** with **ShellJS v0.7.4 (npm)** on a MacbookPro 13' running **macOS Sierra**.
The problem using **[AsyncJS v2.1.1](https://github.com/caolan/async)** to run an external git command through `exec` is the following:

[code]

* `code` is **always** an empty value
* `stdout` is `stdout`
* no `stderr`. In its place is the callback function as parameter.

Any help?
Thanks.

[2016-10-14 12:31] megawac commented on #528
from gitter

[2016-10-14 22:38] ariporad commented on #528
Yep

[2016-10-14 22:39] ariporad commented on #528
Yep, exactly what @megawac said... ShellJS calls the callback incorrectly. Based off that, I'm going to close this, but feel free to reopen if I've misunderstood.

[2016-10-14 22:39] #528 closed

[2016-10-14 22:39] #526 closed

[2016-10-17 03:43] nfischer opened #529 "Inadvertent breaking change to shell.test()"
See the discussion in #492

`shell.test()` used to not perform shell globbing (it's not usually something you would want in this scenario). The above-mentioned PR accidentally introduced globbing to the command, which could break things for some users.

If anyone can examine that PR and figure out all behavior changes, feel free to submit a PR for this.

[2016-10-17 03:43] gyandeeps commented on #529
Thanks for this. I can do the work if you want.

[2016-10-17 03:48] nfischer commented on #529
@gyandeeps that would be awesome! As I see it, all we need to do is add the option for no-globbing to the `test()` command any others that I similarly missed in the refactor. I'll add unit tests later to prevent a similar regression for those specific commands.

[2016-10-17 03:49] gyandeeps commented on #529
awesome... thats whay i thought by looking at the code
will send a PR shortly. Will try to add some test

[2016-10-17 05:29] gyandeeps commented on #469
I think this should be an option for `exec` command only, thoughts?

[2016-10-17 07:25] nfischer opened #531 "fs.existsSync is un-deprecated"
Confirmed by [this comment](https://github.com/nodejs/node/issues/1592#issuecomment-251770788). We should probably refactor everything to again use the core API instead of our own implementation.

See #509

[2016-10-17 07:38] nfischer commented on #469
We're also adding a new exec-replacement in #524, so the option should affect that command as well.

If this were implemented as a global option, this would only actually have an effect on `exec`, `cmd` (the exec-replacement), and `which` (since it modifies `PATH`).

I'm also thinking of this as it would relate to shx. It might be easier to expose it as a global ShellJS option, since that could be

[2016-10-17 18:00] #529 closed

[2016-10-18 03:14] #531 closed

[2016-10-18 04:07] nfischer commented on #508
@ZeroCho I just tried out your `package.json` and I had no issues installing. Also, you don't have ShellJS listed in your project, so this sounds more like it's an issue with one of your other packages.

I'm going to close this. Feel free to ping this thread again if you still believe this to be a ShellJS issue and you have more info for us to track this down.

[2016-10-18 04:07] #508 closed

[2016-10-18 04:08] nfischer commented on #525
shx now has the proper support. We need to fix some of the remaining shx issues and then make a new release. Once ShellJS depends on that release, we can close this.

[2016-10-19 00:15] reinaldorauch opened #533 "Project objectives: there is some higher goal to achieve?"
Hi'all

There is some higher goal to the project to achieve? Like 100% of interface compatibility with unix/posix commands? (Something like node is doing with fs and unix system calls) or such thing?

It would help to community where to put efforts.

Thanks in advice.

[2016-10-19 03:15] gyandeeps commented on #469
i have this working but its tricky to test. Since when you run `npm test` to run the unit test. NPM already adds the `./node_modules/.bin` to the $PATH. 😄

[2016-10-19 06:27] nfischer commented on #533
Just added this: https://github.com/shelljs/shelljs/wiki/Roadmap

@ariporad please take a look, feel free to move things around, edit, and add. This should be most of what we discussed on the dev-team gitter. Let me know if I've missed anything or you've thought of something.

[2016-10-19 06:28] nfischer commented on #469
Sure. It's probably easier to just remove it from the PATH for the sake of the test. Bringing in a new dependency for a single case probably isn't worth it if there's a good alternative. But if this is the best option, I don't see a reason why not.

We might even consider leaving this to users that want this feature. They can modify `process.env.PATH` as easily as we can, and I think `exec` alread

[2016-10-20 03:41] nfischer commented on #7
Closing this, since the relevant code path is no longer supported.

[2016-10-20 03:41] #7 closed

[2016-10-24 05:25] nfischer commented on #533
Closing this, since the roadmap has been posted. If there's any further discussion, ping this thread or put suggestions on the Roadmap.

[2016-10-24 05:25] #533 closed

[2016-10-24 06:17] #522 closed

[2016-10-24 07:01] nfischer commented on #435
Closing this, since there's a plugin implemented

[2016-10-24 07:01] #435 closed

[2016-10-26 00:03] veselov opened #536 "error.code is not always available"
### Node version (or tell us if you're using electron or some other framework):

4.x
### ShellJS version (the most recent version/Github branch you see the bug on):

0.7.4
### Operating system:

Linux FC23
### Description of the bug:

Experienced this when running some scripts under mocha:
### Example ShellJS command to reproduce the error:

Unknown
### Error:

/tmp/shelljs_67e6b2ac42f07ecaa8c5:4

[2016-10-26 01:29] veselov commented on #536
This may be nodejs problem. The callback argument is:

And it is an instance of Error. The doc language may suggest the error code doesn't have to be set:

But neither ```code``` nor ```signal``` properties are there.

The parent process seems to be terminating with SIGTERM, and it's shelljs that is killing it.

[2016-10-27 23:25] nfischer opened #537 "chore: add nodejs v7 to CI"
- [x] Travis
 - [x] Appveyor

[2016-10-28 02:04] nfischer commented on #536
@veselov you're saying that since `.signal` is not there, `.code` should likewise not be present? Hmmm... sounds strange to me. I would expect `.code` to always be reported.

Would it be sufficient to use `1` instead of `.code` when it isn't present?

Yup, shelljs currently kills the process. Please see #483. If you'd like to help, I would love to review a pull request.

Could you take a look at #

[2016-10-28 02:10] nfischer commented on #536
Opening this up for community contributions. Before this can be closed:

 - [ ] Protect against an undefined `err.code` (see the line mentioned in the report). We can default the code to 1
 - [ ] Make sure #524 has a similar fix (if it's still vulnerable, just comment on that PR and I'll fix it)

If we fix just the first bullet point, we can cut a patch release in v0.7. No need to get rid of `proc

[2016-10-28 02:28] veselov commented on #536
I'm saying that it seems to be NodeJS issue because neither `.code` nor `.signal` is present, and NodeJS suggests at least one should be.

I would diagnose this first. If there is a reason to believe that this only happens when shelljs kills the child (I haven't seen it happen in other cases), then I'd use 127.

Are you saying something happens in shelljs that makes it die, and kill the children?

[2016-10-28 03:01] nfischer commented on #536
Oh, I misunderstood. I thought you meant that shelljs was killing the current node process, not the child process spawned by `shell.exec()`.

If I misunderstood you, then that issue is unrelated to this.

[2016-10-28 03:26] gyandeeps opened #538 "Possible Regression: cp from 0.6.0 to 0.7.x version"
### Node version:
6.9

### ShellJS version :
0.6.0 and 0.7.5

### Operating system:
Windows 10

### Description of the bug:

Copying `-r` creates an extra folder as compared to the behavior in 0.6.0 version.

Let say I have 2 folders

Folder a:
[code]

Folder b:
[code]

### Example ShellJS command to reproduce the error:

[code]

### Output

#### 0.6.0

[code]

#### 0.7.0 - 0.7.5

[code]

### Ques

[2016-10-28 03:41] gyandeeps commented on #538
Sorry duplicate of https://github.com/shelljs/shelljs/issues/517
Followed the migration guide: https://github.com/shelljs/shelljs/wiki/Migrating-from-v0.6-to-v0.7

[2016-10-28 03:41] #538 closed

[2016-10-28 07:26] nfischer commented on #500
We may want to start the deprecation with v0.8. This isn't critical, however.

[2016-10-28 07:28] nfischer commented on #445
Closing this, since it probably isn't what we want for this project. Thanks!

[2016-10-28 07:28] #445 closed

[2016-10-28 07:29] nfischer commented on #441
Closing this, because I released [shelljs-plugin-sleep](https://github.com/nfischer/shelljs-plugin-sleep).

[2016-10-28 07:29] #441 closed

[2016-10-28 07:31] nfischer commented on #183
Closing this due to inactivity. If there's interest for this, it should be fairly easy to implement as a [ShellJS lugin](https://github.com/shelljs/shelljs/wiki/Using-ShellJS-Plugins).

Please feel free to ping this thread if there any questions about implementing the plugin :smile:

[2016-10-28 07:31] #183 closed

[2016-10-28 07:39] nfischer commented on #305
Update:

 - #488 has an initial implementation of this.
 - POSIX does not specify `mktemp` last I checked, so the Mac OS and Linux versions differ quite a bit. I have reservations about this disparity, which means I'm leaning more toward implementing this as a [ShellJS plugin](https://github.com/shelljs/shelljs/wiki/Using-ShellJS-Plugins). This way, anyone can implement it.
 - If this does get imp

[2016-10-28 07:43] nfischer commented on #226
@rezonant I'll accept a PR that fixes this, but I'm closing this issue because this isn't a priority. I think the workarounds are suitable:

 - Contributors should set their umask to the default value while testing ShellJS, or
 - Contributors can run tests on Travis and Appveyor, which have the default configurations

[2016-10-28 07:43] #226 closed

[2016-10-28 07:45] nfischer commented on #5
Closing this, since I don't think this is an issue anymore with the current implementation of `exec()`.

[2016-10-28 07:45] #5 closed

[2016-10-28 07:49] nfischer commented on #66
Closing this, since we no longer support v0.10, and can utilize the synchronous functions.

[2016-10-28 07:49] #66 closed

[2016-10-28 07:50] nfischer commented on #51
Closing this, due to lack of inactivity. If this is still an issue, please ping this thread.

[2016-10-28 07:50] #51 closed

[2016-10-28 07:52] nfischer commented on #345
Closing this, since `set('-f')` is suitable for this. If we want to add a nicer API (like an options parameter as the last argument), we can open that as a separate issue.

[2016-10-28 07:52] #345 closed

[2016-10-28 08:05] nfischer commented on #81
Closing this. It looks like a user issue, not a ShellJS issue. If someone can't find a suitable workaround, they can try to use graceful-fs as a [global patch](https://github.com/isaacs/node-graceful-fs#global-patching) of the fs module. This is not officially supported, nor has it been tested.

[2016-10-28 08:05] #81 closed

[2016-10-28 08:06] nfischer commented on #178
Closing this, due to lack of activity (and I doubt it's still a real issue).

[2016-10-28 08:06] #178 closed

[2016-10-28 08:12] nfischer commented on #52
Closing this due to lack of activity. If anyone really wants this, a pull request would be welcome.

[2016-10-28 08:12] #52 closed

[2016-10-28 08:13] nfischer commented on #519
Closing this due to lack of activity. @matthew-dean if this is still an issue, please ping this thread.

[2016-10-28 10:36] #537 closed

[2016-11-01 03:09] TossShinHwa commented on #86
Any news for this issue?

[2016-11-01 03:19] nfischer commented on #86
@TossShinHwa take a look at #524 and let me know if it preserves colors/spinners

[2016-11-01 20:43] nfischer opened #541 "Idea: add a way of warning users about using deprecated functions"
Once #524 is merged, it would be good to deprecate `shell.exec()` due to its vulnerabilities and bugs. While we can mark it as deprecated in the docs, since it's a security vulnerability, we may also want to provide deprecation warnings at runtime.

However, since `exec()` still has a valid use case, I don't think we should ever get rid of it (so it's soft deprecation). Also, if we're still allowi

[2016-11-02 02:27] freitagbr opened #542 "Lint warning"
### Node version (or tell us if you're using electron or some other framework):
6.9.1
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.5
### Operating system:
OS X 10.11.6
### Description of the bug:
There's a lint warning on line 50 of `src/rm.js`
### Example ShellJS command to reproduce the error:

[code]

[2016-11-02 02:33] freitagbr opened #544 "User-friendly lint command"
The `lint` script will cause npm to echo a verbose error message if there is a lint error. The lint script should be changed so that npm will not echo the error message.

[2016-11-02 04:38] #542 closed

[2016-11-05 19:30] nfischer opened #547 "bug: cp() doesn't always copy everything"
### Node version (or tell us if you're using electron or some other framework):

v6.7.0 (probably any version though)

### ShellJS version (the most recent version/Github branch you see the bug on):

Tested this on 0.7, but it's probably the case on master still, since we haven't touched the code in a while.

### Operating system:

Ubuntu (but the bug was originally observed on OS X in shelljs/shx

[2016-11-05 19:38] nfischer opened #548 "chore: set up dev branch"
I think it's time we consider setting up a dev branch and master branch. The idea has been suggested in the past, and I think we could benefit a lot from following that advice now.

We can file bug fixes over to master, and put breaking changes on dev. This should make it easier to push out bug fixes on the current minor version.

I think we should keep master as the default branch, and we can man

[2016-11-06 22:32] binki opened #551 "grep: no paths given when pipe input is provided but falsy"
### Node version (or tell us if you're using electron or some other framework):
[code]

### ShellJS version (the most recent version/Github branch you see the bug on):
9bc498e51257c8f8ff2d1a551c2800ad9204e8da

### Operating system:
[code]

But because I can see this from reading [`src/grep.js:38@9bc498e51`](https://github.com/shelljs/shelljs/blob/9bc498e51257c8f8ff2d1a551c2800ad9204e8da/src/grep.j

[2016-11-07 05:04] nfischer commented on #551
Yes, that's a great test case for this.

You're absolutely correct, it has to do with how our pipes are designed. The [API](https://github.com/shelljs/shelljs/blob/master/src/common.js#L370) just returns a string value, empty or otherwise, which is [set here](https://github.com/shelljs/shelljs/blob/master/src/common.js#L286).

Here are some possible solutions for this:

 1. Add an API called `hasP

[2016-11-08 03:20] binki commented on #551
I haven’t written any plugins, so I can’t speak for the community. But from the standpoint of the least breaking change that maybe could be implemented now, `hasPipe()` sounds promising. It won’t break any plugins that unconditionally access properties on the value returned by `common.readFromPipe()`. Commands can be updated one by one to support checking `hasPipe()` instead of checking if the pip

[2016-11-08 06:47] nfischer commented on #551
Another possibility is to throw an exception if there is no piped input. Hmmm... not sure what the correct behavior should be.

Either way, I'm going to triage this for the 0.8.0 release, since it'll change the behavior of some of the commands.

[2016-11-08 07:27] nfischer commented on #525
shx 0.2.0 has been released, so this is no longer blocked.

[2016-11-08 15:33] binki commented on #551
If we’re allowed to make breaking changes, I would definitely go for a property/function to test for the presence of piped data (`hasPipe`) and throwing an exception when trying to `readFromPipe()` if there is nothing. This would make it harder for people to write plugins wrong in the first place and also “help” them update existing code to the new API. (And at the same time I’d like pipes to be p

[2016-11-08 16:28] nfischer commented on #551
Helpful issues are always appreciated. Streaming might be hard to support without breaking compatibility with previous versions of ShellJS, but I'm definitely interested in the idea.

[2016-11-09 04:52] nfischer commented on #525
Fixed by #550

[2016-11-09 04:52] #525 closed

[2016-11-10 08:03] nfischer commented on #547
CC @McPo

A fix should be rolling out soon in the next v0.7 release (it should be available to fresh installs of shx v0.1.x and v0.2.x). Until then, a workaround is to increase the `maxdepth` option before doing the copy:

[code]

If you're an shx user, you can use the workaround with:

[code]

Increase the number as you see necessary.

[2016-11-10 08:18] #547 closed

[2016-11-10 08:19] nfischer opened #552 "chore: add @freitagbr to LGTM maintainers"
Edit `MAINTAINERS` in the root of the repo to remove ariporad & arturadib and add @freitagbr.

Also, same with `package.json` contributors.

[2016-11-10 08:36] #552 closed

[2016-11-10 08:46] freitagbr commented on #544
Solution: use `--silent` flag.

[2016-11-10 08:46] #544 closed

[2016-11-12 08:18] nfischer commented on #548
Done. The `dev` branch can be the spot for landing breaking changes. This should be rebased off master after each commit that lands in master. When we release v0.8, we just merge `dev` into `master`.

[2016-11-12 08:18] #548 closed

[2016-11-12 08:25] nfischer commented on #541
I think the best approach is to implement this as an attribute on plugins/commands. This will also expose one way for plugin authors to deprecate their plugins.

The deprecation message should be shown for these scenarios (in the examples, `exec()` is the deprecated function):

 - [ ] using the shelljs command (`shell.exec(...)`)
 - [ ] using the shelljs command in a pipe (`shell.cat('file.txt').e

[2016-11-12 08:50] nfischer commented on #507
After thinking about this a bit, it's probably best to leave this as a won't fix (the `$1` syntax is good enough). That means we should open issues against [shx](https://github.com/shelljs/shx) and [shelljs-transpiler](https://github.com/nfischer/shelljs-transpiler) to accommodate this.

@freitagbr thoughts?

[2016-11-12 08:52] nfischer commented on #476
@freitagbr do you want to take a look at this?

[2016-11-14 06:18] nfischer commented on #483
Fixed on `dev` branch

[2016-11-14 06:18] #483 closed

[2016-11-14 09:31] freitagbr commented on #541
I think we can turn them on by default for the next release. Deprecation warnings for node v7 itself are printed by default, anyway.

[2016-11-14 09:50] freitagbr commented on #507
Agreed, let's open duplicate issues for this in the other projects. We should maybe add an example of using the `$1` syntax to the documentation.

[2016-11-14 18:12] nfischer commented on #507
Do you want to take on the documentation here?

[2016-11-15 04:41] freitagbr commented on #507
Sure, I can do that.

[2016-11-16 01:39] embrown30 opened #556 "Option not recognized"
### Node version (or tell us if you're using electron or some other framework):
v6.4.0
### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.5
### Operating system:
Mac OS Yosemite
### Description of the bug:
Getting option not recognized when running ls -d
### Example ShellJS command to reproduce the error:

[code]

[2016-11-16 02:33] nfischer commented on #556
The option should be recognized. If not, this is a bug.

But why would you have code like that? I don't think it's going to do what you think it will...

[2016-11-16 02:35] embrown30 commented on #556
I am trying to list the directories in the current directory and check the names of them.
Is there another way I can do this using another command?

[2016-11-16 05:33] nfischer commented on #556
Just use `ls()`. If you need hidden files, use `ls('-a')`. If you need only directories (no files), then use `ls('-d', '*/')`

[2016-11-16 09:12] freitagbr commented on #476
Sure, I'll take a look.

[2016-11-16 09:18] nfischer commented on #556
Can't reproduce this on Linux, and I see no reason why it would only repro on Mac OS.

I'll try to repro on Mac OS tomorrow.

[2016-11-17 05:51] #536 closed

[2016-11-17 06:06] nfischer opened #559 "feature: echo -n"
Add support for the `-n` option for the `echo` command. This removes the default trailing newline.

Ex.

[code]

This can be implemented using `process.stdout.write()` fairly easily, just remember to concatenate all arguments into a single string to pass to `process.stdout.write()`

[2016-11-17 06:25] nfischer opened #560 "Switch to the ava test framework"
This is a bug to track the progress of switching to the ava test framework.

Here is the proposed approach:

 - [x] make a directory called `ava-test/`
 - [x] copy the resources to `ava-test/resources/` (leave a copy where it is now, too)
 - [x] one by one, remove a file from `test/` and put its ava equivalent in `ava-test/`
 - [x] modify `npm test`: instead of `node scripts/run-tests`, turn it in

[2016-11-17 17:55] nfischer commented on #556
@freitagbr can you reproduce this? I won't be able to look at this on my mac.

[2016-11-17 18:47] embrown30 commented on #556
@nfischer I am able to use the command you sent. ls('-d', '*/')
Unsure why the current directory wouldn't be the second argument instead of the */.

For whatever reason, I am now unable to replicate what was happening before using ls('-d', './').
This was very strange how it just came and went.
Thanks for the help though!

[2016-11-17 18:47] #556 closed

[2016-11-17 19:48] nfischer commented on #556
@embrown30 from [our docs](https://github.com/shelljs/shelljs#lsoptions-path_array):

So if you use `ls('-d', 'foo')`, it means "Don't show me the contents of directory `foo`, just show me `foo` itself." Therefore, `ls('-d', '.')` means "show me `.` itself, not the stuff inside it." This always returns the array `['.']`, which isn't very useful.

When in doubt, unix man pages can also help clarify

[2016-11-17 23:28] ccorcos opened #562 "Can we run multiple `exec` concurrently?"
It would be awesome if we could run multiple `exec` concurrently.

Maybe it would work something like this:

[code]

That would be AWESOME!

[2016-11-18 03:34] nfischer commented on #562
I believe you can two *async* execs concurrently without issue. I have not tried this myself.

[code]

@ccorcos does this do what you had in mind?

[2016-11-18 05:30] frandiox opened #563 "Feature request: ls -L option"
Hello! Do you think it would be interesting to add an option for `ls -RAL`? Just like `ls -RA` but also following symlinks. I think `ls -RA` is supported right now but there is no `L` for `ls`.
Thanks!

[2016-11-18 05:37] #507 closed

[2016-11-18 05:50] freitagbr commented on #556
I tested with ShellJS at 0.7.5 and node at 6.4.0, and I could not reproduce.

Maybe there was a globally installed version being used, instead of a locally installed version. For reference, the `'-d'` option was first introduced in version 0.7.

[2016-11-18 06:07] nfischer commented on #563
@frankdiox sure, I see no reason why not. Pull requests are more than welcome!

What is the use-case for this? I can't see how `ls -RAL` and `ls -RA` would ever differ (it seems like `-L` only takes effect when the `-l` flag is used).

[2016-11-19 03:50] nfischer commented on #560
I also set up a github project for this (see the projects tab). We can use that if we find it helpful.

[2016-11-20 19:33] ccorcos commented on #562
I see. Interesting. And gathering all the results would involve wrapping things into a promise and using `Promise.all`...

[2016-11-20 21:09] nfischer commented on #562
It sounds to me like you've figured out a suitable alternative. I'm closing this, since it doesn't seem like it's really specific to ShellJS. Please reopen if you feel like there's an easy way to do this in the shell that you think ShellJS should offer.

[2016-11-20 21:09] #562 closed

[2016-11-20 21:40] nfischer commented on #523
Fixed in #535

[2016-11-20 21:40] #523 closed

[2016-11-20 21:50] nfischer commented on #514
@bertofer Sorry, I didn't notice this until now!

It looks to me like we don't have permission to read that file? Why would that be?

I'm not opposed to this as a PR if it's the best approach. If there's a way we can stat the file, that would be even better.

Some points:

 - Please remove the `console.log()`
 - Please add a test. If you can find a way to repro this on unix (perhaps by changing pe

[2016-11-20 21:53] nfischer commented on #563
@frankdiox If you'd like to add a PR, you can do so by taking a look at [this line](https://github.com/shelljs/shelljs/blob/master/src/ls.js#L63) and [this one](https://github.com/shelljs/shelljs/blob/master/src/ls.js#L75).

Thanks!

[2016-11-22 07:36] frankdiox commented on #563
@nfischer Thanks! I'll try to check it when I have some time.

If I'm not mistaken, a directory symlink is just printed as a single line with `ls -RA`, but it actually follows the link and prints its content with `ls -RAL`. I have [a CLI](https://github.com/monaca/monaca-lib/blob/master/src/monaca.js#L1326) that needs to copy all the files recursively in a directory and I'd like to use symlinks in

[2016-11-22 07:49] nfischer commented on #563
@frankdiox Ah, you're correct. So it looks like `-L` changes behavior for the recursive case as well as the `-l` case.

If you're trying to copy things recursively and follow links, have you looked at [`cp -rL`](https://github.com/shelljs/shelljs#cpoptions-source_array-dest)?

[2016-11-22 20:09] binki opened #566 "Implement -h to show synopsis/print supported arguments"
### Node version (or tell us if you're using electron or some other framework):
v6.4.0

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.5

### Operating system:
Windows10 x64

### Description of the bug:
[code]

I’m expecting it to just print out all supported options so that I don’t have to search for the docs when I’m deep in text mode ;-).

[2016-11-22 20:17] binki opened #567 "Cannot figure out how to disable globbing for rm"
### Node version (or tell us if you're using electron or some other framework):
v6.4.0
v7.0.0

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.5

### Operating system:
Windows10 x64
Microsoft Windows [Version 10.0.14971]

Linux

### Description of the bug:
I cannot figure out how to escape globs in filename patterns when using `rm`. If I quote the argument in si

[2016-11-22 21:37] nfischer commented on #567
@binki you can disable globbing in shelljs using `shell.set('-f')` (`shell.set('+f')` to re-enable afterward)

Let me know if you have suggestions on how to better document this.

[2016-11-22 21:39] nfischer commented on #566
If someone wants to think of a good way to do this for all commands, feel free :smile: We already have docs though, so this is pretty low-priority

[2016-11-22 23:02] binki commented on #567
Ah, I remember that now. I think this one’s my fault because I didn’t spend enough time looking at the docs.

Also, I think I misfiled this issue. I don’t see `shx --noglob` documented under `shx -h`, so I’ll open an issue for that there. Sorry for the trouble and thanks for the help!

[2016-11-22 23:02] #567 closed

[2016-11-23 04:29] ccorcos opened #568 "write to file"
Any interest in adding this to the core api?

[code]

[2016-11-23 05:30] nfischer commented on #568
@ccorcos is there a unix `write` command with similar semantics? If there's a standard command, I would have no issues with adding that. Otherwise, feel free to implement this as a [plugin](https://github.com/shelljs/shelljs/wiki/Using-ShellJS-Plugins) if you think others can benefit

[2016-11-24 01:20] ccorcos commented on #568
ah I see. only want to support unix commands here?

[2016-11-24 01:20] #568 closed

[2016-11-24 06:51] nfischer commented on #568
Yeah, that's the idea. We have some non-unix commands, but we're trying to phase them out with unix-y alternatives.

[2016-11-24 08:42] tomdavidson opened #583 "&& and & and || operators"
Does shx support &&, &, and || - I do not have windows to check it out?

[code]

[2016-11-24 08:42] nfischer opened #584 "pushd, popd, and dirs need to use full paths"
So apparently no one ever tested `pushd`, `popd`, and `dirs` properly. These should always return lists of *absolute* directory paths, abbreviating the home directory as `~`.

I've been rewriting the tests, and they're nowhere close to being correct...

Either we should seriously consider fixing these commands before v0.8, or we should deprecate them immediately.

@freitagbr thoughts?

[2016-11-24 08:47] nfischer commented on #583
@tomdavidson `&&` and `||` are both supported on Windows. I don't think `&` is. These are currently outside of the scope of shelljs and shx though, I'm afraid.

Closing this, but feel free to ping me if I didn't fully answer your question.

[2016-11-24 08:47] #583 closed

[2016-11-24 09:14] tomdavidson opened #585 "feature: GNU Parallel"
Implement [GNU Parallel](https://www.gnu.org/software/parallel/parallel_tutorial.html) ([intro](https://www.codeword.xyz/2015/09/02/three-ways-to-script-processes-in-parallel/)). I'm primarily after usage with shx in npm run scripts.

[2016-11-24 09:22] nfischer opened #587 "rm -rf on a symbolic link to a dir deletes its contents"
Currently, ShellJS differs from the unix implementation. I added a test in #586 (currently being skipped) to cover this. Once that's merged, we should write a fix for this.

blocked by #586

[2016-11-24 09:37] nfischer commented on #585
@tomdavidson we probably won't add support for this here, since it's not a standard (i.e. available by default) unix command.

This would make a good [shelljs plugin](https://github.com/shelljs/shelljs/wiki/Using-ShellJS-Plugins), though (and shx has support for exposing such plugins).

Closing this, but we can reopen if there's strong incentive from the community for this. I'd rather see it imple

[2016-11-24 09:37] #585 closed

[2016-11-24 20:07] bmcgonag opened #589 "[Question] commands with multiple options / arguments?"
I just want to know how to setup a command that has multiple options with an argument for each as shown below.  You samples don't really cover this.

Thanks,

### Node version (or tell us if you're using electron or some other framework):
node 4.5.0

### ShellJS version (the most recent version/Github branch you see the bug on):
0.7.5
added through meteor npm install shelljs --save

### Operating

[2016-11-24 20:16] nfischer commented on #589
You should be able to use `exec()` for this, right? Just pass the whole command in, as you would type it in the shell

[2016-11-24 20:39] bmcgonag commented on #589
trying that, but getting an error back

`exec: internal error`

Not sure why.  I can run this command on the command line with no issue.  Does the command have to be in single or couble quotes within the parentheses?  I'll try that, play around a bit, and see what I can get going.  I appreciate the quick response.

[2016-11-24 20:59] bmcgonag commented on #589
I got it...i'm an idiot...wasn't running it on the server - my bad.  Fixed and working...this is an awesome project.  I can do all kinds of great stuff with this!  You guys rock.

[2016-11-24 20:59] #589 closed

[2016-11-24 21:03] ccorcos commented on #568
I see. Although idk if we should look to unix as the gold standard. There
are some many weird quirks like using cat to read a file, lol
On Wed, Nov 23, 2016 at 22:51 Nate Fischer <notifications@github.com> wrote:

[2016-11-24 21:38] nfischer commented on #568
I agree that Unix is very quirky. I can personally never remember the order of arguments sometimes, or find myself forgetting the occasional `-r`. Nonetheless, Unix is very well standardized, and many people have exposure to it. In the past, we've had issues where users expect Unix behavior and are surprised at the differences

[2016-11-24 21:39] nfischer commented on #589
Glad it worked for you 😊

[2016-11-25 07:47] freitagbr commented on #584
I agree, let's fix this for v0.8. We should leave a note in the documentation about this behavior for versions below v0.8.

[2016-11-25 18:57] nfischer commented on #584
I'll let you fix this, then. I don't find these functions particularly useful for scripting

[2016-11-30 06:42] nfischer opened #591 "parseOptions: allow a way to keep errors silent (exception only)"
Currently, `parseOptions` always outputs an error message to stderr if an unknown option is encountered. It would be great if there was an easy way to make sure `parseOptions` would remain silent, even when it throws an error.

My suggestion is to change the function signature to

[code]

The last argument could have a `silent` option which, if specified, should take precedence over `config.silent

[2016-11-30 22:16] nfischer opened #592 "refactor: objectAssign should refer to Object.assign if it exists, or the internal polyfill otherwise"
Inside `common.js`, we export either `objectAssign()` or `Object.assign()` as `common.extend()`. However, we still use our internal implementation inside `common.js`, and we should prefer `Object.assign()` when it's available.

[2016-12-06 05:07] nfischer opened #595 "chore: LGTM.co is gone"
Looks like [lgtm.co](https://lgtm.co) is gone...

![screenshot from 2016-12-05 21-00-41](https://cloud.githubusercontent.com/assets/5801521/20913623/523a322e-bb2e-11e6-8b47-a05276836138.png)

I unfortunately must have missed their discontinuation warnings. It looks like we'll have to remove the service.

We need to:

 - [x] remove the hooks for PRs
 - [ ] remove the lgtm-related files (`.lgtm` and

[2016-12-06 05:13] nfischer commented on #595
I just removed the web hooks. This still needs to be verified

[2016-12-07 03:27] mnasyrov commented on #519
Faced with this issue on macOS Sierra too (shelljs 0.7.5, shx 0.1.4).

[2016-12-07 03:41] nfischer commented on #519
Please post the full command you used (actual file paths)

[2016-12-07 03:59] mnasyrov commented on #519
I run it from my package.json. Below is a similar script which makes the same effect:
[code]

It produces a following output:
[code]

[2016-12-07 07:52] #591 closed

[2016-12-07 20:11] nfischer commented on #519
@mnasyrov thanks for the follow up. I'll try to reproduce on Linux when I get the chance.

@freitagbr will you have a chance to try to reproduce this on Sierra?

We'll have to close this again if we can't reproduce.

[2016-12-07 20:11] #592 closed

[2016-12-08 04:38] freitagbr commented on #519
I was able to reproduce this on El Capitan (10.11.6). Exact steps to reproduce (from the repo root):
[code]

[2016-12-08 04:45] nfischer commented on #519
@freitagbr is this the same behavior as unix `rm`? Do we need a new `unlink` command, or is this a bug in the `rm()` function?

[2016-12-08 04:52] freitagbr commented on #519
I believe it's because `rm` internally treats symlinks and files the same way, even though symlinks can be links to directories. This is not the correct behavior. I think it should treat files, directories, and symlinks all separately.

[2016-12-08 05:59] #595 closed

[2016-12-08 06:04] nfischer commented on #595
Fortunately, Github just added reviews a little while ago and it very recently (yesterday?) added the ability to request/assign reviewers.

I've set up our repo to require reviews before merging onto master. I had to disable the reviews for `dev` branch so that I can keep it rebased off master, but we should still do reviews for PRs to that branch as if they are required.

[2016-12-09 06:30] nfischer opened #614 "parseOptions should throw an error if the option string doesn't start with '-'"
`parseOptions` should throw an error it's asked to parse a string that doesn't start with `-`. Currently, it returns the [default options](https://github.com/shelljs/shelljs/blob/master/src/common.js#L153), but I don't really see any good reason why.

We don't appear to be relying on this behavior, since I just replaced that return with a `throw new Error` and all the tests still passed.

This cou

[2016-12-09 07:45] #519 closed

[2016-12-09 07:49] freitagbr opened #617 "Add support for other file types in rm"
`rm` is only able to delete files, directories, and symbolic links. `fs.lstatSync` is able to detect several other file types, however:
[code]
Support for these file types should be added (at least for the ones it makes sense to run `rm` on).

[2016-12-11 22:05] tgds opened #618 "rm -rf doesn't work if the directory contains an asar archive in Electron"
### Node version (or tell us if you're using electron or some other framework):
electron v1.4.8
node v7.1.0

### ShellJS version (the most recent version/Github branch you see the bug on):
shelljs v.0.7.5

### Operating system:
macOS Sierra 10.12.1
Windows 8.1

### Description of the bug:
Getting `rm: could not remove file (code ENOTDIR)` errors when running recursive rm in Electron to remove a di

[2016-12-12 03:25] cage1618 opened #619 "shelljs auto generate some files?"
### Node version (or tell us if you're using electron or some other framework):6.9.1

### ShellJS version (the most recent version/Github branch you see the bug on):0.7.0

### Operating system:centos x86_64

### Description of the bug:auto generate three file like shelljs_*

### Example ShellJS command to reproduce the error: no

[code]

shelljs auto generate 3 fiels:
![image](https://cloud.github

[2016-12-12 17:36] nfischer commented on #619
This is an unfortunate aspect of how `shell.exec` works. Here are some workarounds:

 - Use `child_process.execSync` instead (this won't do console output for you)
 - Use `shell.exec(..., { async: true })` (won't create temp files, but it's async)
 - Set `os.tmpdir` (or `process.env.TMPDIR`) to point to a directory where you can put these files

`exec` actually *should* be cleaning up those files

[2016-12-12 17:49] nfischer commented on #618
@tgds Thanks for reporting this!

This could be a tricky thing to fix. I'll need to learn more about electron and asar archives. We already have some issues with electron support (see #480), so we have quite a few things to work on.

Could you point me toward docs on original-fs? I'm assuming this is an electron-specific thing to copy over the real `fs` to a different package name.

[2016-12-12 18:09] nfischer opened #620 "Ignore temp directories when running lint"
**This is currently breaking master**

All tests are passing, but lint always fails because it tries to run over the temp directories created during ava testing.

This is something that looks like it was introduced after merging `sed` tests, but I'm not completely sure. This is not a regression in behavior, this is just a bug with our test setup/cleanup and our lint configuration.

I'll file anoth

[2016-12-12 18:19] nfischer opened #621 "Test setup/cleanup is broken"
Please see [this Travis build](https://travis-ci.org/shelljs/shelljs/builds/182679214) (this also reproduced on appveyor, but I deleted that build).

It looks like the `sed` tests aren't properly cleaning up all the temp directories. This is currently causing lint failures (#620 handles the lint config), but we should not leave temp directories regardless of the lint setup. This blocks paralleliza

[2016-12-13 11:53] tgds commented on #618
@nfischer Thanks! Yeah, you're assuming correctly. It looks like it should be straightforward in the end. I should pay more attention when reading the [docs](https://github.com/electron/electron/blob/master/docs/tutorial/application-packaging.md) next time. Looks like [this switch](https://github.com/electron/electron/blob/master/docs/tutorial/application-packaging.md#treating-an-asar-archive-as-a

[2016-12-14 05:27] freitagbr opened #622 "Echo tests unnecessarily run tests in own process"
To prevent writing to the process' own stdout, the `echo` tests were written to run each test in its own process, and the stdout of that process was captured. Because ava runs each test in its own process anyway, the `echo` tests no longer need to run in separate processes.

[2016-12-14 06:05] nfischer commented on #622
Ava only runs tests in their own processes if running in parallel mode. Even still, I don't think it captures the stdio, I think it just goes straight through to the console, which isn't what we want.

We could do away with the stdout capturing if we mock `process.stdout` and `process.stderr`.

[2016-12-14 15:06] #620 closed

[2016-12-14 18:20] nfischer commented on #621
Fixed by #624

[2016-12-14 18:20] #621 closed

[2016-12-18 01:57] rjhilgefort commented on #363
@nfischer fwiw, I'm on OSX as well and seeing the same problem.

[2016-12-19 08:30] nfischer commented on #614
Fixed in #615

[2016-12-19 08:30] #614 closed

[2016-12-20 02:20] bmcgonag opened #629 "QUESTION: Feedback while an operation is running?"
### Node version (or tell us if you're using electron or some other framework):
6.x.x

### ShellJS version (the most recent version/Github branch you see the bug on):
Newest

### Operating system:
Ubuntu 16.04 Linux 64 bit

### Description of the bug:
No bug...just a question.

### Example ShellJS command to reproduce the error:
    shell.exec('rsync -avP ' + inputPath1 + ' ' + inputPath2, functio

[2016-12-20 02:48] freitagbr commented on #629
`shell.exec` doesn't expose an `EventEmitter` or `stream` interface, which is what I would want in your case. Instead, you can use the `child_process.spawn` from node core:
[code]

[2016-12-20 03:26] nfischer commented on #629
`shell.exec()` already does emit stdout in real time to the console. This does not work if the program you're running (ex. `rsync`) expects to be run from a terminal.

If `rsync ... | cat` works as you want, then `shell.exec('rsync ...')` should too. We've been looking into ways of faking the tty, but I believe there are issues with doing that while also capturing the output.

[2016-12-20 03:33] nfischer commented on #629
You can also try something like:

[code]

See [the docs](https://github.com/shelljs/shelljs#execcommand--options--callback)

[2016-12-20 03:46] bmcgonag commented on #629
Thanks so much for the suggestions and Ideas. I'll put these to work, and see what i come up with.

[2016-12-20 03:50] nfischer commented on #629
Closing this. If you have any further questions, feel free to re-open :smile:

[2016-12-20 03:50] #629 closed

[2016-12-20 07:12] nfischer commented on #560
Reassigning to @freitagbr so that he can finish up the last two things bits (should be fine to do in one PR). Parallelizing the tests isn't necessary, since it actually runs slower on my machine and serial tests seem pretty reliable.

[2016-12-20 19:21] nfischer opened #631 "feat: cp & mv should not overwrite recently created files"
If you have a copy command like:

[code]

You should get an error that says something like:

[code]

We're currently silently overwriting files that we created in that same copy command, but should instead provide a warning and refuse to copy the second file.

The behavior should stay the same with `-f` and `-r`, but `cp` does not give the warning with directories or their contents.

[code]

The w

[2016-12-20 19:27] nfischer commented on #560
Resolved in #630

[2016-12-20 19:27] #560 closed

[2016-12-20 19:28] s-a opened #632 "question: any chance to hook into progress handler?"
I d like to show progress of a long running command ```.mv()```. Is there any progress handler available?

[2016-12-20 19:42] nfischer commented on #632
Nothing that we're intentionally exposing, no. Also, that command runs synchronously, so I'm not sure if it would be trivial to add such functionality.

[2016-12-20 19:46] s-a commented on #632
Thanky you for the fast reply.

[2016-12-20 19:46] #632 closed

[2016-12-20 21:26] nfischer opened #633 "Move execPath into common"
We should replace `process.execPath` with something like `common.execPath`. While `process.execPath` does not always point to NodeJS (like if it's running within electron), `common.execPath` ideally should, allowing us to reliably use the within `exec` and other utilities.

At startup, we can set `common.execPath` to:

 - `process.execPath` if not within electron
 - otherwise use `which('node')` i

[2016-12-20 21:27] nfischer commented on #633
See https://github.com/electron/electron/issues/2288 for a general approach on checking if electron is running.

[2016-12-20 21:35] webOS101 opened #634 "mkdir fails with non-normalized path"
### Node version (or tell us if you're using electron or some other framework): v6.8.0

### ShellJS version (the most recent version/Github branch you see the bug on): 0.7.5

### Operating system: Mac

### Description of the bug: Shell js exits with `Error: EEXIST: file already exists` when mkdir path is not normalized.  You cannot trap this with a `try`/`catch` block.

### Example ShellJS command

[2016-12-20 22:14] nfischer commented on #634
@webOS101 Thanks for reporting. It looks like most of our utilities should probably normalize paths before using them. I'll work on a fix for this tonight using `path.resolve()`.

It looks to me like *most* commands would want paths to be resolved before handling them (`ln()` is an example of where this is **not** the case). I'll wrap this functionality as a default part of `common.wrap` (`ln()` w

[2016-12-20 22:19] nfischer commented on #587
No longer blocked. Anyone can take this up.

[2016-12-21 03:26] freitagbr commented on #587
I believe this was fixed in #598.

[2016-12-21 03:29] freitagbr commented on #587
Is the expected unix behavior that only the symlink is deleted, and not the contents on the linked directory?

[2016-12-21 04:14] nfischer commented on #587
No, I believe it should be the opposite actually. See [this test](https://github.com/shelljs/shelljs/pull/586/files#diff-d8a9f9ae97d75f6a7009af716e50b867R264)

[2016-12-21 05:31] freitagbr commented on #587
On macOS, rm -ref on a die symlink simply deletes the symlink. Can you test on linux?

[2016-12-21 05:45] nfischer commented on #587
@freitagbr

[code]

Also, `rm` has no `-e` on Linux (maybe that was a typo?)

[2016-12-23 14:29] bardiharborow opened #637 "cat('-') should read from stdin."
`cat('-')` should read from the standard input, in order to match bash [cat](https://linux.die.net/man/1/cat).

[2016-12-27 02:30] nfischer commented on #637
Duplicate of #18

[2016-12-27 02:31] nfischer commented on #619
Nothing we can do to fix this, so I'm closing this

[2016-12-27 02:31] #619 closed

[2016-12-27 02:32] nfischer commented on #559
Fixed in #590

[2016-12-27 02:32] #559 closed

[2016-12-28 03:39] #347 closed

[2017-01-01 22:03] DorEliyahu17 opened #639 "How to increase ShellJS buffer size?"
### Node version (or tell us if you're using electron or some other framework):
v7.1.0

### ShellJS version (the most recent version/Github branch you see the bug on):
v0.7.4

### Operating system:
Windows 10/Windows 7

### Description of the bug:
I'm writing a script that execute the command ```shell.exec('ls -l -R [path to search in] | grep -v .lnk | tr -s " "', {silent: false});``` and when I'm

[2017-01-02 01:44] jpca999 opened #640 "unable to execute ionic command with shell js"
Ionic installed globally

![image](https://cloud.githubusercontent.com/assets/1026325/21583931/0db47d90-d063-11e6-8bb7-e0a3e88b1389.png)

Error message:

![image](https://cloud.githubusercontent.com/assets/1026325/21583933/18a7c478-d063-11e6-9371-1d9ca968c012.png)

[2017-01-02 01:51] jpca999 commented on #265
+ 1

[2017-01-02 06:14] nfischer commented on #639
Workaround provided by #335. See [the exec docs](https://github.com/shelljs/shelljs#execcommand--options--callback) and the [`maxBuffer`](https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback) docs

[2017-01-02 06:14] #639 closed

[2017-01-02 06:19] nfischer commented on #640
@jpca999 did you copy-paste that code from the internet? Those quote marks don't look quite right around `ionic serve -port 81` (try retyping the quote characters, you should expect to see syntax highlighting). See [this page](https://www.cl.cam.ac.uk/~mgk25/ucs/quotes.html) for more info.

Closing this, because this has nothing to do with ShellJS.

[2017-01-02 06:19] #640 closed

[2017-01-02 18:35] jpca999 commented on #640
No I don't did not copy paste the code

[2017-01-02 21:36] nfischer commented on #640
@jpca999 Why are you intentionally typing strange quote characters? Specifically, why are you typing U+2018 (LEFT SINGLE QUOTATION MARK) and U+2019 (RIGHT SINGLE QUOTATION MARK)? Those are not valid quote characters in JavaScript, you need to use U+0027 (APOSTROPHE)